<template>
	<view>
		<view class="detail-item">
            <!-- <cnd-form-item label="图片" class="rks"></cnd-form-item> -->
            <block v-for="(item, index) in formImg" :key="index">
                <img-upload v-if="info" :busId="item.sId" :imgList="item.imgList" :showTo="showTo" class="cnd-upload-cell">
                    <view class="hb" v-if="item.imgList.length == 0">
                        <view class="upload-container" getimgsrc="" bindtap="frontimage">
                            <image class="upload-zhengjianzhao" :src="item.img" />
                            <view class="cube-upload">
                                <view class="clear-fix">
                                    <view class="cube-upload-btn">
                                        <view>
                                            <text class="icon-camera"></text>
                                            <view class="upload-text-tips">{{ item.title }}</view>
                                            <text class="upload-must-tips">(必传)</text>
                                        </view>
                                    </view>
                                </view>
                            </view>
                        </view>
                    </view>
                </img-upload>
            </block>
            <!-- <img-upload :imgList="imgList">
                <view class="hb">
                    <view class="upload-container" getimgsrc="" bindtap="frontimage">
                        <image class="upload-zhengjianzhao" src="../../static/images/jsz.png" />
                        <view class="cube-upload">
                            <view class="clear-fix">
                                <view class="cube-upload-btn">
                                    <view>
                                        <text class="icon-camera"></text>
                                        <view class="upload-text-tips">拍摄身份证反面照</view>
                                        <text class="upload-must-tips">(必传)</text>
                                    </view>
                                </view>
                            </view>
                        </view>
                    </view>
                </view>
            </img-upload>-->
        </view>
	</view>


</template>

<script>
	import imgUpload from '@/components/upload/img-upload.vue'
	export default {
		name: 'idImg',
		components: {
			imgUpload
		},
		props: {
            info: Object,
			formImg: {
				// 数据列表
				type: Array,
				default () {
					return [];
				}
			},
            showTo: {
                type: String,
                default: ''
            }
		},
		data () {
			return {
				imgList: [],
                dataInfo: {}
			}
		},
        mounted() {
        },
		methods: {
			getImgList(e) {
            	this.imgList = e
            	// console.log("this.imgList", this.imgList)
            },
            getDeleteList(e) {
            	this.deleteList.push(e)
            	// console.log("this.deleteList", this.deleteList)
            },
		},
        watch: {
            info(newVal) {
                this.dataInfo = newVal
            },
        }
	}
</script>

<style lang="scss" scoped>
@import 'styleImg.scss';
.title-container{
	border-top: 1px solid #f5f5f5!important;
}

.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: #ffffff;
	height: 100rpx;
	display: flex;
	border-top: 2rpx solid #f5f5f5;
	.item {
		flex: 1;
		height: auto;
		border-radius: 0;
	}
}
</style>

