<template>
	<view :class="classList">
		<view class="slotWrapper">
			<text>{{showData}}</text>
		</view>
	</view>
</template>

<script>
	export default {
		name: 'cnd-badge',
		props: {
			// 颜色参数为'red', 'green', 'blue', 'orange'
			color: {
				type: String,
				default: 'blue'
			},
			// 是否为圆点展示
			dot: {
				type: Boolean,
				default: false
			},
			// 传入数值
			number: {
				type: Number/String,
				default: null
			},
		},
		data() {
			return {
				maxData: 99,
			};
		},
		computed: {
			showData: function() {
				let data = parseInt(this.number)
				return data > this.maxData ? '99+' : data.toString()
			},
			classList: function() {
				let data = parseInt(this.number)
				let arr = []
				if (this.dot) {
					arr.push('dot')
				} else {
					if (data < 10) {
						arr.push('circle')
					} else {
						arr.push('oval')
					}
				}
				arr.push(this.color)
				
				return arr
			}
		},
		methods: {
			
		}
	}
</script>

<style lang="scss">

	// 颜色参数为'red', 'green', 'blue', 'orange'
	.blue {
		background-color: $cnd-blue-6;
	}

	.red {
		background-color: $red-6;
	}

	.orange {
		background-color: $orange-6;
	}

	.green {
		background-color: $green-6;
	}

	// 类型参数为'dot', 'circle', 'oval'
	.dot {
		width: 20rpx;
		height: 20rpx;
		border-radius: 50%;

		.slotWrapper {
			display: none;
		}
	}

	.circle {
		width: 32rpx;
		height: 32rpx;

		border-radius: 50%;
		border-width: 0;

		font-size: $font-size-caption;
		line-height: $line-height-caption;

		display: flex;
		justify-content: center;
		align-items: center;
		color: #ffffff;
	}

	.oval {
		height: 32rpx;
		padding: 0 8rpx;

		border-radius: 16rpx;
		border-width: 0;
		font-size: 24rpx;

		font-size: $font-size-caption;
		line-height: $line-height-caption;

		display: flex;
		justify-content: center;
		align-items: center;
		color: #ffffff;
	}
</style>
