<template>
	<view class="booleen-x-error">
		{{text}}
	</view>
</template>

<script>
	export default {
		props: {
			text: {
				type: String,
				default() {
					return ''
				}
			}
		},
		data() {
			return {
				
			}
		}
	}
</script>

<style lang="scss">
	
	.booleen-x-error {
		margin-top: 20rpx;
		color: $red-5;
		font-size: 24rpx;
	}
</style>
