<template>
	<view class="container">
		<cnd-navbar color="touming" :isBack="false">
			<block slot='content'>首页</block>
		</cnd-navbar>
		<view class="app-card mt">
			<!-- <view class="app-card-title">我的应用</view> -->
			<view class="app-card-content">
				<view class="boyView" v-if="roleNameDeliveryMan || roleNameDeliveryMan_driver" @click="bindPickerPicker">
					<view class="item pickUpGoods" hover-class="none">
						<view class="icon-bac"><image class="app-icon" src="../../static/images/index/delivery.png" /></view>
						<text class="app-text">预约送货</text>
					</view>
				</view>
				<view class="boyView"  v-else>
					<navigator class="item pickUpGoods" url="/pages/index/index" hover-class="none">
						<view class="icon-bac"><image class="app-icon" src="../../static/images/index/delivery.png" /></view>
						<text class="app-text">预约送货</text>
					</navigator>
				</view>
				
				<view class="boyView" @click="bindOperationLib">
					<view class="item pickUpGoods">
						<view class="icon-bac"><image class="app-icon" src="../../static/images/index/operation.png" /></view>
						<text class="app-text">库内操作</text>
					</view>
				</view>
				<view class="boyView" @click="bindSupervisionWarehouse">
					<view class="item pickUpGoods">
						<view class="icon-bac"><image class="app-icon" src="../../static/images/index/deliveryNotice.png" /></view>
						<text class="app-text">出库管理</text>
					</view>
				</view>
				<view class="boyView" @click="bindDirectReleaseOrder" v-if="roleNamsReleaseDirect">
					<view class="item pickUpGoods">
						<view class="icon-bac"><image class="app-icon" src="../../static/images/index/directReleaseOrder.png" /></view>
						<text class="app-text">基地入仓单</text>
					</view>
				</view>
				<!-- <view class="boyView" v-else>
					<view class="item pickUpGoods">
						<view class="icon-bac"><image class="app-icon" src="../../static/images/index/directReleaseOrder.png" /></view>
						<text class="app-text">基地入仓单</text>
					</view>
				</view> -->
				<view class="boyView" @click="bindfunctionReport" v-if="roleNamsReportForm">
					<view class="item pickUpGoods">
						<view class="icon-bac"><image class="app-icon" src="../../static/images/index/functionReport.png" /></view>
						<text class="app-text">钢铁库入库日报表</text>
					</view>
				</view>
				<view class="boyView" @click="bindvendorReport" v-if="roleNamsSupplierForm">
					<view class="item pickUpGoods">
						<view class="icon-bac"><image class="app-icon" src="../../static/images/index/functionReport.png" /></view>
						<text class="app-text">供货商供货情况报表</text>
					</view>
				</view>
			</view>
		</view>
		<view class="version">v{{ version }}</view>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
	import { baseUrl, getReqTime } from '@/common/utils/index.js'
	import CndNavbar from '@/components/navbar/cnd-navbar.vue'
	export default {
		name: 'index',
		components: {
			CndNavbar
		},
		data() {
			return {
				menuList: [],
				username: '',
				version: '',
				info: {},
				openid: '',
				unionid: '',
				session_key: '',
				userInfo: {},
				roleName: '',
				roleNameDeliveryMan: null,
				roleNameDeliveryMan_driver: null,
				roleNamsecurityStaff: null,
				roleNamssalesman: null,
				roleNamsReleaseDirect: null,
				roleNamsReportForm: null,
				roleNamsSupplierForm: null,
				material: [],
				roleNameStatus: {
					deliveryMan: '小程序-废钢库送货人', // 送货人
					salesman: '小程序废钢业务管理', // 业务管理
					driver: '小程序-废钢库司机', // 司机
					securityStaff: '小程序废钢保安', // 保安
					deliveryMan_driver: '小程序-废钢结算人司机', // 小程序-废钢结算人司机
					Quality: '小程序-质检员', // 小程序-质检员
					Storekeeper: '小程序-保管员', // 小程序-保管员
					approvalSign: '小程序-签字审批角色', //小程序-签字审批角色
					releaseDirect: '小程序-直放单角色',//小程序-直放单角色
					reportForm: '小程序-废钢报表',//小程序-废钢报表
					supplierForm: '小程序-供货商供货情况报表'
				},
				storeOptions: []
			};
		},
		onLoad() {
			// getCurVersion().then(data => {
			// 	this.version = data
			// })
			// this.getMenuList();
			// this.getUser();
			// #ifdef  MP-WEIXIN
			const accountInfo = wx.getAccountInfoSync();
			this.version = accountInfo.miniProgram.version 
			// #endif
		},
		onShow() {
			
			uni.setStorageSync('roleNameStatus', this.roleNameStatus)
			// this.getInfo()
			this.getStoreList()
			
			this.userInfo = uni.getStorageSync('userInfo')
			// if(!this.userInfo){
				uni.$on('setInfo', () => {
					// this.getInfo()
					this.getStoreList()
				})
			// }
        },
		mounted() {
			// 仓库
			this.sMaterial()
			// this.datasId()
			
		},
		computed: {
			// getTimeState() {
			// 	let date = new Date();
			// 	let hours = date.getHours();
			// 	let text = ``;
			// 	if (hours >= 6 && hours < 12) {
			// 		text = `早上好`;
			// 	} else if (hours >= 12 && hours < 19) {
			// 		text = `下午好`;
			// 	} else {
			// 		text = `晚上好`;
			// 	}
			// 	return text;
			// }
		},
		methods: {
			async bindPickerPicker(){
				uni.navigateTo({
					url: '/pagesA/bookingDelivery/agreementPdf'
				})
			},
			bindSupervisionWarehouse(){
				uni.navigateTo({
					url: '/pagesC/deliveryNotice/index'
				})
			},
			bindDirectReleaseOrder(){
				let str=encodeURIComponent(JSON.stringify({}))
				uni.navigateTo({
					url: `/pagesA/directReleaseOrder/index?items=${str}&statusEdit=` + true
				})
			},
			bindOperationLib(){
				uni.navigateTo({
					url: '/pagesB/kunei/index'
				})
			},
			bindfunctionReport(){
				uni.navigateTo({
					url: '/pagesA/functionReport/index'
				})
			},
			bindvendorReport(){
				uni.navigateTo({
					url: '/pagesA/vendorReport/index'
				})
			},
			async sMaterial() {
				let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
					
					"dataStores": {},
					"parameters": {
						"mapParams": {
						},
						"_parameters": "mapParams",
						"_parameterTypes": "string",
						"dcID": "wmsdeliveryis",
						"_boId": "wmsdeliveryis_ifsWmsDeliveryDetailsBO_bo",
						"_methodName": "getAllWareHouseListForMiniApp",
						"_methodParameterTypes": "String"
					},
				});
				if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
					let material = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
					this.material = material
					console.log('仓库', this.material)
				} else {
					// uni.showToast({
					// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					// 	icon: 'none',
					// 	mask: true
					// });
					this.$refs.mpopup.open({
						type:'warn',
						content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
						timeout:2500,
						isClick:false
					});	
				}
			},
			async getStoreList() {
				uni.showLoading({
					title: '加载中...'
				})
				let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action?ajaxRequest=true&t=13', {
					dataStores: {
						"mapParams": {
							"rowSet": {
								"primary": [
									{
										"sCode": "", 
										"sName": "", 
										"sStatus": "", 
										"sType": ""
									}
								], 
								"filter": [ ], 
								"delete": [ ]
							}, 
							"name": "mapParams", 
							"pageNumber": 1, 
							"pageSize": 2147483647, 
							"recordCount": 0, 
							"rowSetName": "com.cnd.wms.basedatawms.entity.WmsWarehouse"
						}
					},
					"parameters": {
						"sSheetCode": "wms.stockwms.stock.select", 
						"pageNumber": "1", 
						"pageSize": "999", 
						"_parameters": "sSheetCode,mapParams,pageNumber,pageSize", 
						"_parameterTypes": "string,pojo,string,string",
						"dcID": "wmsis", 
						"_boId": "wmsis_ifsWmsWarehouseBO_bo", 
						"_methodName": "queryWarehouseInfo", 
						"_methodParameterTypes": "String,com.cnd.wms.basedatawms.entity.WmsWarehouse,int,int"
					}
				})
				let list = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
				// console.log('当前用户仓库', list)
				// uni.hideLoading()
				// this.storeOptions = list
				this.storeOptions = list.map(ele => {
					return{
						id: ele.sId,
						name: ele.sName
					}
				})
				this.getInfo()
				console.log('当前用户仓库', this.storeOptions)
			},
			async getInfo() {
				// uni.showLoading({
				// 	title: '加载中...'
				// })
				let userName = uni.getStorageSync('userName')
				let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
					dataStores: {},
					parameters: {
						"account": userName,
						"_parameters": "account",
						"_parameterTypes": "string",
						"dcID": "baseis",
						"_boId": "baseis_ifsLogginEnableBO_bo",
						"_methodName": "queryAdminRoleUser",
						"_methodParameterTypes": "String"
					}
				});
				if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
					let info = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
					console.log('用户明细数据查询', info);
					this.info = info;
					// this.getStoreList()
					if(info.role.length == 0){
						uni.removeStorageSync('userInfo')
						return
					}
					
					this.info.warehouse = this.storeOptions
					console.log('用户明细数据查询2', this.info);
					let newobj = {};
					this.info.warehouse = this.info.warehouse .reduce((preVal, curVal) => {
						newobj[curVal.name] ? '' : newobj[curVal.name] = preVal.push(curVal); 
						return preVal 
					}, [])
					uni.setStorageSync('userInfo', this.info)
					uni.hideLoading()
					// this.roleName = info.role[0].roleName
					for(let i in info.role){
						this.roleNameDeliveryMan = info.role[i].roleName == this.roleNameStatus.deliveryMan
						this.roleNameDeliveryMan_driver = info.role[i].roleName == this.roleNameStatus.deliveryMan_driver
						if(this.roleNameDeliveryMan == true || this.roleNameDeliveryMan_driver == true){
							break
						}
					}
					for(let i in info.role){
						this.roleNamsecurityStaff = info.role[i].roleName == this.roleNameStatus.securityStaff
						this.roleNamssalesman = info.role[i].roleName == this.roleNameStatus.salesman
						if(this.roleNamsecurityStaff == true ||this.roleNamssalesman == true){
							break
						}
					}
					// 配置直放单权限
					for(let i in info.role){
						this.roleNamsReleaseDirect = info.role[i].roleName == this.roleNameStatus.releaseDirect
						if(this.roleNamsReleaseDirect == true){
							break
						}
					}
					// 配置报表权限
					for(let i in info.role){
						this.roleNamsReportForm = info.role[i].roleName == this.roleNameStatus.reportForm
						if(this.roleNamsReportForm == true){
							break
						}
					}
					// 供货商报表
					for(let i in info.role){
						this.roleNamsSupplierForm = info.role[i].roleName == this.roleNameStatus.supplierForm
						if(this.roleNamsSupplierForm == true){
							break
						}
					}
					
				} else {
					// uni.showToast({
					// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					// 	icon: 'none',
					// 	mask: true
					// });
					this.$refs.mpopup.open({
						type:'warn',
						content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
						timeout:2500,
						isClick:false
					});	
				}
			},
		}
	};
</script>

<style lang="scss">
	@import './style.scss';
	page {
		height: 100%;
		background-color: #047cdd;
	}
	
	.container {
		height: 100%;
		// background: linear-gradient(124deg,transparent 50%,rgb(31, 164, 253) 50%);
		background-image: url('../../static/images/index/index.jpg');
		background-size:cover;
		// background: #148ae4;
		position: relative;
		.delivery{
			position: absolute;
			top: 20%;
			left: 20%;
			.app-text{
				color: rgb(31, 164, 253);
			}
		}
		.boyView{
			width: 90%;
			padding: 19rpx 0;
			background: #ffffff24;
			border-radius: 14rpx;
			margin: 16rpx auto;
			display: flex;
			flex-wrap: nowrap;
			flex-direction: row;
			justify-content: space-around;
		}
		.boyView .pickUpGoods{
			// position: absolute;
			// bottom: 20%;
			// right: 20%;
			color: rgb(255, 255, 255)
		}
		.setting {
			position: fixed;
			padding-top: var(--status-bar-height);
			right: 40rpx;
			top: 10rpx;
			z-index: 1;
			width: 50rpx;

			image {
				width: 100%;
			}
		}

		.version {
			position: absolute;
			right: 20rpx;
			bottom: 20rpx;
			color: #666666;
		}
	}
	
</style>
