<template>
	<view class="h100">
		<view>
			<view class="custom" :style="[{ height: CustomBar + 'px' }]">
				<view class="navbar fixed white" :style="navStyle">
					<view class="icon-back between">
						<view class="left-text" @tap="toBack">
							<text class="iconfont icon-cnd-arrow-short-back" style="font-size: 40rpx;"></text>
							<text>返回</text>
						</view>
					</view>

					<view class="content" :style="{ top: StatusBar + 'px' }"><view style="color: #000;">入库到</view></view>
				</view>
			</view>
		</view>
		<view><mescroll-item :formData="formData"></mescroll-item></view>

		<view class="function-box new-page">
			<view class="block"><cnd-button color="primary" size="block" icon="no" type="outlined" @clickEvent="toBack">返回</cnd-button></view>
			<view class="block">
				<block><cnd-button color="primary" size="block" icon="no" @clickEvent="save">确认</cnd-button></block>
			</view>
		</view>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
import CndButton from '../components/button/button.vue';
import MescrollItem from './components/mescroll-store-item.vue';
export default {
	name: 'store-house',
	components: {
		CndButton,
		MescrollItem
	},
	data() {
		return {
			parentIdkuwei: '',
			formData: {
				inbilldetailId: '',
				parentId: '',
				next: true
			},
			StatusBar: this.StatusBar,
			CustomBar: this.CustomBar
		};
	},
	computed: {
		navStyle() {
			var StatusBar = this.StatusBar;
			var CustomBar = this.CustomBar;
			let style = `height:${CustomBar}px; padding-top:${StatusBar}px;`;
			return style;
		}
	},
	onLoad(e) {
		this.formData.inbilldetailId = e.id
		this.formData.parentId = e.parentId;
	},
	onShow() {
	},
	methods: {
		toBack() {
			this.$util.pageBack();
		},
		async save() {
			
			if (!uni.getStorageSync('parentIdkuwei')) {
				// uni.showToast({
				// 	title: '请选择库位',
				// 	icon: 'none',
				// 	mask: true
				// });
				this.$refs.mpopup.open({
					type:'warn',
					content:'请选择库位',
					timeout:2500,
					isClick:false
				});
				return;
			}
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				dataStores: {},
				parameters: {
					sWarehouseLocationId: uni.getStorageSync('parentIdkuwei'),
					inbilldetailId: this.formData.inbilldetailId,
					_parameters: 'sWarehouseLocationId,inbilldetailId',
					_parameterTypes: 'string,string',
					dcID: 'wmsjccwis',
					_boId: 'wmsjccwis_ifsJcwmsWarehouseBO_bo',
					_methodName: 'updateWarehouse',
					_methodParameterTypes: 'String,String'
				}
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				// uni.showToast({
				// 	title: '入库成功',
				// 	icon: 'none'
				// });
				this.$refs.mpopup.open({
					type:'success',
					content:'入库成功',
					timeout:2000,
				});
				uni.removeStorageSync('parentIdkuwei')
				uni.navigateBack({
					delta: 1
				})
				uni.$emit('addWarehouse')
			} else {
				// uni.showToast({
				// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
				// 	icon: 'none',
				// 	mask: true
				// });
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
		}
	}
};
</script>
<style>
page {
	background-color: #f1f5f7;
}
</style>
<style lang="scss">
.custom {
	position: relative;

	.navbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		box-sizing: border-box;

		&.fixed {
			z-index: 997;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
		}

		&.white {
			background-color: $gray-0;
			color: $cnd-blue-5;
			box-shadow: 0 0 20upx rgba(0, 0, 0, 0.2);
		}

		&.blue {
			background-color: $cnd-blue-5;
			color: $gray-0;
		}

		.between {
			width: 22%;
			font-size: 28rpx;
			align-items: center;
		}

		.icon-back {
			margin-left: 16rpx;
			// position: absolute;
			// top: 50%;
			// transform: translateY(-50%);
			// left: 16rpx;
			// .left-text:hover {
			// 	opacity: 0.6;
			// }
		}

		.content {
			position: absolute;
			text-align: center;
			width: calc(100% - 340upx);
			left: 0;
			right: 0;
			bottom: 0;
			// top: --status-bar-height;
			margin: auto;
			height: 60upx;
			font-size: $font-size-subhead;
			line-height: 60upx;
			cursor: none;

			view {
				pointer-events: none;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				font-weight: 700;
				display: block;
			}
		}

		.action {
			display: flex;
			position: absolute;
			right: 0;
			margin-right: 22rpx;
			align-items: center;
			justify-content: flex-end;
		}
	}
}

.footer-area {
	position: fixed;
	left: 16rpx;
	right: 16rpx;
	bottom: 0;
	padding-bottom: 16rpx;
	display: flex;
	background-color: #f1f5f7;
	z-index: 3;

	.item {
		flex: 1;
		display: block;

		&:first-child {
			margin-right: 20rpx;
		}
	}
}
</style>
