<template>
	<view>
		<cnd-navbar color="white" isBack>
			<block slot='content'>入库信息</block>
		</cnd-navbar>
		<store-loc :info="info" :list="list" :sWarehouseId="formData.sWarehouseId" @saveBefore='saveBefore' :housing="housing" :details="details" :sIsFinish="sIsFinish" ref="storeForm" @change="bindParChange"></store-loc>
		<view style="height: 136rpx;"></view>
		<view class="function-box new-page">
			<view class="block"><cnd-button color="primary" size="block" icon="no" @clickEvent="save">保存</cnd-button></view>
		</view>
		<!-- 庫區提示内容 -->
		<cnd-dialog v-model="isShow1" @confirm="confirm1" :cancelButton="false">
			请选择库位！
		</cnd-dialog>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
import CndNavbar from '@/components/navbar/cnd-navbar';
// import CndUploadCell from 'cndapp-ui/components/upload/upload';
import CndButton from '../components/button/button';
import StoreLoc from './components/store-loc.vue';
import cndDialog from './components/cnd-dialog.vue'
export default {
	components: { 
		CndNavbar, 
		// CndUploadCell, 
		StoreLoc, 
		CndButton, 
		cndDialog 
	},
	data() {
		return {
			formData: {
				// 筛选条件
				sId: '',
				parameter: '',
				index: 0,
				sWarehouseId: ''
			},
			isShow1: false,
			sIsFinish: undefined,
			list: {},
			info: {},
			details: {},
			housing: [],
			initForm: true,
			isUpdate: false,
			saveing: false,
			index: 0,
			dataList: {},
		};
	},
	async onLoad(e) {
		let { id, index, sIsFinish, sWarehouseId } = e;
		this.formData.index = ~~index;
		this.formData.sId = id;
		this.formData.sWarehouseId = sWarehouseId;
		this.sIsFinish = ~~sIsFinish
		// uni.$on('saveBefore',  async () => {
		// 	await this.save(false)
		// })
		// uni.$on('saveBefore',  async () => {
		// 	await this.savesBuckleWeight()
		// })
		uni.$on('goStore', async() => {
			await this.goStore()
		})
		uni.$on('uploadBefore',  async () => {
			if (this.saveing) {
				return
			} 
			this.saveing = true
			// await this.save(false)
			this.saveing = false
		})
		uni.$on('addImg', () => {
			// this.getInfo()
			this.gethousing()
		})
		uni.$on('deleteImg', () => {
			// this.getInfo()
			this.gethousing()
		})
		uni.$on('addWarehouse', () => {
			// this.getInfo()
			this.gethousing()
		})
		await this.getList();
		await this.getInfo();
		await this.gethousing()
		await this.getdetails()
	},
	async onShow() {
		// await this.getList()
		// this.dataList = this.$refs.storeForm.dataList
		if (this.isUpdate) {
			// await this.gethousing();
		}
		// await this.getdetails()
		this.isUpdate = true;
	},
	async mounted () {
		await this.getList()
		this.dataList = this.$refs.storeForm.dataList
	},
	methods: {
		// 杂重保存接口
		// async saveBefore() {
		// 	let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action?ajaxRequest=true&t=5', {
		// 		dataStores: {
		// 			"mapParams": {
		// 				"rowSet": {
		// 					primary: [
		// 						{
		// 							// "sId": "",
		// 							// "sVersion": this.list.sVersion,
		// 							"sInBillId": this.formData.sId,  // 入库单ID
		// 							"sBuckleWeight": this.dataList.sBuckleWeight,  // 扣杂重量
		// 						}
		// 					],
		// 					filter: [],
		// 					delete: []
		// 				},
		// 				name: "mapParams",
		// 				pageNumber: 1,
		// 				pageSize: 2147483647,
		// 				recordCount: 0,
		// 				rowSetName: "com.cnd.intfservice.wmsmetalis.outbill.pojo.GtwmsQualityTestingPojo"
		// 			}
		// 		},
		// 		parameters: {
		// 			dcID: "wmsmetalis",
		// 			_boId: "wmsmetalis_ifsFgWmsInBillBO_bo",
		// 			_methodName: "saveOrUpdateQualityTestingForFields",
		// 			_methodParameterTypes: "com.cnd.intfservice.wmsmetalis.outbill.pojo.GtwmsQualityTestingPojo",
		// 			_parameterTypes: "pojo",
		// 			_parameters: "mapParams",
		// 		}
		// 	});
		// 	if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
		// 		// await this.getList()
		// 	} else {
		// 		uni.showToast({
		// 			title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
		// 			icon: 'none',
		// 			mask: true
		// 		});
		// 	}
		// },
		goStore() {
			let { housing } = this;
			this.save(false)
			uni.navigateTo({
				url: `/pagesB/warehousing-list/house-prev?page=${this.$store.state.page}&id=${housing.sId}&parentId=${housing.sWarehouseId}`
				// url: `/pages/warehousing-list/house-prev?page=${this.$store.state.page}&id=${housing.sId}&parentId=${housing.sWarehouseId}`
			});
		},
		async gethousing() {
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				
				"dataStores": {},
				"parameters": {
				    "inBillId": this.formData.sId,
				    "_parameters": "inBillId",
					"_parameterTypes": "string",
					"dcID": "wmsmetalis",
					"_boId": "wmsmetalis_ifsFgWmsInBillBO_bo",
					"_methodName": "queryWmsInBillDetail",
					"_methodParameterTypes": "String"
				},
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				let housing = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
				housing = housing.map((item, i) => {
					this.index = i
					// if (item.sExtend4 === '') {
					// 	return {
					// 		...item,
					// 		sExtend4: this.details.vSubArtNoAttrValueName  //保管员
					// 	}
					// }else{
					// 	return {
					// 		...item,
					// 		sExtend4: item.sExtend4  //保管员
					// 	}
					// }
					return {
						...item,
						sExtend4: item.sExtend4  //保管员
					}
				})
				console.log('入库明细', housing);
				this.housing = housing;
				for(const i in this.housing){
					if( i == this.housing.length ) return
					await this.getImgList(this.housing[i], this.housing[i].sId)
				}
				uni.hideLoading();
				// await this.getImgList(this.housing[this.index], this.housing[this.index].sId)
			} else {
				// uni.showToast({
				// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
				// 	icon: 'none',
				// 	mask: true
				// });
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
			
		},
		async getInfo() {
			uni.showLoading({
				title: '请稍候',
				mask: true
			});
			// console.log(this.formData.index, this.dataList[this.formData.index].sId)
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				
				"dataStores": {},
				"parameters": {
				    "inBillId": this.formData.sId,
				    "_parameters": "inBillId",
					"_parameterTypes": "string",
					"dcID": "wmsmetalis",
					"_boId": "wmsmetalis_ifsFgWmsInBillBO_bo",
					"_methodName": "queryWmsInBillById",
					"_methodParameterTypes": "String"
				},
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				let info = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
				console.log('明细11', info);
				this.info = info;
				await this.getImgList(this.info, this.info.sId)
			} else {
				// uni.showToast({
				// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
				// 	icon: 'none',
				// 	mask: true
				// });
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
			uni.hideLoading();
		},
		async getList() {
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				dataStores: {},
				parameters: {
					"inBillId": this.formData.sId,
					"_parameters": "inBillId",
					"_parameterTypes": "string",
					"dcID": "wmsmetalis",
					"_boId": "wmsmetalis_ifsFgWmsInBillBO_bo",
					"_methodName": "queryQualityTesting",
					"_methodParameterTypes": "String"
				}
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				let list = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
				console.log('明细列表', list);
				this.list = list;
			} else {
				// uni.showToast({
				// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
				// 	icon: 'none',
				// 	mask: true
				// });
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
		},
		async getdetails() {
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				dataStores: {},
				parameters: {
					"inBillId": this.formData.sId, // 收货单ID
					"_parameters": "inBillId",
					"_parameterTypes": "string",
					"dcID": "wmsmetalis",
					"_boId": "wmsmetalis_ifsFgWmsInBillBO_bo",
					"_methodName": "queryWmsReceiveNotifyDetailById",
					"_methodParameterTypes": "String"
				}
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				let details = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
				console.log('收货通知信息', details);
				this.details = details;
				// await this.getImgList()
			} else {
				// uni.showToast({
				// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
				// 	icon: 'none',
				// 	mask: true
				// });
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
		},
		async getImgList(getImgdata, getImgId) {
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				dataStores: {},
				parameters: {
					sId: getImgId,
					_parameters: 'sId',
					_parameterTypes: 'string',
					dcID: 'fs',
					_boId: 'fs_bsbFilesBO_bo',
					_methodName: 'getBsbFilesByBusId',
					_methodParameterTypes: 'String'
				}
			});
			let infos = res.dataStores.result.rowSet.primary || [];
			// console.log('待拣货明细图片', list);
			this.$set(getImgdata, 'imgList', infos)
		},
		async bindParChange() {
			// this.getList()
			// this.getInfo()
			// this.gethousing()
			// this.getdetails()
		},
		async savehousing2(showResult2 = true) {
			const dataList2 = this.$refs.storeForm.dataHousing.map(item => {
				return {
					"sId": item.sId,  // 必填
					"sWarehouseAreaId": item.sWarehouseAreaId,  //库区
					"sWarehouseLocationId": item.sWarehouseLocationId,  // 库位
					"sExtend4": this.details.vSubArtNoAttrValueName  //保管员sExtend4
				}
			})
			// console.log('dataList', dataList)
			// let { info } = this;
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				dataStores: {
					"mapParams": {
						"rowSet": {
							primary: dataList2,
							filter: [],
							delete: []
						},
						name: "mapParams",
						pageNumber: 1,
						pageSize: 2147483647,
						recordCount: 0,
						rowSetName: "com.cnd.intfservice.wmsmetalis.inbill.pojo.FgwmsInBillDetailPojo"
					}
				},
				parameters: {
					"_parameters": "mapParams",
					"_parameterTypes": "pojo",
					"dcID": "wmsmetalis",
					"_boId": "wmsmetalis_ifsFgWmsInBillBO_bo",
					"_methodName": "saveOrUpdateWmsInBillDetail",
					"_methodParameterTypes": "com.cnd.intfservice.wmsmetalis.inbill.pojo.FgwmsInBillDetailPojo"
				}
			});
			if (showResult2) {
				if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
					// uni.showToast({
					// 	title: '保存成功',
					// 	icon: 'none',
					// 	success: () => {
					// 		setTimeout(() => {
					// 			let iIndex = getCurrentPages().findIndex(ele => ele.route === 'pages/warehousing-list/index')
					// 			let iPage = getCurrentPages()[iIndex]
					// 			// iPage.$vm.isReload = true
					// 			uni.navigateBack({
					// 				delta: iIndex === -1 ? 1 : getCurrentPages().length - iIndex - 1
					// 			})
					// 		}, 500)
					// 	}
					// });
					this.$refs.mpopup.open({
						type:'success',
						content:'保存成功',
						timeout:2000,
					});
					setTimeout(() => {
						let iIndex = getCurrentPages().findIndex(ele => ele.route === 'pages/warehousing-list/index')
						let iPage = getCurrentPages()[iIndex]
						// iPage.$vm.isReload = true
						uni.navigateBack({
							delta: iIndex === -1 ? 1 : getCurrentPages().length - iIndex - 1
						})
					}, 500)
				} else {
					// uni.showToast({
					// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					// 	icon: 'none',
					// 	mask: true
					// });
					this.$refs.mpopup.open({
						type:'warn',
						content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
						timeout:2500,
						isClick:false
					});
				}
			}
		},
		async save(showResult = true) {
			if (showResult) {
				// if (this.dataList.sMaterialType == '' || this.dataList.sGrade == '' || this.dataList.sMaterialIdentification == '' || this.info.imgList == '' ) {
				// 	uni.showToast({
				// 		title: '红色字体为必录项，请检查！',
				// 		icon: 'none'
				// 	});
				// 	return
				// }
				for (const j in this.housing) {
					if( j == this.housing.length ) return
					if (this.housing[j].vSubWarehouseLocationName == "") {
						this.isShow1 = true
						return
					}
					if (this.housing[j].imgList == "") {
						// uni.showToast({
						// 	title: '红色字体为必录项，请检查！',
						// 	icon: 'none'
						// });
						this.$refs.mpopup.open({
							type:'err',
							content:'红色字体为必录项，请检查！',
							timeout:2000,
							isClick:false
						});
						return
					}
				} 
			}
			this.savehousing2()
			// let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
			// 	dataStores: {
			// 		"mapParams": {
			// 			"rowSet": {
			// 				primary: [
			// 					{
			// 						"sInBillId": this.formData.sId,  // 入库单ID
			// 						"sQualityInspector": this.details.vSubArtNoAttrValueName,  // 质检员
			// 						"sMaterialType": this.dataList.sMaterialType,  //料型
			// 						"sGrade": this.dataList.sGrade,  // 品级
			// 						"sMaterialIdentification": this.dataList.sMaterialIdentification,  //物料鉴定情况
			// 						"sBuckleWeight": this.dataList.sBuckleWeight,  // 扣杂重量
			// 						"sClosedMaterialNumber": this.dataList.sClosedMaterialNumber,  //封闭物料数量
			// 						"sSuperScaleNumber": this.dataList.sSuperScaleNumber,  // 超尺数量
			// 						"sOthers": this.dataList.sOthers,  //其他
			// 						"sRemark": this.dataList.sRemark  // 备注
			// 					}
			// 				],
			// 				filter: [],
			// 				delete: []
			// 			},
			// 			name: "mapParams",
			// 			pageNumber: 1,
			// 			pageSize: 2147483647,
			// 			recordCount: 0,
			// 			rowSetName: "com.cnd.metalwms.metalfeature.entity.GtwmsQualityTesting"
			// 		}
			// 	},
			// 	parameters: {
			// 		"_parameters": "mapParams",
			// 		"_parameterTypes": "pojo",
			// 		"dcID": "wmsmetalis",
			// 		"_boId": "wmsmetalis_ifsFgWmsInBillBO_bo",
			// 		"_methodName": "saveOrUpdateQualityTesting",
			// 		"_methodParameterTypes": "com.cnd.metalwms.metalfeature.entity.GtwmsQualityTesting"
			// 	}
			// });
			// if (showResult) {
			// 	if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
			// 		uni.showToast({
			// 			title: '保存成功',
			// 			icon: 'none',
			// 			success: () => {
			// 				setTimeout(() => {
			// 					let iIndex = getCurrentPages().findIndex(ele => ele.route === 'pages/warehousing-list/index')
			// 					let iPage = getCurrentPages()[iIndex]
			// 					// iPage.$vm.isReload = true
			// 					uni.navigateBack({
			// 						delta: iIndex === -1 ? 1 : getCurrentPages().length - iIndex - 1
			// 					})
			// 				}, 500)
			// 			}
			// 		});
			// 	} else {
			// 		uni.showToast({
			// 			title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
			// 			icon: 'none',
			// 			mask: true
			// 		});
			// 	}
			// }
		},
		confirm1() {
		}
	}
};
</script>
<style>
page {
	background-color: #f1f5f7;
}
</style>
<style lang="scss" scoped>
@import '../../common/style/nav.scss';
</style>
<style lang="scss" scoped>
.bottom-btn {
	width: 90%;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}
.new-page {
	.block {
		margin: 0 10rpx;
		width: 100% !important;
		.cnd-button {
			width: 100% !important;
		}
	}
}

/deep/.cnd-field-item .cnd-field-label{
    width: 236rpx!important;
}
/deep/.uni-data-checklist .checklist-group .checklist-box.is--tag {
    padding: 14rpx 52rpx!important;
}
</style>
