<template>
	<view class="preMask"></view>
</template>

<script>
</script>

<style lang="scss">
	.preMask {
		position: fixed;
		z-index: 999;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		background: transparent;
		pointer-events: auto
	}
</style>
