<template>
	<view>
		<cnd-navbar color="white" isBack>
			<block slot='content'>出库通知单明细</block>
		</cnd-navbar>
		<detail-loc :info="info" @saveBefore='saveBefore' :curIndex="curIndex" :details="details" :sId="formData.sId" ref="storeForm" @change="bindParChange" @bindParClose="bindParClose"></detail-loc>
		<view style="height: 136rpx;"></view>
		<view class="function-box new-page" v-if="curIndex == '0' && userRoleName">
			<view class="block"><cnd-button color="primary" :disabled="false" size="block" icon="no" type="outlined" @clickEvent="oveTo">完结</cnd-button></view>
			<view class="block"><cnd-button color="primary" :disabled="false" size="block" icon="no" @clickEvent="save">提交</cnd-button></view>
		</view>
		<!-- <view class="function-box new-page" v-if="curIndex == '0'">
			<view class="block"><cnd-button color="primary" size="block" icon="no" @clickEvent="save">提交</cnd-button></view>
		</view> -->
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>
 
<script>
import CndNavbar from '@/components/navbar/cnd-navbar';
import DetailLoc from './components/detail-loc.vue';
import CndButton from "@/components/button/button";
export default { 
	components: { 
		CndNavbar, 
		DetailLoc,  
		CndButton
	},
	data() {
		return {
			formData: {
				// 筛选条件
				sId: '',
				parameter: '',
				index: 0,
				sWarehouseId: ''
			},
			info: {},
			details: [],
			isUpdate: false,
			saveing: false,
			dataList: {},
			testOptions: [],
			curIndex: '',
			userInfo:{},
			roleNameStatus: {},
			userRoleName:'',
		};
	},
	async onLoad(e) {
		let { id, curIndex } = e;
		this.formData.sId = id;
		this.curIndex = String(curIndex);
		await this.getdetails()
		await this.getInfo()
		uni.$on('toHide', async() => {
			await this.getdetails()
		})
	},
	async onShow() {
		// await this.getList()
		// this.dataList = this.$refs.storeForm.dataList
		if (!this.isReload) {
			await this.getdetails()
		}
		
		this.isReload = true;
	},
	mounted () {
		this.testOptions = this.$refs.storeForm.testOptions;
		this.userInfo = uni.getStorageSync("userInfo");
		this.roleNameStatus = uni.getStorageSync("roleNameStatus");
		for (let i in this.userInfo.role) {
			this.userRoleName = this.userInfo.role[i].roleName == this.roleNameStatus.salesman;
			if (this.userRoleName == true) break
		}
	},
	methods: {
		async getInfo() {
			uni.showLoading({
				title: '请稍候',
				mask: true
			});
			// console.log(this.formData.index, this.dataList[this.formData.index].sId)
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				
				"dataStores": {},
				"parameters": {
				    "inBillId": this.formData.sId,
				    "_parameters": "inBillId",
					"_parameterTypes": "string",
					"dcID": "wmsmetalis",
					"_boId": "wmsmetalis_ifsOutNotifyWorkbenchBO_bo",
					"_methodName": "queryOutNotifyById",
					"_methodParameterTypes": "String"
				},
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				let info = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
				console.log('明细11', info);
				this.info = info;
			} else {
				// uni.showToast({
				// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
				// 	icon: 'none',
				// 	mask: true
				// });
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
			uni.hideLoading();
		},
		async getdetails() {
			uni.showLoading({
				title: '请稍候',
				mask: true
			});
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				dataStores: {},
				parameters: {
					// "inBillId": this.formData.sId, 
					// "_parameters": "inBillId",
					// "_parameterTypes": "string",
					// "dcID": "wmsmetalis",
					// "_boId": "wmsmetalis_ifsOutNotifyWorkbenchBO_bo",
					// "_methodName": "queryCarInfoList",
					// "_methodParameterTypes": "String"
					'sOutNotifyId': this.formData.sId,
					"_parameters": "sOutNotifyId",
					"_parameterTypes": "string",
					"dcID": "wmsmetalis",
					"_boId": "wmsmetalis_ifsOutNotifyWorkbenchBO_bo",
					"_methodName": "selectCarInfo",
					"_methodParameterTypes": "String"
				}
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				let details = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
				console.log('车辆信息', details);
				this.details = details;
				uni.hideLoading();
				// await this.getImgList()
			} else {
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
		},
		async bindParClose(){
			await this.getdetails()
		},
		//完结
		oveTo(){
			uni.showModal({
				title: '提示',
				content: '是否确认完结？',
				success: (res)=> {
					if (res.confirm) {
						this.goToQuery()
					} else if (res.cancel) {
						console.log('取消');
					}
				}
			});
		},
		async goToQuery() {
			let res = await this.$http(
				"techcomp/ria/commonProcessor!commonMethod.action", {
					dataStores: {},
					parameters: {
						sId: this.formData.sId,
						_parameters: "sId",
						_parameterTypes: "string",
						dcID: "wmsmetalis",
						_boId: "wmsmetalis_ifsOutNotifyWorkbenchBO_bo",
						_methodName: "end",
						_methodParameterTypes: "String",
					},
				}
			);
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				// uni.showToast({
				// 	title: "操作成功",
				// 	icon: "none",
				// 	success: () => {
				// 		setTimeout(() => {
				// 			let iIndex = getCurrentPages().findIndex(
				// 				(ele) => ele.route === "pagesC/deliveryNotice/index"
				// 			);
				// 			let iPage = getCurrentPages()[iIndex];
				// 			iPage.$vm.isReload = false;
				// 			uni.navigateBack({
				// 				delta: iIndex === -1 ? 1 : getCurrentPages()
				// 					.length - iIndex - 1,
				// 			});
				// 		}, 500);
				// 	},
				// });
				this.$refs.mpopup.open({
					type:'success',
					content:'操作成功',
					timeout:2000,
				});
				setTimeout(() => {
					let iIndex = getCurrentPages().findIndex(
						(ele) => ele.route === "pagesC/deliveryNotice/index"
					);
					let iPage = getCurrentPages()[iIndex];
					iPage.$vm.isReload = false;
					uni.navigateBack({
						delta: iIndex === -1 ? 1 : getCurrentPages()
							.length - iIndex - 1,
					});
				}, 500);
			} else {
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
		},
		// 提交接口
		async save() {
			let res = await this.$http(
				"techcomp/ria/commonProcessor!commonMethod.action", {
					dataStores: {},
					parameters: {
						sId: this.formData.sId,
						_parameters: "sId",
						_parameterTypes: "string",
						dcID: "wmsmetalis",
						_boId: "wmsmetalis_ifsOutNotifyWorkbenchBO_bo",
						_methodName: "doSubmit",
						_methodParameterTypes: "String",
					},
				}
			);
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				// uni.showToast({
				// 	title: "提交成功",
				// 	icon: "none",
				// 	success: () => {
						
				// 	},
				// });
				this.$refs.mpopup.open({
					type:'success',
					content:'提交成功',
					timeout:2000,
				});
			} else {
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
		},
	}
};
</script>
<style>
page {
	background-color: #f1f5f7;
}
</style>
<style lang="scss" scoped>
@import '../../common/style/nav.scss';
</style>
<style lang="scss" scoped>
.bottom-btn {
	width: 90%;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}
.new-page {
	.block {
		// margin: 0 10rpx;
		width: 100% !important;
		.cnd-button {
			width: 100% !important;
		}
	}
}
/deep/.cnd-field-item .cnd-field-label {
	width: 248rpx!important;
}
// /deep/.cnd-field-value{
// 	padding-left:20rpx;
// 	background: rgb(255, 255, 245);
// }
/deep/.title-container .icon-wrapper{
	width: 50rpx!important;
	height: 50rpx!important;
}
/deep/.textareas .cnd-field-value{
	padding: 12upx 20upx!important;
	background: #f1f1f1!important;
}
/deep/textarea{
	height: 323rpx!important;
	width: 620rpx!important;
	padding:30rpx 25rpx;
	background: #ffffff!important;
	border: 1px solid #f1f1f1;
	border-radius: 10rpx;
	margin: 30rpx auto 10rpx;
}
/deep/.cnd-selector-group-container .content-wrapper{
	background-color: #f1f1f1!important;
}
/deep/ .redDel {
	font-size: 48rpx;
	color: #cd1414;
	padding-right: 18rpx;
	float: left;
}
.function-box.new-page .block{
	margin: 0 10rpx!important;
}
</style>
