<template>
	
	<view>
		<cnd-form>
			<cnd-form-item label="车牌号">{{ dataInfo.sVehicleVesselNo }}</cnd-form-item>
			<cnd-form-item label="通知货品">{{ datadetails.vSubArtName }}</cnd-form-item>
			<cnd-form-item label="厚度范围">{{ sThicknessName }}</cnd-form-item>
			<cnd-form-item label="通知重量(吨)">{{ datadetails.sQty }}</cnd-form-item>
		</cnd-form>
		<cnd-form>
			<view class="detail-item">
				<cnd-form-item label="质检员" solid>{{ dataList.sQualityInspector ? dataList.sQualityInspector : datadetails.vSubArtNoAttrValueName }}</cnd-form-item>
				<cnd-form-item label="料型" class="rks" solid>
					<input v-model="addmaterialTypeData.codeName" @click="materialTypePicker" placeholder="--请选择料型--" disabled />
				</cnd-form-item>
				<cnd-form-item label="品级" solid>
					<input v-model="addressData.codeName" @click="ressPicker" placeholder="--请选择品级--" disabled />
				</cnd-form-item>
				<cnd-form-item label="物料鉴定情况" class="rks" solid>
					<input v-model="addidentificationData.materialIdentification" @click="identificationPicker" placeholder="--请选择物料鉴定情况--" disabled />
				</cnd-form-item>
				<cnd-form-item label="扣杂重量(吨)" solid>
					<input @blur="sBuckleWeight()" type="digit" v-model="dataList.sBuckleWeight" :disabled="inputDisabled"/>
				</cnd-form-item>
				<cnd-form-item label="封闭物料数量" solid>
					<input v-model="dataList.sClosedMaterialNumber" :disabled="inputDisabled" />
				</cnd-form-item>
				<cnd-form-item label="超尺数量" solid>
					<input v-model="dataList.sSuperScaleNumber" :disabled="inputDisabled" />
				</cnd-form-item>
				<cnd-form-item label="其他" solid>
					<input v-model="dataList.sOthers" :disabled="inputDisabled" />
				</cnd-form-item>
				<cnd-form-item label="备注" solid>
					<input v-model="addremarkData.codeName" @click="remarkPicker" placeholder="--请选择备注--" disabled />
				</cnd-form-item>
				<cnd-form-item label="是否需分批质检" class="rks" solid>
					<view class="uni-px-5">
						<cnd-data-checkbox mode="tag" v-model="dataList.sBatchQuality" :localdata="sex"></cnd-data-checkbox>
					</view>
				</cnd-form-item>
					
				<cnd-form-item label="图片" class="rks"></cnd-form-item>
				<view style="margin-left: 40rpx;">
					<img-upload v-if="info" :busId="dataInfo.sId" :imgList="dataInfo.imgList"></img-upload>
				</view>
			</view>
		</cnd-form>
		<!-- 品级选择 -->
		<custom-picker
			ref="ress"
			title="--请选择品级--"
			titleColor="#808080"
			titleFontSize="26rpx"
			cancelType='icon'
			cancelColor="#999999"
			cancleFontSize="28rpx"
			confirmColor="#4cd964"
			confirmFontSize="34rpx"
			confirmFontWeight="500"
			itemFontSize="32rpx"
			@onConfirm="ressChange"
			@on_close="closePicker"
			:pickerList="ressList"
			:addmaterialTypeData="addressData.jobId">
		</custom-picker>
		<!-- 物料鉴定情况选择 -->
		<custom-picker
			ref="identification"
			title="--请选择物料鉴定情况--"
			titleColor="#808080"
			titleFontSize="26rpx"
			cancelType='icon'
			cancelColor="#999999"
			cancleFontSize="28rpx"
			confirmColor="#4cd964"
			confirmFontSize="34rpx"
			confirmFontWeight="500"
			itemFontSize="32rpx"
			@onConfirm="identificationChange"
			@on_close="closePicker"
			:pickerList="identificationList"
			:addmaterialTypeData="addidentificationData.jobId">
		</custom-picker>
		
		<!-- 料型选择 -->
		<custom-picker
			ref="material"
			title="--请选择料型--"
			titleColor="#808080"
			titleFontSize="26rpx"
			cancelType='icon'
			cancelColor="#999999"
			cancleFontSize="28rpx"
			confirmColor="#4cd964"
			confirmFontSize="34rpx"
			confirmFontWeight="500"
			itemFontSize="32rpx"
			@onConfirm="materialTypeChange"
			@on_close="closePicker"
			:pickerList="materialTypeList"
			:addmaterialTypeData="addmaterialTypeData.jobId">
		</custom-picker>
		<!-- 备注选择 -->
		<custom-picker
			ref="remark"
			title="--请选择备注--"
			titleColor="#808080"
			titleFontSize="26rpx"
			cancelType='icon'
			cancelColor="#999999"
			cancleFontSize="28rpx"
			confirmColor="#4cd964"
			confirmFontSize="34rpx"
			confirmFontWeight="500"
			itemFontSize="32rpx"
			@onConfirm="remarkChange"
			@on_close="closePicker"
			:pickerList="remarkList"
			:addmaterialTypeData="addremarkData.jobId">
		</custom-picker>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
// import CndUploadCell from 'cndapp-ui/components/upload/upload';
import CndForm from '../../components/form/cnd-form.vue';
import CndFormItem from '../../components/form-item/cnd-form-item.vue';
// import CndInput from 'cndapp-ui/components/input/cnd-input';
// import CndTextarea from '@/components/textarea/cnd-textarea';
import imgUpload from '../../components/upload/img-upload.vue'
import CndButton from '../../components/button/button.vue';
import customPicker from '@/components/picjerDiy.vue';
import cndDataCheckbox from '@/components/checkbox-new/cnd-data-checkbox.vue';
export default {
	components: { 
		// CndUploadCell, 
		CndForm, 
		CndFormItem, 
		// CndInput, 
		// CndTextarea, 
		imgUpload, 
		CndButton, 
		customPicker,
		cndDataCheckbox
	},
	props: {
		info: Object,
		list: [Object, Array],
		details: Object,
		sIsFinish: [Number, String, Boolean],
		sWarehouseId: String
	},
	data() {
		return {
			radio3: null,
			sex: [ {
				text: '是',
				value: '1',
				
			},{
				text: '否',
				value: '0',
			}],
			inputDisabled: false,
			dataInfo: this.info,
			dataList: {},
			datadetails: this.details,
			// 品级
			ressList: [],
			addressData: {
				jobId: '',
				codeName: "",
			},
			// 物料鉴定情况
			identificationList: [],
			addidentificationData: {
				jobId:'',
				materialIdentification: "",
			},
			
			// 料型
			materialTypeList: [],
			addmaterialTypeData: {
				jobId: '',
				codeName: "",
			},
			// 备注
			remarkList: [],
			addremarkData: {
				jobId: '',
				codeName: "",
			},
			dialogValue: '',
			index: undefined,
			clickItem: undefined,
			parameters: {
				"sInBillId": '',  // 入库单ID
				"sQualityInspector": '',  // 质检员
				"sMaterialType": '',  //料型
				"sGrade": '',  // 品级
				"sMaterialIdentification": '',  //物料鉴定情况
				"sBuckleWeight": '',  // 扣杂重量
				"sClosedMaterialNumber": '',  //封闭物料数量
				"sSuperScaleNumber": '',  // 超尺数量
				"sOthers": '',  //其他
				"sRemark": ''  // 备注
			},
			parWeight: 0,
			sThicknessName: '',
		};
	},
	async mounted() {
		// 品级
		this.sMaterial()
		// 物料鉴定情况
		this.sIdentification()
		// 备注
		this.sRemark()
		// 料型
		this.sMaterialType()
		console.log('品級2', this.material)
		// }
	},
	methods: {
		// 扣杂重量
		sBuckleWeight() {
			if (this.dataList.sBuckleWeight) {
				this.$emit('saveBefore');
			}
		},
		//关闭上浮窗
		closePicker(){
			this.inputDisabled = false
		},
		// **料型**
		//打开
		materialTypePicker(){
			this.inputDisabled = true
			this.$refs.material._open()
		},
		//确定：接收子组件传来的参数
		materialTypeChange(checked){
			this.addmaterialTypeData.jobId = checked.value
			this.addmaterialTypeData.codeName = checked.label
			this.dataList.sMaterialType = this.addmaterialTypeData.jobId
			this.inputDisabled = false
		},
		async sMaterialType() {
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {

				"dataStores": {},
				"parameters": {
					"_parameters": "",
					"_parameterTypes": "",
					"dcID": "wmsmetalis",
					"_boId": "wmsmetalis_ifsFgwmsCurrencyBO_bo",
					"_methodName": "queryMaterialType",
					"_methodParameterTypes": ""
				}
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				let materialType = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
				console.log('料型', materialType)
				this.materialTypeList = materialType.map(ele => {
					return{
						value: ele.codeValue,
						label: ele.codeName
					}
				})
				if (this.dataList.sMaterialType) {
					this.addmaterialTypeData.jobId = this.dataList.sMaterialType
					this.addmaterialTypeData.codeName = this.materialTypeList.filter(a => a.value == this.addmaterialTypeData.jobId)[0].label
				}
			} else {
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
			// uni.hideLoading();
		},
		// **品级**
		//打开
		ressPicker(){
			this.inputDisabled = true
			this.$refs.ress._open()
		},
		//确定：接收子组件传来的参数
		ressChange(checked){
			this.addressData.jobId = checked.value
			this.addressData.codeName = checked.label
			this.dataList.sGrade = this.addressData.jobId
			this.inputDisabled = false
		},
		async sMaterial() {
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {

				"dataStores": {},
				"parameters": {
					"type": "dev.fgwms.grade.type",
					"_parameters": "type",
					"_parameterTypes": "string",
					"dcID": "wmsmetalis",
					"_boId": "wmsmetalis_ifsFgwmsCurrencyBO_bo",
					"_methodName": "queryCodeList",
					"_methodParameterTypes": "String"
				},
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				let ress = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
				console.log('品級', ress);
				this.ressList = ress.map(ele => {
					return{
						value: ele.codeValue,
						label: ele.codeName
					}
				})
				if (this.dataList.sGrade) {
					this.addressData.jobId = this.dataList.sGrade
					this.addressData.codeName = ress.filter(a => a.codeValue == this.addressData.jobId)[
						0].codeName
				}
			} else {
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
			// uni.hideLoading();
		},
		// **物料鉴定情况**
		//打开
		identificationPicker(){
			this.inputDisabled = true
			this.$refs.identification._open()
		},
		//确定：接收子组件传来的参数
		identificationChange(checked){
			this.addidentificationData.jobId = checked.value
			this.addidentificationData.materialIdentification = checked.label
			this.dataList.sMaterialIdentification = this.addidentificationData.jobId
			this.inputDisabled = false
		},
		async sIdentification() {
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {

				"dataStores": {},
				"parameters": {
					"sWarehouseId": this.sWarehouseId,
					"_parameters": "sWarehouseId",
					"_parameterTypes": "string",
					"dcID": "wmsmetalis",
					"_boId": "wmsmetalis_ifsFgWmsInBillBO_bo",
					"_methodName": "getGtwmsMaterialIdentification",
					"_methodParameterTypes": "String"
				},
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				let identification = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
				console.log('物料鉴定情况', identification);
				this.identificationList = identification.map(ele => {
					return{
						value: ele.sId,
						label: ele.materialIdentification
					}
				})
				if (this.dataList.sMaterialIdentification) {
					this.addidentificationData.jobId = this.dataList.sMaterialIdentification
					this.addidentificationData.materialIdentification = this.identificationList.filter(a => a.value == this.addidentificationData.jobId)[0].label
				}
			} else {
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
			// uni.hideLoading();
		},
		// **备注**
		//打开
		remarkPicker(){
			this.inputDisabled = true
			this.$refs.remark._open()
		},
		//确定：接收子组件传来的参数
		remarkChange(checked){
			this.addremarkData.jobId = checked.value
			this.addremarkData.codeName = checked.label
			this.dataList.sRemark = this.addremarkData.jobId
			this.inputDisabled = false
		},
		async sRemark() {
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {

				"dataStores": {},
				"parameters": {
					"type": "FGWMS_QUALITY_TESTING_REMARK",
					"_parameters": "type",
					"_parameterTypes": "string",
					"dcID": "wmsmetalis",
					"_boId": "wmsmetalis_ifsFgwmsCurrencyBO_bo",
					"_methodName": "queryCodeList",
					"_methodParameterTypes": "String"
				},
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				let remark = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
				console.log('备注', remark);
				this.remarkList = remark.map(ele => {
					return{
						value: ele.codeValue,
						label: ele.codeName
					}
				})
				if (this.dataList.sRemark) {
					this.addremarkData.jobId = this.dataList.sRemark
					this.addremarkData.codeName = remark.filter(a => a.codeValue == this.addremarkData
						.jobId)[0].codeName
				}
			} else {
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
			// uni.hideLoading();
		},
		async sThickness() {
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {

				"dataStores": {},
				"parameters": {
					"type": "dev.fg.thickness.range",
					"_parameters": "type",
					"_parameterTypes": "string",
					"dcID": "wmsmetalis",
					"_boId": "wmsmetalis_ifsFgwmsCurrencyBO_bo",
					"_methodName": "queryCodeList",
					"_methodParameterTypes": "String"
				},
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				let sThickness = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
				if (this.datadetails.sThicknessRange) {
					this.sThicknessName = sThickness.filter(a => a.codeValue == this.datadetails.sThicknessRange)[
						0].codeName
				}
					
			} else {
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
			// uni.hideLoading();
		},
	},
	watch: {
		list(newVal) {
			this.dataList = newVal
		},
		info(newVal) {
			this.dataInfo = newVal
		},
		details(newVal) {
			this.datadetails = newVal
			this.sThickness()
		},
	}
};
</script>
<style lang="scss" scoped>
	/deep/ .iconfont {
		font-size: 40rpx;
		&.right-icon2 {
			margin-right: 20rpx;
		}
	}
	/deep/ .rks .cnd-field-label{
		color: red;
	}
	.rk {
		margin: 40rpx;
		display: inline-block;
		cursor: pointer;
		color: red;
		font-size: 14px;
		text-decoration: underline;
	}
	.detail-item {
		border-bottom: 6rpx solid #F5F5F5;
	}
	.parti-form-dialog {
		// height: 600rpx;
		// background: #FFFFFF;
		// width: 100%;
		.header {
			height: 100rpx;
			position: relative;
			padding-left: 20rpx;
			display: flex;
			align-items: center;
			color: #333;
			font-weight: 700;
			font-size: 28rpx;
		}
		.content {
			height: calc(600rpx - 200rpx);
			padding: 20rpx;
			background: #ffffff;
		}
		.footer {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			background: #ffffff;
			height: 100rpx;
			display: flex;
			border-top: 2rpx solid #f5f5f5;
			.item {
				flex: 1;
				height: auto;
				border-radius: 0;
			}
		}
	}
	.text {
		font-size: 12px;
		color: #666;
		margin-top: 5px;
	}
	.uni-px-5 {
	    padding-left: 10px;
	    padding-right: 10px;
	}
	.uni-pb-5 {
	    padding-bottom: 10px;
	}
</style>

