/**
 * 这里是uni-app内置的常用样式变量
 *
 * uni-app 官方扩展插件及插件市场（https://ext.dcloud.net.cn）上很多三方插件均使用了这些样式变量
 * 如果你是插件开发者，建议你使用scss预处理，并在插件代码中直接使用这些变量（无需 import 这个文件），方便用户通过搭积木的方式开发整体风格一致的App
 *
 */

/**
 * 如果你是App开发者（插件使用者），你可以通过修改这些变量来定制自己的插件主题，实现自定义主题功能
 *
 * 如果你的项目同样使用了scss预处理，你也可以直接在你的 scss 代码中使用如下变量，同时无需 import 这个文件
 */

/* 颜色变量 */
//引入colors色盘配置
// @import "cndapp-ui/components/style/color/_colors.scss";
// //引入colors状态颜色改变
// @import "cndapp-ui/components/style/color/statusColors.scss";
// //引入fonts字阶行高配置
// @import "cndapp-ui/components/style/font/_font.scss";
//引入公共样式

@import "@/common/style/common.scss";
// @import '@/common/style/style.scss';
// /* 行为相关颜色 */
// $uni-color-primary: #007aff;
// $uni-color-success: #4cd964;
// $uni-color-warning: #f0ad4e;
// $uni-color-error: #dd524d;

// /* 文字基本颜色 */
// $uni-text-color:#333;//基本色
// $uni-text-color-inverse:#fff;//反色
// $uni-text-color-grey:#999;//辅助灰色，如加载更多的提示信息
// $uni-text-color-placeholder: #808080;
// $uni-text-color-disable:#c0c0c0;

// /* 背景颜色 */
// $uni-bg-color:#ffffff;
// $uni-bg-color-grey:#f8f8f8;
// $uni-bg-color-hover:#f1f1f1;//点击状态颜色
// $uni-bg-color-mask:rgba(0, 0, 0, 0.4);//遮罩颜色

// /* 边框颜色 */
// $uni-border-color:#c8c7cc;

// /* 尺寸变量 */

// /* 文字尺寸 */
// $uni-font-size-sm:24upx;
// $uni-font-size-base:28upx;
// $uni-font-size-lg:32upx;

// /* 图片尺寸 */
// $uni-img-size-sm:40upx;
// $uni-img-size-base:52upx;
// $uni-img-size-lg:80upx;

// /* Border Radius */
// $uni-border-radius-sm: 4upx;
// $uni-border-radius-base: 6upx;
// $uni-border-radius-lg: 12upx;
// $uni-border-radius-circle: 50%;

// /* 水平间距 */
// $uni-spacing-row-sm: 10px;
// $uni-spacing-row-base: 20upx;
// $uni-spacing-row-lg: 30upx;

// /* 垂直间距 */
// $uni-spacing-col-sm: 8upx;
// $uni-spacing-col-base: 16upx;
// $uni-spacing-col-lg: 24upx;

// /* 透明度 */
// $uni-opacity-disabled: 0.3; // 组件禁用态的透明度

// /* 文章场景相关 */
// $uni-color-title: #2C405A; // 文章标题颜色
// $uni-font-size-title:40upx;
// $uni-color-subtitle: #555555; // 二级标题颜色
// $uni-font-size-subtitle:36upx;
// $uni-color-paragraph: #3F536E; // 文章段落颜色
// $uni-font-size-paragraph:30upx;
.rks .cnd-field-label{
	color: red!important;
	// padding: 16upx 8upx;
}
// .rks .cnd-field-value{
// 	// padding: 16upx 8upx!important;
// 	// border-bottom: 1px solid #ececec!important;
// 	// border-radius: 6rpx;
// }
.padding_input input{
	height: 75rpx;
}
// .padding_height{
// 	height: 95rpx;
// 	line-height: 95rpx;
// }
.btn{
	display: flex;
	justify-content: flex-end;
	z-index: 999;
	border-top: 1px solid #dedede;
	.block {
		height: auto!important;
		width: auto!important;
		margin: 18upx 10upx!important;
		border-radius: 14upx!important;
		font-size: 30upx!important;
		padding:12upx 14upx!important;
	}
}
.logout{
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 30upx;
	.primary{
		font-size: 36upx;
		// background-color: #1fa4fd;
	}
}
.new-page {
	.block {
		margin: 0 0rpx;
		width: 100% !important;
		.cnd-button {
			width: 100% !important;
		}
	}
}
// 上传图后


.img-wrapper {
	width:320upx;
	height: 200rpx;
	border-radius: 10rpx;
	overflow: hidden;
}
// .headstock{
// 	.img-wrapper {
// 		width:696rpx;
// 		height: 400rpx;
// 		border-radius: 10rpx;
// 		overflow: hidden;
// 	}
// }
.cnd-upload-cell{
	margin-bottom: 24upx;
}
.headstock{
	margin-top: 200upx!important;
	.img-wrapper {
		width:696rpx!important;
		height: 400rpx!important;
		border-radius: 10rpx!important;
		overflow: hidden!important;
	}
	// .img-box{
	// 	.img-wrapper {
	// 		width: 620upx!important;
	// 		height: 400upx!important;
	// 	}
	// }
	.detail-item{
		flex-direction: column;
		.upload-zhengjianzhao{
			width: 620upx;
			height: 400upx;
		}
	}
	
	.cube-upload-btn{
		display: flex;
		flex-direction: column;
		justify-content: center;
		.icon-camera{
			width: 108upx;
			height: 108upx;
		}
		.upload-text-tips {
			line-height: 38upx;
			margin-bottom: 10upx;
			font-size: 38upx
		}
	}
}
.lockUp{
	.cube-upload-btn{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}
.uni-picker-view-indicator:after, .uni-picker-view-indicator:before {
    border-bottom: 1px solid #0072ff;
}
.uni-picker-item {
    line-height:58rpx!important;
}