<template>
	<view>
		<cnd-navbar color="white" :isBack="true">
			<block slot='content'>基地入仓单</block>
			<block slot='left'>
				<text @click="viewAll">查询</text>
			</block>
		</cnd-navbar>
		<store-loc :list="list" :formData="formData" :sIsFinish="sIsFinish" ref="me" @change="bindParChange"
			 @refresh="getInfo"></store-loc>
		<view style="height: 136rpx"></view>
		<view class="function-box new-page" v-if="!formData.sId">
			<view class="block">
				<cnd-button color="primary" size="block" icon="no" @clickEvent="$noMultipleClicks(save)">确定</cnd-button>
			</view>
		</view>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
	import CndNavbar from './components/cnd-navbar.vue'
	// import CndUploadCell from "cndapp-ui/components/upload/upload";
	import CndButton from "@/components/button/button";
	import StoreLoc from "./components/store-loc.vue";
	import {
		uniToRpx,
		formatTime
	} from "@/common/utils/index.js";
	export default {
		components: {
			CndNavbar,
			// CndUploadCell,
			StoreLoc,
			CndButton
		},
		data() {
			return {
				formData: {
					// 筛选条件
					sId: "",
					parameter: "",
					index: 0,
				},
				formList: {
				},
				sIsFinish: undefined,
				list: {},
				details: {},
				initForm: true,
				isUpdate: false,
				saveing: false,
				userInfo: {},
				role: "",
				roleToo: "",
				salesman: '',
				statusEdit: true,
				noClick: true
			};
		},
		async onLoad(e) {
			// this.statusEdit = JSON.parse(e.statusEdit);
			this.statusEdit = e.statusEdit;
			this.formData.sId = e.sId;
			this.list = JSON.parse(decodeURIComponent(e.items))
			console.log("明细查询数据", this.list,this.statusEdit);
		},
		async onShow() {
			// if (this.formData.sId) {
			// 	// await this.getList();
			// 	this.formList = this.$refs.me.formList;
			// }
		},
		mounted() {
			if (!this.formData.sId) {
				this.formList = this.$refs.me.formList;
			}
			// let userInfo = uni.getStorageSync("userInfo");
			// let roleNameStatus = uni.getStorageSync("roleNameStatus");
			// for (let i in userInfo.role) {
			// 	this.role = userInfo.role[i].roleName == roleNameStatus.deliveryMan; 
			// 	if (this.role == true) break
			// }
			// for (let i in userInfo.role) {
			// 	this.roleToo = userInfo.role[i].roleName == roleNameStatus.deliveryMan_driver;
			// 	if (this.roleToo == true) break
			// }
			// for (let i in userInfo.role) {
			// 	this.salesman = userInfo.role[i].roleName == roleNameStatus.salesman;
			// 	if (this.salesman == true) break
			// }
		},
		methods: {
			viewAll(){
				uni.navigateTo({
					url: `/pagesA/directReleaseOrder/query`
				});
			},
			// async getList() {
			// 	let res = await this.$http(
			// 		"techcomp/ria/commonProcessor!commonMethod.action", {
			// 			dataStores: {},
			// 			parameters: {
			// 				mapParams: {
			// 					sId: this.formData.sId,
			// 				},
			// 				_parameters: "mapParams",
			// 				_parameterTypes: "string",
			// 				dcID: "wmsdeliveryis",
			// 				_boId: "wmsdeliveryis_ifsWmsDeliveryDetailsBO_bo",
			// 				_methodName: "getWmsAppointmentDeliveryDetailsInfoById",
			// 				_methodParameterTypes: "String",
			// 			},
			// 		}
			// 	);
			// 	if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
			// 		let list =
			// 			JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
			// 		console.log("明细查询数据", list);
			// 		this.list = list;
			// 	} else {
			// 		uni.showToast({
			// 			title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
			// 			icon: "none",
			// 			mask: true,
			// 		});
			// 	}
			// },
			// 保存接口
			async save(showResult = true) {
				this.formList.sReceivingTime = Date.parse(new Date(this.formList.sReceivingTime))
				this.formList.sSheetStatus = '70'
				this.formList.sWarehouseId = 'ff808081817ec6d4018180569ce90043'
				this.formList.vSubWarehouseName = '建发钢铁物流(废钢直放库)'
				console.log(
					"打印必填项",
					this.formList.sBase,
					this.formList.sReceivingTime,
					this.formList.sReceivingAddres,
					this.formList.sShipTo,
					this.formList.sShipToTel,
					this.formList.sMaterialType,
					this.formList.vSubMaterialTypeName,
					this.formList.sGrossWeight,
					this.formList.sTareWeight,
					this.formList.sNetWeight,
					this.formList.sBuckleWeight,
					this.formList.sQty,
					this.formList.sLicensePlate,
					this.formList.sDriverTel,
				);
				if (showResult) {
					if (
						!this.formList.sBase ||
						!this.formList.sReceivingTime ||
						!this.formList.sReceivingAddres ||
						!this.formList.sShipTo ||
						!this.formList.sShipToTel ||
						!this.formList.sMaterialType ||
						!this.formList.vSubMaterialTypeName ||
						!this.formList.sGrossWeight ||
						!this.formList.sTareWeight ||
						!this.formList.sNetWeight ||
						!this.formList.sBuckleWeight ||
						!this.formList.sQty ||
						!this.formList.sLicensePlate ||
						!this.formList.sDriverTel
					) {
						// uni.showToast({
						// 	title: "红色字体为必录项，请检查！",
						// 	icon: "none",
						// });
						this.$refs.mpopup.open({
							type:'err',
							content:'红色字体为必录项，请检查！',
							timeout:2000,
							isClick:false
						});
						return;
					}
				}
				if (!/^1\d{10}$/.test(this.formList.sShipToTel)) {
					// uni.showToast({
					// 	title: "联系方式填写错误！",
					// 	icon: "none",
					// });
					this.$refs.mpopup.open({
						type:'err',
						content:'联系方式填写错误！',
						timeout:2000,
						isClick:false
					});
					return;
				}
				if (!/^1\d{10}$/.test(this.formList.sDriverTel)) {
					// uni.showToast({
					// 	title: "司机号码填写错误！",
					// 	icon: "none",
					// });
					this.$refs.mpopup.open({
						type:'err',
						content:'司机号码填写错误！',
						timeout:2000,
						isClick:false
					});
					return;
				}
				uni.showLoading({
					title: '请稍候...',
					mask: true
				});
				let res = await this.$http(
					"techcomp/ria/commonProcessor!commonMethod.action", {
						"dataStores": {
							"entity": {
								"rowSet": {
									"primary": [this.formList], 
									"filter": [ ], 
									"delete": [ ]
								}, 
								"name": "entity", 
								"pageNumber": 1, 
								"pageSize": 2147483647, 
								"recordCount": 0, 
								"rowSetName": "com.cnd.wms.storage.entity.WmsDirectReleaseOrder"
							}
						}, 
						"parameters": {
							"_parameters": "entity", 
							"_parameterTypes": "pojo", 
							"dcID": "wmsis", 
							"_boId": "wmsis_ifsWmsDirectReleaseOrderBO_bo", 
							"_methodName": "saveDirectReleaseOrder", 
							"_methodParameterTypes": "com.cnd.wms.storage.entity.WmsDirectReleaseOrder"
						}
					}
				);
				if (showResult) {
					if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
						// uni.showToast({
						// 	title: "操作成功",
						// 	icon: "none",
						// 	success: () => {
						// 		uni.hideLoading();
						// 		setTimeout(() => {
						// 			let iIndex = getCurrentPages().findIndex(
						// 				(ele) => ele.route === "pages/index/index"
						// 			);
						// 			let iPage = getCurrentPages()[iIndex];
						// 			// iPage.$vm.isReload = true;
						// 			uni.navigateBack({
						// 				delta: iIndex === -1 ? 1 : getCurrentPages()
						// 					.length - iIndex - 1,
						// 			});
						// 		}, 500);
						// 	},
						// });
						this.$refs.mpopup.open({
							type:'success',
							content:'操作成功',
							timeout:2000,
						});
						uni.hideLoading();
						setTimeout(() => {
							let iIndex = getCurrentPages().findIndex(
								(ele) => ele.route === "pages/index/index"
							);
							let iPage = getCurrentPages()[iIndex];
							// iPage.$vm.isReload = true;
							uni.navigateBack({
								delta: iIndex === -1 ? 1 : getCurrentPages()
									.length - iIndex - 1,
							});
						}, 500);
					} else {
						// uni.showToast({
						// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
						// 	icon: "none",
						// 	mask: true,
						// });
						this.$refs.mpopup.open({
							type:'warn',
							content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
							timeout:2500,
							isClick:false
						});
					}
				}
			},
			
		},
	};
</script>
<style>
	page {
		background-color: #f1f5f7;
	}
</style>
<style lang="scss" scoped>
	@import "../../common/style/nav.scss";
	
	.bottom-btn {
		width: 90%;
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
	}
	
	
	/deep/.disabled{
		height: 168rpx;
	}
	/deep/.textareas .cnd-field-value{
		background: whitesmoke!important;
		padding: 12upx 20upx!important;
	}
	/deep/.rks .cnd-field-value{
		// padding: 16upx 8upx!important;
		border-bottom: 1px solid #ececec!important;
		// border-radius: 6rpx;
	}
</style>
<style lang="scss" scoped>
	
</style>
