<template>
	<view class="cnd-option-card-group">
		<slot></slot>
	</view>
</template>

<script>
	export default {
		name: 'cnd-option-card-group',
		data() {
			return {
				currentIndex: 0,
			}
		},
		props: {
			// 项目长度，最多不超过 4 个
			length: {
				type: Number,
				required: true
			},
			// 选中的项目
			value: {
				type: Array,
				default: () => {
					return []
				}
			}
		},
		provide() {
			return {
				optionCardGroup: this,
			}
		},
		methods: {
			// 选中
			check(data,id_key) {
				this.$emit('input', this.value.slice(0, 0).concat(data[id_key]))
				this.$emit('select', data)
			},
		}
	}
</script>

<style lang="scss">
	//引入colors色盘配置
	@import "../style/color/_colors.scss";
	//引入colors状态颜色改变
	@import "../style/color/statusColors.scss";
	//引入fonts字阶行高配置
	@import "../style/font/_font.scss";
	//引入公共样式
	@import "../style/common.scss";
	
	.cnd-option-card-group {
		display: block;
		width: 100%;
		background-color: $gray-0;
		
		box-sizing: border-box;
		border-radius: 8rpx;
		overflow: hidden;
		border: 2rpx solid $gray-3;
	}
</style>
