<template>
	<picker class="cell" :class="{'disabled' : disabled}" :mode="mode" :range="multiArrays" :value="multiIndexs" :disabled="disabled" @columnchange="bindColumnChange" @change="bindChange">
		<slot></slot>
	</picker>
</template>

<script>
	
	Date.prototype.format = function(fmt) { 
		 var o = { 
			"M+" : this.getMonth()+1,                 //月份 
			"d+" : this.getDate(),                    //日 
			"h+" : this.getHours(),                   //小时 
			"m+" : this.getMinutes(),                 //分 
			"s+" : this.getSeconds(),                 //秒 
			"q+" : Math.floor((this.getMonth()+3)/3), //季度 
			"S"  : this.getMilliseconds()             //毫秒 
		}; 
		if(/(y+)/.test(fmt)) {
				fmt=fmt.replace(RegExp.$1, (this.getFullYear()+"").substr(4 - RegExp.$1.length)); 
		}
		 for(var k in o) {
			if(new RegExp("("+ k +")").test(fmt)){
				 fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));
			 }
		 }
		return fmt; 
	} 
	export default {
		name: 'cnd-datepicker',
		props: {
			value: {
				type: [String, Number],
				default () {
					return new Date().format('yyyy-MM-dd hh:mm')
				}
			},
			level: {
				type: [Number, String],
				default () {
					return 1
				}
			},
			disabled: {
				type: Boolean,
				default() {
					return false
				}
			}
		},
		created() {
			this.setDate()
		},
		data() {
			return {
				title: 'datepicker',
				years: [],
				year: '',
				months: [],
				month: '',
				days: [],
				day: '',
				hours: [],
				hour: '',
				minutes: [],
				minute: '',
				multiArray: [],
				multiIndex: [] || 0,
				visible: true,
				indicatorStyle: ``,

				yearsss: [],
				monthsss: [],
				daysss: [],
				hoursss: [],
				minutesss: [],
				multiArrays: [],
				multiIndexs: [] || 0,
			}
		},
		computed: {
			mode() {
				let mode = this.level > 1 ? 'multiSelector' : 'selector'
				return mode
			}
		},
		methods: {
			setDate() {
				let value = this.value ? this.value : new Date().format('yyyy-MM-dd hh:mm')
				let date = ''
				if(this.level === 2) date = new Date(value.replace(/-/g, "/").substr(0, 4), parseInt(value.substr(5, 7)) - 1)
				else if(this.level === 1 || this.level === 3 || this.level === 5) date = new Date(value.replace(/-/g, "/"))
				else if(this.level = 4) date = new Date(value.replace(/-/g, "/").substr(0, 4), parseInt(value.substr(5, 7)) - 1, parseInt(value.substr(8, 2)), parseInt(value.substr(-2, 2)) + 1)
				this.years = []
				const year = date.getFullYear()
				this.months = []
				const month = date.getMonth() + 1
				this.days = []
				const day = date.getDate()
				this.hours = []
				const hour = date.getHours()
				this.minutes = []
				const minute = date.getMinutes()
				const level = this.level
				
				// 下拉展示
				let datas = []
				for (let i = date.getFullYear() - 50; i <= date.getFullYear() + 50; i++) {
					
					this.yearsss.push(i+'年')
				}
				for (let i = 1; i <= 12; i++) {
					this.monthsss.push(i+'月')
				}
				for (let i = 1; i <= new Date(date.getFullYear(), date.getMonth() + 1, 0).getDate(); i++) {
					this.daysss.push(i+'日')
				}
				for (let i = 0; i <= 23; i++) {
					this.hoursss.push(i+'时')
				}
				for (let i = 0; i <= 59; i++) {
					this.minutesss.push(i+'分')
				}
				let multiIndexs
				switch (level) {
					case 1:
						datas = this.yearsss
						multiIndexs = 50
						break;
					case 2:
						datas = [this.yearsss, this.monthsss]
						multiIndexs = [50, month - 1]
						break;
					case 3:
						datas = [this.yearsss, this.monthsss, this.daysss]
						multiIndexs = [50, month - 1, day - 1]
						break;
					case 4:
						datas = [this.yearsss, this.monthsss, this.daysss, this.hoursss] 
						multiIndexs = [50, month - 1, day - 1, hour - 1]
						break;
					case 5:
						datas = [this.yearsss, this.monthsss, this.daysss, this.hoursss, this.minutesss]
						multiIndexs = [50, month - 1, day - 1, hour, minute]
						break;
					default:
						break;
				}
				this.multiArrays = datas
				this.multiIndexs = multiIndexs
				// 选中的时间
				let data = []
				for (let i = date.getFullYear() - 50; i <= date.getFullYear() + 50; i++) {
					
					this.years.push(i)
				}
				for (let i = 1; i <= 12; i++) {
					this.months.push(i)
				}
				for (let i = 1; i <= new Date(date.getFullYear(), date.getMonth() + 1, 0).getDate(); i++) {
					this.days.push(i)
				}
				for (let i = 0; i <= 23; i++) {
					this.hours.push(i)
				}
				for (let i = 0; i <= 59; i++) {
					this.minutes.push(i)
				}
				let multiIndex
				switch (level) {
					case 1:
						data = this.years
						multiIndex = 50
						break;
					case 2:
						data = [this.years, this.months]
						multiIndex = [50, month - 1]
						break;
					case 3:
						data = [this.years, this.months, this.days]
						multiIndex = [50, month - 1, day - 1]
						break;
					case 4:
						data = [this.years, this.months, this.days, this.hours] 
						multiIndex = [50, month - 1, day - 1, hour - 1]
						break;
					case 5:
						data = [this.years, this.months, this.days, this.hours, this.minutes]
						multiIndex = [50, month - 1, day - 1, hour, minute]
						break;
					default:
						break;
				}
				this.multiArray = data
				this.multiIndex = multiIndex
				
			},
			bindColumnChange(e) {
				let column = e.detail.column
				console.log(column)
				let year = null
				let month = null
				let day = null
				// this.$set(this.multiIndex, column, e.detail.value)
				// this.multiIndex[column] = e.detail.value
				switch (column){
					case 0:
						year = this.multiArray[0][e.detail.value]
						this.multiIndex[0] = e.detail.value
						if(this.level >= 3) {
							let d = new Date(year, month, 0).getDate()
							let dayList = []
							for (let i = 1; i < d + 1; i++) {
								dayList.push(i)
							}
							this.days = dayList
							this.multiArray.splice(2, 1, this.days)
						}

						break;
					case 1:
						month = this.multiArray[1][e.detail.value]
						this.multiIndex[1] = e.detail.value
						if (this.level > 2) {
							let d = new Date(year, month, 0).getDate()
							let dayList = []
							for (let i = 1; i < d + 1; i++) {
								dayList.push(i)
							}
							this.days = dayList
							this.multiArray.splice(2, 1, this.days)
							break;
					}
					case 2:
						// this.multiIndex[2] = e.detail.value
						break;
					case 3:
						// this.multiIndex[3] = e.detail.value
						break;
					default:
						break;
				}
			},
			bindChange(e) {
				let [time, year, month, day, hour, minute] = ['', '', '', '', '']
				const level = this.level
				switch (level) {
					case 1:
						year = this.multiArray[e.detail.value] || new Date().getFullYear()
						time = new Date(`${year}`)
						break
					case 2:
						year = this.multiArray[0][e.detail.value[0]] || new Date().getFullYear()
						month = this.multiArray[1][e.detail.value[1]] || new Date().getMonth() + 1
						time = new Date(year, month - 1)  // 暂时无法理解
						break
					case 3:
						year = (this.multiArray[0][e.detail.value[0]] || new Date().getFullYear())
						// let years = '年'
						month = this.multiArray[1][e.detail.value[1]] || new Date().getMonth() + 1
						// let months = '月'
						day = this.multiArray[2][e.detail.value[2]] || new Date().getDate()
						// let days = '日'
						time = new Date(`${year}/${month}/${day}`)
						break
					case 4:
						year = this.multiArray[0][e.detail.value[0]] || new Date().getFullYear()
						month = this.multiArray[1][e.detail.value[1]] || new Date().getMonth() + 1
						day = this.multiArray[2][e.detail.value[2]] || new Date().getDate()
						hour = this.multiArray[3][e.detail.value[3]]
						time = new Date(year, month - 1, day, hour)
						break
					case 5:
						year = this.multiArray[0][e.detail.value[0]] || new Date().getFullYear()
						month = this.multiArray[1][e.detail.value[1]] || new Date().getMonth() + 1
						day = this.multiArray[2][e.detail.value[2]] || new Date().getDate()
						hour = this.multiArray[3][e.detail.value[3]]
						minute = this.multiArray[4][e.detail.value[4]]
						time = new Date(`${year}/${month}/${day} ${hour}:${minute}`)
						break
				}
				this.$emit('change', time)
			}
		},
		watch: {
			value(newVal) {
				if (!newVal) return false
				this.setDate()
			}
		}
	}
</script>

<style lang="scss">
	
	picker {
		width: 100%;
		height: 75rpx;
		line-height: 75rpx;
	}
</style>
