<template>
	<view style="height: 100%;">
		<view class="bg main">
			<view class="img-box">
				<image class="img-rotate" mode="aspectFit" src="../../static/images/login/z.png" />
			</view>
			<view class="content">
				<form @submit="formSubmit" class="input-group">
					<!-- <view class="title">手机快捷登录</view> -->
					<view class="input-row border">
						<i class="iconfonts icon-phones"></i>
						<m-input class="m-input" :type="number" clearable focus  v-model="j_username" name="j_username" placeholder="请输入手机号码" ></m-input>
						<view class="send-code-btn" @click="sendSmsCode">{{codeDuration ? '已发送' + codeDuration + 's' : '发送验证码' }}</view>
					</view>
					<view class="input-row border">
						<i class="iconfonts icon-codes"></i>
						<m-input class="m-input" :type="number" v-model="sms_code" name="sms_code" :disabled="inputDisabled"  placeholder="请输入验证码"></m-input>
					</view>
					<!--  -->
					<view class="input-row border" v-if="ifPhone == false && j_username.length == 11">
						<i class="iconfonts icon-userName"></i>
						<!-- <picker mode="selector" class="m-picker" @change="bindPickerChange" :value="roleData.jobId" :range="roleList">
							<view class="picker">
								{{ roleData.codeName ? roleData.codeName : '请选择角色并注册' }}
							</view>
						</picker> -->
						<view @click='openPicker'>
							<input class="m-input picker" type="text" disabled v-model="roleData.codeName" name="sms_code"  placeholder="请选择角色并注册" />
						</view>
						<custom-picker
							ref="cPicker"
							title="请选择角色并注册"
							titleColor="#808080"
							titleFontSize="26rpx"
							cancelType='icon'
							cancelColor="#999999"
							cancleFontSize="28rpx"
							confirmColor="#4cd964"
							confirmFontSize="34rpx"
							confirmFontWeight="500"
							itemFontSize="32rpx"
							class="aaa"
							@onConfirm="confirmPicker"
							@on_close="closePicker"
							:pickerList="role">
						</custom-picker>
					</view>
					<view class="btn-row">
						<button type="primary" class="primary"  formType="submit">注册 / 登录</button>
						<view class="body">
							<cnd-checkbox v-model="checked" @change="bindCheckboxSingleChange">
								已阅读并同意
								<navigator url="/pages/user/agreement" class="navigator" hover-class="none">
									<text class="app-text">《服务协议》</text>
								</navigator>
								和
								<navigator url="/pages/user/Privacy" class="navigator" hover-class="none">
									<text class="app-text">《隐私政策》</text>
								</navigator>
							</cnd-checkbox>
						</view>
					</view>
				</form>
				

				
			</view>
			<view class="footer-box1">
				<image class="img-d-logo" mode="scaleToFill" src="../../static/images/login/db-logo.png" />
			</view>
		</view>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>
<script>
	import mInput from '@/components/m-input.vue'
	import { uniToRpx } from '@/common/utils/index.js'
	import { baseUrl, getReqTime } from '@/common/utils/index.js'
	import customPicker from '@/components/picjerDiy.vue';
	import CndCheckbox from '@/components/checkbox-new/cnd-checkbox.vue'
	import {  
        mapMutations  
    } from 'vuex';
	export default {
		components: {
			mInput,
			customPicker,
			CndCheckbox
		},
		data() {
			return {
				number:'number',
				// 送货方、业务管理员、司机、保安
				// role: [
				// 	{
				// 		userName: '小程序-废钢库送货人',
				// 		id: '0',
				// 	},
				// 	{
				// 		userName: '小程序-废钢业务管理员',
				// 		id: '1',
				// 	},
				// 	{
				// 		userName: '小程序-废钢库司机',
				// 		id: '2',
				// 	},
				// 	{
				// 		userName: '小程序-废钢保安',
				// 		id: '3',
				// 	}
				// ],
				role: [],
				roleList: [],
				roleId: [],
				roleData: {
					jobId: '请选择角色并注册',
					codeName: "",
				},
				disabled: false,
				phone: '',
				sms_code:"",
				new_one:'',
				new_one2:'',
				positionTop: 0,
				isDevtools: false,
				codeDuration: 0,
                switchValueList: false,
				j_username: "",
				j_password: "",
				//j_password: "jfbx@123",
				// old_j_username: uni.getStorageSync('j_username'),
				isClearAccount: false,
				isClearPassword: false,
				StatusBar: this.StatusBar,
				ifPhone: true,
				checkedPickerVal:'身份证',
				inputDisabled: false,
				checked: false,
				account: '',
			}
		},
		onLoad() {
		},
        onShow() {
			this.sRole()
		},
		computed: {
		},
		methods: {
			uniToRpx,
			bindCheckboxSingleChange(data) {
				console.log(data)
			},
			// 判断号码是否存在
			bindPhone() {
				uni.request({
					url: `${baseUrl}/baseis/ifverificationenable.action`,
					method: "post",
					header: {
						'content-type': "application/json",
					},
					data: {
						"j_username": this.j_username
					},
					success: res => {
						// console.log('判断账号', res.data.data);
						this.ifPhone = res.data.data
						// }
					},
					fail: err => {
						// console.log('err', err)
						// uni.showToast({
						// 	title: '未知异常！',
						// 	icon: 'none',
						// 	mask: true
						// })
						this.$refs.mpopup.open({
							type:'err',
							content:'未知异常！',
							timeout:2000,
							isClick:false
						});
					}
				})
			},
			//关闭
			closePicker(){
				this.inputDisabled = false
			},
			//打开
			openPicker(){
				this.$refs.cPicker._open()
				this.inputDisabled = true
			},
			//确定：接收子组件传来的参数
			confirmPicker(checked){
				this.roleData.jobId = checked.value
				this.roleData.codeName = checked.label
				this.inputDisabled = false
				// console.log('测试选择',this.roleData.jobId, this.roleData.codeName)
			},
			// 角色选择
			// bindPickerChange (e) {
			// 	this.roleData.jobId = this.roleId[e.detail.value]
			// 	this.roleData.codeName = this.role.filter(a => a.id == this.roleData.jobId)[0].description
			// },
			async sRole() {
				uni.request({
					url: `${baseUrl}/baseis/ifrolelistenable.action`,
					method: "post",
					header: {
						'content-type': "application/json",
					},
					data: {
						j_rolename:'小程序-'
					},
					success: res => {
						console.log('角色', res.data.data);
						// if(res.data.Code == '1100'){
							let role = res.data.data
							let roleList = []
							for(let i in role){
								if(role[i].description){
									roleList.push(role[i])
								}
							}
							this.role = roleList.map(ele => {
								return{
									value: ele.id,
									label: ele.description
								}
							})

							// this.roleList = role.map(a => a.description)
							// this.roleId = role.map(b => b.id)
						// }
					},
					fail: err => {
						// console.log('err', err)
						// uni.showToast({
						// 	title: '未知异常！',
						// 	icon: 'none',
						// 	mask: true
						// })
						this.$refs.mpopup.open({
							type:'err',
							content:'未知异常！',
							timeout:2000,
							isClick:false
						});
					}
				})
				// console.log('角色打印', this.roleList, this.roleId )
			},
			// 获取验证码
			sendSmsCode() {
				if (this.codeDuration>0) {
					// uni.showToast({
					// 	title: `请在${this.codeDuration}秒后重试`,
					// 	icon: "none"
					// })
					this.$refs.mpopup.open({
						type:'warn',
						content:`请在${this.codeDuration}秒后重试`,
						timeout:2500,
						isClick:false
					});	
					return
				}
				if (!/^1\d{10}$/.test(this.j_username)) {
					// uni.showToast({
					// 	title: '手机号码填写错误',
					// 	icon: "none"
					// })
					this.$refs.mpopup.open({
						type:'err',
						content:'手机号码填写错误',
						timeout:2000,
						isClick:false
					});
					return
				}
                
				
				uni.request({
					url: `${baseUrl}/baseis/ifsendverificationcode.action`,
					method: 'POST',
					header: { 'content-type': "application/json", },  
					data: {
						j_username: this.j_username,
								
					},
					success: (e) => {
						if (e.data.Code == '0000') {
							// uni.showToast({
							// 	title: '短信已发送',
							// 	icon: 'none',
							// 	mask: true
							// })
							this.$refs.mpopup.open({
								type:'success',
								content:'短信已发送',
								timeout:2000,
							});
							this.codeDuration = 60
							this.codeInterVal = setInterval(() => {
								this.codeDuration--
								if (this.codeDuration === 0) {
									if (this.codeInterVal) {
										clearInterval(this.codeInterVal)
										this.codeInterVal = null
									}
								}
							}, 1000)
						} else {
							// uni.showToast({
							// 	title: '验证码发送失败！',
							// 	icon: 'none',
							// 	mask: true
							// })
							this.$refs.mpopup.open({
								type:'err',
								content:'验证码发送失败！',
								timeout:2000,
								isClick:false
							});
						}

					},
					fail(e) {
						// uni.showToast({
						// 	title: '验证码发送失败',
						// 	icon: 'none',
						// 	mask: true
						// })
						this.$refs.mpopup.open({
							type:'err',
							content:'验证码发送失败！',
							timeout:2000,
							isClick:false
						});
					},
				});
				
			},
			// 验证验证码
			async formSubmit() {
				console.log('账号密码')
				if (this.j_username == '') {
					// uni.showToast({
					// 	title: '手机号不能为空！',
					// 	icon: "none"
					// })
					this.$refs.mpopup.open({
						type:'err',
						content:'手机号不能为空！',
						timeout:2000,
						isClick:false
					});
					return
				}
				if (!/^1\d{10}$/.test(this.j_username)) {
					// uni.showToast({
					// 	title: '手机号码填写错误',
					// 	icon: "none"
					// })
					this.$refs.mpopup.open({
						type:'err',
						content:'手机号码填写错误',
						timeout:2000,
						isClick:false
					});
					return
				}
				if ( this.sms_code == '') {
					// uni.showToast({
					// 	title: '验证码不能为空！',
					// 	icon: "none"
					// })
					this.$refs.mpopup.open({
						type:'err',
						content:'验证码不能为空！',
						timeout:2000,
						isClick:false
					});
					return
				}
				if (!/^\d{6}$/.test(this.sms_code)) {
					// uni.showToast({
					// 	title: '验证码为6位纯数字',
					// 	icon: "none"
					// })
					this.$refs.mpopup.open({
						type:'err',
						content:'验证码为6位纯数字',
						timeout:2000,
						isClick:false
					});
					return
				}
				if ( this.roleData.codeName == '' && this.ifPhone == false) {
					// uni.showToast({
					// 	title: '角色不能为空！',
					// 	icon: "none"
					// })
					this.$refs.mpopup.open({
						type:'err',
						content:'角色不能为空！',
						timeout:2000,
						isClick:false
					});
					return
				}
				if(this.checked === false){
					// uni.showToast({
					// 	title: '请阅读并勾选页面底部协议！',
					// 	icon: "none"
					// })
					this.$refs.mpopup.open({
						type:'warn',
						content:'请阅读并勾选页面底部协议！',
						timeout:2500,
						isClick:false
					});	
					return
				}
				await this.login()
				// uni.reLaunch({
				// 	url: '/pages/index/index'
				// })
				// console.log(e)
				let t = getReqTime()
				// this.$http('/kern/datalim/restlogin.action', { j_username: e.detail.value.j_username, j_password: e.detail.value.j_password })
				uni.showLoading({
					title: '正在登录...',
					mask:true
				})
				uni.request({
					url: `${baseUrl}/baseis/ifsverificationcodeenable.action`,
					method: "post",
					header: {
						'content-type': "application/json",
					},
					data: {
						"j_username": this.j_username, //账号
						"j_code": this.sms_code  //验证码
					},
					// withCredentials: true,
					success: res => {
						if(res.data.Code == '0000'){
							this.account = res.data.account || this.j_username
							uni.setStorageSync('userName', this.account)
							uni.setStorageSync('j_phone', this.j_username)
							uni.setStorageSync('sms_code', this.sms_code)
							// this.login()
							this.login2()
						} else {
							// uni.showToast({
							// 	title: '验证失败，请输入正确验证码!',
							// 	icon: 'none',
							// 	mask: true
							// })
							this.$refs.mpopup.open({
								type:'err',
								content:'验证失败，请输入正确验证码！',
								timeout:2000,
								isClick:false
							});
						}
					},
					fail: err => {
						// console.log('err', err)
						// uni.showToast({
						// 	title: '验证失败，请输入正确验证码!',
						// 	icon: 'none',
						// 	mask: true
						// })
						this.$refs.mpopup.open({
							type:'err',
							content:'验证失败，请输入正确验证码！',
							timeout:2000,
							isClick:false
						});
					}
				})
			},
			// 注册/登录
			login() {
				uni.request({
					url: `${baseUrl}/baseis/ifslogginenable.action`,
					method: "post",
					header: {
						'content-type': "application/json",
					},
					data: {
						"j_username": this.j_username, //账号
						"j_roleid": this.roleData.jobId  //角色
					},
					success: res => {
						// console.log('登录res', res.data)
						uni.hideLoading()
						// uni.showToast({
						// 	title: res.data.Message,
						// 	icon: 'none',
						// 	mask: true
						// })
						this.$refs.mpopup.open({
							type:'success',
							content:'OK',
							timeout:2000,
						});
						this.logins(res.data)
						// uni.setStorageSync('j_phone', this.j_username)
						// uni.setStorageSync("Cookie",res.data.toSID)
						// // #ifdef H5
						// document.cookie = 'JSESSIONID=' + res.data.toSID
						// // #endif
						// uni.setStorageSync('userName', this.account)
						
						
					},
					fail: err => {
						// console.log('err', err)
						// uni.showToast({
						// 	title: '未知异常！',
						// 	icon: 'none',
						// 	mask: true
						// })
						this.$refs.mpopup.open({
							type:'err',
							content:'未知异常！',
							timeout:2000,
							isClick:false
						});
					}
				})
			},
			// 后端获取用户名账号
			login2(){
				// let j_username = this.j_username
				// let j_password = 'Gt' + this.j_username
				uni.request({
					// url: `${baseUrl}/j_spring_security_check?j_username=${this.account}&j_password=${j_password}&useRestful=true`,
					url: `${baseUrl}/j_spring_security_sms_code?j_phone=${this.j_username}&j_sms_code=${this.sms_code}&useRestful=true`,
					method: "POST",
					header: {
						"content-type": "application/x-www-form-urlencoded",
					},
					success: res => {
						// let j_username = uni.getStorageSync('userName')
						// let j_phone = uni.getStorageSync('j_phone')
						// console.log('打印账号',j_username,j_phone)
						console.log('打印sid res',res)
						uni.setStorageSync("Cookie",res.data.id)
						// #ifdef H5
						document.cookie = 'JSESSIONID=' + res.data.id
						// #endif
						uni.reLaunch({
							url: '/pages/index/index'
						})
						if (res.data.code == "1") {
							uni.showModal({
								title: '提示',
								content: '登录异常，请检查后重登！',
								success: (res) => {
									
									if (res.confirm) {
										uni.reLaunch({
											url: '/pages/login/login'
										})
									} else if (res.cancel) {
										uni.reLaunch({
											url: '/pages/login/login'
										})
									}
								}
							})
						}
					},
					fail: err => {
						console.log('err', err)
						this.$refs.mpopup.open({
							type:'err',
							content:'未知异常！',
							timeout:2000,
							isClick:false
						});
					}
				})
			},
			...mapMutations(['logins']) 
			
		},
		watch: {
			j_username(newval) {
				if(newval.length == 11) {
					this.bindPhone()
				}
			},
		}
	}
</script>

<style lang="scss" scoped>
	
	/* #ifdef MP-BAIDU */
	page {
		width: 100%;
		height: 100%;
		display: block;
		min-height: 100vh;
	}
	
	swan-template {
		width: 100%;
		min-height: 100%;
		display: flex;
	}
	
	/* 原生组件模式下需要注意组件外部样式 */
	custom-component {
		width: 100%;
		min-height: 100%;
		display: flex;
	}
	
	/* #endif */
	
	/* #ifdef MP-ALIPAY */

	/* #endif */
	
	/* 原生组件模式下需要注意组件外部样式 */
	m-input {
		width: 100%;
		display: flex;
		flex: 1;
		/* height: 68upx;
		margin: 24upx 24upx; */
	}
	
	.content {
		display: flex;
		flex: 1;
		flex-direction: column;
		background-color: #fff;
		padding: 20upx;
	}
	
	.input-group {
		background-color: #ffffff;
		margin-top: 0;
		position: relative;
	}

	.input-group::after {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		height: 1px;
		content: '';
		-webkit-transform: scaleY(.5);
		transform: scaleY(.5);
		// background-color: #c8c7cc;
	}
	
	.input-row {
		display: flex;
		flex-direction: row;
		position: relative;
		font-size: 36upx;
		/* line-height: 80upx; */
		padding: 32upx 16upx;
	}
	.send-code-btn {
        color: #408cda;
        border-radius: 12upx;
        border: 1px solid #408cda;
        font-size: 28upx;
        padding: 8upx 24upx;
	}
	.input-row .title {
		width: 200upx;
		padding-left: 30upx;
	}
	
	.input-row.border::after {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 16upx;
		height: 1px;
		content: '';
		-webkit-transform: scaleY(.5);
		transform: scaleY(.5);
		background-color: #c8c7cc;
	}
	
	.btn-row {
		margin-top: 70upx;
		padding: 20upx;
	}
	
	button.primary {
		background-color: #408cda;
	}
    /* .title{
        font-size: 42upx;
        font-weight: 600;
        padding: 48upx 16upx;
    } */
	.main {
		width: 100%;
		position: relative;
		z-index: 2;


		.img-box {
			width: 360upx;
			height: 360upx;
			padding-top: 94rpx;
			text-align: center;
			margin: auto;
		}

		.img-rotate {
			width: 300upx;
			height: 300upx;
		}

		.rela {
			position: relative;
		}
		.reset-icon {
			position: absolute;
			z-index: 999;
			top: 50%;
			right: 12rpx;
			font-size: 36rpx;
			color: $gray-4;
			transform: translateY(-50%);
			// opacity: 0.4;
		}
		.footer-box1 {
			padding: 18upx 0;
			background-color: #fff;
			position: fixed;
			width: 100%;
			height: 80upx;
			left: 0;
			bottom: 40rpx;
			z-index: 1;
		}

		.img-d-logo {
			width: 500rpx;
			height: 93rpx;
			display: block;
			margin: 0 auto;
		}
	}
	.m-picker{
		padding-left: 4px;
		display: flex;
		flex-direction: row;
		align-items: center;
		width: 100%;
		flex: 1;
	}
	.iconfonts{
		width: 44upx;
		height: 44upx;
		display: block;
		background-size: 100%;
		float: left;
		margin: 10upx 16upx 0 0;
	}
	.icon-codes{
		background-image: url("../../static/images/login/codes.png");
	}
	.icon-phones{
		background-image: url("../../static/images/login/phones.png");
	}
	.icon-userName{
		background-image: url("../../static/images/login/userName.png");
	}
	.uni-input-placeholder {
		color: black!important;
	}
	.picker{
		width: 600rpx;
		// line-height: 24px;
	}
	.aaa{
		z-index: 99999;
	}
	.body{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		box-sizing: border-box;
		// padding: 20rpx;
		// font-size: 30rpx;
		padding: 32rpx 0 0 0;
		line-height: 52rpx;
	}
	.body .navigator{
		display: contents;
		color: #4191ea;

	}
	// /deep/ .checkbox_input{
	// 	width: 60rpx!important;
	// }
	/deep/ .checkbox_label{
		 font-family: "微软雅黑"!important;
	}
//    /deep/.input-placeholder{
// 	   padding:24rpx 8rpx;
//    }
</style>
