<template>
	<view>
		<!-- <cnd-navbar color="touming" :isBack="true">
			<block slot='content'>预约送货履约协议</block>
		</cnd-navbar> -->
		<!-- <web-view :style="{width: modalWidth, height: modalHeight}" :src="websrc"></web-view>2340px -->
		<!-- <scroll-view class="scroller" scroll-y="true" scroll-with-animation="true"> -->
		<!-- <image class="img-wrapper" :style="{width: modalWidth, height: modalHeight}" :src="infoPdf.staticPath" mode="aspectFill" /> -->
		<!-- <image class="imagesMargin" :style="{width: modalWidth}" :src="infoPdf.staticPath" mode="widthFix"/> -->

		<scroll-view @scrolltolower="onReach" scroll-x="true" scroll-y="true" style="padding-bottom: 130rpx;overflow: auto;"  @touchstart="startMap" @touchmove="moveMap">
	
			<image class="img" @click="bindimg" mode="widthFix" lazy-load='true' :src="infoPdf.staticPath" :style="'width:'+scaleWidth+'px;height:'+h+'px;image-rendering: pixelated;align-self: center;'"/>
		</scroll-view>
		<view class="wxOpen">
			<button type="button" class="button1" @click="launchBtn()">返回</button>
			<button :class="['button3',{button2: showTo == true}]" @click="launchBtn2()">请下滑看完本协议再同意</button>
			
		</view>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
	// import CndNavbar from '@/components/navbar/cnd-navbar.vue'
	export default {
		components: {
			// CndNavbar
		},
		data() {
			return {
                modalHeight: '',
                modalWidth: '',
				showTo: false,
				infoPdf:{},
				distance: 0,	//手指移动的距离
				scale: 1,	//图片的比例
				w: 1400,	//图片真实宽度
				h: 1896,	//图片真实高度
				scaleWidth: 1400,	//图片设显示宽度
				scaleHeight: 1896,	//图片设显示高度
				map:''
			};
		},
		onLoad() {
			
			// this.websrc = this.appUrl + '?url=' + encodeURIComponent(this.pdfUrl.url) + '&tname=' +
			// 			encodeURIComponent(
			// 				this.title)
		},
		async onShow() {
			await this.getInfo()
			
            uni.getSystemInfo({
                success: res => {
                    this.scaleHeight = res.windowHeight;
                    this.scaleWidth = res.windowWidth;
					this.w = res.windowWidth;
					// this.h = res.windowHeight;
					// this.w = res.windowWidth + 'px';
                    console.log('打印屏幕',res)
                }
            });
        },
		mounted() {
			// this.getInfo()
		},
		computed: {
		},
		methods: {
			async getInfo() {
				uni.showLoading({
					title: '加载中...'
				})
				let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
					
					"dataStores": {},
					"parameters": {
						"_parameters": "",
						"_parameterTypes": "",
						"dcID": "wmsdeliveryis",
						"_boId": "wmsdeliveryis_ifsWmsAppointmentProtocolBO_bo",
						"_methodName": "queryWmsAppointmentProtocolInfo",
						"_methodParameterTypes": ""
					},
				});
				if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
					let data = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
					this.infoPdf = data
					uni.getImageInfo({
						src:this.infoPdf.staticPath,
						success: function (image) {
							console.log(image.width);
							console.log(image.height);
							// this.w = image.width;
							this.h = image.height;
							
							console.log('打印屏幕image',image)
						},
					});
					uni.hideLoading()
					console.log('附件', this.infoPdf)
				} else {
					// uni.showToast({
					// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					// 	icon: 'none',
					// 	mask: true
					// });
					this.$refs.mpopup.open({
						type:'warn',
						content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
						timeout:2500,
						isClick:false
					});	
				}
			},
			startMap(e){
				// 单手指缩放开始，不做任何处理
				if (e.touches.length == 1) return;
				// 当两根手指放上去的时候，将距离(distance)初始化。
				let xMove = e.touches[1].clientX - e.touches[0].clientX;
				let yMove = e.touches[1].clientY - e.touches[0].clientY;
				//计算开始触发两个手指坐标的距离
				let distance = Math.sqrt(xMove * xMove + yMove * yMove);
				this.distance = distance
			},
			moveMap(e){
				if (e.touches.length == 1) return;
				//双手指运动 x移动后的坐标和y移动后的坐标
				let xMove = e.touches[1].clientX - e.touches[0].clientX;
				let yMove = e.touches[1].clientY - e.touches[0].clientY;
				//双手指运动新的 ditance
				let distance = Math.sqrt(xMove * xMove + yMove * yMove);
				//计算移动的过程中实际移动了多少的距离
				let distanceDiff = distance - this.distance;
				let newScale = this.scale + 0.004 * distanceDiff
				
				if (newScale >= 1 && newScale <= 3) {
				    let scaleWidth = newScale * this.w
				    let scaleHeight = newScale * this.h
				    this.distance= distance
				    this.scale= newScale
				    this.scaleWidth = scaleWidth
				    this.scaleHeight = scaleHeight
				}
				// else if(newScale >= 0.3 && newScale <= 1){
				// 	let scaleWidth = newScale * this.w
				// 	let scaleHeight = newScale * this.h
				// 	this.distance= distance
				// 	this.scale= newScale
				// 	this.scaleWidth = scaleWidth
				// 	this.scaleHeight = scaleHeight
				// }
			},
			onReachBottom(){
				this.showTo = true
			},
			async launchBtn(){
				uni.navigateBack({
					delta: 1
				})
			},
			async launchBtn2(){
				if (this.showTo == true) {
					uni.navigateTo({
						url: '/pagesA/bookingDelivery/index?statusEdit=false'
					})
				}
				
			},
			
			
		}
	};
</script>

<style lang="scss">
	
	.wxOpen{
		 display: flex;
		flex-direction: row;
		flex-wrap: nowrap; 
		width: 100%;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		// display: flex;
	}
	.wxOpen .button3{
		float: left;
		width: 70%;
		// padding-bottom: 15px;
		color: #fff;
		border: 1px solid rgb(182, 182, 182);
		background-color: rgb(182, 182, 182);
		font-size: 31rpx;
		text-align: center;
		padding: 12px;
		border-radius: 0;
	}
	.wxOpen .button2{
		float: left;
		width: 70%;
		// padding-bottom: 15px;
		color: #fff;
		border: 1px solid #4cd964;
		background-color: #4cd964;
		font-size: 31rpx;
		text-align: center;
		padding: 12px;
		border-radius: 0;
	}
	.wxOpen .button1{
		float: left;
		width: 30%;
		// padding-bottom: 15px;
		color: #fff;
		border: 1px solid #007aff;
		background-color: #007aff;
		font-size: 31rpx;
		text-align: center;
		padding: 12px;
		border-radius: 0;
	}
	// .btn{padding: 12px}
	.imagesMargin{
		margin-bottom: 130rpx;
	}
</style>
