<template>
	<view>
		<store-loc :list="list" :formData="formData" :sIsFinish="sIsFinish" ref="me" @change="bindParChange"
			:statusEdits="statusEdit" @refresh="getInfo"></store-loc>
		<view style="height: 136rpx"></view>
		<view class="function-box new-page">
			<view class="block" v-if="
			(formData.sId && salesman && list.sSheetStatus == '10')||(formData.sId && salesman && list.sSheetStatus == '20')
			">
				<cnd-button color="primary" size="block" icon="no" @clickEvent="modify">确认修改</cnd-button>
			</view>
			<view class="block" v-if="
			(formData.sId && role && list.sSheetStatus == '50') ||
			(formData.sId && role && list.sSheetStatus == '60') ||
			(formData.sId && roleToo && list.sSheetStatus == '50') ||
			(formData.sId && roleToo && list.sSheetStatus == '60')
			">
				<cnd-button color="primary" size="block" icon="no" @clickEvent="modify">提交预约</cnd-button>
			</view>
			<view class="block" v-if="!formData.sId">
				<cnd-button color="primary" size="block" icon="no" @clickEvent="save">提交预约</cnd-button>
			</view>
		</view>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
	// import CndNavbar from "@/components/navbar/cnd-navbar";
	// import CndUploadCell from "cndapp-ui/components/upload/upload";
	import CndButton from "@/components/button/button";
	import StoreLoc from "./components/store-loc.vue";
	import {
		uniToRpx,
		formatTime
	} from "@/common/utils/index.js";
	export default {
		components: {
			// CndNavbar,
			// CndUploadCell,
			StoreLoc,
			CndButton
		},
		data() {
			return {
				formData: {
					// 筛选条件
					sId: "",
					parameter: "",
					index: 0,
				},
				formList: {
					sId: "", //主id
					sWarehouseId: "", //仓库id
					sWarehouseName: "", //仓库名称
					sWarehouseAddress: "", //仓库地址
					sDeliveryDate: "", //送货日期
					sArtId: "", //料型id
					sArtName: "", //料型名称
					sWeight: null, //吨数/重量
					sDeliveryParty: "", //送货方
					sDeliveryPartyPhoneNumber: "", //送货联系方式
					sCarNo: "", //车牌号
					sDriverPhoneNumber: "", //司机电话
					sUserPhoneNumber: "", //创建预约单用户电话号码（预留）
					sRemark: "", //备注
					sThicknessRange: '', // 厚度范围
				},
				sIsFinish: undefined,
				list: {},
				details: {},
				initForm: true,
				isUpdate: false,
				saveing: false,
				userInfo: {},
				role: "",
				roleToo: "",
				salesman: '',
				statusEdit: true,
			};
		},
		async onLoad(e) {
			let {
				sId,
				index,
				sIsFinish,
			} = e;
			this.statusEdit = JSON.parse(e.statusEdit);
			this.formData.sId = sId;
			this.sIsFinish = ~~sIsFinish;
		},
		async onShow() {
			if (this.formData.sId) {
				await this.getList();
				this.formList = this.$refs.me.formList;
			}
			this.$refs.me.addressObj2();
		},
		mounted() {
			if (!this.formData.sId) {
				this.formList = this.$refs.me.formList;
			}
			let userInfo = uni.getStorageSync("userInfo");
			let roleNameStatus = uni.getStorageSync("roleNameStatus");
			for (let i in userInfo.role) {
				this.role = userInfo.role[i].roleName == roleNameStatus.deliveryMan; 
				if (this.role == true) break
			}
			for (let i in userInfo.role) {
				this.roleToo = userInfo.role[i].roleName == roleNameStatus.deliveryMan_driver;
				if (this.roleToo == true) break
			}
			for (let i in userInfo.role) {
				this.salesman = userInfo.role[i].roleName == roleNameStatus.salesman;
				if (this.salesman == true) break
			}
		},
		methods: {
			async getList() {
				let res = await this.$http(
					"techcomp/ria/commonProcessor!commonMethod.action", {
						dataStores: {},
						parameters: {
							mapParams: {
								sId: this.formData.sId,
							},
							_parameters: "mapParams",
							_parameterTypes: "string",
							dcID: "wmsdeliveryis",
							_boId: "wmsdeliveryis_ifsWmsDeliveryDetailsBO_bo",
							_methodName: "getWmsAppointmentDeliveryDetailsInfoById",
							_methodParameterTypes: "String",
						},
					}
				);
				if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
					let list =
						JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
					console.log("明细查询数据", list);
					this.list = list;
				} else {
					// uni.showToast({
					// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					// 	icon: "none",
					// 	mask: true,
					// });
					this.$refs.mpopup.open({
						type:'warn',
						content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
						timeout:2500,
						isClick:false
					});	
				}
			},
			// 保存接口
			async save(showResult = true) {
				this.formList.sUserPhoneNumber = uni.getStorageSync("j_phone");
				console.log(
					"打印必填项",
					this.formList.sWarehouseName,
					this.formList.sDeliveryDate,
					this.formList.sArtName,
					this.formList.sWeight,
					this.formList.sDeliveryParty,
					this.formList.sDeliveryPartyPhoneNumber,
					this.formList.sCarNo,
					this.formList.sDriverPhoneNumber
				);
				if (showResult) {
					if (
						!this.formList.sWarehouseName ||
						!this.formList.sDeliveryDate ||
						!this.formList.sArtName ||
						!this.formList.sWeight ||
						!this.formList.sDeliveryParty ||
						!this.formList.sDeliveryPartyPhoneNumber ||
						!this.formList.sCarNo ||
						!this.formList.sDriverPhoneNumber ||
						!this.formList.sThicknessRange
					) {
						// uni.showToast({
						// 	title: "红色字体为必录项，请检查！",
						// 	icon: "none",
						// });
						this.$refs.mpopup.open({
							type:'warn',
							content:"红色字体为必录项，请检查！",
							timeout:2500,
							isClick:false
						});	
						return;
					}
				}
				if (!/^1\d{10}$/.test(this.formList.sDeliveryPartyPhoneNumber)) {
					// uni.showToast({
					// 	title: "联系方式填写错误！",
					// 	icon: "none",
					// });
					this.$refs.mpopup.open({
						type:'warn',
						content:"联系方式填写错误！",
						timeout:2500,
						isClick:false
					});	
					return;
				}
				if (!/^1\d{10}$/.test(this.formList.sDriverPhoneNumber)) {
					// uni.showToast({
					// 	title: "司机号码填写错误！",
					// 	icon: "none",
					// });
					this.$refs.mpopup.open({
						type:'warn',
						content:"司机号码填写错误！",
						timeout:2500,
						isClick:false
					});	
					return;
				}
				uni.showLoading({
					title: '请稍候...',
					mask: true
				});
				let res = await this.$http(
					"techcomp/ria/commonProcessor!commonMethod.action", {
						dataStores: {},
						parameters: {
							mapParams: this.formList,
							_parameters: "mapParams",
							_parameterTypes: "string",
							dcID: "wmsdeliveryis",
							_boId: "wmsdeliveryis_ifsWmsDeliveryDetailsBO_bo",
							_methodName: "createWmsAppointmentDeliveryDetails",
							_methodParameterTypes: "String",
						},
					}
				);
				if (showResult) {
					if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
						// uni.showToast({
						// 	title: "预约成功",
						// 	icon: "none",
						// 	success: () => {
						// 		uni.hideLoading();
						// 		setTimeout(() => {
						// 			let iIndex = getCurrentPages().findIndex(
						// 				(ele) => ele.route === "pages/index/index"
						// 			);
						// 			let iPage = getCurrentPages()[iIndex];
						// 			iPage.$vm.isReload = false;
						// 			uni.navigateBack({
						// 				delta: iIndex === -1 ? 1 : getCurrentPages()
						// 					.length - iIndex - 1,
						// 			});
						// 		}, 500);
						// 	},
						// });
						this.$refs.mpopup.open({
							type:'success',
							content:'预约成功',
							timeout:2000,
						});
						uni.hideLoading();
						setTimeout(() => {
							let iIndex = getCurrentPages().findIndex(
								(ele) => ele.route === "pages/index/index"
							);
							let iPage = getCurrentPages()[iIndex];
							iPage.$vm.isReload = false;
							uni.navigateBack({
								delta: iIndex === -1 ? 1 : getCurrentPages()
									.length - iIndex - 1,
							});
						}, 500);
					} else {
						// uni.showToast({
						// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
						// 	icon: "none",
						// 	mask: true,
						// });
						uni.hideLoading();
						this.$refs.mpopup.open({
							type:'warn',
							content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
							timeout:2800,
							isClick:false
						});	
					}
				}
			},
			// 预约修改
			async modify(showResult = true) {
				this.formList.sUserPhoneNumber = uni.getStorageSync("j_phone");
				this.formList.sDeliveryDate = formatTime(
					this.formList.sDeliveryDate,
					"Y-M-D"
				);
				if (showResult) {
					if (
						!this.formList.sWarehouseName ||
						!this.formList.sDeliveryDate ||
						!this.formList.sArtName ||
						!this.formList.sWeight ||
						!this.formList.sDeliveryParty ||
						!this.formList.sDeliveryPartyPhoneNumber ||
						!this.formList.sCarNo ||
						!this.formList.sDriverPhoneNumber ||
						!this.formList.sThicknessRange
					) {
						// uni.showToast({
						// 	title: "红色字体为必录项，请检查！",
						// 	icon: "none",
						// });
						this.$refs.mpopup.open({
							type:'warn',
							content:"红色字体为必录项，请检查！",
							timeout:2500,
							isClick:false
						});	
						return;
					}
				}
				uni.showLoading({
					title: '请稍候...',
					mask: true
				});
				let res = await this.$http(
					"techcomp/ria/commonProcessor!commonMethod.action", {
						dataStores: {},
						parameters: {
							mapParams: this.formList,
							_parameters: "mapParams",
							_parameterTypes: "string",
							dcID: "wmsdeliveryis",
							_boId: "wmsdeliveryis_ifsWmsDeliveryDetailsBO_bo",
							_methodName: "updateWmsAppointmentDeliveryDetailsInfoById",
							_methodParameterTypes: "String",
						},
					}
				);
				if (showResult) {
					if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
						// uni.showToast({
						// 	title: "预约成功",
						// 	icon: "none",
						// 	success: () => {
						// 		uni.hideLoading();
						// 		// uni.reLaunch({
						// 		// 	url: `/pages/queryProgress/index`,
						// 		// });
						// 		setTimeout(() => {
						// 			let iIndex = getCurrentPages().findIndex(ele => ele.route === 'pages/queryProgress/index')
						// 			let iPage = getCurrentPages()[iIndex]
						// 			iPage.$vm.isReload = false
						// 			uni.navigateBack({
						// 				delta: iIndex === -1 ? 1 : getCurrentPages().length - iIndex - 1
						// 			})
						// 		}, 500)
						// 	},
						// });
						this.$refs.mpopup.open({
							type:'success',
							content:'预约成功',
							timeout:2000,
						});
						uni.hideLoading();
						setTimeout(() => {
							let iIndex = getCurrentPages().findIndex(ele => ele.route === 'pages/queryProgress/index')
							let iPage = getCurrentPages()[iIndex]
							iPage.$vm.isReload = false
							uni.navigateBack({
								delta: iIndex === -1 ? 1 : getCurrentPages().length - iIndex - 1
							})
						}, 500)
					} else {
						// uni.showToast({
						// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
						// 	icon: "none",
						// 	mask: true,
						// });
						this.$refs.mpopup.open({
							type:'warn',
							content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
							timeout:2500,
							isClick:false
						});
					}
				}
			},
		},
	};
</script>
<style>
	page {
		background-color: #f1f5f7;
	}
</style>
<style lang="scss" scoped>
	@import "../../common/style/nav.scss";
	
	.bottom-btn {
		width: 90%;
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
	}
	
	
	/deep/.disabled{
		height: 168rpx;
	}
	/deep/.textareas .cnd-field-value{
		background: whitesmoke!important;
		padding: 12upx 20upx!important;
	}
	/deep/.rks .cnd-field-value{
		// padding: 16upx 8upx!important;
		border-bottom: 1px solid #ececec!important;
		// border-radius: 6rpx;
	}
</style>
<style lang="scss" scoped>
	
</style>
