<template>
	<view class="content">
		<!-- // 选取地点后的确定和取消按钮 -->
		<!-- <view class="btns"> 
			<view @click="back">取消</view>
			<view @click="checkAdd">确定</view>
		</view> -->
		<!-- // 地图部分 -->
		 <map style="width: 100%; height: 52vh;position: relative;" :show-location="false" name="dongshan" :latitude="latitude" :longitude="longitude" :markers="markers" @tap="tap" :include-points="markers" :scale="16">
			 <view class="fanhui iconfont icon-cnd-arrow-short-back" @click="back"></view>
			 <image @tap="reserGeo()" class="toos" src="../../static/images/map2.png" />
		 </map>
		 <!-- <view id="container"></view> -->
		 <!-- // 搜索框 -->
		 <view class="inputCon">
			 <view class="searchView">
				 <text class="iconfont icon-sousuo"></text>
				 <input type="text" placeholder="搜索地点" v-model="searchWords" confirm-type="search" @confirm="searchFn"/>
				 <text @click="cancel">取消</text>
			 </view>
		 </view>
		 <!-- // 地点列表部分 -->
		 <view class="list">
			 <view class="item" v-for="(add,index) in mapData" :key="index"
			 :class="selectIndex==index?'actives':''" >
				<view class="bodys">
					<view class="text-area">
						<!-- <view class="item">
							<image class="logo" src="../../static/images/map2.png"  :class="{'actives': checkedValue.indexOf(add.sId)!=-1}"/>
						</view> -->
						<view class="item2" @click="select(add,index)">
							<view class="title">{{add.sName}}</view>
							<view class="sAddress">{{add.mapDesc}}</view>
							<view class="distance">距离：{{add.distance + 'km'}}</view>
						</view>
						<view class="item_right">
							<view class="buttonadd" @click="checkAdd(add)">选择</view>
							<image  @tap="openMap(add)" class="logo" src="../../static/images/map3.png" />
						</view>
					</view>
				</view>

				 <!-- <view class="name">{{add.name}}</view>
				 <view class="address">{{add.title || ''}}{{add.address || ''}}</view> -->
			 </view>
		 </view>
		 <my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
	// 引入高德地图api提供的微信小程序的接口
	let amapFile = require('@/common/amap-wx.130.js');
	// 创建地图.微信小程序
	let myAmapFun = new amapFile.AMapWX({key: '062a2f9e0e92740d9d3a29a169ac53ce'});
	export default {
		props:{
			pickerList: { //数据
				type: Array
			},
		}, 
		data(){
			return{
				mapKey: '062a2f9e0e92740d9d3a29a169ac53ce',
				checkedValue: '',
				selectIndex:undefined,
				selectAddr:{},
				searchWords:"",
				id:0, // 使用 marker点击事件 需要填写id
				title: 'map',
				latitude: null,
				longitude: null,
				markers: [{
					latitude: null,
					longitude: null,
					width:30,
					height:30,
					iconPath: '../../static/images/map1.png',
					address: '',//marker 地址
					name: '',//marker 名字
					callout: { //marker气泡
						content: '',
						color: "#fff",
						bgColor: "#84cffb",
						borderRadius: 10,
						fontSize: 12,
						textAlign: "center",
						padding: 5,
						display: 'ALWAYS',
					},
				},
				{}],
				mapData: [],
				dataTips:[],
				// *找距离
				distance: 0, //"距离"
				scale: 16, // 默认16
				markerHeight: 30,
				doorAddress: [], //地址
				dongshanmap:'',
				mapShow: true,
				desc: '',
			}
		},
		onLoad(options) {
			this.doorAddress = JSON.parse(decodeURIComponent(options.items))
			this.mapData = this.doorAddress
			// this.mapLat()
			if(options && options.lng){
				this.longitude = options.lng;
				this.markers[0].longitude = this.longitude;
			}
			if(options && options.lat){
				this.latitude = options.lat;
				this.markers[0].latitude = this.latitude;
			}
			this.mapData = this.mapData.map(ele =>{
				return{
					...ele,
					distance: '', // 距离
					mapDesc: '' // 详细地址
				}
			})
			console.log('仓库列表', this.mapData)
			//* 获取当前位置的地点列表
			myAmapFun.getPoiAround({
				success: (data)=>{
					// console.log("获取当前的列表",data);
					this.dataTips = this.mapData
					this.reserGeo()
				},
				fail: (info)=>{
					console.log(info)
				}
			})
			this.mapLat()
			
		},
		methods:{
			// *拼接详细地址
			mapLat(){
				for(let index in this.mapData){
					var location = this.mapData[index].sLongitude +','+this.mapData[index].sLatitude
					myAmapFun.getRegeo({
						location: location,
						success: (data)=>{
							// console.log("获取指定定位信息",data);
							this.markers[0].latitude = data[0].latitude;
							this.markers[0].longitude = data[0].longitude;
							this.mapData[index].mapDesc = this.mapData[index].sAddress + '（' + data[0].desc + '）'
							this.reserGeo()
							// console.log("获取指定定位信息具体地址",this.mapData[index].mapDesc);
						},
						fail: (info)=>{
							console.log(info);
						}
					})
				}
			},
			// *选择地点后，将选取的地点传递到前一个页面中
			checkAdd(add){
				console.log('address', add);
				uni.setStorageSync('address', add);
				let pages = getCurrentPages();// 获取所有的页面栈
				let prevPage = pages[pages.length - 2]; // 找到上一个页面，注意是页面，如果是页面中有组件，则需要通过页面接受到数据后，再次往组件中传递
				// prevPage.$vm.addressObj(add)
				prevPage.$vm.addressObj = add
				
				uni.navigateBack();
			},
			back(){
				uni.navigateBack();
			},
			cancel(){
				if(this.searchWords){
					this.searchWords = "";
					myAmapFun.getPoiAround({
					  location: this.markers[0].longitude+','+this.markers[0].latitude,
					  success: (data)=>{
						// console.log("获取当前的列表",data);
						this.mapData = this.doorAddress
						this.dataTips = this.mapData
					  },
					  fail: (info)=>{
						console.log(info)
					  }
					})
				}
			},
			reserGeo(){
				myAmapFun.getRegeo({
					success: (data)=>{
						const that = this;
						that.selectIndex = undefined
						console.log("获取当前定位信息",data);
						this.mapToo(data[0].longitude, data[0].latitude,data[0].name, data[0].latitude,data[0].desc)
					},
					fail: (info)=>{
					console.log(info)
					}
				})
			},
			// *设置目标地点经纬度
			mapToo(longitude, latitude, name, desc){
				const that = this;
				that.longitude = longitude; //118.787575;
				that.latitude = latitude; //32.05024;
				var long = 0;
				var lat = 0;
				//小数点保留六位  经度
				if (that.longitude.toString().indexOf('.') > 0) {
					const longlatsplit = that.longitude.toString().split('.');
					if (longlatsplit.length >= 2) {
						long = parseFloat(longlatsplit[0] === "" ? 0 : longlatsplit[0]) + parseFloat("." + longlatsplit[1].slice(0,6));
					}
				}
				if (that.latitude.toString().indexOf('.') > 0) {
					const longlatsplit1 = that.latitude.toString().split('.');
					if (longlatsplit1.length >= 2) {
						lat = parseFloat(longlatsplit1[0] === "" ? 0 : longlatsplit1[0]) + parseFloat("." + longlatsplit1[1].slice(0,6));
					}
				}
				// console.log("经纬度", long,lat);
				
				that.markers = [{
					id: 0,
					latitude: latitude,
					longitude: longitude,
					width:30,
					height:30,
					iconPath: '../../static/images/map1.png',
					address: desc,//marker 地址
					name: name,//marker 名字
					callout: { //marker气泡
						content: '当前位置：' + name,
						color: "#fff",
						bgColor: "#84cffb",
						borderRadius: 10,
						fontSize: 12,
						textAlign: "center",
						padding: 5,
						display: 'ALWAYS',
					},
				},];
				that.getList(long,lat);
			},
			// *根据地址列表中选择某一个地点
			select(add,index){
				// console.log(add);
				if(!add){
					return;
				}
				this.selectIndex = index;
				console.log(location);
				this.markers[0].latitude = +add.sLatitude;
				this.markers[0].longitude = +add.sLongitude;
				
				this.markers = [{
					latitude: add.sLatitude,
					longitude: add.sLongitude,
					width:30,
					height:30,
					iconPath: '../../static/images/map1.png',
					address: add.mapDesc,//marker 地址
					name: add.sName,//marker 名字
					callout: { //marker气泡
						content: '目标位置：' + add.sName,
						color: "#fff",
						bgColor: "#84cffb",
						borderRadius: 10,
						fontSize: 12,
						textAlign: "center",
						padding: 5,
						display: 'ALWAYS',
					},
				},];
			},
			// *在地图上点击进行选点，这个选点在地图缩放比例较大时无效，因为精读的问题。
			tap(e){
				var location = e.detail.longitude +','+e.detail.latitude
				myAmapFun.getRegeo({
				  location: location,
				  success: (data)=>{
					// console.log("获取指定定位信息",data);
					this.markers[0].latitude = data[0].latitude;
					this.markers[0].longitude = data[0].longitude;
					this.markers = [{
						id: 0,
						latitude: data[0].latitude,
						longitude: data[0].longitude,
						width:30,
						height:30,
						iconPath: '../../static/images/map1.png',
						address: data[0].desc,//marker 地址
						name: data[0].name,//marker 名字
						callout: { //marker气泡
							content: '已选位置：' + data[0].name,
							color: "#fff",
							bgColor: "#84cffb",
							borderRadius: 10,
							fontSize: 12,
							textAlign: "center",
							padding: 5,
							display: 'ALWAYS',
						},
					},];
					myAmapFun.getPoiAround({
					  location: data[0].longitude+','+data[0].latitude,
					  success: (data)=>{
						// console.log("获取当前的列表",data);
						this.dataTips = this.mapData
					  },
					  fail: (info)=>{
						console.log(info)
					  }
					})
				  },
				  fail: (info)=>{
					console.log(info);
				  }
				})
			},
			// *根据内容进行检索
			async searchFn(){
				// console.log("根据地址检索",this.searchWords);
				let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				
					"dataStores": {},
					"parameters": {
						"mapParams": {
							"nameOrAddress": this.searchWords,
							"pageNum":1,
							"pageSize":9999
						},
						"_parameters": "mapParams",
						"_parameterTypes": "string",
						"dcID": "wmsdeliveryis",
						"_boId": "wmsdeliveryis_ifsWmsDeliveryDetailsBO_bo",
						"_methodName": "getAllWareHouseListForMiniAppByPage",
						"_methodParameterTypes": "String"
					}
				});
				if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
					let material = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
					if(material){
					
						let mapList = material.map(ele => {
							return{
								...ele
							}
						})
						this.mapData = mapList
						this.mapLat()
						// console.log("根据地址检索2",this.mapData);
					}
						
				} else {
					// uni.showToast({
					// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					// 	icon: 'none',
					// 	mask: true
					// });
					this.$refs.mpopup.open({
						type:'warn',
						content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
						timeout:2500,
						isClick:false
					});
				}
				uni.hideLoading();
			},

			// *找距离
			
			getList(long,lat) {
				for(let i in this.mapData){
					this.getMapDistance(String(long),String(lat),this.mapData[i].sLongitude,this.mapData[i].sLatitude, this.mapData[i]);
					// console.log('所有经纬度',this.mapData[i].sLongitude,this.mapData[i].sLatitude,String(long),String(lat));
				}	
			},

			openMap(add) {
				this.selectIndex = null
				// console.log("获取经纬度ssssfff", add.longitude, add.latitude);
				//*打开地图，并将位置传入
				uni.getLocation({
					success: res => {
						// res.latitude=lat;
						// res.longitude=lon;
						// console.log('location success',  parseFloat(add.longitude), parseFloat(add.latitude))
						uni.openLocation({
							latitude: parseFloat(add.sLatitude),
							longitude: parseFloat(add.sLongitude),
							name:add.sName,
          					address:add.mapDesc,
							scale: 16
						})
					}
					
				})
			},
			/*
				*根据行驶路线计算距离，参数分别为第一点的纬度，经度；第二点的纬度，经度
			*/
			getMapDistance(lat1, lng1, lat2, lng2, datas) {
				myAmapFun.getDrivingRoute({
					origin: lat1 + ',' + lng1, // 起点经纬度
					destination: lat2 + ',' + lng2, // 终点经纬度
					success: function(data) {
						// 下面的代码非主要功能，看需求
						if (data.paths[0] && data.paths[0].distance) {
							this.distance = Number(data.paths[0].distance)
						}
						datas.distance = (Math.round(this.distance) / 2 / 500).toFixed(2) //输出公里
						// console.log('距离',datas.distance);
						
					},
					fail: function(info) {}
				})
				this.mapData.sort( (a,b)=>{return a.distance - b.distance;})
				
				// console.log('返回对象从小到大正向',this.mapData.sort( (a,b)=>{return a.distance - b.distance;}))
			},

			//   *初次位置授权
			// getAuthorize() {
			// 	return new Promise((resolve, reject) => {
			// 		uni.authorize({
			// 			scope: "scope.userLocation",
			// 			success: () => {
			// 				resolve(); // 允许授权
			// 			},
			// 			fail: () => {
			// 				reject(); // 拒绝授权
			// 			},
			// 		});
			// 	});
			// },
		}
	}
</script>

<style lang="scss" scoped>
.item_right{
	width: 20%;
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
}
.item_right .logo{
	width: 42rpx;
    height: 42rpx;
    border-radius: 50%;
    background: #ededed;
    padding: 16rpx;
}
.fanhui{
	position: absolute;
	top:88rpx;
	left:30rpx;	
	font-size: 60rpx;
	color: #333;
}
.toos{
	position: absolute;
	bottom:100rpx;
	right:30rpx;	
	width: 52rpx;
    height: 52rpx;
}
	.btns{
		position: fixed;
		bottom:0;
		left:0;
		// height:260upx;
		width:100%;
		background:linear-gradient(to bottom,rgba(0,0,0,0.4),rgba(0,0,0,0));
		display: flex;
		align-items: center;
		justify-content: space-between;
		z-index:10 !important;
		view{
			margin:0 24upx 24upx;
			font-size:30upx;
			&:first-child{
				color:#fff;
			}
			&:last-child{
				width:100upx;
				height:60upx;
				line-height: 60upx;
				text-align: center;
				border-radius: 10upx;
				background:#E13500;
				color:#fff;
			}
		}
	}
	.content{
		background: #f3f3f3;
		.list{
			height:calc(48vh - 100upx);
			overflow-y: auto;
			width:702upx;
			margin:-40upx auto 0;
			padding-bottom:20upx;
			.item{
				// border-bottom:2upx solid #f3f3f3;
				// border-right: 1px solid #dedede!important;
				// width: 80%;
				// &:last-child{
				// 	border:none;
				// }
				.address{
					font-size:22upx;
					color:#666;
					margin:10upx 0;
				}
				.name{
					font-size:30upx;
					color:#333;
					margin-top:10upx;
				}
				&.active{
					.name{
						font-weight: bold;
						color:#E13500;
					}
					.address{
						color:#E13500;
					}
				}
			}
		}
		.inputCon{
			width:100%;
			background:#f3f3f3;
			top:-60upx;
			position: relative;
			z-index:20;
			height:100upx;
			display: flex;
			align-items: center;
			justify-content: center;
			.searchView{
				width:702upx;
				height:60upx;
				display: flex;
				align-items: center;
				line-height: 60upx;
				border-radius: 40upx;
				padding:0 30upx;
				box-sizing: border-box;
				background:#fff;
				font-size:26upx;
				.iconfont{
					color:#666;
					margin-right:20upx;
				}
				input{
					flex:1;
				}
				view{
					flex-shrink: 0;
				}
			}
		}
		
	}
	// 找距离
	.bodys {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.logo {
		width: 100%;
		height: 100%;
	}

	.text-area {
		// border: 1px solid #CCCCCC;
		padding: 4px 4px;
		width: 95%;
		height: 200rpx;
		display: flex;
		justify-content:space-around;
	}
	.actives{
		border: 1px solid #00a72a;
	}
	.title {
		/* border: 1px solid; */
		font-size: 39rpx;
		color: #8f8f94;
		flex: 1;
		font-size: 30rpx;
		line-height: 40rpx;
    	text-align: left;
	}
	.sAddress{
		font-size: 30rpx;
		line-height: 40rpx;
    	text-align: left;
	}
	.distance{
		font-size: 25rpx;
		color:red;
		/* border: 1px solid; */
		flex: 1;
	}
	.item{
		/* border: 1px solid; */
		flex: 1;
		margin-bottom: 20rpx;
		background: #fff;
		border-radius:12rpx;
	}
	.item2{
		padding-left: 5px;
		flex: 3;
		display: flex;
		align-content: flex-start;
		flex-wrap: nowrap;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		border-right: 1px solid #dedede !important;
	}
	.buttonadd{
		padding: 16rpx 0 20rpx;
		border-bottom: 1px solid #dedede;
		width: 100%;
		text-align: center;
		margin-left: 16rpx;
		font-size: 32rpx;
	}
</style>

