<template>
	<view>
		<cnd-navbar color="white" isBack>
			<block slot='content'>原料信息</block>
		</cnd-navbar>
		<store-loc :eatList="eatList" :formDatas="formData" ref="storeForm" @change="bindParChange"></store-loc>
		<view style="height: 136rpx;"></view>
		<view class="function-box new-page">
			<view class="block"><cnd-button color="primary" size="block" icon="no" @clickEvent="savsave">确认领料</cnd-button></view>
		</view>
		<cnd-dialog v-model="isShow1" @confirm="confirm1" :cancelButton="true">
			确认完成领料？
		</cnd-dialog>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
import CndNavbar from '@/components/navbar/cnd-navbar';
// import CndUploadCell from 'cndapp-ui/components/upload/upload';
import CndButton from '../components/button/button';
import StoreLoc from './components/store-loc.vue';
import cndDialog from './components/cnd-dialog.vue';
import { baseUrl, getReqTime } from '@/common/utils/index.js'
export default {
	components: { 
		CndNavbar, 
		// CndUploadCell, 
		StoreLoc, 
		CndButton, 
		cndDialog 
	},
	data() {
		return {
			formData: {
				// 筛选条件
				sId: '',
				parameter: '',
				index: 0,
				sCode: ''
			},
			sIsFinish: undefined,
			eatList: [],
			initForm: true,
			isUpdate: false,
			saveing: false,
			isShow1: false,
		};
	},
	async onLoad(e) {
		let { id, index, sIsFinish, sCode } = e;
		this.formData.index = ~~index;
		this.formData.sId = id;
		this.formData.sCode = sCode;
		this.sIsFinish = ~~sIsFinish
		// uni.$on('uploadBefore',  async () => {
		// 	if (this.saveing) {
		// 		return
		// 	} 
		// 	this.saveing = true
		// 	await this.savsaveListe(false)
		// 	this.saveing = false
		// })
		uni.$on('addImg', () => {
			this.getEatList()
		})
		uni.$on('deleteImg', () => {
			this.getEatList()
		})
		await this.getEatList();
	},
	async onShow() {
		if (this.isUpdate) {
			await this.getEatList();
		}
		this.isUpdate = true;
	},
	methods: {
		async getEatList() {
			uni.showLoading({
				title: '请稍候',
				mask: true
			});
			// console.log(this.formData.index, this.list[this.formData.index].sId)
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				
				"dataStores": {},
				"parameters": {
					"sId": this.formData.sId,
					"_parameters":"sId",
					"_parameterTypes":"string",
					"dcID":"wmsmetalis",
					"_boId":"wmsmetalis_ifsFgWmsMachiningDetailBO_bo",
					"_methodName":"queryFgWmsMachiningDetail",
					"_methodParameterTypes":"String"
				},
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				let eatList = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
				console.log('明细', eatList);
				this.eatList = eatList;
				await this.getImgList()
			} else {
				// uni.showToast({
				// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
				// 	icon: 'none',
				// 	mask: true
				// });
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
			uni.hideLoading();
		},
		async getImgList() {
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				dataStores: {},
				parameters: {
					sId: this.eatList[0].sId,
					_parameters: 'sId',
					_parameterTypes: 'string',
					dcID: 'fs',
					_boId: 'fs_bsbFilesBO_bo',
					_methodName: 'getBsbFilesByBusId',
					_methodParameterTypes: 'String'
				}
			});
			let infos = res.dataStores.result.rowSet.primary || [];
			// console.log('待拣货明细图片', list);
			this.$set(this.eatList[0], 'imgList', infos)
		},
		async bindParChange() {
			await this.getEatList()
		},
		async savsave() {
			this.isShow1 = true
		},
		async confirm1() {
			await this.savsaveListe()
		},
		async savsaveListe() {
			this.isPreMask = true
			this.commitLoading = true
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				dataStores: {},
				parameters: {
					"sId": this.formData.sId,
					"_parameters": "sId",
					"_parameterTypes": "string",
					"dcID": "wmsmetalis",
					"_boId": "wmsmetalis_ifsFgWmsMachiningDetailBO_bo",
					"_methodName": "doPickFgWmsStockReceipt",
					"_methodParameterTypes": "String"
				}
			});
			uni.hideLoading()
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				this.isPreMask = false
				this.commitLoading = false
				// uni.showToast({
				// 	title: '领料成功！',
				// 	icon: 'none',
				// 	success: () => {
				// 		setTimeout(() => {
				// 			let iIndex = getCurrentPages().findIndex(ele => ele.route === 'pagesB/machining/index')
				// 			let iPage = getCurrentPages()[iIndex]
				// 			iPage.$vm.isReload = true
				// 			uni.navigateBack({
				// 				delta: iIndex === -1 ? 1 : getCurrentPages().length - iIndex - 1
				// 			})
				// 		}, 2000)
				// 	}
				// })
				this.$refs.mpopup.open({
					type:'success',
					content:'领料成功！',
					timeout:2000,
				});
				setTimeout(() => {
					let iIndex = getCurrentPages().findIndex(ele => ele.route === 'pagesB/machining/index')
					let iPage = getCurrentPages()[iIndex]
					iPage.$vm.isReload = true
					uni.navigateBack({
						delta: iIndex === -1 ? 1 : getCurrentPages().length - iIndex - 1
					})
				}, 2000)
				// await this.generationCost()
				this.$refs.me.mescroll.triggerDownScroll();
			} else {
				// uni.showToast({
				// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
				// 	icon: 'none',
				// 	mask: true
				// });
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
		}
	}
};
</script>
<style>
page {
	background-color: #f1f5f7;
}
</style>
<style lang="scss" scoped>
@import '../../common/style/nav.scss';
</style>
<style lang="scss" scoped>
.bottom-btn {
	width: 90%;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}
.new-page {
	.block {
		margin: 0 10rpx;
		width: 100% !important;
		.cnd-button {
			width: 100% !important;
		}
	}
}
</style>
