<template>
	<view class="cnd-upload-cell" :class="{ border: isborder }">
		<view class="text-container">
			<view class="title-wrapper">
				<text>{{ title }}</text>
			</view>
		</view>
		<view class="img-container">
			<view class="img-box" v-for="(item, index) in imgList" :key="index" @click="perviewImg(index)" :class="(index + 1) % 3 == 0 ? 'right' : ''">
				<image class="img-wrapper" :src="item.finalStaticPath" mode="aspectFill"></image>
				<!-- <image class="iconfont" @click.stop="deteleImg(index)" v-if="isdelete"></image> -->
			</view>
			<!-- <view class="img-box right" v-if="imgList.length < max && isEdit" @click="chooseImage()">
				<view class="new-img-box">
					<view class="new-img-wrapper"></view>
					<text>照片</text>
				</view>
			</view> -->
		</view>
	</view>
</template>

<script>
import { baseUrl } from '@/common/utils/index.js';
import _ from 'lodash';
export default {
	data() {
		return {};
	},
	props: {
		title: {
			type: String,
			default: ''
		},
		isdelete: {
			type: Boolean,
			default: true
		},
		imgList: {
			type: Array,
			default() {
				return [];
			}
		},
		max: {
			type: Number,
			default: 9
		},
		isEdit: {
			type: Boolean,
			default: true
		},
		// 下边框可选，一般除末行都为true
		isborder: {
			type: Boolean,
			default: true
		},
		busId: {
			type: String,
			default: ''
		},
		returnType: {
			type: String,
			default: 'json'
		},
		catalog: {
			type: String,
			default: ''
		}
	},
	methods: {
		chooseImage() {
			let max = this.max - this.imgList.length;
			uni.$emit('uploadBefore');
			uni.chooseImage({
				count: max,
				success: async chooseImageRes => {
					this.$emit('add', this.tempFilePaths);
					for (let i = 0; i < chooseImageRes.tempFilePaths.length; i++) {
						let filePath = chooseImageRes.tempFilePaths[i];
						await this.upload(filePath);
					}
					uni.$emit('addImg');
				}
			});
		},
		upload(filePath) {
			return new Promise((resolve, reject) => {
				let { busId, returnType, catalog } = this;
				let formData = {
					returnType,
					busId,
					catalog
				};
				let header = {
					'Cookie': 'JSESSIONID=' + uni.getStorageSync('Cookie')
				};
				uni.showLoading({
					title: '上传中...',
					mask: true
				})
				let url = baseUrl + '/techcomp/ria/richEditorAction.action'
				uni.uploadFile({
					url,
					filePath,
					formData,
					name: 'file',
					header,
					fileType: 'image',
					success: uploadFileRes => {
						// uni.hideLoading()
						console.log(333, url, formData,header, uploadFileRes);
						resolve(uploadFileRes);
					},
					fail() {
						// uni.hideLoading()
					}
				});
			});
		},
		perviewImg(index) {
			let urls = [];
			this.imgList.forEach(function(v) {
				urls.push(v.staticPath);
			});

			uni.previewImage({
				loop: true,
				current: index,
				urls: urls
			});
		},
		async deteleImg(index) {
			let { imgList } = this;
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				dataStores: {},
				parameters: {
					ids: imgList[index].sId,
					_parameters: 'ids',
					_parameterTypes: 'string',
					dcID: 'fs',
					_boId: 'fs_bsbFilesBO_bo',
					_methodName: 'deleteFile',
					_methodParameterTypes: 'String'
				}
			});
			uni.$emit('deleteImg');
		}
	}
};
</script>

<style lang="scss">
$detail-cell-long-padding-v: 12rpx;
$detail-cell-long-title-width: 96rpx * 2;
$detail-cell-long-title-margin-right: 16rpx;

.cnd-upload-cell {
	position: relative;

	&.border:after {
		position: absolute;
		box-sizing: border-box;
		content: ' ';
		pointer-events: none;
		right: 0;
		bottom: 0;
		left: 0;
		border-bottom: 2rpx solid $gray-2;
		-webkit-transform: scaleY(0.8);
		transform: scaleY(0.8);
	}
}

.text-container {
	width: 100%;
	padding: $detail-cell-long-padding-v 0;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;

	.title-wrapper {
		min-width: $detail-cell-long-title-width;
		width: $detail-cell-long-title-width;
		margin-right: $detail-cell-long-title-margin-right;
		font-size: $font-size-body;
		line-height: $line-height-body;
		color: $gray-6;
		overflow: hidden;
		white-space: nowrap;
	}
}

.img-container {
	display: flex;
	width: 100%;
	flex-direction: row;
	// justify-content: space-between;
	flex-wrap: wrap;
	padding-right: -10rpx;

	.img-box {
		box-sizing: border-box;
		position: relative;
		width: 210rpx;
		display: flex;
		justify-content: center;
		align-items: center;
		// height: 210rpx;
		margin-bottom: 14rpx;
		margin-right: 14rpx;
		border-radius: 10rpx;
		overflow: hidden;

		&.right {
			margin-right: 0rpx;
		}

		.iconfont {
			position: absolute;
			right: 10rpx;
			top: 10rpx;
			// font-size: 40rpx;
			width: 40rpx;
			height: 40rpx;
			background-image: url('/static/images/delete.png');
			background-size: 100%;
		}

		.new-img-box {
			background-color: $gray-2;
			flex-direction: column;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 210rpx;
			border-radius: 10rpx;
			overflow: hidden;

			.new-img-wrapper {
				width: 72rpx;
				height: 72rpx;
				margin-bottom: 10rpx;
				background-image: url('../../static/new.png');
				background-size: 100%;
			}

			text {
				font-size: $font-size-body;
				color: $cnd-blue-5;
			}
		}

		.img-wrapper {
			width: 100%;
			height: 210rpx;
			border-radius: 10rpx;
			overflow: hidden;
		}
	}
}
</style>
