<template>
	<view>
		<view class="custom" :style="[{ height: CustomBar + 'px' }]">
			<view class="navbar fixed" :style="style" :class="{ white: color === 'white', blue: color === 'blue' }">
				<block >
					<view class="icon-back between btnFlex">
						<view @tap="toBack" class="left-text">
							<text v-if="isBack" class="iconfont icon-cnd-arrow-short-back" style="font-size: 48rpx;margin-right: 20rpx;"></text>
							
						</view>
						<view class="left-text onTitle">
							<slot name="left"></slot>
						</view>
						<!-- <view class="action between"><slot name="left"></slot></view> -->
					</view>
				</block>
				<block v-if="isWebBack">
					<view class="icon-back between btnFlex">
						<view @tap="toWebBack" class="left-text">
							<text class="iconfont icon-cnd-arrow-short-back" style="font-size: 48rpx;margin-right: 20rpx;"></text>
							<!-- <text>{{backName}}</text> -->
							<text><slot name="left"></slot></text>
						</view>
						<view class="left-text">
							<slot name="left"></slot>
						</view>
					</view>
				</block>
				<view class="content" :style="{ top: StatusBar + 'px' }">
					<view :style="{ color: color === 'white' ? '#000000' : '#FFFFFF' }"><slot name="content"></slot></view>
				</view>
				<view class="action between"><slot name="right"></slot></view>
			</view>
		</view>
		<view :style="[{ height: CustomBar + 'px' }]"></view>
	</view>
</template>

<script>
export default {
	name: 'cnd-navbar',
	props: {
		father: {
			default() {
				return {};
			}
		},
		isBack: {
			type: [Boolean, String],
			default: false
		},
		backName: {
			type: String,
			default: '返回'
		},
		isWebBack: {
			type: [Boolean, String],
			default: false
		},
		backLevel: {
			type: Number,
			default() {
				return 1
			}
		},
		leftType: {
			type: String,
			default() {
				return 'no';
			}
		},
		color: {
			type: String,
			default() {
				return 'white';
			}
		}
	},
	data() {
		return {
			StatusBar: this.StatusBar,
			CustomBar: this.CustomBar
		};
	},
	onBackPress(e) {
	    console.log("安卓back按键")
		if(isWebBack){
	    	console.log("执行回退！")
			this.toWebBack()
			return true
	    }
	},
	methods: {
		toBack() {
			this.$emit('back')
			if(this.backName=="返回"){
				//#ifndef H5
				uni.navigateBack({
					delta: this.backLevel
				})
				//#endif
				//#ifdef H5
				history.go(-(this.backLevel))
				//#endif
			} else {
				this.$emit('cancel')
			}
		},
		toWebBack() {
			this.$emit('back')
			// console.log("webview回退！")
			// uni.clearStorageSync();
			var cweb = plus.webview.currentWebview();
			cweb.close();
		},
		navAction() {
			this.father.rightAction();
		}
	},
	computed: {
		style() {
			var StatusBar = this.StatusBar;
			var CustomBar = this.CustomBar;
			let style = `height:${CustomBar}px; padding-top:${StatusBar}px;`;
			return style;
		}
	}
};
</script>

<style lang="scss">
.custom {
	z-index: 997;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	.navbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		box-sizing: border-box;

		&.white {
			background-color: $gray-0;
			color: $cnd-blue-5;
			box-shadow: 0 0 20upx rgba(0, 0, 0, 0.2);
		}

		&.blue {
			background-color: $cnd-blue-5;
			color: $gray-0;
		}

		.between {
			// width: 22%;
			font-size: 28rpx;
			align-items: center;
			.onTitle{
				margin-left: 32rpx;
			}
			.left-text{
				padding: 0 20rpx 0 0;
			}
		}
		.btnFlex{
			display: flex;
		}

		.icon-back {
			margin-left: 16rpx;
			// position: absolute;
			// top: 50%;
			// transform: translateY(-50%);
			// left: 16rpx;
			// .left-text:hover {
			// 	opacity: 0.6;
			// }
		}

		.content {
			position: absolute;
			text-align: center;
			width: calc(100% - 380upx);
			left: 0;
			right: 0;
			bottom: 0;
			// top: --status-bar-height;
			margin: auto;
			height: 60upx;
			font-size: $font-size-subhead;
			line-height: 60upx;
			cursor: none;
			view {
				pointer-events: none;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				font-weight: 700;
				display: block;
			}
		}

		.action {
			display: flex;
			right: 0;
			margin-right: 22rpx;
			align-items: center;
			justify-content: flex-end;
		}
	}
}
</style>
