<template>
	<!-- 在判断数据和操作按钮显示问题时鉴于一个账号配一个角色，所以直接拿到登录账号时第一个角色名称userInfo.role[0].roleName判断,
	没做逐个账号角色和功能查找 -->
	<!-- swiper中的transfrom会使fixed失效,此时需设置fixed为false,而top会自动使用padding-top -->
	<view>
		<view class="demo-wrapper block">
			<query ref="all" :state="stateData" :detailsCount="detailsCount" :warehouse="sWarehouses" @chang="changQuery"></query>
		</view>
		<cnd-scroll :top="top" :down="downOption" @down="downCallback" :up="upOption" @up="upCallback"
			@emptyclick="emptyClick" @init="mescrollInit">
			<!-- 数据列表 -->
			<pd-list :list="pdList" :formData="formData" @change="refresh"></pd-list>
		</cnd-scroll>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
	import PdList from "./pd-list.vue";
	import cndScroll from "@/components/scroll/mescroll-uni.vue";
	import query from './querys.vue'
	import {
		uniToRpx,
		formatTime
	} from "@/common/utils/index.js";
	export default {
		components: {
			PdList,
			cndScroll,
			query,
		},
		props: {
			state: {
				// 根据角色状态列表
				type: Array,
				default () {
					return [];
				}
			},
			stateList: {
				// 全部状态列表
				type: Array,
				default () {
					return [];
				}
			},
			warehouse: {
				// 仓库列表
				type: Array,
				default () {
					return [];
				}
			},
			formData: Object,
		},
		data() {
			return {
				mescroll: null, //mescroll实例对象
				downOption: {
					auto: false, //是否在初始化后,自动执行下拉回调callback; 默认true
					textLoading: "",
				},
				upOption: {
					auto: true, // 不自动加载
					textLoading: "",
					// page: {
					// 	num: 0, // 当前页码,默认0,回调之前会加1,即callback(page)会从1开始
					// 	size: 10 // 每页数据的数量
					// },
					noMoreSize: 10, //如果列表已无数据,可设置列表的总数量要大于半页才显示无更多数据;避免列表数据过少(比如只有一条数据),显示无更多数据会不好看; 默认5
					empty: {
						tip: "~ 空空如也 ~", // 提示
						btnText: "",
					},
					isBounce: false,
				},
				pdList: [], //列表数据
				isInit: false, // 列表是否已经初始化
				scrollY: 0,
				CustomBar: this.CustomBar,
				sDriverPhoneNumber: "",
				sUserPhoneNumber: "",
				sWarehouseIdList: [],
				sUserOrDriverPhoneNumber: "",
				detailsCount: 0,
				formInfo: {},
				stateData: [],
				sWarehouses: [],
				datej: new Date().format('yyyy-MM-dd'),
				timeRes: '',
				timeResToo: '',
				activesList: []
			};
		},
		computed: {
			top() {
				const CustomBar = this.CustomBar;
				// return uniToRpx(parseInt(CustomBar)) + 300
				return uniToRpx(parseInt(CustomBar)) + this.formData.scrollHeight;
			},
		},
		methods: {
			// mescroll组件初始化的回调,可获取到mescroll对象
			mescrollInit(mescroll) {
				this.mescroll = mescroll;
			},
			/*下拉刷新的回调 */
			downCallback(mescroll) {
				// 这里加载你想下拉刷新的数据, 比如刷新轮播数据
				// loadSwiper();
				// 下拉刷新的回调,默认重置上拉加载列表为第一页 (自动执行 mescroll.num=1, 再触发upCallback方法 )
				mescroll.resetUpScroll();
			},
			/*上拉加载的回调: mescroll携带page的参数, 其中num:当前页 从1开始, size:每页数据条数,默认10 */
			upCallback(mescroll) {
				//联网加载数据
				this.getList(
					mescroll.num,
					mescroll.size,
					(curPageData) => {
						//联网成功的回调,隐藏下拉刷新和上拉加载的状态;
						// console.log('i=' + this.i + ', mescroll.num=' + mescroll.num + ', mescroll.size=' + mescroll.size +
						// 	', curPageData.length=' + curPageData.length);
						mescroll.endSuccess(curPageData.length);
						//设置列表数据
						if (mescroll.num == 1) this.pdList = []; //如果是第一页需手动制空列表
						this.pdList = this.pdList.concat(curPageData); //追加新数据
					},
					() => {
						//联网失败的回调,隐藏下拉刷新的状态
						mescroll.endErr();
					}
				);
			},
			//点击空布局按钮的回调
			emptyClick() {
				uni.showToast({
					title: "点击了按钮,具体逻辑自行实现",
				});
			},
			// 查询
			changQuery(e) {
				this.formInfo = e
				this.refresh()
				console.log('查询条件1', this.formInfo)
			},
			async getList(pagenum, pagesize, successCallback, errorCallback) {
				let sheetStatus = this.formInfo.activesList.toString()
				console.log('状态', this.formInfo)
				let res = await this.$http(
					"techcomp/ria/commonProcessor!commonMethod.action?ajaxRequest=true&t=11", {
						"dataStores": {
							"entity": {
								"rowSet": {
									"primary": [
										{
											// sSheetStatus: '',
											sBase: this.formInfo.sWarehouseId, // 基地查询
											sReceivingTime: this.formInfo.deliveryDateStart, //开始时间
											vSubReceivingTimeTo: this.formInfo.deliveryDateEnd,	// 结束时间
											sShipTo: this.formInfo.sShipTo,
											sSheetStatus: sheetStatus
										}
									], 
									"filter": [ ], 
									"delete": [ ]
								}, 
								"name": "entity", 
								"pageNumber": 1, 
								"pageSize": 2147483647, 
								"recordCount": 0, 
								"rowSetName": "com.cnd.wms.storage.entity.WmsDirectReleaseOrder"
							}
						}, 
						"parameters": {
							"sSheetCode": "wms.direct.release.order", //wms.direct.release.order
							"pageNumber": pagenum, 
							"pageSize": pagesize, 
							"_parameters": "sSheetCode,entity,pageNumber,pageSize", 
							"_parameterTypes": "string,pojo,string,string", 
							"dcID": "wmsis", 
							"_boId": "wmsis_ifsWmsDirectReleaseOrderBO_bo", 
							"_methodName": "queryDirectReleaseOrder", 
							"_methodParameterTypes": "String,com.cnd.wms.storage.entity.WmsDirectReleaseOrder,int,int"
						}
					}
				);
				uni.hideKeyboard();
				if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
					let list =
						JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
					// this.detailsCount = list.detailsCount
					for(let i in list){
						for(let j in this.sWarehouses){
							if (list[i].sBase == this.sWarehouses[j].value) {
								list[i].sBase = this.sWarehouses[j].label
							}
						}
						
					}
					list = list.map(ele => {
						let sheetStatus = ''
						for (let i in this.stateList) {
							if (this.stateList[i].codeValue == ele.sSheetStatus) {
								sheetStatus = this.stateList[i].codeName
							}
						}
						return {
							...ele,
							sReceivingTime: ele.sReceivingTime ? formatTime(ele.sReceivingTime,"Y-M-D") : '无',
							sSheetCodeName: sheetStatus,
						};
					});
					this.getListSum()

					console.log("订单列表", list);
					successCallback && successCallback(list);
				} else {
					// uni.showToast({
					// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					// 	icon: 'none',
					// 	mask: true
					// });
					this.$refs.mpopup.open({
						type:'warn',
						content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
						timeout:2500,
						isClick:false
					});
				}
			},
			async getListSum() {
				let sheetStatus = this.formInfo.activesList.toString()
				let res = await this.$http(
					"techcomp/ria/commonProcessor!commonMethod.action?ajaxRequest=true&t=11", {
						 "dataStores": {
							"entity": {
								"rowSet": {
									"primary": [
										{
											// sSheetStatus: '10',
											sBase: this.formInfo.sWarehouseId, // 基地查询
											// statusList: this.formList.activesList, //状态查询
											sReceivingTime: this.formInfo.deliveryDateStart, //开始时间
											vSubReceivingTimeTo: this.formInfo.deliveryDateEnd,	// 结束时间
											sShipTo: this.formInfo.sShipTo,
											sSheetStatus: sheetStatus
										}
									], 
									"filter": [ ], 
									"delete": [ ]
								}, 
								"name": "entity", 
								"pageNumber": 1, 
								"pageSize": 2147483647, 
								"recordCount": 0, 
								"rowSetName": "com.cnd.wms.storage.entity.WmsDirectReleaseOrder"
							}
						}, 
						"parameters": {
							"sSheetCode": "wms.direct.release.order", //wms.direct.release.order
							"_parameters": "sSheetCode,entity", 
							"_parameterTypes": "string,pojo", 
							"dcID": "wmsis", 
							"_boId": "wmsis_ifsWmsDirectReleaseOrderBO_bo", 
							"_methodName": "queryDirectReleaseOrderSum", 
							"_methodParameterTypes": "String,com.cnd.wms.storage.entity.WmsDirectReleaseOrder"
						}
					}
				);
				uni.hideKeyboard();
				if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
					let listSum =
						JSON.parse(res.dataStores.result.rowSet.primary[0].resultData);
					this.detailsCount = listSum.sNetWeight
						
					console.log("订单汇总", listSum,this.formInfo.activesList);
				} else {
					// uni.showToast({
					// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					// 	icon: 'none',
					// 	mask: true
					// });
					this.$refs.mpopup.open({
						type:'warn',
						content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
						timeout:2500,
						isClick:false
					});
				}
			},
			bindAction(obj) {
				this.$emit("action", obj);
			},
			// sQuery(){
			// 	this.$nextTick(() => {
			// 		this.$refs.all.changQuery()	
			// 	})
			// },
			refresh() {
				this.$nextTick(() => {
					this.mescroll.triggerDownScroll()
					this.mescroll.scrollTo(0, 300)
				})
			},
		},
		watch: {
			state: {
				handler(newval) {
                    this.stateData = newval
					this.$refs.all.changQuery()	
				},
				deep: true,
                // immediate: true 
			},
            warehouse: {
				handler(newval) {
                    this.sWarehouses = newval
					
					
					console.log('村上春树',this.sWarehouses)
					
                },
                deep: true,
                immediate: true 
            }
		}
	};
</script>
