<template>
	<view>
		<view class="list-box" v-for="(item, index) in list" :key="index">
			<cnd-list-group>
				<view  @click="goDetail(item)">
				<cnd-list-title :leftLabel="true" :rightDisared="false" rightDelLabel="作废" @redDel="actionTo(item)"  v-if="item.sSheetStatus == '70'">
					<view slot="left">{{ item.sSheetCodeName }}</view>
				</cnd-list-title>
				<cnd-list-title :leftLabel="true" :rightDisared="true" v-else>
					<view slot="left">{{ item.sSheetCodeName }}</view>
				</cnd-list-title>
				
					<cnd-list-content title="收货日期" :value="item.sReceivingTime || '无'" type="alignLeft"></cnd-list-content>
					<cnd-list-content title="基地" :value="item.sBase || '无'" type="alignLeft"></cnd-list-content>
					
					<cnd-list-content title="收货方" :value="item.sShipTo || '无'" type="alignLeft"></cnd-list-content>
					<cnd-list-content title="净重" :value="String(item.sNetWeight) || '无'" type="alignLeft"></cnd-list-content>
					<cnd-list-content title="车牌号" :value="item.sLicensePlate || '无'" type="alignLeft"></cnd-list-content>
					<!-- <cnd-list-content title="司机" :value="item.sBlCode || '无'" type="alignLeft"></cnd-list-content> -->
					<cnd-list-content title="司机电话" :value="item.sDriverTel || ''" type="alignLeft"></cnd-list-content>
					
				</view>
			</cnd-list-group>
			
	
		</view>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>


</template>

<script>
	import CndListGroup from '@/components/list-group/list-group.vue'
	import CndButton from '@/components/button/button';
	import cndPopContent from "@/components/pop-content/pop-content.vue"
	import CndFormItem from '@/components/form-item/cnd-form-item';
	import CndListContent from '@/components/list-group/list-content.vue'
	import CndListTitle from '@/components/list-group/list-title.vue'
	export default {
		name: 'pd-list',
		components: {
			CndListGroup,
			CndButton,
			cndPopContent,
			CndFormItem,
			CndListContent,
			CndListTitle
		},
		props: {
			list: {
				// 数据列表
				type: Array,
				default () {
					return [];
				}
			},
			formData: Object
		},
		data () {
			return {
				isChange:[],
				current: '',
				a: [],
				show: false,
				phone: '',
				sGoodsOwnerId:'',
				sGoodsOwnerName:'',
				approvalsId: '',
				sWarehouseId: '',
				sWarehouseIds: [],
			}
		},
		// async mounted() {
		// 	// 货主
		// 	this.sMaterialType()
		// },
		methods: {
			
			// 进入详情
			goDetail(item) {
				let str=encodeURIComponent(JSON.stringify(item))
                uni.navigateTo({
					url: `/pagesA/directReleaseOrder/index?items=${str}&sId=${item.sId}&statusEdit=` + false
				})

			},
			actionTo(e){
				let forms = e
				uni.showModal({
					title: '提示',
					content: '是否确认作废？',
					success: (res)=> {
						if (res.confirm) {
							this.action(forms)
						} else if (res.cancel) {
							console.log('取消');
						}
					}
				});
			},
			async action(e){
				let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
					"dataStores": {},
					"parameters": {
						"sId": e.sId, 
						"_parameters": "sId", 
						"_parameterTypes": "string", 
						"dcID": "wmsis", 
						"_boId": "wmsis_ifsWmsDirectReleaseOrderBO_bo", 
						"_methodName": "doNullifyDirectReleaseOrder", 
						"_methodParameterTypes": "String"
					}
				});
				if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
					// uni.showToast({
					// 	title: '操作成功！',
					// 	icon: 'none',
					// 	success: () => {
					// 		this.$emit('change')
					// 	}
					// });
					this.$refs.mpopup.open({
						type:'success',
						content:'操作成功！',
						timeout:2000,
					});
					this.$emit('change')
				} else {
					// uni.showToast({
					// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					// 	icon: 'none',
					// 	mask: true
					// });
					this.$refs.mpopup.open({
						type:'warn',
						content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
						timeout:2500,
						isClick:false
					});
				}
			},
			
		}
	}
</script>

<style lang="scss" scoped>
// .btn{
// 	z-index: 999;
// 	border-top: 1px solid #dedede;
// 	.block{
// 		font-size: 28upx!important;
// 		padding:0 14upx!important;
// 	}
// }
.title-container{
	border-top: 1px solid #f5f5f5!important;
}

.list-box{
	position: relative;
}
.adds {
	position: absolute;
	top: 10%;
	right: 30rpx;
	transform: translate(0, -50%);
}
.company-item{
	width:200rpx;
	height:50rpx;
	// border:2rpx solid #555;
	border-radius:10rpx;
	font-size:30rpx;
	color:#555;
	text-align: center;
	line-height: 50rpx;
	
}
.skill-item{
	font-size: 120upx;
	color: #999;
	border-radius: 50%;
	border: 2px solid #999;
	width: 50upx;
	height: 50upx;
	position: relative;
}
.active{
	// border:2rpx solid #DD524D;
	color: rgb(31, 164, 253);
	border: 2px solid rgb(31, 164, 253);
	
	font-size: 120upx;
}
.active i{
	width: 32upx;
	height: 32upx;
	border-radius: 50%;
	background: rgb(31, 164, 253);
	// content: '●';
	position: absolute;
	// transform: translate(0, -50%);
	// padding: 8upx;
	// font-size: 62upx;
	top: 10upx;
    left: 10upx;
	// font-style:normal
}

.state{
    z-index: 999;
    border-top: 1px solid #dedede;
	border-top: 1px solid #dedede;
    float: left;
    font-size: 30upx;
    color: #408CDA;
    padding: 30upx;
}
</style>

