<template>
	
	<view class="padding_input ">
		<cnd-form>
			<cnd-form-item label="基地" class="rks">
				<!-- <view class="uni-list">
					<view class="uni-list-cell">
						<view class="uni-list-cell-db">
							<picker @change="bindPickerChange" :value="addressData.jobId" :range="materialList">
								<view class="picker">
									{{ addressData.codeName != '' ? addressData.codeName : '--请选择--' }}
								</view>
							</picker>
						</view>
					</view>
				</view> -->
				<input v-model="addressData.codeName" @click="materialPicker" placeholder="--请选择基地--" disabled />
			</cnd-form-item>
			<view class="demo-wrapper">
				<cnd-form-item label="收货日期"  class="rks">
					<cnd-datepicker :level="3" :format="'yyyy-MM-dd HH:mm'" @change="bindChange">{{timeRes ? timeRes : datej}}</cnd-datepicker>
				</cnd-form-item>
			</view>
			<cnd-form-item label="收货地址" class="textareas rks" isTextarea>
				<cnd-textarea :disabled="inputDisabled" placeholder="请输入收货地址..." v-model="formList.sReceivingAddres"></cnd-textarea>
			</cnd-form-item>
			
		</cnd-form>
		<cnd-form>
			
			<view class="detail-item">
				<cnd-form-item label="收货方" class="rks">
					<input v-model="formList.sShipTo" :disabled="inputDisabled" />
				</cnd-form-item>
				<cnd-form-item label="联系方式" class="rks">
					<input type="number" v-model="formList.sShipToTel" :disabled="inputDisabled"  />
				</cnd-form-item>
				<cnd-form-item label="料型" class="rks">
					<!-- <view class="uni-list">
						<view class="uni-list-cell">
							<view class="uni-list-cell-db">
								<picker @change="materialTypeChange" :value="addmaterialTypeData.jobId" :range="materialTypeList">
									<view class="picker">
										{{ addmaterialTypeData.codeName !== '' ? addmaterialTypeData.codeName : '--请选择--' }}
									</view>
								</picker>
							</view>
						</view>
					</view> -->
					<input v-model="addmaterialTypeData.codeName" @click="materialTypePicker" placeholder="--请选择料型--" disabled />
				</cnd-form-item>
				<cnd-form-item label="毛重" class="rks">
					<input type="digit" @input="onsGrossWeight" v-model="formList.sGrossWeight" :disabled="inputDisabled"  />
				</cnd-form-item>
				<cnd-form-item label="皮重" class="rks">
					<input type="digit" @input="onsTareWeight" v-model="formList.sTareWeight" :disabled="inputDisabled"  />
				</cnd-form-item>
				<cnd-form-item label="净重">
					<input type="digit" v-model="formList.sNetWeight" :disabled="true"  style="border-bottom: 1px solid #dedede" />
				</cnd-form-item>
				<cnd-form-item label="扣杂" class="rks">
					<input type="digit" @input="onsBuckleWeight" v-model="formList.sBuckleWeight" :disabled="inputDisabled"  />
				</cnd-form-item>
				<cnd-form-item label="结算重量">
					<input type="digit" v-model="formList.sQty" :disabled="true"   style="border-bottom: 1px solid #dedede"/>
				</cnd-form-item>
				<cnd-form-item label="车牌号" class="rks">
					<input v-model="formList.sLicensePlate" :disabled="inputDisabled"  />
				</cnd-form-item>
				<cnd-form-item label="司机电话" class="rks">
					<input type="number" v-model="formList.sDriverTel" :disabled="inputDisabled"  />
				</cnd-form-item>
			</view>
		</cnd-form>
		<!-- 料型选择 -->
		<custom-picker
			ref="material"
			title="--请选择料型--"
			titleColor="#808080"
			titleFontSize="26rpx"
			cancelType='icon'
			cancelColor="#999999"
			cancleFontSize="28rpx"
			confirmColor="#4cd964"
			confirmFontSize="34rpx"
			confirmFontWeight="500"
			itemFontSize="32rpx"
			@onConfirm="materialTypeChange"
			@on_close="closePicker"
			:pickerList="materialTypeId">
		</custom-picker>
		<!-- 仓库 -->
		<custom-picker ref="sWarehouse" title="--请选择基地--" titleColor="#808080" titleFontSize="26rpx" cancelType='icon'
			cancelColor="#999999" cancleFontSize="28rpx" confirmColor="#4cd964" confirmFontSize="34rpx"
			confirmFontWeight="500" itemFontSize="32rpx" @onConfirm="materialChange" @on_close="closePicker"
			:pickerList="materialList" :addmaterialTypeData="formList.sWarehouseId" :clickActive="true">
		</custom-picker>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
// import CndUploadCell from 'cndapp-ui/components/upload/upload';
import CndForm from '@/components/form/cnd-form';
import CndFormItem from '@/components/form-item/cnd-form-item';
import CndTextarea from '@/components/textarea/cnd-textarea';
import imgUpload from '@/components/upload/img-upload.vue'
import CndButton from '@/components/button/button';
import CndDatepicker from '@/components/datepicker/cnd-datepicker.vue'
import { uniToRpx, formatTime } from '@/common/utils/index.js'
import customPicker from '@/components/picjerDiy.vue';
export default {
	components: { 
		// CndUploadCell,
	 	CndForm, 
		CndFormItem, 
		CndTextarea, 
		imgUpload, 
		CndButton, 
		CndDatepicker, 
		customPicker 
	},
	props: {
		list: Object,
		formData: Object,
		sIsFinish: [Number, String, Boolean],
		statusEdits: Boolean
	},
	data() {
		return {
			statusEdit: false,
			inputDisabled: false,
			options: { styleIsolation: 'shared' },
			datej: new Date().format('yyyy-MM-dd'),
			value: '123',
			disabled: false,
			timeRes: '',
			formList: {
			},
			dataList:{
				
			},
			// 仓库
			materialList: [],
			materialId: [],
			material: [],
			map: '',
			codeValue: [],
			addressData: {
				jobId: '',
				codeName: "",
			},
			// 料型
			materialTypeList: [],
			materialTypeId: [],
			materialTypeValue: [],
			addmaterialTypeData: {
				jobId: '',
				codeName: "",
			},
			dialogValue: '',
			index: undefined,
			clickItem: undefined,
			parWeight: 0,
			info: {},
		};
	},
	async mounted() {
		// 仓库
		this.sMaterial()
		if(this.formList.sReceivingTime) {
			this.timeRes = formatTime(this.formList.sReceivingTime, 'Y-M-D')
		} else if(!this.timeRes) {
			this.timeRes = this.datej
			this.formList.sReceivingTime = this.datej
		}
		if (this.formList.sArtId) {
			this.addmaterialTypeData.codeName = this.formList.vSubMaterialTypeName
			this.addmaterialTypeData.jobId = this.formList.sMaterialType
			// this.addmaterialTypeData.codeName = this.materialTypeId.filter(a => a.sId == this.addmaterialTypeData.jobId)[0].sCnName
		}
		if (this.formList.sBase) {
			// this.addressData.codeName = this.formList.sWarehouseName
			// this.addressData.jobId = this.formList.sBase
			// this.sMaterialType(this.formList.sBase)
			// this.addressData.jobId = this.formList.sBase
			// this.addressData.codeName = this.materialList.filter(a => a.value == this.addressData.jobId)[
			// 	0].label
				this.addressData.codeName = this.formList.sBase
			// this.map = this.formList.sWarehouseAddress
		}
		this.sMaterialType()
		
	},
	methods: {
		// 净重=毛重-皮重
		// 结算重量=毛重-皮重-扣杂
		// parseFloat((1.0 - 0.9).toFixed(10))解决浮点问题
		onsGrossWeight(e) {
			let detail = Number(e.detail.value)
			this.formList.sNetWeight = parseFloat((detail - +this.formList.sTareWeight).toFixed(10))
			this.formList.sQty = parseFloat((detail - +this.formList.sTareWeight - +this.formList.sBuckleWeight).toFixed(10))
			console.log(detail,+this.formList.sTareWeight,detail - +this.formList.sTareWeight)
		},
		onsTareWeight(e) {
			let detail = Number(e.detail.value)
			this.formList.sNetWeight = parseFloat((+this.formList.sGrossWeight - detail).toFixed(10))
			this.formList.sQty = parseFloat((+this.formList.sGrossWeight - detail - +this.formList.sBuckleWeight).toFixed(10))
			console.log(e)
		},
		onsBuckleWeight(e) {
			let detail = Number(e.detail.value)
			// this.formList.sNetWeight = this.formList.sGrossWeight - this.formList.sTareWeight
			this.formList.sQty =parseFloat((+this.formList.sGrossWeight - +this.formList.sTareWeight - detail).toFixed(10))
			console.log(e)
		},
		bindChange(e) {
			this.timeRes = e.format('yyyy-MM-dd')
			this.formList.sReceivingTime = this.timeRes
			console.log('时间时间', this.formList.sReceivingTime)
		},
		//关闭上浮窗
		closePicker(){
			this.inputDisabled = false
			this.statusEdit = this.statusEdits
		},
		// 仓库
		
		//打开地图选择
		//打开
		materialPicker() {
			this.inputDisabled = true
			this.statusEdit = true
			this.$refs.sWarehouse._open()

		},
		//确定：接收子组件传来的参数
		materialChange(checked) {
			this.addressData.jobId = checked.value
			this.addressData.codeName = checked.label
			this.formList.sBase = this.addressData.jobId
			this.inputDisabled = false
			this.statusEdit = this.false
			this.sMaterialType(this.formList.sWarehouseIdList)
			console.log('仓库id', this.formList.sWarehouseIdList)
		},
		async sMaterial() {
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {

				"dataStores": {},
				"parameters": {
					"type": "WMS_DIRECT_RELEASE_ORDER_BASE",
					"_parameters": "type",
					"_parameterTypes": "string",
					"dcID": "wmsmetalis",
					"_boId": "wmsmetalis_ifsFgwmsCurrencyBO_bo",
					"_methodName": "queryCodeList",
					"_methodParameterTypes": "String"
				},
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				let  sBaseList = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
				console.log('基地', sBaseList);
				this.materialList = sBaseList.map(ele => {
					return{
						value: ele.codeValue,
						label: ele.codeName
					}
				})
				
			} else {
				// uni.showToast({
				// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
				// 	icon: 'none',
				// 	mask: true
				// });
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
		},
		
		// 料型
		//打开
		materialTypePicker(){
			this.inputDisabled = true
			this.statusEdit = true
			this.$refs.material._open()
		},
		//确定：接收子组件传来的参数
		materialTypeChange(checked){
			this.addmaterialTypeData.jobId = checked.value
			this.addmaterialTypeData.codeName = checked.label
			this.formList.vSubMaterialTypeName = this.addmaterialTypeData.codeName
			this.formList.sMaterialType = this.addmaterialTypeData.jobId
			this.inputDisabled = false
			this.statusEdit = this.statusEdits
			console.log('料型id', this.formList.sMaterialType)
		},
		async sMaterialType() {
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				"dataStores": {},
				"parameters": {
					"_parameters": "",
					"_parameterTypes": "",
					"dcID": "wmsmetalis",
					"_boId": "wmsmetalis_ifsFgwmsCurrencyBO_bo",
					"_methodName": "queryMaterialType",
					"_methodParameterTypes": ""
				}
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				let materialType = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
				console.log('料型', materialType);
				this.materialTypeId = materialType.map(ele => {
					return{
						value: ele.codeValue,
						label: ele.codeName
					}
				})
				
                // this.materialTypeList = materialType.map(a => a.sCnName)
				// this.materialTypeValue = materialType.map(b => b.sId)
				
			} else {
				// uni.showToast({
				// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
				// 	icon: 'none',
				// 	mask: true
				// });
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
		},
		
	},
	watch: {
		statusEdits: {
			handler(newval){
				this.statusEdit = newval
			},
			// deep: true,
			immediate: true 
		},
		list: {
			handler(newval) {
				if(newval) {
					// if(!this.formData.sId){
						this.formList = newval
					// }
					// this.dataList = newval
					if(this.formList.sReceivingTime) {
						this.timeRes = formatTime(this.formList.sReceivingTime, 'Y-M-D')
					} else if(!this.timeRes) {
						// this.timeRes = this.datej
						this.formList.sReceivingTime = this.datej
					}
					if (this.formList.sMaterialType) {
						this.addmaterialTypeData.codeName = this.formList.vSubMaterialTypeName
						this.addmaterialTypeData.jobId = this.formList.sMaterialType
						// this.addmaterialTypeData.codeName = this.materialTypeId.filter(a => a.sId == this.addmaterialTypeData.jobId)[0].sCnName
					}
					if (this.formList.sBase) {
						// this.addressData.codeName = this.formList.sWarehouseName
						// this.addressData.jobId = this.formList.sBase
						// this.sMaterialType(this.formList.sBase)
						// this.addressData.jobId = this.formList.sBase
						// this.addressData.codeName = this.materialList.filter(a => a.value == this.formList.sBase)[
						// 	0].label
							this.addressData.codeName = this.formList.sBase
						// this.map = this.formList.sWarehouseAddress
					}
					
				}
			},
			deep: true,
			immediate: true 
		},
	}
};
</script>
<style lang="scss" scoped>
	.iconfont {
		font-size: 40rpx!important;
		&.right-icon2 {
			margin-right: 20rpx!important;
		}
	}
	
	.rks .cnd-field-label{
		color: red!important;
		padding: 16upx 8upx!important;
	}
	/deep/.rk {
		margin: 40rpx;
		display: inline-block;
		cursor: pointer;
		color: red;
		font-size: 14px;
		text-decoration: underline;
	}
	.detail-item {
		border-bottom: 6rpx solid #F5F5F5;
	}
	.parti-form-dialog {
		// height: 600rpx;
		// background: #FFFFFF;
		// width: 100%;
		.header {
			height: 100rpx;
			position: relative;
			padding-left: 20rpx;
			display: flex;
			align-items: center;
			color: #333;
			font-weight: 700;
			font-size: 28rpx;
		}
		.content {
			height: calc(600rpx - 200rpx);
			padding: 20rpx;
			background: #ffffff;
		}
		.footer {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			background: #ffffff;
			height: 100rpx;
			display: flex;
			border-top: 2rpx solid #f5f5f5;
			.item {
				flex: 1;
				height: auto;
				border-radius: 0;
			}
		}
	}
</style>

