<template>
	<view>
		<cnd-navbar color="white" isBack>
			<block slot='content'>成品信息</block>
		</cnd-navbar>
		<store-loc :cpinfo="cpinfo" :formData="formData" ref="storeForm" @change="bindParChange" @refresh="getcpInfo"></store-loc>
		<button type="primary" class="buttonAdd" @click="gocpDetail">＋</button>
		<view style="height: 136rpx;"></view>
		<view class="function-box new-page">
			<view class="block"><cnd-button color="primary" size="block" icon="no" @clickEvent="addsave">提交</cnd-button></view>
		</view>
		<cnd-dialog v-model="isShow2" @confirm="confirm2" :cancelButton="true">
			成品重量总和不等于原料重量总和，是否提交？
		</cnd-dialog>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
import CndNavbar from '@/components/navbar/cnd-navbar';
// import CndUploadCell from 'cndapp-ui/components/upload/upload';
import CndButton from '../components/button/button';
import StoreLoc from './components/mescroll-detail-item.vue';
import cndDialog from './components/cnd-dialog.vue'
export default {
	components: { 
		CndNavbar, 
		// CndUploadCell, 
		StoreLoc, 
		CndButton, 
		cndDialog 
	},
	data() {
		return {
			formData: {
				// 筛选条件
				sId: '',
				parameter: '',
				index: 0,
				sCode: ''
			},
			sIsFinish: undefined,
			isShow2: false,
			cpinfo: [],
			cplist: [],
			// initForm: true,
			isUpdate: false,
			saveing: false,
			cpsQty: 0,
			materialId: [],
			addressData: {
				jobId: -99,
				codeName: ''
			}
		};
	},
	async onLoad(e) {
		let { id, index, sIsFinish, sCode } = e;
		this.formData.index = ~~index;
		this.formData.sId = id;
		this.formData.sCode = sCode;
		this.sIsFinish = ~~sIsFinish
		uni.$on('uploadBefore',  async () => {
			if (this.saveing) {
				return
			} 
			this.saveing = true
			await this.save(false)
			this.saveing = false
		})
		await this.getcpInfo();
		// alert(this.sQty)
	},
	async onShow() {
		if (this.isUpdate) {
			await this.getcpInfo();
		}
		this.isUpdate = true;
	},
	methods: {
		gocpDetail() {
			uni.navigateTo({
				url: `/pagesB/finished-product/stores?page=${this.$store.state.page}&sId=${this.formData.sId}&sCode=${this.formData.sCode}`
			});
			uni.removeStorageSync('parentId')
			uni.removeStorageSync('kuweiId')
			uni.removeStorageSync('kuquName')
			uni.removeStorageSync('kuweiName')
		},
		async sMaterial() {
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				
				"dataStores": {},
				"parameters": {
				    "type": "dev.fgwms.grade.type",
					"_parameters": "type",
					"_parameterTypes": "string",
					"dcID": "wmsmetalis",
					"_boId": "wmsmetalis_ifsFgwmsCurrencyBO_bo",
					"_methodName": "queryCodeList",
					"_methodParameterTypes": "String"
				},
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				let material = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
				console.log('品級', material);
				this.materialId = material;
			} else {
				// uni.showToast({
				// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
				// 	icon: 'none',
				// 	mask: true
				// });
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
			uni.hideLoading();
		},
		async getcpInfo() {
			// uni.showLoading({
			// 	title: '请稍候',
			// 	mask: true
			// });
			// console.log(this.formData.index, this.list[this.formData.index].sId)
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				
				"dataStores": {},
				"parameters": {
					"sId": this.formData.sId,
					"_parameters": "sId",
					"_parameterTypes": "string",
					"dcID": "wmsmetalis",
					"_boId": "wmsmetalis_ifsFgwmsPickDetailBO_bo",
					"_methodName": "queryFgwmsPickDetails",
					"_methodParameterTypes": "String"
				},
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				let cpinfo = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
				await this.sMaterial()
				cpinfo = cpinfo.map((item, i) => {
					this.addressData.jobId = item.sGrade
					this.addressData.codeName = this.materialId.filter(a => a.codeValue == this.addressData.jobId)[0].codeName
					return {
						...item,
						sGrade: this.addressData.codeName
					}
				})
				this.cpinfo = cpinfo;
				let a = 0
				for (const i in this.cpinfo) {
					if (i == this.cpinfo.length) break;
					a += this.cpinfo[i].sQty
					this.cpsQty = a
				}
			} else {
				// uni.showToast({
				// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
				// 	icon: 'none',
				// 	mask: true
				// });
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
			uni.hideLoading();
		},
		async getcpList() {
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				
				"dataStores": {},
				"parameters": {
					sId: this.formData.sId,
					"_parameters":"sId",
					"_parameterTypes":"string",
					"dcID":"wmsmetalis",
					"_boId":"wmsmetalis_ifsFgWmsMachiningDetailBO_bo",
					"_methodName":"queryFgWmsMachiningDetail",
					"_methodParameterTypes":"String"
				},
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				let cplist = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
				console.log('原料12信息', cplist);
				this.cplist = cplist;
			} else {
				// uni.showToast({
				// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
				// 	icon: 'none',
				// 	mask: true
				// });
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
			uni.hideLoading();
		},
		async bindParChange() {
			await this.getInfo()
		},
		async addsave() {
			await this.getcpList()
			if (this.cpinfo == 0) {
				// uni.showToast({
				// 	title: '成品信息为空！',
				// 	icon: 'none'
				// });
				this.$refs.mpopup.open({
					type:'err',
					content:'成品信息为空！',
					timeout:2000,
					isClick:false
				});
				return
			}
			console.log('打印计算', this.cpsQty)
			if (this.cpsQty != this.cplist[0].sQty) {
				this.isShow2 = true
				return
			} else {
				await this.save()
			}
		},
		async save(showResult = true) {
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				dataStores: {},
				parameters: {
					"sId": this.formData.sId,
					"_parameters": "sId",
					"_parameterTypes": "string",
					"dcID": "wmsmetalis",
					"_boId": "wmsmetalis_ifsFgwmsStockReceiptBO_bo",
					"_methodName": "doSubmitFgwmsStockReceipt",
					"_methodParameterTypes": "String"
				}
			});
			if (showResult) {
				if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
					// uni.showToast({
					// 	title: '提交成功',
					// 	icon: 'none',
					// 	success: () => {
					// 		setTimeout(() => {
					// 			let iIndex = getCurrentPages().findIndex(ele => ele.route === 'pagesB/finished-product/index')
					// 			let iPage = getCurrentPages()[iIndex]
					// 			iPage.$vm.isReload = true
					// 			uni.navigateBack({
					// 				delta: iIndex === -1 ? 1 : getCurrentPages().length - iIndex - 1
					// 			})
					// 		}, 500)
					// 	}
					// });
					this.$refs.mpopup.open({
						type:'success',
						content:'提交成功',
						timeout:2000,
					});
					setTimeout(() => {
						let iIndex = getCurrentPages().findIndex(ele => ele.route === 'pagesB/finished-product/index')
						let iPage = getCurrentPages()[iIndex]
						iPage.$vm.isReload = true
						uni.navigateBack({
							delta: iIndex === -1 ? 1 : getCurrentPages().length - iIndex - 1
						})
					}, 500)
				} else {
					// uni.showToast({
					// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					// 	icon: 'none',
					// 	mask: true
					// });
					this.$refs.mpopup.open({
						type:'warn',
						content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
						timeout:2500,
						isClick:false
					});
				}
			}
		},
		async confirm2() {
			await this.save()
		}
	}
};
</script>
<style>
page {
	background-color: #f1f5f7;
}
</style>
<style lang="scss" scoped>
@import '../../common/style/nav.scss';
</style>
<style lang="scss" scoped>
.buttonAdd{
	color: #fff;
    background-color: #007aff;
    margin: 10px 6px;
    font-size: 40px;
    line-height: 1.1;
}
.bottom-btn {
	width: 90%;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}
.new-page {
	.block {
		margin: 0 10rpx;
		width: 100% !important;
		.cnd-button {
			width: 100% !important;
		}
	}
}
</style>
