<template>
	<view class="h100">
		<view>
			<view class="custom" :style="[{ height: CustomBar + 'px' }]">
				<view class="navbar fixed white" :style="navStyle">
					<view class="icon-back between">
						<view class="left-text" @tap="toBack">
							<text class="iconfont icon-cnd-arrow-short-back" style="font-size: 40rpx;"></text>
							<text>返回</text>
						</view>
					</view>

					<view class="content" :style="{ top: StatusBar + 'px' }"><view style="color: #000;">入库到</view></view>
				</view>
			</view>
		</view>
		<view><mescroll-item :formData="formData" @change="bindStoreClick"></mescroll-item></view>

		<view class="function-box new-page">
			<view class="block"><cnd-button color="primary" size="block" icon="no" type="outlined" @clickEvent="toBack">返回</cnd-button></view>
			<view class="block">
				<block><cnd-button color="primary" size="block" icon="no" @clickEvent="seve">确认</cnd-button></block>
			</view>
		</view>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
import CndButton from '../components/button/button.vue';
import MescrollItem from './components/mescroll-store-item.vue';
export default {
	name: 'store-house',
	components: {
		CndButton,
		MescrollItem
	},
	data() {
		return {
			formData: {
				inbilldetailId: '',
				parentId: '',
				next: true
			},
			StatusBar: this.StatusBar,
			CustomBar: this.CustomBar,
			kuqukuwei: {}
		};
	},
	computed: {
		navStyle() {
			var StatusBar = this.StatusBar;
			var CustomBar = this.CustomBar;
			let style = `height:${CustomBar}px; padding-top:${StatusBar}px;`;
			return style;
		}
	},
	onLoad(e) {
		this.formData.inbilldetailId = e.id
		this.formData.parentId = e.parentId;
	},
	onShow() {
	},
	methods: {
		toBack() {
			// uni.removeStorageSync('parentId')
			// uni.removeStorageSync('kuweiId')
			// uni.removeStorageSync('kuquName')
			// uni.removeStorageSync('kuweiName')
			this.$util.pageBack();
		},
		
		seve() {
			// uni.showToast({
			// 	title: '入库成功',
			// 	icon: 'none'
			// });
			this.$refs.mpopup.open({
				type:'success',
				content:'入库成功',
				timeout:2000,
			});
			// uni.removeStorageSync('kuweiId')
			// uni.navigateBack({
			// 	delta: 1
			// })
			console.log('address', this.kuqukuwei);
			uni.setStorageSync('address', this.kuqukuwei);
			let pages = getCurrentPages();// 获取所有的页面栈
			let prevPage = pages[pages.length - 2]; // 找到上一个页面，注意是页面，如果是页面中有组件，则需要通过页面接受到数据后，再次往组件中传递
			// prevPage.$vm.addressObj(add)
			prevPage.$vm.addObj = this.kuqukuwei
			
			uni.navigateBack()
		},
		bindStoreClick(e){
			this.kuqukuwei = e
			// let { selectIndex, pdList } = this.$refs.me;
			// if (!uni.getStorageSync('kuweiId')) {
			// 	uni.showToast({
			// 		title: '请选择库位',
			// 		icon: 'none',
			// 		mask: true
			// 	});
			// 	return;
			// }
			// uni.setStorage({
			// 	key: 'kuquName',
			// 	data: this.formData.kuquName
			// });
			// uni.setStorage({
			// 	key: 'parentId',
			// 	data: this.formData.parentId
			// });
			
		}
	}
};
</script>
<style>
page {
	background-color: #f1f5f7;
}
</style>
<style lang="scss">
.custom {
	position: relative;

	.navbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		box-sizing: border-box;

		&.fixed {
			z-index: 997;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
		}

		&.white {
			background-color: $gray-0;
			color: $cnd-blue-5;
			box-shadow: 0 0 20upx rgba(0, 0, 0, 0.2);
		}

		&.blue {
			background-color: $cnd-blue-5;
			color: $gray-0;
		}

		.between {
			width: 22%;
			font-size: 28rpx;
			align-items: center;
		}

		.icon-back {
			margin-left: 16rpx;
			// position: absolute;
			// top: 50%;
			// transform: translateY(-50%);
			// left: 16rpx;
			// .left-text:hover {
			// 	opacity: 0.6;
			// }
		}

		.content {
			position: absolute;
			text-align: center;
			width: calc(100% - 340upx);
			left: 0;
			right: 0;
			bottom: 0;
			// top: --status-bar-height;
			margin: auto;
			height: 60upx;
			font-size: $font-size-subhead;
			line-height: 60upx;
			cursor: none;

			view {
				pointer-events: none;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				font-weight: 700;
				display: block;
			}
		}

		.action {
			display: flex;
			position: absolute;
			right: 0;
			margin-right: 22rpx;
			align-items: center;
			justify-content: flex-end;
		}
	}
}

.footer-area {
	position: fixed;
	left: 16rpx;
	right: 16rpx;
	bottom: 0;
	padding-bottom: 16rpx;
	display: flex;
	background-color: #f1f5f7;
	z-index: 3;

	.item {
		flex: 1;
		display: block;

		&:first-child {
			margin-right: 20rpx;
		}
	}
}
</style>
