<template>
	<view>
		<cnd-navbar color="white" isBack>
			<block slot='content'>成品列表</block>
		</cnd-navbar>
		<search-bar placeholder="输入加工作业单号" @confirm="bindConfirmEvent"></search-bar>
		<view class="list-container">
			<mescroll-item ref="me" :formData="formData"></mescroll-item>
		</view>
	</view>
</template>

<script>
	import CndNavbar from '@/components/navbar/cnd-navbar'
	import SearchBar from '../components/search/index.vue'
	import MescrollItem from './components/mescroll-item.vue'
	export default {
		name: 'index',
		components: { CndNavbar, SearchBar, MescrollItem },
		data() {
			return {
				formData: {
					parameter: ''
				},
				isReload: false,
				page: null
			}
		},
		onLoad (option) {
			this.page = option.page
		},
		onShow() {
			// if (this.page == 1) {
			// 	this.$store.dispatch('toSetPage', 1)
			// } else if (this.page == 2) {
			// 	this.$store.dispatch('toSetPage', 2)
			// }
			// const { page } = this.$store.state
			// console.error(page === 1 ? '废钢' : '建材')
			if(!this.isReload) return
			this.$nextTick(() => {
				this.$refs.me.mescroll.triggerDownScroll()
				this.$refs.me.mescroll.scrollTo(0, 300)
			})
			this.isReload = true
			// if (this.isReload) {
			// 	this.$refs.me.mescroll.triggerDownScroll();
			// }
			// this.isReload = true;
		},
		methods: {
			bindConfirmEvent(value) {
				uni.hideKeyboard()
				this.formData.parameter = value
				this.$nextTick(() => {
					this.$refs.me.mescroll.triggerDownScroll()
					this.$refs.me.mescroll.scrollTo(0, 300)
				})
			}
		}
	}
</script>

<style scoped lang="scss">
	@import "../../common/style/nav.scss";
</style>
<style>
page {
	background-color: #f1f5f7;
}
</style>
