<template>
	<view>
		<cnd-navbar color="white" isBack>
			<block slot='content'>成品明細</block>
		</cnd-navbar>
		<store-loc :addObj="addObj" :list="list" :cplist="cplist" :formData="formData" :sIsFinish="sIsFinish" ref="storeForm" @change="bindParChange" @refresh="getList"></store-loc>
		<view style="height: 136rpx;"></view>
		<view class="function-box new-page" v-if="!list.sId">
			<view class="block"><cnd-button color="primary" size="block" icon="no" @clickEvent="$noMultipleClicks(save)">确认</cnd-button></view>
		</view>
		<!-- 庫區提示内容 -->
		<cnd-dialog v-model="isShow1" @confirm="confirm1" :cancelButton="false">
			请选择库位！
		</cnd-dialog>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
import CndNavbar from '@/components/navbar/cnd-navbar';
// import CndUploadCell from 'cndapp-ui/components/upload/upload';
import CndButton from '../components/button/button';
import StoreLoc from './components/store-loc.vue';
import cndDialog from './components/cnd-dialog.vue'
export default {
	components: { 
		CndNavbar, 
		// CndUploadCell, 
		StoreLoc, 
		CndButton, 
		cndDialog 
	},
	data() {
		return {
			noClick: true,
			formData: {
				// 筛选条件
				sId: '',
				parameter: '',
				index: 0,
				id: '',
				sWarehouseAreaId: '',
				sWarehouseAreaName: '',
				sWarehouseLocationId: '',
				sWarehouseLocationName: '',
				sCode: ''
			},
			isShow1: false,
			sIsFinish: undefined,
			list: {
				sWarehouseAreaName: '',
				sWarehouseLocationName: '',
			},
			cplist: [],
			initForm: true,
			isUpdate: false,
			saveing: false,
			dataList: {},
			addObj: {}
		};
	},
	async onLoad(e) {
		let { id, index, sIsFinish, sId, sCode } = e;
		this.formData.index = ~~index;
		this.formData.sId = id;
		this.formData.id = sId;
		this.formData.sCode = sCode;
		this.sIsFinish = ~~sIsFinish
		uni.setStorage({
			key: 'productsId',
			data: this.formData.id
		});
		uni.setStorage({
			key: 'listsId',
			data: this.formData.sId
		});
		uni.$on('goStore', () => {
			this.goStore()
		})
		uni.$on('uploadBefore',  async () => {
			if (this.saveing) {
				return
			} 
			this.saveing = true
			await this.save(false)
			this.saveing = false
		})
		if (this.formData.sId) {
			await this.getList();
		}
		await this.getcpList()
	},
	async onShow() {
		if (this.isUpdate) {
			// await this.getList();
			// if (this.formData.sId) {
			// 	await this.save(false)
			// }
			if (this.formData.sId) {
				await this.getList();
			}
			this.dataList = this.$refs.storeForm.dataList
			// this.$refs.storeForm.addParentIdObj()
			// 引入的库区库位
			let pages = getCurrentPages();
			let currPage = pages[pages.length - 1]; // 当前页的实例
			this.addObj = currPage.$vm.addObj
		}
		// await this.getcpList()
		this.isUpdate = true;
	},
	async mounted () {
		
	},
	methods: {
		goStore() {
			let { list } = this;
			// this.save(false)
			uni.navigateTo({
				url: `/pagesB/finished-product/house-prev?page=${this.$store.state.page}&id=${list.sId}&parentId=${list.sWarehouseId}`
			});
		},
		async getcpList() {
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				
				"dataStores": {},
				"parameters": {
					sId: this.formData.id,
					"_parameters":"sId",
					"_parameterTypes":"string",
					"dcID":"wmsmetalis",
					"_boId":"wmsmetalis_ifsFgWmsMachiningDetailBO_bo",
					"_methodName":"queryFgWmsMachiningDetail",
					"_methodParameterTypes":"String"
				},
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				let cplist = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
				console.log('原料12信息', cplist);
				this.cplist = cplist;
			} else {
				// uni.showToast({
				// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
				// 	icon: 'none',
				// 	mask: true
				// });
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
			uni.hideLoading();
		},
		async getList() {
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				dataStores: {},
				parameters: {
					"sId": this.formData.sId, 
					"_parameters": "sId", 
					"_parameterTypes": "string", 
					"dcID": "wmsmetalis", 
					"_boId": "wmsmetalis_ifsFgwmsPickDetailBO_bo", 
					"_methodName": "queryFgwmsPickDetailById", 
					"_methodParameterTypes": "String"
				}
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				let list = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
				console.log('成品明細', list);
				this.list = list;
			} else {
				// uni.showToast({
				// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
				// 	icon: 'none',
				// 	mask: true
				// });
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
		},
		async bindParChange() {
			this.getList()
			this.getcpList()
		},
		async save(showResult2 = true) {
			// if (showResult2) {
			// 	if (this.dataList.sMaterialType == '' || this.dataList.sGrade == '' || this.dataList.sQty == '' || this.dataList.vSubWarehouseLocationName == '') {
			// 		uni.showToast({
			// 			title: '红色字体为必录项，请检查！',
			// 			icon: 'none'
			// 		});
			// 		return
			// 	}
			// }
			// console.log('dataList', dataList)
			// let { info } = this;
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				dataStores: {
					"mapParams": {
						rowSet: {
							"primary": [
								{
									"parameters": {
										"pdParam": [
											{
												"sStockReceiptId": this.formData.id, 
												"sArtId": this.dataList.sArtId,
												"sGrade": this.dataList.sGrade, 
												"sWarehouseAreaId": this.dataList.sWarehouseAreaId, 
												"sWarehouseLocationId": this.dataList.sWarehouseLocationId, 
												"sQty": this.dataList.sQty
											}
										]
									}
								}
							], 
							filter: [],
							delete: []
						},
						name: "mapParams",
						pageNumber: 1,
						pageSize: 2147483647,
						recordCount: 0,
					}
				},
				 parameters: {
					"_parameters": "mapParams", 
					"_parameterTypes": "pojo", 
					"dcID": "wmsmetalis", 
					"_boId": "wmsmetalis_ifsFgwmsPickDetailBO_bo", 
					"_methodName": "saveFgwmsPickDetail", 
					"_methodParameterTypes": "java.util.Map"
				}
			});
			if (showResult2) {
				if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
					// this.getList()
					// uni.navigateBack({//返回
					// 	delta: 4
					// })
					// uni.showToast({
					// 	title: '保存成功',
					// 	icon: 'none',
					// 	success: () => {
					// 		setTimeout(() => {
					// 			let iIndex = getCurrentPages().findIndex(ele => ele.route === 'pagesB/finished-product/detail')
					// 			let iPage = getCurrentPages()[iIndex]
					// 			iPage.$vm.isReload = true
					// 			uni.navigateBack({
					// 				delta: iIndex === -1 ? 1 : getCurrentPages().length - iIndex - 1
					// 			})
					// 		}, 500)
					// 	}
					// });
					this.$refs.mpopup.open({
						type:'success',
						content:'保存成功',
						timeout:2000,
					});
					setTimeout(() => {
						let iIndex = getCurrentPages().findIndex(ele => ele.route === 'pagesB/finished-product/detail')
						let iPage = getCurrentPages()[iIndex]
						iPage.$vm.isReload = true
						uni.navigateBack({
							delta: iIndex === -1 ? 1 : getCurrentPages().length - iIndex - 1
						})
					}, 500)
				} else {
					// uni.showToast({
					// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					// 	icon: 'none',
					// 	mask: true
					// });
					this.$refs.mpopup.open({
						type:'warn',
						content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
						timeout:2500,
						isClick:false
					});
				}
			}
		},
		confirm1() {
		}
	}
};
</script>
<style>
page {
	background-color: #f1f5f7;
}
</style>
<style lang="scss" scoped>
@import '../../common/style/nav.scss';
</style>
<style lang="scss" scoped>
.bottom-btn {
	width: 90%;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}
.new-page {
	.block {
		margin: 0 10rpx;
		width: 100% !important;
		.cnd-button {
			width: 100% !important;
		}
	}
}
</style>
