<template>
	<view class="cnd-switch" :class="{'checked':isChecked,'disabled':idDisabled}" @click="change()">
		<view class="iconWrapper">
			<!-- <i class="iconfont" :class="[isChecked ? 'icon-cnd-checkmark is_checked':'icon-cnd-close']"></i> -->
		</view>
	</view>
</template>

<script>
	export default {
		name: 'cnd-switch',
		data() {
			return {
				isChecked: false,
			}
		},
		props: {
			value: {
				type: Boolean,
				default: true
			},
			disabled: {
				type: Boolean,
				default: false
			}
		},
		computed: {
			idDisabled() {
				return this.disabled
			}
		},
		created: function() {
			this.isChecked = this.value
		},
		watch: {
			value: function() {
				this.isChecked = this.value
			}
		},
		methods: {
			change() {
				if (!this.idDisabled) {
					this.$emit('change')
					this.$emit('input', !this.value)

					this.isChecked = !this.isChecked
				}
			}
		}
	}
</script>

<style lang="scss">

	$contained-height: 36rpx;
	$contained-width: 72rpx;
	$iconwrapper-size: 32rpx;

	$font-size: 40rpx;

	.cnd-switch {
		height: $contained-height;
		width: $contained-width;
		border-radius: 20rpx;
		display: flex;
		flex-direction: row;

		transition: all 0.5s ease-out;
		//正常状态 && 关闭状态
		border: 2rpx solid $gray-3;
		background-color: $gray-3;

		.iconWrapper {
			position: relative;
			height: $iconwrapper-size;
			width: $iconwrapper-size;
			border-radius: 50%;
			border: 2rpx solid $gray-3;
			background-color: $gray-0;

			transition: all 0.5s;

			display: flex;
			justify-content: center;
			align-items: center;

			box-shadow: 0 10rpx 20rpx 0 rgba(0, 0, 0, 0.1), 0 3rpx 4rpx 0 rgba(0, 0, 0, 0.3);

			.iconfont {
				transition: all 0.5s;

				font-size: $font-size;
				color: $gray-5;
				&.is_checked {
					position: absolute;
					right: 50%;
					transform: translateX(20rpx)
				}
			}
		}

		//正常状态 && 选中状态
		&.checked {
			border-color: $cnd-blue-5;
			background-color: $cnd-blue-5;

			justify-content: flex-end;

			.iconWrapper {
				border-color: $cnd-blue-5;
				background-color: $gray-0;

				box-shadow: 0 20rpx 40rpx 0 rgba(0, 0, 0, 0.1), 0 6rpx 8rpx 0 rgba(0, 0, 0, 0.3);

				.iconfont {
					color: $cnd-blue-5;
				}
			}
		}

		//禁用状态 && 关闭状态 
		&.disabled {
			background-color: colorDisable($gray-3);
			border-color: colorDisable($gray-3);

			.iconWrapper {
				border-color: colorDisable($gray-3);
				background-color: $gray-0;

				box-shadow: 0 10rpx 20rpx 0 rgba(0, 0, 0, 0.1), 0 3rpx 4rpx 0 rgba(0, 0, 0, 0.3);

				.iconfont {
					color: colorDisable($gray-5);
				}
			}

			//禁用状态 && 选中状态 
			&.checked {
				background-color: colorDisable($cnd-blue-5);
				border-color: colorDisable($cnd-blue-5);

				justify-content: flex-end;

				.iconWrapper {
					border-color: colorDisable($cnd-blue-5);
					background-color: $gray-0;

					box-shadow: 0 20rpx 40rpx 0 rgba(0, 0, 0, 0.1), 0 6rpx 8rpx 0 rgba(0, 0, 0, 0.3);

					.iconfont {
						color: colorDisable($cnd-blue-5);
					}
				}
			}
		}
	}
</style>
