<template>
	<view class="cnd-list-card-demo cnd-demo-body">
		<view class="demo-show-box">
			<view class="title">
				<text>演示效果</text>
			</view>
			<view class="content gray">
				<view class="content-special">
					<cnd-list-group :layoutSize="config.layoutSize">
						<cnd-list-title :layoutSize="config.layoutSize" title="标题名称" :icon="config.icon" :status="config.titleStatus" :statusType="config.titleStatusType" :statusColor="config.titleStatusColor"></cnd-list-title>
						<cnd-list-content :layoutSize="config.layoutSize" title="小标题" :titleColor="config.titleColor" :valueColor="config.valueColor" value="内容内容内容"
						 :type="config.type"></cnd-list-content>
						<cnd-list-content :layoutSize="config.layoutSize" title="小标题" :titleColor="config.titleColor" :valueColor="config.valueColor" value="内容内容内容"
						 :type="config.type"></cnd-list-content>
						<cnd-list-content :layoutSize="config.layoutSize" title="小标题" :titleColor="config.titleColor" :valueColor="config.valueColor" value="这是一段比较长的内容内容内容内容内容内容"
						 :type="config.type"></cnd-list-content>
						 <cnd-list-footer v-if="config.layoutSize == 'default'" :value="config.footerValue" :button="config.button"></cnd-list-footer>
					</cnd-list-group>
				</view>
			</view>
		</view>
		
		<view :style="{height: config.layoutSize == 'default' ? '512rpx':'324rpx', width: '100%'}"></view>
		
		<view class="demo-option-box" v-for="(item,indexA) in optionList" :key="indexA">
			<view class="title">
				<text>{{item.title}}</text>
			</view>
			<view class="content">
				<cnd-option-card-group :length="item.tabs.length" v-model="item.selected" @select="operate">
					<cnd-option-card v-for="(tab,indexB) in item.tabs" :key="indexB" :data="tab">
					</cnd-option-card>
				</cnd-option-card-group>
			</view>
		</view>
	</view>
</template>

<script>
	import cndListTitle from "../list-title.vue"
	import cndListContent from "../list-content.vue"
	import cndListFooter from "../list-footer.vue"
	import cndListGroup from "../list-group.vue"
	import cndOptionCardGroup from "../../option-card/option-card-group.vue"
	import cndOptionCard from "../../option-card/option-card.vue"

	export default {
		name: 'cnd-list-card-demo',
		data() {
			return {
				config: {
					titleStatus: '状态栏',
					titleStatusType: 'normal',
					titleStatusColor: 'primary',
					icon: 'icon-cnd-list',
					type: 'alignLeft',
					titleColor: 'default',
					valueColor: 'default',
					footerValue: '底部文字',
					layoutSize: 'default',
					button: []
				},
				optionList: [{
						title: '是否展示图标',
						selected: [0],
						tabs: [{
							label: '是',
							itemID: 0,
							keyword: 'icon',
							value: 'icon-cnd-list'
						}, {
							label: '否',
							itemID: 1,
							keyword: 'icon',
							value: ''
						}],
					}, {
						title: '是否显示状态栏',
						selected: [0],
						tabs: [{
							label: '是',
							itemID: 0,
							keyword: 'titleStatus',
							value: '状态栏'
						}, {
							label: '否',
							itemID: 1,
							keyword: 'titleStatus',
							value: ''
						}],
					}, {
						title: '状态栏样式',
						selected: [0],
						tabs: [{
							label: '正常',
							itemID: 0,
							keyword: 'titleStatusType',
							value: 'normal'
						}, {
							label: '加粗',
							itemID: 1,
							keyword: 'titleStatusType',
							value: 'bold'
						}],
					}, {
						title: '状态栏颜色',
						selected: [0],
						tabs: [{
							label: '主题色',
							itemID: 0,
							keyword: 'titleStatusColor',
							value: 'primary'
						}, {
							label: '危险色',
							itemID: 1,
							keyword: 'titleStatusColor',
							value: 'danger'
						}, {
							label: '警告色',
							itemID: 2,
							keyword: 'titleStatusColor',
							value: 'warning'
						}, {
							label: '信息色',
							itemID: 3,
							keyword: 'titleStatusColor',
							value: 'info'
						}],
					}, {
						title: '对齐方式',
						selected: [0],
						tabs: [{
							label: '左对齐',
							itemID: 0,
							keyword: 'type',
							value: 'alignLeft'
						}, {
							label: '左右对齐',
							itemID: 1,
							keyword: 'type',
							value: 'alignBoth'
						}],
					},
					{
						title: '小标题颜色',
						selected: [0],
						tabs: [{
							label: '默认(灰)',
							itemID: 0,
							keyword: 'titleColor',
							value: 'default'
						}, {
							label: '主题(蓝)',
							itemID: 1,
							keyword: 'titleColor',
							value: 'blue'
						}, {
							label: '红',
							itemID: 2,
							keyword: 'titleColor',
							value: 'red'
						}, {
							label: '绿',
							itemID: 3,
							keyword: 'titleColor',
							value: 'green'
						}],
					},
					{
						title: '内容颜色',
						selected: [0],
						tabs: [{
							label: '默认(黑)',
							itemID: 0,
							keyword: 'valueColor',
							value: 'default'
						}, {
							label: '主题(蓝)',
							itemID: 1,
							keyword: 'valueColor',
							value: 'blue'
						}, {
							label: '红',
							itemID: 2,
							keyword: 'valueColor',
							value: 'red'
						}, {
							label: '绿',
							itemID: 3,
							keyword: 'valueColor',
							value: 'green'
						}],
					},
					{
						title: '是否显示底部文字',
						selected: [0],
						tabs: [{
							label: '是',
							itemID: 0,
							keyword: 'footerValue',
							value: '底部文字'
						}, {
							label: '否',
							itemID: 1,
							keyword: 'footerValue',
							value: ''
						}],
					},
					{
						title: '底部按钮',
						selected: [0],
						tabs: [{
							label: '示例按钮1',
							itemID: 0,
							keyword: 'button',
							value: '1'
						}, {
							label: '示例按钮2',
							itemID: 1,
							keyword: 'button',
							value: '2'
						}],
					},
					{
						title: '布局',
						selected: [0],
						tabs: [{
							label: '默认',
							itemID: 0,
							keyword: 'layoutSize',
							value: 'default'
						}, {
							label: '小',
							itemID: 1,
							keyword: 'layoutSize',
							value: 'small'
						}],
					},
				],
				button1: [{
						icon: 'no',
						type: 'contained',
						color: 'primary',
						name: 'done'
					},
					{
						icon: 'no',
						type: 'outlined',
						color: 'default',
						name: 'info'
					},
				],
				button2: [{
						icon: 'no',
						type: 'contained',
						color: 'primary',
						name: 'done'
					},
					{
						icon: 'no',
						type: 'outlined',
						color: 'default',
						name: 'info'
					},
					{
						icon: 'no',
						type: 'outlined',
						color: 'warning',
						name: 'warn'
					},
				]
			}
		},
		components: {
			cndListTitle,
			cndListContent,
			cndListFooter,
			cndListGroup,
			cndOptionCardGroup,
			cndOptionCard
		},
		mounted() {
			this.config.button = this.button1.slice()
		},
		methods: {
			operate(data) {
				// console.log(data)
				if(data.keyword == 'button') {
					this.config.button = this['button' + data.value].slice()
				} else {
					this.config[data.keyword] = data.value
				}
			}
		}
	}
</script>

<style lang="scss" scoped>
	@import "../../style/demo-style.scss";
	
	.demo-show-box {
		position: fixed;
		width: 714rpx;
	}
	
	.content-special {
		width: 100%;
		box-sizing: border-box;
		padding: 12rpx;

		display: flex;
		flex-direction: row;
		// justify-content: center;
		align-items: center;
	}
</style>
