<template>
	<view>
		<cnd-navbar color="white" isBack>
			<block slot='content'>出库明细</block>
		</cnd-navbar>
		<view class="list-container"><mescroll-item :formData="formData" ref="me" @leftAction="bindTitleClick"></mescroll-item></view>
		<view class="function-box new-page">
			<view class="block"><cnd-button color="primary" size="block" icon="no" :loading="continueLoading" @clickEvent="bindContinue">继续装车</cnd-button></view>
			<view class="block"><cnd-button color="primary" size="block" icon="no" :loading="commitLoading" @clickEvent="bindCommit">装车完毕</cnd-button></view>
		</view>
		<pre-mask v-if="isPreMask"></pre-mask>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
import CndNavbar from '@/components/navbar/cnd-navbar.vue';
import CndButton from '../components/button/button.vue';
import SearchBar from '../components/search/index.vue';
import MescrollItem from './components/mescroll-detail-item.vue';
import CndForm from '../components/form/cnd-form.vue';
import CndFormItem from '../components/form-item/cnd-form-item';
import { baseUrl, getReqTime } from '@/common/utils/index.js'
// import PreMask from '@/components/premask/pre-mask.vue'
export default {
	name: 'detail',
	components: { CndNavbar, CndButton, SearchBar, MescrollItem, CndForm, CndFormItem },
	data() {
		return {
			formData: {
				// 筛选条件
				sId: '', //上架单id
				parameter: ''
			},
			commitLoading: false,
			continueLoading: false,
			isPreMask: false,
			isReload: false,
			list: [],
			info: {},
			clickItem: {},
			pageObj: {},
			parameters: {
				"sId": "",
				"sQtx": "",
				"_parameters": "sId,sQtx",
				"_parameterTypes": "string,string",
				"dcID": "wmsjccwis",
				"_boId": "wmsjccwis_ifsJcwmsInBillDetailBO_bo",
				"_methodName": "splitWmsInBillDetail",
				"_methodParameterTypes": "String,String"
			},
			parWeight: 0
		};
	},
	computed: {

	},
	onLoad(e) {
		this.formData.sId = e.id;
	},
	onShow() {
		if (!this.isReload) {
			this.isReload = true;
		} else {
			this.$refs.me.mescroll.resetUpScroll();
		}
	},
	methods: {
		bindTitleClick(item) {
			this.parWeight = 0
			this.parameters['sQtx'] = ''
			this.$refs.par.open()
			console.log(item)
			this.clickItem = item
		},
		bindParDialogChange(e) {
			console.log(e)
			// if(e.show) this.$refs.loading.open()
		},
		async bindContinue() {
			this.doCommit()
		},
		// 继续装车
		async doCommit() {
			uni.showModal({
				title: '提示',
				content: '确认继续装车？',
				success: async res => {
					if (res.confirm) {
						let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
							dataStores: {},
							parameters: {
								"outId": this.formData.sId,
								"_parameters": "outId",
								"_parameterTypes": "string",
								"dcID": "wmsmetalis",
								"_boId": "wmsmetalis_ifsFgwmsOutBillBO_bo",
								"_methodName": "doContinueLoading",
								"_methodParameterTypes": "String"
							}
						});
						if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
							// uni.showToast({
							// 	title: '操作成功！',
							// 	icon: 'none',
							// 	success: () => {
							// 		setTimeout(() => {
							// 			let iIndex = getCurrentPages().findIndex(ele => ele.route === 'pagesB/delivery/index')
							// 			let iPage = getCurrentPages()[iIndex]
							// 			iPage.$vm.isReload = true
							// 			uni.navigateBack({
							// 				delta: iIndex === -1 ? 1 : getCurrentPages().length - iIndex - 1
							// 			})
							// 		}, 500)
							// 	}
							// })
							this.$refs.mpopup.open({
								type:'success',
								content:'操作成功！',
								timeout:2000,
							});
							setTimeout(() => {
								let iIndex = getCurrentPages().findIndex(ele => ele.route === 'pagesB/delivery/index')
								let iPage = getCurrentPages()[iIndex]
								iPage.$vm.isReload = true
								uni.navigateBack({
									delta: iIndex === -1 ? 1 : getCurrentPages().length - iIndex - 1
								})
							}, 500)
							// await this.generationCost()
							this.$refs.me.mescroll.triggerDownScroll();
						} else {
							// uni.showToast({
							// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
							// 	icon: 'none',
							// 	mask: true
							// });
							this.$refs.mpopup.open({
								type:'warn',
								content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
								timeout:2500,
								isClick:false
							});
						}
					}
				}
			});
		},
		// 装车完毕
		async bindCommit() {
			this.doCommit2()
		},
		async doCommit2() {
			uni.showModal({
				title: '提示',
				content: '确认装车完毕？',
				success: async res => {
					if (res.confirm) {
						let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
							dataStores: {},
							parameters: {
								"outId": this.formData.sId,
								"_parameters": "outId",
								"_parameterTypes": "string",
								"dcID": "wmsmetalis",
								"_boId": "wmsmetalis_ifsFgwmsOutBillBO_bo",
								"_methodName": "doSubmit",
								"_methodParameterTypes": "String"
							}
						});
						if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
							// uni.showToast({
							// 	title: '操作成功！',
							// 	icon: 'none',
							// 	success: () => {
							// 		setTimeout(() => {
							// 			let iIndex = getCurrentPages().findIndex(ele => ele.route === 'pagesB/delivery/index')
							// 			let iPage = getCurrentPages()[iIndex]
							// 			iPage.$vm.isReload = true
							// 			uni.navigateBack({
							// 				delta: iIndex === -1 ? 1 : getCurrentPages().length - iIndex - 1
							// 			})
							// 		}, 500)
							// 	}
							// })
							this.$refs.mpopup.open({
								type:'success',
								content:'操作成功！',
								timeout:2000,
							});
							setTimeout(() => {
								let iIndex = getCurrentPages().findIndex(ele => ele.route === 'pagesB/delivery/index')
								let iPage = getCurrentPages()[iIndex]
								iPage.$vm.isReload = true
								uni.navigateBack({
									delta: iIndex === -1 ? 1 : getCurrentPages().length - iIndex - 1
								})
							}, 500)
							// await this.generationCost()
							this.$refs.me.mescroll.triggerDownScroll();
						} else {
							// uni.showToast({
							// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
							// 	icon: 'none',
							// 	mask: true
							// });
							this.$refs.mpopup.open({
								type:'warn',
								content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
								timeout:2500,
								isClick:false
							});
						}
					}
				}
			});
		},
	}
};
</script>

<style lang="scss" scoped>
@import '../../common/style/nav.scss';
.new-page {
	.block {
		margin: 0 10rpx;
		width: 50% !important;
		.cnd-button {
			width: 100% !important;
		}
	}
}
</style>
<style>
page {
	background-color: #f1f5f7;
}
</style>
