<template>

	<view>
		<view class="list-box first-list-box">
			<cnd-list-group>
				<cnd-list-content title="发货通知日期" :value="setInfo.sScheduleDeliveryTime || '无'" type="alignLeft" titleW="235" :valueW="true"></cnd-list-content>
				<cnd-list-content title="ERP出仓单号" :value="setInfo.erpCode || '无'" type="alignLeft" titleW="235" :valueW="true"></cnd-list-content>
				<cnd-list-content title="发货通知单号" :value="setInfo.sCode || '无'" type="alignLeft" titleW="235" :valueW="true"></cnd-list-content>
				<cnd-list-content title="提货单位" :value="setInfo.vSubBuyOrSaleName || '无'" type="alignLeft" titleW="235" :valueW="true"></cnd-list-content>
				<cnd-list-content title="仓库" :value="setInfo.vSubWarehouseName || '无'" type="alignLeft" titleW="235" :valueW="true"></cnd-list-content>
				<cnd-list-content title="货品名称" :value="setInfo.vSubArtName || '无'" type="alignLeft" titleW="235" :valueW="true"></cnd-list-content>
				<cnd-list-content title="通知吨数" :value="String(setInfo.sQty) || '无'" type="alignLeft" titleW="235" :valueW="true"></cnd-list-content>
			</cnd-list-group>
		</view>
		<view class="list-box first-list-box">
			<cnd-list-group>
				<cnd-list-title title="车牌号/库位" v-if="curIndex == '0' && userRoleName" icon="icon-cnd-fitness" id="id" :rightDisared="false" rightDelLabel="新增" @redDel="onSee"></cnd-list-title>
				<cnd-list-title title="车牌号/库位" v-else icon="icon-cnd-fitness" id="id"></cnd-list-title>
				<!-- <view v-if="testOptions.length">
					<checkbox-group @change="checkboxChange">
						<view class="codeDisplay">
							<view v-for="(item, ind) in testOptions" :key="ind" class="mgb24" style="">
									<checkbox :value="item" >{{item}}</checkbox>
							</view>
						</view>
					</checkbox-group>
				</view> -->
				<view v-if="testOptions.length">
					<view class="codeDisplay">
						<view v-for="(item, ind) in testOptions" :key="ind" class="mgb24" style="">
								<i class="iconfont redDel icon-cnd-close-circle-solid" v-if="curIndex == '0' && userRoleName" @click="onDel(item)"></i>
								<text>{{item.sLicensePlate}}</text>
								<text>{{item.vSubWarehouseLocationName}}</text>
						</view>
					</view>
				</view>
				<view class="atNull" v-else>当前为空~~</view>
			</cnd-list-group>
		</view>
		<cnd-search-group v-model="show" title="出库通知单明细" @toHide="toHide">
			<view class="textarea" :style="'height:'+phoneHeight">
				<!-- <view class="footer">
					<view class="item cancel" @click="bindParClose">取消</view>
					<view class="item define" @click="bindParConfirm">确定</view>
				</view> -->
				<!-- <checkbox-group @change="checkboxChange">
					<view class="codeDisplay">
						<view v-for="(item, ind) in tooList" :key="ind" class="mgb24" style="">
							<checkbox :value="item" >{{item}}</checkbox>
						</view>
					</view>
				</checkbox-group> -->
				<view class="classifyBigBox codeDisplay">
					<view class="oneClassify flex" :class="{selectActive:tooList.indexOf(item.sId)!=-1}" v-for="item in pdList" :key="item.sId" @click="onSelectClassify(item)">
						{{item.sLicensePlateNumber}}
					</view>
				</view>
				
				<!-- <textarea :adjust-position="true" placeholder="若是多个车牌号，车牌号之间请用逗号隔开，例如：闽D666666，闽D888888" v-model="addremarkData.codeName"></textarea> -->
			</view>
			<block slot="bottom">
				<view class="function-box new-page">
					<view class="block"><cnd-button color="primary" :disabled="false" size="block" icon="no" type="outlined" @clickEvent="bindParClose">取消</cnd-button></view>
					<view class="block"><cnd-button color="primary" :disabled="false" size="block" icon="no" @clickEvent="bindParConfirm">下一步</cnd-button></view>
				</view>
			</block>
			
		</cnd-search-group>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
	import CndListGroup from '@/components/list-group/list-group.vue'
	import CndListContent from '@/components/list-group/list-content.vue'
	import CndListTitle from '@/components/list-group/list-title.vue'
	import { uniToRpx, formatTime } from '@/common/utils/index.js'
	// import CndCheckbox from '@/components/checkbox-new/cnd-checkbox.vue'
	// import CndCheckboxGroup from '@/components/checkbox-new/cnd-checkbox-group.vue'
	// import cndPopContent from "@/components/pop-content/pop-content.vue"
	import cndSearchGroup from "../../components/search-cell/search-group.vue"
	// import CndTextarea from '@/components/textarea/cnd-textarea';
	import CndButton from '@/components/button/button.vue';
	
	export default {
		components: {
			CndListGroup,
			CndListContent,
			CndListTitle,
			// CndCheckbox,
			// CndCheckboxGroup,
			// cndPopContent,
			cndSearchGroup,
			// CndTextarea,
			CndButton
		},
		props: {
			details: Array,
			info: Object,
			sId: [Number, String, Boolean],
			sWarehouseId: String,
			curIndex: String
		},
		data() {
			return {
				addremarkData: {
					jobId: '',
					codeName: "",
				},
				testOptions: [],
				tooList: [
				],
				show: false,
				selectedItem:{},
				selectedArray:[],
				setInfo:{},
				testOptionstoString:'',
				selected: {}, //选取的分类 ,用对象更方便存取数据
				pdList:[],
				userInfo:{},
				roleNameStatus: {},
				userRoleName:'',
				phoneHeight: '',
				setListTo: []
			};
		},
		mounted() {
			
			this.userInfo = uni.getStorageSync("userInfo");
			this.roleNameStatus = uni.getStorageSync("roleNameStatus");
			for (let i in this.userInfo.role) {
				this.userRoleName = this.userInfo.role[i].roleName == this.roleNameStatus.salesman;
				if (this.userRoleName == true) break
			}
			let _this = this;
            wx.getSystemInfo({
                success: res => {
                    _this.phoneHeight = res.windowHeight - 180 + 'px';
                }
            });
		},
		methods: {
			async getList() {
				console.log('仓库id',this.setInfo.sWarehouseId)
				uni.showLoading({
					title: '请稍候',
					mask: true
				});
				// console.log(this.formData.index, this.dataList[this.formData.index].sId)
				let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
					
					"dataStores": {},
					"parameters": {
						"sWarehouseId":this.setInfo.sWarehouseId,
						"pageNumber":1,
						"pageSize":1000,
						"_parameters":"sWarehouseId,pageNumber,pageSize",
						"_parameterTypes":"string,string,string",
						"dcID":"wmsdeliveryis",
						"_boId":"wmsdeliveryis_ifsWmsDeliveryDetailsBO_bo",
						"_methodName":"queryCarNo",
						"_methodParameterTypes":"String,int,int"
					},
				});
				if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
					let list = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
					console.log('车牌列表', list);
					this.pdList = list;
				} else {
					this.$refs.mpopup.open({
						type:'warn',
						content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
						timeout:2500,
						isClick:false
					});
				}
				uni.hideLoading();
			},
			//选取分类
			onSelectClassify(item) {
				
				if (this.tooList.indexOf(item.sId) == -1) {
					this.tooList.push(item.sId)
					this.setListTo.push(item)
				} else {
					this.tooList.splice(this.tooList.indexOf(item.sId), 1); //取消
					this.setListTo.splice(this.tooList.indexOf(item), 1); //取消
				}
				console.log('打印tooList', this.tooList, this.setListTo)
				
			},
            //多选
            // checkboxChange(evt) {
            //     let objectA = {}
            //     let arr = []
            //     for (let i = 0; i < this.tooList.length; i++) {
					 
            //         for (let j = 0; j < evt.target.value.length; j++) {
            //             if (this.tooList[i] === evt.target.value[j]) {
            //                 var objectB = this.tooList[i];
            //                 this.$set(objectA, evt.target.value[j], objectB)
            //                 arr.push(this.tooList[i])
            //                 break;
            //             }
            //         }
            //     }
			// 	console.log('打印objectA',evt)
            //     this.selectedItem = objectA;
			// 	this.testOptions = arr;
			// 	this.testOptionstoString = this.testOptions.toString()
            // },
			// bindCheckboxGroupChange(data) {
			// 	console.log('打印data',data)
			// if (!this.selectedArray.length) {
			// 		uni.showToast({
			// 			title: `请至少勾选一条数据！`,
			// 			icon: 'none',
			// 			mask: true
			// 		});
			// 		return
			// 	}
			// 	console.log('删除',this.selectedArray)
			// },
			onSee(){
				this.show = true
				this.tooList = []
				this.setListTo = []
				// this.checkboxChange()
				// this.addremarkData.codeName = ''
				
			},
			onDel(item){
				// uni.showModal({
				// 	title: '提示',
				// 	content: '是否确认要删除车牌号？',
				// 	success: (res)=> {
				// 		if (res.confirm) {
				// 			this.testOptions = this.testOptions.filter((i) => {
				// 				// console.log(i)
				// 				return i != item
				// 			})
				// 		} else if (res.cancel) {
				// 			console.log('取消');
				// 		}
				// 	}
				// });
				// this.testOptions = this.testOptions.filter((i) => {
				// 	// console.log(i)
				// 	return i != item
				// })
				// this.testOptions.splice(this.testOptions.indexOf(item), 1)
				// this.testOptionstoString = this.testOptions.toString()
				this.setDel(item)
				
			},
			toHide(){
				// uni.$emit('toHide')
			},
			bindParClose(){
				this.show = false
				// this.$emit('bindParClose')
				
			},
			bindParConfirm(){
				// let _a = this.addremarkData.codeName.replace(/，/g,",").split(",")
				// this.testOptions = this.testOptions.concat(_a)
				// this.testOptionstoString = this.testOptions.toString()
				// this.testOptions = this.tooList
				let str=encodeURIComponent(JSON.stringify(this.setListTo))
				uni.navigateTo({
					
					url: `/pagesC/deliveryNotice/house-prev?page=${this.$store.state.page}&parentId=${this.setInfo.sWarehouseId}&sId=${this.setInfo.sId}&setListTo=${str}`
				});
				// this.tooList = this.tooList.concat(this.testOptions) 
				// this.testOptionstoString = this.tooList.toString()
				// this.setAdd()
				this.show = false
			},
			// 添加车辆信息
			// async setAdd() {
			// 	let res = await this.$http(
			// 		"techcomp/ria/commonProcessor!commonMethod.action", {
			// 			dataStores: {},
			// 			"parameters":{
			// 				"sId":this.sId,
			// 				"carId":this.testOptionstoString,
			// 				"_parameters":"sId,carId",
			// 				"_parameterTypes":"string,string",
			// 				"dcID":"wmsmetalis",
			// 				"_boId":"wmsmetalis_ifsOutNotifyWorkbenchBO_bo",
			// 				"_methodName":"saveCarInfoList",
			// 				"_methodParameterTypes":"String,String"
			// 			}
			// 		}
			// 	);
			// 		if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
			// 			uni.showToast({
			// 				title: "操作成功",
			// 				icon: "none",
			// 				success: () => {
			// 					this.$emit('bindParClose')
			// 				},
			// 			});
			// 		} else {
			// 			uni.showToast({
			// 				title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
			// 				icon: "none",
			// 				mask: true,
			// 			});
			// 		}
			// },
			// 删除车辆信息
			async setDel(item) {
				let res = await this.$http(
					"techcomp/ria/commonProcessor!commonMethod.action", {
						dataStores: {},
						"parameters":{
							// "sId":this.sId,
							// "carId":this.testOptionstoString,
							// "_parameters":"sId,carId",
							// "_parameterTypes":"string,string",
							// "dcID":"wmsmetalis",
							// "_boId":"wmsmetalis_ifsOutNotifyWorkbenchBO_bo",
							// "_methodName":"saveCarInfoList",
							// "_methodParameterTypes":"String,String"
							"carId": item.sId,
							"_parameters": "carId",
							"_parameterTypes": "string",
							"dcID": "wmsmetalis",
							"_boId": "wmsmetalis_ifsOutNotifyWorkbenchBO_bo",
							"_methodName": "deleteCarInfo",
							"_methodParameterTypes": "String"
						}
					}
				);
				if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
					// uni.showToast({
					// 	title: "操作成功",
					// 	icon: "none",
					// 	success: () => {
					// 		this.$emit('bindParClose')
					// 	},
					// });
					this.$refs.mpopup.open({
						type:'success',
						content:'操作成功',
						timeout:2000,
					});
					this.$emit('bindParClose')
				} else {
					// uni.showToast({
					// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					// 	icon: "none",
					// 	mask: true,
					// });
					this.$refs.mpopup.open({
						type:'warn',
						content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
						timeout:2500,
						isClick:false
					});
				}
			},
			 change(e) {},
			
		},
		watch: {
			// details(newVal) {
			// 	this.testOptions = newVal
			// },
			// info(newVal) {
			// 	this.setInfo = newVal
			// 	this.setInfo.sScheduleDeliveryTime = this.setInfo.sScheduleDeliveryTime ? formatTime(this.setInfo.sScheduleDeliveryTime) : '无'
			// 	this.getList()
			// },
			details: {
				handler(newval){
					if (newval) {
						this.testOptions = newval
					}
				},
				// deep: true,
				immediate: true 
			},
			info: {
				handler(newval){
					if (newval) {
						this.setInfo = newval
						this.setInfo.sScheduleDeliveryTime = this.setInfo.sScheduleDeliveryTime ? formatTime(this.setInfo.sScheduleDeliveryTime) : '无'
						this.getList()
					}
				},
				deep: true,
				// immediate: true 
			},
		}
	};
</script>

<style lang="scss" scoped>
	

	.list-box {
		margin-bottom: 6rpx;
		/deep/ &.mark {
			.container {
				background: pink;
			}
		} 
	}
	.list-box{
		position: relative;
	}
	/deep/.textarea{
		// padding:10rpx 18rpx;
		border-radius: 12rpx;
		display: block;
		// height: 400rpx!important;
		
		
	}
	input{
		padding-left:20rpx;
	}
	
	.getInfo{
		padding: 10rpx 0;
		border-bottom: 3px solid #f1f1f1
	}
	.enclosure{
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		height: 70rpx;
		padding: 0 28rpx;
		margin: 0 0 14rpx 0;
		box-sizing: border-box;
		width: 100%;
		border-bottom: 2rpx solid #f5f5f5;
		i{
			display: flex;
			align-items: center;
			justify-content: center;
			height: 40rpx;
			width: 40rpx;
			border-radius: 50%;
			background-color: #f1ebf9;
			margin-right: 16rpx;
			font-style: normal;
			color: #999;
			font-size: 20rpx;
		}
		text{
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			font-size: 30rpx;
		}
	}
	.codeDisplay{
		display: flex;
		flex-direction: column;
    	flex-wrap: nowrap;
		padding: 28rpx 20rpx;
		.mgb24{
			// width: 50%;
			padding: 14rpx 0;
			font-size: 34rpx;
			text{
				padding:0 30rpx
			}
		}
	}
	.footer {
		z-index: 1000;
		background: #ffffff;
		height: 80rpx;
		// display: flex;
		// justify-content: center;
		flex-wrap: nowrap;
		border-top: 2rpx solid #f5f5f5;
		border-bottom: 2rpx solid #f5f5f5;
		padding: 0 40upx;
		.item {
			flex: 1;
			height: 90upx;
			border-radius: 0;
			background-color: #ffffff11!important;
			border:0!important;
			line-height: 90upx;
		}
		.cancel{
			color: #999!important;
			float: left;
		}
		.define{
			color: #1fa4fd!important;
			float: right;
		}
	}
	.atNull{
		color: #999;
		text-align: center;
		padding: 50rpx 0;
		font-size: 30rpx;
	}
 .classifyBigBox {
    // margin: 30rpx 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24rpx;
  }

  .oneClassify {
    display: flex;
    align-items: center;
    padding: 12rpx 17rpx;
    justify-content: center;
    background: F7F7F7;
    border-radius: 13rpx;
    color: #999;
    border: 2rpx solid #dedede;
	font-size: 36rpx;
  }

  .selectActive {
    background: #2891f3;
    color: #FFFFFF;
  }

</style>
