<template>
	<view>
		<view class="boy2">
			<cnd-scroll ref="scroll" class="scroll-out" :st="isXy" :fixed="true" :bottom="isXy ? '132' : '116'" :top="top" :scrollHeight="scrollHeight"  :down="downOption" @down="downCallback" :up="upOption" @up="upCallback" @init="mescrollInit">
					
				<view>
					<view :class="['container', {'b-f': pdList.length >= 1}]">
						<view v-for="(item, index) in pdList" :key="index" :class="['item', {'have': item.sIsGoods}, {'onActive': item.sId == parentIdkuwei}]" @click.stop.prevent="bindStoreClick(item, index)">{{item.sName}}</view>
					</view>
				</view>
				
			</cnd-scroll>
		</view>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
import cndScroll from './scroll/mescroll-uni.vue';
import { uniToRpx } from '@/common/utils/index.js';
export default {
	components: {
		cndScroll
	},
	data() {
		return {
			parentIdkuwei: '',
			parentId: '',
			mescroll: null, //mescroll实例对象
			downOption: {
				auto: false, //是否在初始化后,自动执行下拉回调callback; 默认true
				textLoading: ''
			},
			upOption: {
				// isLock: true,
				auto: false, // 不自动加载
				textLoading: '',
				// page: {
				// 	num: 0, // 当前页码,默认0,回调之前会加1,即callback(page)会从1开始
				// 	size: 10 // 每页数据的数量
				// },
				noMoreSize: 4, //如果列表已无数据,可设置列表的总数量要大于半页才显示无更多数据;避免列表数据过少(比如只有一条数据),显示无更多数据会不好看; 默认5
				empty: {
					tip: '~ 空空如也 ~', // 提示
					btnText: ''
				},
				isBounce: false
			},
			pdList: [], //列表数据
			page: 0,
			isInit: false, // 列表是否已经初始化
			scrollY: 0,
			CustomBar: this.CustomBar,
			selectIndex: -1
		};
	},
	props: {
		formData: Object,
		parentIds: String
	},
	mounted() {
		// 第一个tab,自动加载数据
		// if (!this.isInit) {
		// 	this.isInit = true; // 标记为true
		// 	this.mescroll.triggerDownScroll();
		// }
	},
	computed: {
		top() {
			const CustomBar = this.CustomBar
			return uniToRpx(parseInt(CustomBar) + 8)
		},
		movePlanId() {
			return this.$store.getters.movePlanId
		},
		isXy() {
			return (this.packageInfo || this.sX) ? true : false
		},
		scrollHeight(){
			return '48vh'
		}
	},
	methods: {
		bindStoreClick(item, index) {
			this.parentIdkuwei = item.sId
			uni.setStorageSync('parentIdkuwei', this.parentIdkuwei)
			this.$emit('parentIdkuwei',item.sId)
			console.log('库位id', this.parentIdkuwei)
			
		},
		// mescroll组件初始化的回调,可获取到mescroll对象
		mescrollInit(mescroll) {
			this.mescroll = mescroll;
		},
		/*下拉刷新的回调 */
		downCallback(mescroll) {
			// 这里加载你想下拉刷新的数据, 比如刷新轮播数据
			// loadSwiper();
			// 下拉刷新的回调,默认重置上拉加载列表为第一页 (自动执行 mescroll.num=1, 再触发upCallback方法 )
			mescroll.resetUpScroll();
		},
		/*上拉加载的回调: mescroll携带page的参数, 其中num:当前页 从1开始, size:每页数据条数,默认10 */
		upCallback(mescroll) {
			//联网加载数据
			this.getList(
				mescroll.num,
				mescroll.size,
				curPageData => {
					//联网成功的回调,隐藏下拉刷新和上拉加载的状态;
					// console.log('i=' + this.i + ', mescroll.num=' + mescroll.num + ', mescroll.size=' + mescroll.size +
					// 	', curPageData.length=' + curPageData.length);
					mescroll.endSuccess(curPageData.length);
					//设置列表数据
					if (mescroll.num == 1) this.pdList = []; //如果是第一页需手动制空列表
					this.pdList = curPageData; //追加新数据
				},
				() => {
					//联网失败的回调,隐藏下拉刷新的状态
					mescroll.endErr();
				}
			);
		},
		//点击空布局按钮的回调
		emptyClick() {
			uni.showToast({
				title: '点击了按钮,具体逻辑自行实现'
			});
		},
		async getList(pagenum, pagesize, successCallback, errorCallback) {
			let { info } = this;
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action?ajaxRequest=true&t=12', {
				dataStores: {},
				parameters: {
					// parentId: this.parentId,
					// _parameters: 'parentId',
					// _parameterTypes: 'string',
					// dcID: 'wmsjccwis',
					// _boId: 'wmsjccwis_ifsJcwmsWarehouseBO_bo',
					// _methodName: 'queryWmsWarehouseAreaByParentId',
					// _methodParameterTypes: 'String'
					"parentId": this.parentId,
					"outId": this.formData.sId,
					"type": '2',
					"_parameters": "type,parentId,outId",
					"_parameterTypes": "string,string,string",
					"dcID": "wmsmetalis",
					"_boId": "wmsmetalis_ifsFgwmsWarehouseBO_bo",
					"_methodName": "selectWmsWarehouseInfo",
					"_methodParameterTypes": "String,String,String"
				}
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				let data = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData);
				let pageObj = {
					pageNumber: data.pageNumber,
					pageSize: data.pageSize,
					recordCount: data.recordCount,
					totalPage: this.getPageCount(data.recordCount, data.pageSize)
				};
				uni.setStorageSync('pageObj', pageObj);
				let list = data.dataList || [];
				console.log('仓储列表', list);
				successCallback && successCallback(list);
			} else {
				// uni.showToast({
				// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
				// 	icon: 'none',
				// 	mask: true
				// });
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
		},
		getPageCount(totalnum, limit) {
			return totalnum > 0 ? (totalnum < limit ? 1 : totalnum % limit ? parseInt(totalnum / limit) + 1 : totalnum / limit) : 0;
		},
		bindAction(obj) {
			this.$emit('action', obj);
		}
	},
	watch: {
		parentIds: {
			handler(newval) {
				if (newval) {
					this.parentId = newval
					// console.log('传过来的库区sId', this.parentId)
					this.mescroll.triggerDownScroll()
				}
			},
			deep: true,
			immediate: true 
		},
		pdList(newVal) {
			// this.parentIdkuwei = ''
			// if (!this.parentIdkuwei) {
			// 	this.parentIdkuwei = ''
			// }
		}
	}
};
</script>
<style lang="scss" scoped>
@import './style.scss';
$box-background: #070024;
$box-border: 1px solid #8c8c8c;
$border-bottom: 1px solid #d9d9d9;
$blue-0: #408CDA;
$box-color: #8c8c8c; 
$green:rgb(19, 206, 103);
// /deep/.mescroll-uni.mescroll-uni-fixed{
// 	height: 48vh!important;
// }
/deep/.mescroll-uni.mescroll-uni-fixed{
	position: initial;
}
// /deep/.container .item.have {
//     background: $green;
//     color: #ffffff;
// }
/deep/.store-list-4  .item2 {
	width: 80upx;
	height: 80upx;
	line-height: 80upx;
	float: none;
	overflow: hidden;
	background: $box-background;
	border: $box-border;
	color: #dedede;
}
.container {
	margin-bottom: 20rpx;
	padding-left: 0;
	.container-box{
		width: 20%;
		padding: 0 10rpx;
		float: left;
		box-sizing: border-box;
	}
	.item {
		width: 100%;
		margin-right: 0;
		// &.have{
		// 	background-color: #75fa4c;
		// }
		// &.have2{
		// 	background-color: #f29d39;
		// }
	}
	.align {
		text-align: start;
	}
}

/deep/.container .item {
	width: calc(100% / 5 - 16upx);
	height: 132upx;
	line-height: 38upx;
	// background:  $box-background;
	// border: $box-border
	background: #ffffff;
	margin-right: 16upx;
    margin-bottom: 16upx;
	word-wrap: break-word;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
	// white-space: break-spaces;
	white-space: normal;
}
.boy2{
    height: 48vh;
    overflow: hidden;
    padding: 16upx 0;
    border-bottom: $border-bottom;

    .container{

        .onActive {
            position: relative;
            text-align: center;
            // color: $green;
            // background-color: #fff;
            box-shadow:0px 4upx 14upx 0px rgba(85,110,97,0.35);
            // border-radius:7px;
            // border:1px solid $green;
        }
            
        .onActive:before {
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            border: 24upx solid #ffffff;
            border-top-color: transparent;
            border-left-color: transparent;
        }
        
        .onActive:after {
            content: '';
            width: 6upx;
            height: 16upx;
            position: absolute;
            right: 4upx;
            bottom: 6upx;
            border: 2px solid $blue-0;
            border-top-color: transparent;
            border-left-color: transparent;
            transform: rotate(45deg);
        
        }
    }
}

</style>
