<template>
	<view>
		<view class="list-box" v-for="(item, index) in list" :key="index" @click="goDetail(item)">
			<cnd-list-group>
				<cnd-list-content title="发货通知日期" :value="item.sScheduleDeliveryTime || '无'" type="alignLeft" titleW="218" :valueW="true"></cnd-list-content>
				<cnd-list-content title="ERP出仓单号" :value="item.erpCode || '无'" type="alignLeft" titleW="218" :valueW="true"></cnd-list-content>
				<cnd-list-content title="发货通知单号" :value="item.sCode || '无'" type="alignLeft" titleW="218" :valueW="true"></cnd-list-content>
				<cnd-list-content title="提货单位" :value="item.vSubBuyOrSaleName || '无'" type="alignLeft" titleW="218" :valueW="true"></cnd-list-content>
				<cnd-list-content title="仓库" :value="item.vSubWarehouseName || '无'" type="alignLeft" titleW="218" :valueW="true"></cnd-list-content>
			</cnd-list-group>
		</view>
		
	</view>
</template>

<script>
import CndListGroup from '@/components/list-group/list-group.vue';
import CndListContent from '@/components/list-group/list-content.vue';

export default {
	name: 'pd-list',
	components: {
		CndListGroup,
		CndListContent,
	},
	props: {
		list: {
			// 数据列表
			type: Array,
			default() {
				return [];
			}
		},
		curIndex: Number
	},
	methods: {
		goDetail(item) {
			uni.navigateTo({
				url: `/pagesC/deliveryNotice/detail?page=${this.$store.state.page}&id=` + item.sId + '&curIndex=' + this.curIndex
			});
		}
	}
};
</script>

<style lang="scss" scoped>
.list-box {
	margin-left: 16rpx;
	margin-right: 16rpx;
	/deep/ &.mark {
		.container {
			background: pink;
		}
	} 
}
.list-box{
	position: relative;
}

</style>
