<template>
	<view class="cnd-field">
		<view class="cnd-field-title" v-if="title">
			{{title}}
		</view>
		<view class="cnd-field-content">
			<form>
				<slot></slot>
			</form>			
		</view>

	</view>


</template>
	
<script>
	export default {
		name: 'cnd-form',
		props: {
			model: {
				type: Object,
				default() {
					return {}
				}
			},
			title: {
				type: String,
				default(){
					return ''
				}
			}
		}
	}
</script>

<style lang="scss">
	
	$title-cell-padding-v: 20rpx;
	$title-cell-padding-h: 24rpx;
	
	.cnd-field {
		box-sizing: border-box;
		border: none;
		margin: 20rpx;
		border-radius: 10rpx;
		background-color: $gray-0;
		&.round {
			border-radius: 16rpx;
		}
		
		.cnd-field-title {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			height: 80rpx;
			padding: 0 $title-cell-padding-h;
			
			border-bottom: 2rpx solid $gray-2;
		
			font-size: $font-size-subhead;
			line-height: $line-height-subhead;
			color: $gray-8;
		}
		
	}
</style>
