<template>

	<view>
		<cnd-form>
			<view class="demo-wrapper">
				<view class="display_flex">
					<cnd-form-item label="日期从" class="cssfl">
						<!-- <cnd-datepicker :level="3" :format="'yyyy-MM-dd'" @change="bindChange">
							{{timeRes ? timeRes : datej}}
						</cnd-datepicker> -->
						<picker class="cell" mode="date" :value="timeRes" :start="startDate" :end="endDate" @change="bindChange">
							{{timeRes ? timeRes : datej}}
						</picker>
					</cnd-form-item>
					<cnd-form-item label="到" class="cssfl">
						<!-- <cnd-datepicker :level="3" :format="'yyyy-MM-dd'" @change="bindChangeToo">
							{{timeResToo ? timeResToo : datejToo}}
						</cnd-datepicker> -->
						<picker  class="cell" mode="date" :value="timeResToo" :start="startDate" :end="endDate" @change="bindChangeToo">
							{{timeResToo ? timeResToo : datejToo}}
						</picker>
					</cnd-form-item>
				</view>
			</view>
			<view class="demo-wrapper">
				<cnd-form-item label="仓库">
					<input v-model="formList.sWarehouseName" @click="materialPicker" placeholder="--请选择仓库--" disabled />
				</cnd-form-item>
			</view>
			<view class="demo-wrapper">
				<cnd-form-item label="供应商">
					<input v-model="formList.sCarNo" placeholder="请输入供应商" />
				</cnd-form-item>
			</view>
			
		</cnd-form>
		<!-- <view class="nums">入库汇总：{{detailsCount}}</view> -->
		<view class="btns">
			<cnd-button color="primary" size="block" icon="no" @clickEvent="changQuery()">
				查询
			</cnd-button>
		</view>
		<!-- 仓库选择 -->
		<custom-picker ref="material" title="--请选择仓库--" titleColor="#808080" titleFontSize="26rpx" cancelType='icon'
			cancelColor="#999999" cancleFontSize="28rpx" confirmColor="#4cd964" confirmFontSize="34rpx"
			confirmFontWeight="500" itemFontSize="32rpx" @onConfirm="materialChange" @on_close="closePicker"
			:pickerList="formList.sWarehouse" :addmaterialTypeData="formList.sWarehouseId" :clickActive="true">
		</custom-picker>
	</view>
</template>

<script>
	import CndForm from '@/components/form/cnd-form';
	import CndFormItem from '@/components/form-item/cnd-form-item';
	import CndDatepicker from '@/components/datepicker/cnd-datepicker.vue'
	import {
		uniToRpx,
		formatTime
	} from '@/common/utils/index.js'
	import CndButton from '@/components/button/button.vue';
	import customPicker from '@/components/picjerDiy.vue'
	export default {
		components: {
			CndForm,
			CndFormItem,
			CndDatepicker,
			CndButton,
			customPicker
		},
		props: {
			state: {
				// 状态列表
				type: Array,
				default () {
					return [];
				}
			},
			warehouse: {
				// 仓库列表
				type: Array,
				default () {
					return [];
				}
			},
			detailsCount: Number,
		},
		data() {
			return {
				checkTime: '请选择完成日期',
				inputDisabled: false,
				datej: this.GetTime()[5],
				datejToo: new Date().format('yyyy-MM-dd'),
				value: '123',
				disabled: false,
				timeRes: '',
				timeResToo: '',
				formList: {
					sWarehouse: [], //仓库
					sWarehouseIdList: [], //仓库全部id
					sWarehouseId: '', //仓库id
					sWarehouseName: "", //仓库名称
					activesList: [], //状态
					deliveryDateStart: '', //开始时间
					deliveryDateEnd: '', //结束时间
					sCarNo: '', // 车牌号
				},
				activesList: [],
				timestas: '',
			};
		},
		async mounted() {
			// 仓库
			// this.sMaterial()
			// this.datasId()
			this.changQuery()
			this.timeEnt()
			console.log('开始时间',this.timestas)
		},
		computed: {
			startDate() {
			//限制开始时间;
			//也可以直接限定为当天日期 var date= new Date(); return date
				console.log('限制开始时间')
				return this.getDate('start');
			},
			endDate() {
				console.log('限制结束时间')
				return this.getDate('end');
			}
		},
		methods: {
			//时间格式
			getDate(type) {
				const date = new Date();
				let year = date.getFullYear();
				let month = date.getMonth() + 1;
				let day = date.getDate();
				if (type === 'start') {
					// year = year - 60;
					year=year;
					month=month-1;
					day=day-1;
					console.log(year,month,day);
				} else if (type === 'end') {
					year = year;
					month = month;
					day=day
					// console.log(year);
					console.log(year,month,day);
				}
				month = month > 9 ? month : '0' + month;;
				day = day > 9 ? day : '0' + day;
				return `${year}-${month}-${day}`;
			},
			bindDateChange: function(e) {
				this.checkTime = e.target.value;
				var time = new Date(this.checkTime).toString();
				var beginYear=new Date().getFullYear();
				var beginMonth=new Date().getMonth();
				var beginDate=new Date().getDate();
				var endYear=new Date(this.checkTime).getFullYear();
				var endMonth=new Date(this.checkTime).getMonth();
				var endDate=new Date(this.checkTime).getDate();
				if(beginYear==endYear){  //同年
					if(endMonth-beginMonth>3){  //月间隔超过3个月
						console.log('超过')
					}else if(endMonth-beginMonth==3){  //月间隔为3个月,比较具体日
						if(endDate>beginDate){  //结束日期日大于开始日期日
							console.log('超过')
						}else{
							console.log('不超过')
						}
					}else{
						console.log('不超过')
					}
				}else{ //不同年
					if(endYear-beginYear>1){
						console.log('超过');
					}else if(endYear-beginYear==1){
						if(beginMonth<10){  //开始年的月份小于10时,不需要跨1年
							console.log('超过'); 
						}else if(beginMonth+3-endMonth<12){  //月间隔大于3个月
							console.log('超过'); 
						}else if(beginMonth+3-endMonth==12){  //月间隔等于3个月,比较具体日
							if(endDate>beginDate){
								console.log('超过'); 
							}else{
								console.log('不超过')
							}
						}
					}else{
						console.log('不超过')
					}
				}
				
			},
			timeEnt(){
				var date = new Date();
				var base = Date.parse(date); // 转换为时间戳
				var oneDay = 24 * 3600 *1000
				//var daytime = `${year}${mon >= 10 ? mon : '0' + mon}${day >= 10 ? day : '0' + day}`; //今日时间
				//this.$data.daytime = daytime; // 今日时间赋值给变量
				
				var daytimeArr = []
				for (var i = 1; i < 30 ; i++) { //前七天的时间
					var now = new Date(base -= oneDay);
					var myear = now.getFullYear();
					var month = now.getMonth() + 1;
					var mday = now.getDate()
					daytimeArr.push([myear, month >=10 ?month :'0'+ month, mday>=10?mday:'0'+mday].join('-'))
					this.timestas = daytimeArr[28]
				}
			},
			getCurrentMonthFirst() { // 获取当前月第一天
				let date = new Date()
				date.setDate(1)
				let month = parseInt(date.getMonth() + 1)
				let day = date.getDate()
				if (day < 10) {
					day = '0' + day
				}
				if (month < 10) {
					month = '0' + month
				}
				return new Date().format('yyyy')+ '-' + month + '-' + day
			},
			// 查询
			changQuery() {
				this.$emit('chang', this.formList)
				// console.log('查询条件', this.formList)
			},
			//关闭上浮窗
			closePicker() {
				this.inputDisabled = false
			},
			//打开
			materialPicker() {
				this.inputDisabled = true
				this.$refs.material._open()
			},
			//确定：接收子组件传来的参数
			materialChange(checked) {
				this.formList.sWarehouseIdList = []
				this.formList.sWarehouseId = checked.value
				this.formList.sWarehouseName = checked.label
				this.formList.sWarehouseIdList.push(checked.value)
				this.inputDisabled = false
				if (this.formList.sWarehouseId == 'quanbu') {
					this.formList.sWarehouseIdList = []
					for (let j in this.formList.sWarehouse) {
						this.formList.sWarehouseIdList.push(this.formList.sWarehouse[j].value)
					}
					this.formList.sWarehouseIdList.splice(this.formList.sWarehouseIdList.indexOf('quanbu'), 1);
				}
				console.log('仓库id', this.formList.sWarehouseIdList)
			},
			GetTime() {
				var date = new Date();
				var base = Date.parse(date); // 转换为时间戳
				var year = date.getFullYear(); //获取当前年份
				var mon = date.getMonth() + 1; //获取当前月份
				var day = date.getDate(); //获取当前日
				var oneDay = 24 * 3600 *1000
				//var daytime = `${year}${mon >= 10 ? mon : '0' + mon}${day >= 10 ? day : '0' + day}`; //今日时间
				//this.$data.daytime = daytime; // 今日时间赋值给变量
				
				var daytimeArr = []
				for (var i = 1; i < 7 ; i++) { //前七天的时间
					var now = new Date(base -= oneDay);
					var myear = now.getFullYear();
					var month = now.getMonth() + 1;
					var mday = now.getDate()
					daytimeArr.push([myear, month >=10 ?month :'0'+ month, mday>=10?mday:'0'+mday].join('-'))
				}
				return daytimeArr
			},

			bindChange(e) {
				
				let checkTime = e.target.value;
				var time = new Date(checkTime).toString();
				var beginYear=new Date().getFullYear();
				var beginMonth=new Date().getMonth();
				var beginDate=new Date().getDate();
				var endYear=new Date(checkTime).getFullYear();
				var endMonth=new Date(checkTime).getMonth();
				var endDate=new Date(checkTime).getDate();
				if(beginYear==endYear){  //同年
					if(endMonth-beginMonth>1){  //月间隔超过3个月
						console.log('超过')
					}else if(endMonth-beginMonth==1){  //月间隔为3个月,比较具体日
						if(endDate>beginDate){  //结束日期日大于开始日期日
							console.log('超过')
						}else{
							console.log('不超过')
						}
					}else{
						console.log('不超过')
					}
				}else{ //不同年
					if(endYear-beginYear>1){
						console.log('超过');
					}else if(endYear-beginYear==1){
						if(beginMonth<1){  //开始年的月份小于10时,不需要跨1年
							console.log('超过'); 
						}else if(beginMonth+1-endMonth<12){  //月间隔大于3个月
							console.log('超过'); 
						}else if(beginMonth+1-endMonth==12){  //月间隔等于3个月,比较具体日
							if(endDate>beginDate){
								console.log('超过'); 
							}else{
								console.log('不超过')
							}
						}
					}else{
						console.log('不超过')
					}
				}
				this.timeRes = checkTime
				
				// this.formList.deliveryDateStart = this.timeRes
				this.formList.deliveryDateStart =  Date.parse(new Date(this.timeRes))
				// let numstime = this.DateDiff(this.timeRes,new Date().format('yyyy-MM-dd'))
				// if (numstime >= 30){
				// 	this.timeRes = this.timestas
				// 	this.formList.deliveryDateStart =  Date.parse(new Date(this.timeRes))
					// var date = this.timeRes;
					// var base = Date.parse(date); // 转换为时间戳
					// var oneDay = 24 * 3600 *1000
					// //var daytime = `${year}${mon >= 10 ? mon : '0' + mon}${day >= 10 ? day : '0' + day}`; //今日时间
					// //this.$data.daytime = daytime; // 今日时间赋值给变量
					
					// var daytimeArr = []
					// for (var i = 1; i < 30 ; i++) { //前七天的时间
					// 	var now = new Date(base += oneDay);
					// 	var myear = now.getFullYear();
					// 	var month = now.getMonth() + 1;
					// 	var mday = now.getDate()
					// 	daytimeArr.push([myear, month >=10 ?month :'0'+ month, mday>=10?mday:'0'+mday].join('-'))
					// 	this.timeResToo = daytimeArr[28]
					// 	console.log('发育时间',daytimeArr[28])
					// 	this.formList.deliveryDateEnd =   Date.parse(new Date(this.timeResToo))
					// }
				// }
				console.log('时间时间qqq', this.formList.deliveryDateEnd)
			},
			//算相隔天数
			DateDiff(sDate1, sDate2) {
				var aDate, oDate1, oDate2, iDays;
				aDate = sDate1.split("-");
				oDate1 = new Date(aDate[1] + '-' + aDate[2] + '-' + aDate[0]);  //转换为yyyy-MM-dd格式
				aDate = sDate2.split("-");
				oDate2 = new Date(aDate[1] + '-' + aDate[2] + '-' + aDate[0]);
				iDays = parseInt(Math.abs(oDate1 - oDate2) / 1000 / 60 / 60 / 24); //把相差的毫秒数转换为天数
				console.log('返回相差天数',iDays + 1)
				return iDays + 1;  //返回相差天数
			},

			bindChangeToo(e) {
				let checkTimeToo = e.target.value;
				var time = new Date(checkTimeToo).toString();
				var beginYear=new Date().getFullYear();
				var beginMonth=new Date().getMonth();
				var beginDate=new Date().getDate();
				var endYear=new Date(checkTimeToo).getFullYear();
				var endMonth=new Date(checkTimeToo).getMonth();
				var endDate=new Date(checkTimeToo).getDate();
				if(beginYear==endYear){  //同年
					if(endMonth-beginMonth>1){  //月间隔超过1个月
						console.log('超过')
					}else if(endMonth-beginMonth==1){  //月间隔为1个月,比较具体日
						if(endDate>beginDate){  //结束日期日大于开始日期日
							console.log('超过')
						}else{
							console.log('不超过')
						}
					}else{
						console.log('不超过')
					}
				}else{ //不同年
					if(endYear-beginYear>1){
						console.log('超过');
					}else if(endYear-beginYear==1){
						if(beginMonth<1){  //开始年的月份小于1时,不需要跨1年
							console.log('超过'); 
						}else if(beginMonth+1-endMonth<12){  //月间隔大于1个月
							console.log('超过'); 
						}else if(beginMonth+1-endMonth==12){  //月间隔等于1个月,比较具体日
							if(endDate>beginDate){
								console.log('超过'); 
							}else{
								console.log('不超过')
							}
						}
					}else{
						console.log('不超过')
					}
				}
				this.timeResToo = checkTimeToo
				
				this.formList.deliveryDateEnd =   Date.parse(new Date(this.timeResToo))
				console.log('发育时间1',this.timeRes || this.datej,'发育时间2',this.timeResToo)
				let numstime = this.DateDiff(this.timeRes || this.datej,this.timeResToo)
				if (numstime <= -1){

				}
				// if (numstime >= 30){
				// 	// this.formList.deliveryDateEnd = this.timeResToo
				// 	var date = this.timeResToo;
				// 	var base = Date.parse(date); // 转换为时间戳
				// 	var oneDay = 24 * 3600 *1000
				// 	//var daytime = `${year}${mon >= 10 ? mon : '0' + mon}${day >= 10 ? day : '0' + day}`; //今日时间
				// 	//this.$data.daytime = daytime; // 今日时间赋值给变量
					
				// 	var daytimeArr = []
				// 	for (var i = 1; i < 30 ; i++) { //前七天的时间
				// 		var now = new Date(base -= oneDay);
				// 		var myear = now.getFullYear();
				// 		var month = now.getMonth() + 1;
				// 		var mday = now.getDate()
				// 		daytimeArr.push([myear, month >=10 ?month :'0'+ month, mday>=10?mday:'0'+mday].join('-'))
				// 		this.timeRes = daytimeArr[28]
				// 		console.log('发育时间2',daytimeArr[28])
				// 		this.formList.deliveryDateStart =  Date.parse(new Date(this.timeRes))
				// 	}
				// }
				console.log('时间时间2', this.formList.deliveryDateEnd)
			},
		},
		watch: {
			warehouse: {
				handler(newval) {
					if (newval) {
						this.formList.sWarehouse = newval
						// console.log('仓库1', this.formList.sWarehouse)
						// this.formList.sWarehouseIdList.push(newval[0].value)
						this.formList.sWarehouseName = newval[0].label
						this.formList.sWarehouseId = newval[0].value
						if (this.formList.sWarehouseId == 'quanbu') {
							this.formList.sWarehouseIdList = []
							for (let j in newval) {
								this.formList.sWarehouseIdList.push(newval[j].value)
							}
							this.formList.sWarehouseIdList.splice(this.formList.sWarehouseIdList.indexOf('quanbu'), 1);
						}
						console.log('仓库id', this.formList.sWarehouseIdList)
						if (this.formList.deliveryDateStart) {
							this.timeRes = formatTime(this.formList.deliveryDateStart, 'Y-M-D')
						} else if (!this.timeRes) {
							// this.timeRes = this.datej
							// this.formList.deliveryDateStart = this.datej
							this.formList.deliveryDateStart =  Date.parse(new Date(this.datej)) 
						}
						if (this.formList.deliveryDateEnd) {
							this.timeResToo = formatTime(this.formList.deliveryDateEnd, 'Y-M-D')
						} else if (!this.timeRes) {
							// this.timeRes = this.datej
							// this.formList.deliveryDateEnd = this.datejToo
							this.formList.deliveryDateEnd =  Date.parse(new Date(this.datejToo)) 
						}
						console.log('仓库id', this.formList.sWarehouseIdList)
					}
					
				},
				// deep: true,
				immediate: true
			}
		}
	};
</script>
<style lang="scss" scoped>
	.iconfont {
		font-size: 40rpx !important;

		&.right-icon2 {
			margin-right: 20rpx !important;
		}
	}

	.detail-item {
		border-bottom: 6rpx solid #F5F5F5;
	}

	.parti-form-dialog {

		// height: 600rpx;
		// background: #FFFFFF;
		// width: 100%;
		.header {
			height: 100rpx;
			position: relative;
			padding-left: 20rpx;
			display: flex;
			align-items: center;
			color: #333;
			font-weight: 700;
			font-size: 28rpx;
		}

		.content {
			height: calc(600rpx - 200rpx);
			padding: 20rpx;
			background: #ffffff;
		}

		.footer {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			background: #ffffff;
			height: 100rpx;
			display: flex;
			border-top: 2rpx solid #f5f5f5;

			.item {
				flex: 1;
				height: auto;
				border-radius: 0;
			}
		}
	}

	// .display_flex {
	// 	display: flex;
	// 	flex-direction: row;
	// 	flex-wrap: nowrap;
	// 	justify-content: center;
	// }



	// 状态
	.boy {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		align-content: flex-start;
		justify-content: flex-start;
		padding: 20upx;
	}

	.picker-view {
		position: relative;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(255, 255, 255, 1);
		border: 1px solid #a3a3a3;
		width: 22%;
		height: 60upx;
		line-height: 60upx;
		margin: 0 16rpx 16rpx 0;
		border-radius: 12upx;
	}

	.picker-view:last-child {
		margin: 0 0 16rpx 0;
	}

	/* .picker-view:first-child {
		border-top: 1px solid #f5f5f5;
	} */
	.picker-item {
		text-align: center;
		line-height: 60rpx;
		text-overflow: ellipsis;
		font-size: 30upx;
		color: #606060
	}

	.actives {
		border: 1px solid rgb(19, 206, 103);
		background: rgb(19, 206, 103);
	}

	.actives .picker-item {
		color: #fff;
	}

	.view_content {
		display: flex;
		justify-content: center;
		align-items: baseline;
		flex-direction: column;
	}

	.demo-wrapper {
		border-bottom: #ececec solid 1px;
		overflow: hidden;
	}

	.btns {
		display: flex;
		justify-content: flex-end;
		z-index: 999;
		background: #fff;
		// border-top: 1px solid #dedede;

	}

	.nums {
		z-index: 999;
		// border-top: 1px solid #dedede;
		// border-top: 1px solid #dedede;
		float: left;
		font-size: 30upx;
		color: #666;
		padding: 24upx 30upx;
		background: #fff;
	}
	picker {
		width: 100%;
		height: 75rpx;
		line-height: 75rpx;
	}
</style>
