<template>
	<view>
		<block v-for="(item, index) in list" :key="index">
			<view class="list-box">
				<cnd-list-group>
					<cnd-list-content title="出库料型" :value="item.vSubMaterial" type="alignLeft"></cnd-list-content>
					<cnd-list-content title="出库库区" :value="item.vSubDpsWarehouseAreaName" type="alignLeft"></cnd-list-content>
					<cnd-list-content title="出库库位" :value="item.vSubDpsWarehouseLocationName" type="alignLeft"></cnd-list-content>
					<cnd-list-content title="剩余通知重量" :value="weightVal(item)" type="alignLeft"></cnd-list-content>
				</cnd-list-group>
			</view>
		</block>
	</view>


</template>

<script>
	import CndListGroup from '@/components/list-group/list-group.vue'
	// import CndListTitle from 'cndapp-ui/components/list-group/list-title.vue'
	import CndListContent from '@/components/list-group/list-content.vue'
	import CndButton from '../../components/button/button.vue'
	export default {
		name: 'pd-list',
		components: {
			CndListGroup,
			// CndListTitle,
			CndListContent,
			CndButton
		},
		props: {
			list: {
				// 数据列表
				type: Array,
				default () {
					return [];
				}
			},
			formData: Object
		},
		methods: {
			weightVal(item) {
				return item.vSubLength = Number(item.vSubLength).toFixed(3)
			},
			bindTitleBtnClick(item) {
				this.$emit('leftAction', item)
			},
		}
	}
</script>

<style lang="scss" scoped>
	.list-box {
		margin: 0 16rpx 16rpx 16rpx;
		&.first-list-box {
			margin-top: 16rpx;
		}
		.title-btn-container {
			width: auto; flex-shrink: 0;
			.title-btn {
				background: #FFFFFF; position: absolute; left: 24rpx; top: 50%; transform: translateY(-50%);
			}
		}

	}
</style>
