<template>
	<view>
		
		<view class="footer">
			<view class="item cancel" @click="bindParClose">取消</view>
			<view class="item define" @click="bindParConfirm">确定</view>
		</view>
		<cnd-form-item label="货主" class="padding_input rks">
			<view class="uni-list" @click="materialTypePicker">
				<view class="uni-list-cell">
					<view class="uni-list-cell-db">
						<!-- <picker @change="materialTypeChange" :value="addmaterialTypeData.jobId" :range="materialTypeList">
							<view class="picker">
								{{ addmaterialTypeData.codeName !== '' ? addmaterialTypeData.codeName : '--请选择--' }}
							</view>
						</picker> -->
						<input v-model="addmaterialTypeData.codeName" placeholder="--请选择货主--" disabled />
					</view>
				</view>
			</view>
		</cnd-form-item>
		<view class="tag">
			<scroll-view scroll-y="true">
				<view class="scroll-m">
					<view class="adds" v-for="(item, index) in list" :key="index">
						<view class="skill-item" :class="{'active': addmaterialTypeData.jobId.indexOf(item.value)!=-1}" @click="clickBtn(index, item)"> 
							{{ item.label }}
						</view>
					</view>
					<!-- <view class="adds">
						<view class="skill-item"> 
							辽宁建发物资有限公司 
						</view>
						<view class="skill-item"> 
							天津建发钢铁再生资源有限公司  
						</view>
						<view class="skill-item"> 
							内蒙古包钢钢联股份有限公司  
						</view>
					</view> -->
				</view>
			</scroll-view>
			
			
		</view>
		<!-- 货主选择 -->
		<custom-picker
			ref="material"
			title="--请选择货主--"
			titleColor="#808080"
			titleFontSize="26rpx"
			cancelType='icon'
			cancelColor="#999999"
			cancleFontSize="28rpx"
			confirmColor="#4cd964"
			confirmFontSize="34rpx"
			confirmFontWeight="500"
			itemFontSize="32rpx"
			@on_close="closePicker"
			@onConfirm="materialTypeChange"
			:pickerList="materialTypeId"
			:addmaterialTypeData="addmaterialTypeData.jobId">
		</custom-picker>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>


</template>

<script>
	import CndFormItem from '@/components/form-item/cnd-form-item';
	// import cndPopContent from "@/components/pop-content/pop-content.vue"
	import customPicker from '@/components/picjerDiy.vue';
	export default {
		name: 'approval',
		components: {
			CndFormItem,
			customPicker,
			
		},
		props: {
			sWarehouseId: String,
		},
		data () {
			return {
				// 货主
				materialTypeList: [],
				materialTypeId: [],
				materialTypeValue: [],
				addmaterialTypeData: {
					jobId: '',
					codeName: "",
				},
				isChange: {},
				list: [],
				show: false,
				sWarehouseIds: '',
				userId: ''
			}
		},
        async mounted() {
			console.log('请选择仓库', this.sWarehouseId)
		},
		methods: {
			clickBtn(index, item){
				// 多选
				if (this.addmaterialTypeData.jobId.indexOf(item.value) == -1) {
					this.isChange =  item
					// uni.setStorage({
					// 	key: 'jobId',
					// 	data: item.sId
					// })
					// uni.setStorage({
					// 	key: 'codeName',
					// 	data: item.sChineseName
					// })
					this.addmaterialTypeData.jobId = item.value//选中添加到数组里
					this.addmaterialTypeData.codeName = item.label
					// console.log('常用货主id选择',  uni.getStorageSync('jobId'), uni.getStorageSync('codeName'))
				} else {
					this.isChange = {} //取消选中
					this.addmaterialTypeData.jobId = ''
					this.addmaterialTypeData.codeName = ''
					// uni.removeStorageSync('jobId')
					// uni.removeStorageSync('codeName')
					// console.log('常用货主id选择',  uni.getStorageSync('jobId'), uni.getStorageSync('codeName'))
				}
			},
			bindParClose(){
				// this.show = false
				// this.closePicker()
				this.$emit('change')
			},
			beforeClose() {
				// this.closePicker()
				this.show = false
			},
			bindParConfirm(){
				// if (this.sWarehouseIds == '') {
				// 	uni.removeStorageSync('jobId')
				// 	uni.removeStorageSync('codeName')
				// 	this.sMaterialType()
				// 	this.getList()
				// }
				this.$emit('clickEvent', this.isChange)
				
			},
			// 货主
			//关闭
			closePicker(){
				// this.$refs.material._close()
			},
			//打开
			materialTypePicker(){
				this.$refs.material._open()
			},
			//确定：接收子组件传来的参数
			materialTypeChange(checked){
				this.addmaterialTypeData.jobId = checked.value
				this.addmaterialTypeData.codeName = checked.label
				this.isChange =  checked
				if (!this.addmaterialTypeData.jobId) {
					this.isChange = {} //取消选中
					this.addmaterialTypeData.jobId = ''
					this.addmaterialTypeData.codeName = ''
				}
				// uni.setStorage({
				// 	key: 'jobId',
				// 	data: this.addmaterialTypeData.jobId
				// })
				// uni.setStorage({
				// 	key: 'codeName',
				// 	data: this.addmaterialTypeData.codeName
				// })
			},
			// async materialTypeChange (e) {
			// 	this.addmaterialTypeData.jobId = this.materialTypeValue[e.detail.value]
			// 	this.addmaterialTypeData.codeName = this.materialTypeId.filter(a => a.sId == this.addmaterialTypeData.jobId)[0].sChineseName
				
			// 	uni.setStorage({
			// 		key: 'jobId',
			// 		data: this.addmaterialTypeData.jobId
			// 	})
			// 	uni.setStorage({
			// 		key: 'codeName',
			// 		data: this.addmaterialTypeData.codeName
			// 	})
			// 	this.isChange = uni.getStorageSync('jobId') //下拉框选择时常用状态选中
			// 	// console.log('常用货主id选择', uni.getStorageSync('jobId'), uni.getStorageSync('codeName'))
			// },
			async sMaterialType() {
				let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
					"dataStores": {},
					"parameters": {
						"mapParams": {
							"sWarehouseId": this.sWarehouseIds,
						},
						"_parameters": "mapParams",
						"_parameterTypes": "string",
						"dcID": "wmsdeliveryis",
						"_boId": "wmsdeliveryis_ifsWmsDeliveryDetailsBO_bo",
						"_methodName": "getGoodsOwnerInfoList",
						"_methodParameterTypes": "String"
					}
				});
				if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
					let materialType = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
					console.log('货主', materialType);
					// this.materialTypeId = materialType;
					this.materialTypeId = materialType.map(ele => {
						return{
							value: ele.sId,
							label: ele.sChineseName
						}
					})
					// this.materialTypeList = materialType.map(a => a.sChineseName)
					// this.materialTypeValue = materialType.map(b => b.sId)
				} else {
					// uni.showToast({
					// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					// 	icon: 'none',
					// 	mask: true
					// });
					this.$refs.mpopup.open({
						type:'warn',
						content: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
						timeout:2500,
						isClick:false
					});	
				}
				uni.hideLoading();
			},
			// 常用货主
			async getList() {
				let userInfo = uni.getStorageSync('userInfo')
				let roleNameStatus = uni.getStorageSync('roleNameStatus')
				// for(let i in userInfo.role){
				// 	if(userInfo.role[i].roleName == roleNameStatus.salesman){
				// 		this.userId = userInfo.role[i].userId
				// 	}
				// }
				this.userId = userInfo.user.id
				let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
					"dataStores": {},
					"parameters": {
						"mapParams": {
							"sWarehouseId": this.sWarehouseIds,
							"userId": this.userId
							// "sUserPhoneNumber": "apptest"
						},
						"_parameters": "mapParams",
						"_parameterTypes": "string",
						"dcID": "wmsdeliveryis",
						"_boId": "wmsdeliveryis_ifsWmsDeliveryDetailsBO_bo",
						"_methodName": "getOftenUsedGoodsOwnerInfoList",
						"_methodParameterTypes": "String"
					}
				});
				if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
					let list = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
					console.log('常用货主', list);
					// this.list = list;
					this.list = list.map(ele => {
						return{
							value: ele.sId,
							label: ele.sChineseName
						}
					})
				} else {
					// uni.showToast({
					// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					// 	icon: 'none',
					// 	mask: true
					// });
					this.$refs.mpopup.open({
						type:'warn',
						content: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
						timeout:2500,
						isClick:false
					});
				}
			},
		},
        watch: {
            // sWarehouseId(newVal) {
			// 	console.log('请选择仓库', newVal)
            //     // 货主
			// 	this.sMaterialType()
			// 	// 常用货主
			// 	this.getList()
            // },
			sWarehouseId: {
				handler(newVal) {
					this.sWarehouseIds = newVal
					console.log('请选择仓库', this.sWarehouseIds)
					// 货主
					this.sMaterialType()
					// 常用货主
					this.getList()
				},
				deep: true,
				// immediate: true 
			},
        }
	}
</script>

<style lang="scss" scoped>
.scroll-m{
	height: 421rpx;
}
.footer {
	z-index: 1000;
	background: #ffffff;
	height: 100rpx;
	// display: flex;
	// justify-content: center;
    flex-wrap: nowrap;
	border-top: 2rpx solid #f5f5f5;
	border-bottom: 2rpx solid #f5f5f5;
	padding: 0 40upx;
	.item {
		flex: 1;
		height: 90upx;
		border-radius: 0;
		background-color: #ffffff11!important;
		border:0!important;
		line-height: 90upx;
	}
	.cancel{
		color: #999!important;
    	float: left;
	}
	.define{
		color: #1fa4fd!important;
    	float: right;
	}
}

.company-item{
	width:200rpx;
	height:50rpx;
	// border:2rpx solid #555;
	border-radius:10rpx;
	font-size:30rpx;
	color:#555;
	text-align: center;
	line-height: 50rpx;
	
}
.skill-item{
	font-size: 30upx;
	color: #999;
	width: 88%;
	padding: 14upx;
	border:1px solid #dedede;
	position: relative;
	margin: 14upx auto;
	border-radius: 8upx;
	text-align: center;
}
.active{
	// border:2rpx solid #DD524D;
	color: rgb(31, 164, 253);
	border: 1px solid rgb(31, 164, 253);

}
</style>

