<template>
	<!-- 在判断数据和操作按钮显示问题时鉴于一个账号配一个角色，所以直接拿到登录账号时第一个角色名称userInfo.role[0].roleName判断,
	没做逐个账号角色和功能查找 -->
	<!-- swiper中的transfrom会使fixed失效,此时需设置fixed为false,而top会自动使用padding-top -->
	<view v-show="i === index">
		<cnd-scroll :top="top" :down="downOption" @down="downCallback" :up="upOption" @up="upCallback"
			@emptyclick="emptyClick" @init="mescrollInit">
			<!-- 数据列表 -->
			<pd-list :list="pdList" :formData="formData" @change="refresh"></pd-list>
		</cnd-scroll>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
	import PdList from "./pd-list.vue";
	import cndScroll from "@/components/scroll/mescroll-uni.vue";
	import {
		uniToRpx,
		formatTime
	} from "@/common/utils/index.js";
	export default {
		components: {
			PdList,
			cndScroll,
		},
		props: {
			i: {
				// 当前tab的下标
				type: Number,
				default: 0
			}, // 每个tab页的专属下标
			index: {
				// 当前tab的下标
				type: Number,
				default: 0
			},
			formData: Object,
		},
		data() {
			return {
				status: '0',
				mescroll: null, //mescroll实例对象
				downOption: {
					auto: false, //是否在初始化后,自动执行下拉回调callback; 默认true
					textLoading: "",
				},
				upOption: {
					// auto: true, // 不自动加载
					textLoading: "",
					// page: {
					// 	num: 0, // 当前页码,默认0,回调之前会加1,即callback(page)会从1开始
					// 	size: 10 // 每页数据的数量
					// },
					noMoreSize: 10, //如果列表已无数据,可设置列表的总数量要大于半页才显示无更多数据;避免列表数据过少(比如只有一条数据),显示无更多数据会不好看; 默认5
					empty: {
						tip: "~ 空空如也 ~", // 提示
						btnText: "",
					},
					isBounce: false,
				},
				pdList: [], //列表数据
				isInit: false, // 列表是否已经初始化
				scrollY: 0,
				CustomBar: this.CustomBar,
				sDriverPhoneNumber: "",
				sUserPhoneNumber: "",
				sWarehouseIdList: [],
				sUserOrDriverPhoneNumber: "",
			};
		},
		computed: {
			top() {
				const CustomBar = this.CustomBar;
				// return uniToRpx(parseInt(CustomBar) + 96)
				return uniToRpx(parseInt(CustomBar)) + 130;
			},
		},
		methods: {
			// mescroll组件初始化的回调,可获取到mescroll对象
			mescrollInit(mescroll) {
				this.mescroll = mescroll;
			},
			/*下拉刷新的回调 */
			downCallback(mescroll) {
				// 这里加载你想下拉刷新的数据, 比如刷新轮播数据
				// loadSwiper();
				// 下拉刷新的回调,默认重置上拉加载列表为第一页 (自动执行 mescroll.num=1, 再触发upCallback方法 )
				mescroll.resetUpScroll();
			},
			/*上拉加载的回调: mescroll携带page的参数, 其中num:当前页 从1开始, size:每页数据条数,默认10 */
			upCallback(mescroll) {
				//联网加载数据
				this.getList(
					mescroll.num,
					mescroll.size,
					(curPageData) => {
						//联网成功的回调,隐藏下拉刷新和上拉加载的状态;
						// console.log('i=' + this.i + ', mescroll.num=' + mescroll.num + ', mescroll.size=' + mescroll.size +
						// 	', curPageData.length=' + curPageData.length);
						mescroll.endSuccess(curPageData.length);
						//设置列表数据
						if (mescroll.num == 1) this.pdList = []; //如果是第一页需手动制空列表
						this.pdList = this.pdList.concat(curPageData); //追加新数据
					},
					() => {
						//联网失败的回调,隐藏下拉刷新的状态
						mescroll.endErr();
					}
				);
			},
			//点击空布局按钮的回调
			emptyClick() {
				uni.showToast({
					title: "点击了按钮,具体逻辑自行实现",
				});
			},
			async getList(pagenum, pagesize, successCallback, errorCallback) {
				if (this.status == "0") {
					return
				}
				
				let userInfo = uni.getStorageSync("userInfo");
				let roleNameStatus = uni.getStorageSync("roleNameStatus");
				// console.log('打印判断的东西', userInfo, roleNameStatus)
				for(let i in userInfo.role){
					if (userInfo.role[i].roleName == roleNameStatus.deliveryMan_driver) {
						this.sUserOrDriverPhoneNumber = userInfo.user.mobileTelephone;
					}
					if (userInfo.role[i].roleName == roleNameStatus.driver) {
						this.sDriverPhoneNumber = userInfo.user.mobileTelephone;
					}
					if (userInfo.role[i].roleName == roleNameStatus.deliveryMan) {
						this.sUserPhoneNumber = userInfo.user.mobileTelephone;
					}
					if (
						userInfo.role[i].roleName == roleNameStatus.salesman ||
						userInfo.role[i].roleName == roleNameStatus.securityStaff
					) {
						this.sWarehouseIdList = []
						for (let j in userInfo.warehouse) {
							this.sWarehouseIdList.push(userInfo.warehouse[j].id);
						}
					}
				}
				// uni.getStorage({
				// 	key: 'roleNameStatus',
				// 	success: (res) => {
				// 		let roleNameStatus = res
				// 		console.log("打印角色", res)
				// 	}
				// })
				let res = await this.$http(
					"techcomp/ria/commonProcessor!commonMethod.action?ajaxRequest=true&t=11", {
						dataStores: {},
						parameters: {
							mapParams: {
								sWarehouseIdList: this.sWarehouseIdList, // 小程序-废钢业务管理 && 保安
								sStatus: this.status, //状态
								sUserPhoneNumber: this.sUserPhoneNumber, // 小程序-废钢库送货人
								sDriverPhoneNumber: this.sDriverPhoneNumber, // 小程序-废钢司机
								sUserOrDriverPhoneNumber: this.sUserOrDriverPhoneNumber, //管理员加司机
								pageNum: pagenum,
								pageSize: pagesize,
							},
							_parameters: "mapParams",
							_parameterTypes: "string",
							dcID: "wmsdeliveryis",
							_boId: "wmsdeliveryis_ifsWmsDeliveryDetailsBO_bo",
							_methodName: "getWmsAppointmentDeliveryDetailsInfoByPage",
							_methodParameterTypes: "String",
						},
					}
				);
				uni.hideKeyboard();
				if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
					let list =
						JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
					let detailsList = list.detailsList
					if (detailsList.length)
						detailsList = detailsList.map((ele) => {
							return {
								...ele,
								sDeliveryDate: formatTime(ele.sDeliveryDate, "Y-M-D h:m:s"),
								userInfo: userInfo,
								roleNameStatus: roleNameStatus,
							};
						});
					console.log("订单列表", detailsList);
					successCallback && successCallback(detailsList);
				} else {
					this.$refs.mpopup.open({
						type:'warn',
						content: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
						timeout:2500,
						isClick:false
					});
				}
			},
			bindAction(obj) {
				this.$emit("action", obj);
			},
			refresh() {
				this.$nextTick(() => {
					this.mescroll.triggerDownScroll();
					this.mescroll.scrollTo(0, 300);
				})
			},
		},
		watch: {
			index(nvm){
				if (nvm) {
					this.status = String(nvm)
				}
				
			}
		}
	};
</script>
