<template>
	<view>
		<cnd-navbar color="white" isBack>
			<block slot='content'>质检信息</block>
		</cnd-navbar>
		<store-loc :info="info" :list="list" :sWarehouseId="formData.sWarehouseId" :details="details" :sIsFinish="sIsFinish" ref="storeForm" @saveBefore="saveBefore" @change="bindParChange" @refresh="getInfo"></store-loc>
		<view style="height: 136rpx;"></view>
		<view class="function-box new-page">
			<view class="block"><cnd-button color="primary" size="block" icon="no" @clickEvent="handleConfirm">保存</cnd-button></view>
			<view class="block"><cnd-button color="primary" size="block" icon="no" @clickEvent="save">确认</cnd-button></view>
		</view>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
import CndNavbar from '@/components/navbar/cnd-navbar';
// import CndUploadCell from 'cndapp-ui/components/upload/upload';
import CndButton from '../components/button/button';
import StoreLoc from './components/store-loc.vue';
export default {
	components: { 
		CndNavbar, 
		// CndUploadCell, 
		StoreLoc, 
		CndButton 
	},
	data() {
		return {
			formData: {
				// 筛选条件
				sId: '',
				parameter: '',
				index: 0,
				sWarehouseId: ''
			},
			sIsFinish: undefined,
			list: {},
			info: {},
			details: {},
			initForm: true,
			isUpdate: false,
			saveing: false,
			dataList: {}
		};
	},
	async onLoad(e) {
		let { id, index, sIsFinish, sWarehouseId } = e;
		this.formData.index = ~~index;
		this.formData.sId = id;
		this.formData.sWarehouseId = sWarehouseId;
		this.sIsFinish = ~~sIsFinish
		uni.$on('uploadBefore',  async () => {
			if (this.saveing) {
				return
			} 
			this.saveing = true
			// await this.save(false)
			// await this.handleConfirm(false)
			this.saveing = false
		})
		// uni.$on('saveBefore',  async () => {
		// 	await this.savesBuckleWeight()
		// })
		// uni.$on('materialTypeEvent', (e) => {
		// 	this.list.sMaterialType = JSON.parse(e.sMaterialType)
		// 	uni.$off('materialTypeEvent')
		// })
		uni.$on('addImg', () => {
			this.getInfo()
		})
		uni.$on('deleteImg', () => {
			this.getInfo()
		})
		await this.getList();
		await this.getInfo();
		await this.getdetails()
	},
	async onShow() {
		if (this.isUpdate) {
			// await this.getInfo();
		}
		this.isUpdate = true;
	},
	async mounted () {
		await this.getList()
		this.dataList = this.$refs.storeForm.dataList
	},
	methods: {
		async getInfo() {
			uni.showLoading({
				title: '请稍候',
				mask: true
			});
			// console.log(this.formData.index, this.dataList[this.formData.index].sId)
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				
				"dataStores": {},
				"parameters": {
				    "inBillId": this.formData.sId,
				    "_parameters": "inBillId",
					"_parameterTypes": "string",
					"dcID": "wmsmetalis",
					"_boId": "wmsmetalis_ifsFgWmsInBillBO_bo",
					"_methodName": "queryWmsInBillById",
					"_methodParameterTypes": "String"
				},
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				let info = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
				console.log('明细', info);
				this.info = info;
				await this.getImgList()
				uni.hideLoading();
			} else {
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
			
		},
		async getList() {
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				dataStores: {},
				parameters: {
					"inBillId": this.formData.sId,
					"_parameters": "inBillId",
					"_parameterTypes": "string",
					"dcID": "wmsmetalis",
					"_boId": "wmsmetalis_ifsFgWmsInBillBO_bo",
					"_methodName": "queryQualityTesting",
					"_methodParameterTypes": "String"
				}
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				let list = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
				console.log('明细列表', list);
				this.list = list;
				// await this.getImgList()
			} else {
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
		},
		async getdetails() {
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				dataStores: {},
				parameters: {
					"inBillId": this.formData.sId, // 收货单ID
					"_parameters": "inBillId",
					"_parameterTypes": "string",
					"dcID": "wmsmetalis",
					"_boId": "wmsmetalis_ifsFgWmsInBillBO_bo",
					"_methodName": "queryWmsReceiveNotifyDetailById",
					"_methodParameterTypes": "String"
				}
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				let details = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
				console.log('收货通知信息', details);
				this.details = details;
				// await this.getImgList()
			} else {
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
		},
		async getImgList() {
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				dataStores: {},
				parameters: {
					sId: this.info.sId,
					_parameters: 'sId',
					_parameterTypes: 'string',
					dcID: 'fs',
					_boId: 'fs_bsbFilesBO_bo',
					_methodName: 'getBsbFilesByBusId',
					_methodParameterTypes: 'String'
				}
			});
			let infos = res.dataStores.result.rowSet.primary || [];
			// console.log('待拣货明细图片', infos);
			this.$set(this.info, 'imgList', infos)
		},
		async bindParChange() {
			// await this.getList()
			// await this.getInfo()
			// await this.getdetails()
		},
		async sBuckleWeight() {
			await this.save()
			await this.handleConfirm()
		},
		// 杂重保存接口
		async saveBefore() {
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action?ajaxRequest=true&t=5', {
				dataStores: {
					"mapParams": {
						"rowSet": {
							primary: [
								{
									// "sId": "",
									// "sVersion": this.dataList.sVersion,
									"sInBillId": this.formData.sId,  // 入库单ID
									"sBuckleWeight": this.dataList.sBuckleWeight,  // 扣杂重量
								}
							],
							filter: [],
							delete: []
						},
						name: "mapParams",
						pageNumber: 1,
						pageSize: 2147483647,
						recordCount: 0,
						rowSetName: "com.cnd.intfservice.wmsmetalis.outbill.pojo.GtwmsQualityTestingPojo"
					}
				},
				parameters: {
					dcID: "wmsmetalis",
					_boId: "wmsmetalis_ifsFgWmsInBillBO_bo",
					_methodName: "saveOrUpdateQualityTestingForFields",
					_methodParameterTypes: "com.cnd.intfservice.wmsmetalis.outbill.pojo.GtwmsQualityTestingPojo",
					_parameterTypes: "pojo",
					_parameters: "mapParams",
				}
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				// await this.getList()
			} else {
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
		},
		// 保存接口
		async handleConfirm (showResult = true) {
			console.log('是否分批质检',this.dataList.sBatchQuality)
			if (showResult) {
				if (this.dataList.sMaterialType == '' || this.dataList.sMaterialIdentification == '' || this.info.imgList == '' || !this.dataList.sBatchQuality) {
					// uni.showToast({
					// 	title: '红色字体为必录项，请检查！',
					// 	icon: 'none'
					// });
					this.$refs.mpopup.open({
						type:'err',
						content:'红色字体为必录项，请检查！',
						timeout:2000,
						isClick:false
					});
					return
				}
			}
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				dataStores: {
					"mapParams": {
						"rowSet": {
							primary: [
								{
									"sInBillId": this.formData.sId,  // 入库单ID
									"sQualityInspector": this.details.vSubArtNoAttrValueName,  // 质检员
									"sMaterialType": this.dataList.sMaterialType,  //料型
									"sGrade": this.dataList.sGrade,  // 品级
									"sMaterialIdentification": this.dataList.sMaterialIdentification,  //物料鉴定情况
									"sBuckleWeight": this.dataList.sBuckleWeight,  // 扣杂重量
									"sClosedMaterialNumber": this.dataList.sClosedMaterialNumber,  //封闭物料数量
									"sSuperScaleNumber": this.dataList.sSuperScaleNumber,  // 超尺数量
									"sOthers": this.dataList.sOthers,  //其他
									"sRemark": this.dataList.sRemark,  // 备注
									"sBatchQuality":this.dataList.sBatchQuality
								}
							],
							filter: [],
							delete: []
						},
						name: "mapParams",
                        pageNumber: 1,
                        pageSize: 2147483647,
                        recordCount: 0,
                        rowSetName: "com.cnd.metalwms.metalfeature.entity.GtwmsQualityTesting"
					}
				},
				parameters: {
					 "_parameters": "mapParams",
                    "_parameterTypes": "pojo",
                    "dcID": "wmsmetalis",
                    "_boId": "wmsmetalis_ifsFgWmsInBillBO_bo",
                    "_methodName": "saveOrUpdateQualityTestingNoStatus",
                    "_methodParameterTypes": "com.cnd.metalwms.metalfeature.entity.GtwmsQualityTesting"
				}
			});
			if (showResult) {
				if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
					// uni.showToast({
					// 	title: '保存成功',
					// 	icon: 'none',
					// 	success: () => {
					// 		setTimeout(() => {
					// 			let iIndex = getCurrentPages().findIndex(ele => ele.route === 'pagesB/receiving-inspection/index')
					// 			let iPage = getCurrentPages()[iIndex]
					// 			// iPage.$vm.isReload = true
					// 			uni.navigateBack({
					// 				delta: iIndex === -1 ? 1 : getCurrentPages().length - iIndex - 1
					// 			})
					// 		}, 500)
					// 	}
					// });
					this.$refs.mpopup.open({
						type:'success',
						content:'保存成功',
						timeout:2000,
					});
					setTimeout(() => {
						let iIndex = getCurrentPages().findIndex(ele => ele.route === 'pagesB/receiving-inspection/index')
						let iPage = getCurrentPages()[iIndex]
						// iPage.$vm.isReload = true
						uni.navigateBack({
							delta: iIndex === -1 ? 1 : getCurrentPages().length - iIndex - 1
						})
					}, 500)
				} else {
					this.$refs.mpopup.open({
						type:'warn',
						content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
						timeout:2500,
						isClick:false
					});
				}
			}
		},
		// 确认接口
		async save(showResult = true) {
			if (showResult) {
				if (this.dataList.sMaterialType == '' || this.dataList.sMaterialIdentification == '' || this.info.imgList == '' || !this.dataList.sBatchQuality) {
					// uni.showToast({
					// 	title: '红色字体为必录项，请检查！',
					// 	icon: 'none'
					// });
					this.$refs.mpopup.open({
						type:'err',
						content:'红色字体为必录项，请检查！',
						timeout:2000,
						isClick:false
					});
					return
				}
			}
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				dataStores: {
					"mapParams": {
						"rowSet": {
							primary: [
								{
									"sInBillId": this.formData.sId,  // 入库单ID
									"sQualityInspector": this.details.vSubArtNoAttrValueName,  // 质检员
									"sMaterialType": this.dataList.sMaterialType,  //料型
									"sGrade": this.dataList.sGrade,  // 品级
									"sMaterialIdentification": this.dataList.sMaterialIdentification,  //物料鉴定情况
									"sBuckleWeight": this.dataList.sBuckleWeight,  // 扣杂重量
									"sClosedMaterialNumber": this.dataList.sClosedMaterialNumber,  //封闭物料数量
									"sSuperScaleNumber": this.dataList.sSuperScaleNumber,  // 超尺数量
									"sOthers": this.dataList.sOthers,  //其他
									"sRemark": this.dataList.sRemark,  // 备注
									"sBatchQuality":this.dataList.sBatchQuality
								}
							],
							filter: [],
							delete: []
						},
						name: "mapParams",
						pageNumber: 1,
						pageSize: 2147483647,
						recordCount: 0,
						rowSetName: "com.cnd.metalwms.metalfeature.entity.GtwmsQualityTesting"
					}
				},
				parameters: {
					"_parameters": "mapParams",
					"_parameterTypes": "pojo",
					"dcID": "wmsmetalis",
					"_boId": "wmsmetalis_ifsFgWmsInBillBO_bo",
					"_methodName": "saveOrUpdateQualityTesting",
					"_methodParameterTypes": "com.cnd.metalwms.metalfeature.entity.GtwmsQualityTesting"
				}
			});
			if (showResult) {
				if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
					// uni.showToast({
					// 	title: '操作成功',
					// 	icon: 'none',
					// 	success: () => {
					// 		setTimeout(() => {
					// 			let iIndex = getCurrentPages().findIndex(ele => ele.route === 'pagesB/receiving-inspection/index')
					// 			let iPage = getCurrentPages()[iIndex]
					// 			// iPage.$vm.isReload = true
					// 			uni.navigateBack({
					// 				delta: iIndex === -1 ? 1 : getCurrentPages().length - iIndex - 1
					// 			})
					// 		}, 500)
					// 	}
					// });
					this.$refs.mpopup.open({
						type:'success',
						content:'保存成功',
						timeout:2000,
					});
					setTimeout(() => {
						let iIndex = getCurrentPages().findIndex(ele => ele.route === 'pagesB/receiving-inspection/index')
						let iPage = getCurrentPages()[iIndex]
						// iPage.$vm.isReload = true
						uni.navigateBack({
							delta: iIndex === -1 ? 1 : getCurrentPages().length - iIndex - 1
						})
					}, 500)
				} else {
					this.$refs.mpopup.open({
						type:'warn',
						content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
						timeout:2500,
						isClick:false
					});
				}
			}
		}
	}
};
</script>
<style>
page {
	background-color: #f1f5f7;
}
</style>
<style lang="scss" scoped>
@import '../../common/style/nav.scss';
</style>
<style lang="scss" scoped>
.bottom-btn {
	width: 90%;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}
.new-page {
	.block {
		margin: 0 10rpx;
		width: 100% !important;
		.cnd-button {
			width: 100% !important;
		}
	}
}
/deep/.cnd-field-item .cnd-field-label{
    width: 236rpx!important;
}
</style>
