<template>
	<view class="x-p-titleList">
        <view class="title">E废钢会员注册服务协议</view>
        <view class="text">（版本发布时间：2022年2月13日）</view>
		<scroll-view class="scroller" scroll-y="true" scroll-with-animation="true">
			<view id="item1" class="x-p-listItem">
				<view style="font-size: 15px;font-weight:700" class="contentTit">【提示条款】</view>
				<view class="text-indent">
					欢迎申请使用建发钢铁集团成员方（包括建发（上海）有限公司及其直接或间接控股子公司、分支机构）提供的会员服务。请务必审慎阅读、充分理解本协议各条款内容，特别是免除或者限制责任、法律适用和争议解决等以粗体下划线格式特别标识的条款，请您重点阅读。
                    若您签署或在线点击同意本协议，即表示您已充分阅读、理解并接受本协议的全部内容
				</view>
			</view>
			
			<view id="item2" class="x-p-listItem">
				<view style="font-size: 15px;font-weight: 600" class="contentTit">1.注册与使用</view>
				<view class="content">
                    <view>1.1. 您确认，您已具备中华人民共和国法律规定的与您行为相适应的民事行为能力。若您不具备前述民事行为能力，则您及您的监护人应依照法律规定承担因此导致的一切后果。</view>
                    
                    <view>1.2.您按照注册页面提示填写信息、设置密码、阅读并同意本协议并完成全部注册程序后或以其他允许的方式实际使用“E废钢”服务时，用户即成为会员，以下称“用户”或“您”。</view>
                    
                    <view>1.3.您进行注册时，必须填写准确、真实、有效的个人资料，倘若您提供任何不真实、不准确、不完整或不能反映当前情况的资料，或“E废钢”有合理理由怀疑前述资料不真实、不准确、不完整或不能反映当前情况，“E废钢”有权暂停或终止您的注册服务。</view>
                    <view>1.4.您在登录后必须遵循以下规定，否则“E废钢”有权做出独立判断，立即取消您的会员资格并注销您的账号：</view>
                        <view class="marginLeft">（1）遵守国家法律法规、当地法规及互联网相关规定；</view>
                        <view class="marginLeft">（2）遵守所有与运单及查询服务有关的协议、规定、程序以及“E废钢”的服务条款；</view>
                        <view class="marginLeft">（3）不得利用“E废钢”的服务系统进行任何可能对互联网或移动网络正常运转造成不利影响的行为；</view>
                        <view class="marginLeft">（4）不得利用“E废钢”提供的下单及查询服务上传、展示或传播任何虚假的、骚扰性的、中伤他人的、辱骂性的、恐吓性的、庸俗淫秽的或其他任何非法的信息资料；</view>
                        <view class="marginLeft">（5）不得通过盗取账号、密码，诈骗等不正当手段获得会员信息。</view>
                    <view>1.5.信息管理</view>
                        <view class="marginLeft">1.5.1.在登录“E废钢”相关的网站、系统、APP或者第三方程序时，您应当按照系统页面的提示准确完整地提供您的信息。如前述信息发生变更，您应当及时提供最新、真实、完整的信息，以免影响账户的正常使用。</view>
                        <view class="marginLeft">1.5.2.您了解并同意，您有义务保持您提供信息的真实性及有效性，如您提供的信息不实或失效的，您应承担因此给您自身、他人及“E废钢”造成的全部损失与不利后果。</view>
                    <view>1.6.账户安全</view>
                        <view class="marginLeft">1.6.1.您的账户（包括账户名、密码等，下同）由您自行设置并由您保管，“E废钢”在任何时候均不会主动要求您提供账户，请您务必妥善保管账户。因您主动泄露、保管不当而泄露或遭受他人攻击、诈骗等行为导致的损失及后果，“E废钢”不承担任何责任。</view>
                        <view class="marginLeft">1.6.2.如发现任何未经授权使用您账户或其他可能导致您的账户遭窃、遗失的情况，建议您立即通知“E废钢”，并授权“E废钢”将该信息同步给“E废钢”的关联公司或合作方。您理解“E废钢”对您的任何请求采取行动均需要合理时间，除“E废钢”存在过错外，“E废钢”对在采取行动前已经产生的后果不承担任何责任。</view>
				</view>
			</view>
			
			<view id="item3" class="x-p-listItem">
				<view style="font-size: 15px;font-weight: 600" class="contentTit">2.服务内容</view>
				<view class="content">
                    <view>2.1.您可以在登录后使用以下服务包括但不限于下单、查询货品信息、在线咨询客服、在线投诉等，上述服务可能因“E废钢”进行业务、产品性调整而被增加或修改，或因定期、不定期的维护而暂缓提供，您可以登录“E废钢”系统查看具体的信息。</view>
                    
                    <view>2.2.“E废钢”可能会通过您预留的手机号、邮箱、小程序消息推送等形式，对“E废钢”的注册会员发送收货通知、升级通知、年度账单通知等，您可以在手机、其他设备或在APP、微信公众号等渠道进行免打扰设置。</view>

				</view>
			</view>
			
			<view id="item4" class="x-p-listItem">
				<view style="font-size: 15px;font-weight: 600" class="contentTit">3.争议处理</view>
				<view class="content">
                    <view>3.1.您在使用“E废钢”系统过程中与其他用户发生争议的，您与争议相对方应自行通过协商、调解、仲裁、诉讼等途径依法解决，或者申请“E废钢”介入调处。</view>
                    
                    <view>3.2.您或争议相对方任一方申请“E废钢”介入调处的，则“E废钢”将作为独立的第三方，根据其所调查了解到的争议事实并依据平台规则作出调处决定。</view>
                    <view>3.3.如您或争议相对方任一方对“E废钢”的调处决定不满意，仍有权采取其他争议处理途径解决争议，但通过其他争议处理途径未取得终局决定之前，您与争议相对方仍应先行履行调处决定。</view>
				</view>
			</view>
			
			<view id="item5" class="x-p-listItem">
				<view style="font-size: 15px;font-weight: 600" class="contentTit">4.免责声明</view>
				<view class="content">
                    <view>4.1.您明确同意承担使用“E废钢”下单及查询服务所存在的一切后果</view>
                    <view>4.2.由于您自己将会员密码告知他人、与他人共享注册账户、转借或出让账户给他人使用，由此导致任何个人信息的泄露等由您自行承担，“E废钢”无需承担任何责任。</view>
                    <view>4.3.“E废钢”有可能会提供其他网站的链接，这些链接的网站并非由“E废钢”控制，故不对该网站的内容、其链接网站的内容及其内容的更新及转变承担任何责任，这些网站的使用及内容也不代表“E废钢”的立场。</view>
                    <view>4.4.“E废钢”有义务在技术上保证“E废钢”的正常运行，而对于因不可抗力或“E废钢”不能控制的原因造成的下单及查询服务中断或其它缺陷，“E废钢”不承担任何责任，但“E废钢”会尽力协助处理以减少因此给用户造成的损失和影响。</view>
				</view>
			</view>
			
			<view id="item6" class="x-p-listItem">
				<view style="font-size: 15px;font-weight: 600" class="contentTit">5.用户信息保护、授权及使用</view>
				<view class="content">
                    <view>5.1.个人信息的保护</view>
                    <view>“E废钢”非常重视用户个人信息的保护，在您使用“E废钢”服务时，您同意“E废钢”按照相关法律法规之规定、本协议约定以及公布在“E废钢”官网的隐私政策收集、存储、使用、披露和保护您的个人信息</view>
                    
				</view>
			</view>
			
			<view id="item7" class="x-p-listItem">
				<view style="font-size: 15px;font-weight: 600" class="contentTit">6.协议终止</view>
				<view class="content">
                    <view>6.1.通知解除：协议任何一方均可以提前十五（15）日书面通知的方式解除本协议。</view>
                    <view>6.2.“E废钢”单方解除权：如您违反本协议中的任何约定、承诺、保证或任何平台规则，“E废钢”都有权立刻解除本协议，并按照本协议约定或平台规则规定对您进行违约处理。</view>
                    <view>6.3.如您连续满九十（90）天未登录“E废钢”系统的，“E废钢”有权解除本协议。</view>
                    <view>6.4.本协议约定的其他终止条件发生或实现，导致本协议终止。</view>

				</view>
			</view>

            <view id="item8" class="x-p-listItem">
				<view style="font-size: 15px;font-weight: 600" class="contentTit">7.通知</view>
				<view class="content">
                    <view>7.1.本系统将通过网页公告或电子邮件或手机短信传送等方式，把通告传送给用户，该等通告于发送之日即视为已送达收件人。</view>

				</view>
			</view>

            <view id="item9" class="x-p-listItem">
				<view style="font-size: 15px;font-weight: 600" class="contentTit">8.法律适用与管辖</view>
				<view class="content">
                    <view>8.1.本协议的订立、履行、解释、变更及争议解决均适用中华人民共和国法律（为避免歧义，不包含冲突法规则及港、澳、台地区法律）。</view>
                    <view>8.2.对于因本协议产生的或者与本协议有关的争议，应友好协商解决，协商不成的，协议任一方均可向上海市青浦区人民法院提起诉讼。</view>

				</view>
			</view>
		
		</scroll-view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				
				toView:''
			}
		},
		methods: {
			
		}
	}
</script>

<style lang="scss">
	page{
		background: #fff;
	}
	.header_88{
		height: calc(var(--status-bar-height) + 100rpx);
	}
	.StatusBarPanel{
		width: 100%;
		height: var(--status-bar-height);
		background-color: #fff;
		position: fixed;
		top: 0;
		z-index: 1;
	}
	
	.title {
        width: 100%;
        color:#000;
        text-align: center;
        font-size: 42rpx;
        font-weight: 600;
        margin: 20rpx;
    }
    .text{
        width: 100%;
        color:#000;
        text-align: center;
        font-size: 36rpx;
        font-weight: 600;
        margin: 20rpx;
    }
	.privacyTop{
		// border: 1px solid red;
		width: 95%;
		display: flex;
		margin: auto;
		margin-top: 20rpx;
		line-height: 50rpx;
	}
	
	.tit {
		// border: 1px solid red;
		width: 95%;
		display: flex;
		margin: auto;
		line-height: 50rpx;
		margin-top: 10rpx;
        font-size: 38rpx;
        font-weight:700;
        margin: 20rpx;
	}
	
	.xp-t-title {
		.xp-t-titleItem{
			// border: 1px solid red;
			width: 90%;
			display: flex;
			margin: auto;
			line-height: 50rpx;
			color: blue;
			font-weight: 800;
			line-height: 80rpx;
		}
	}
	
	.x-p-listItem{
		// border: 1px solid red;
		width: 90%;
		margin: auto;
		line-height: 75rpx;
	}
    .text-indent{
        text-indent:35px
    }
    .marginLeft{
        margin-left: 50rpx;
    }
</style>
