<template>
	<view>
		<view class="boxImg headstock">
			
			<id-img :formImg="showTo == '1' ? formImg : jszImg" :info="info" :showTo="showTo"></id-img>
			<view class="function-box new-page">
				<view class="block"  v-if="showTo == '1'"><cnd-button color="primary" size="block" icon="no" @clickEvent="saveID">提交身份证</cnd-button></view>
				<view class="block"  v-if="showTo == '2'"><cnd-button color="primary" size="block" icon="no" @clickEvent="saveJsz">提交</cnd-button></view>
			</view>
		</view>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>

import CndButton from '@/components/button/button';
// import cndSwitch from "@/components/switch/switch.vue"
import idImg from '@/components/upload/idImg.vue'
// import { baseUrl, getReqTime } from '@/common/utils/index.js'
// import { uniToRpx } from '@/common/utils/index.js'
export default {
	components: { 
		CndButton, 
		// cndSwitch, 
		idImg 
	},
	data() {
		return {
			formImg:[
				{
					title: '拍摄身份证正面照',
					img: '../../static/images/sfz.png',
					sId: '',
					imgList: []
				},
				{
					title: '拍摄身份证反面照',
					img: '../../static/images/sfzf.png',
					sId: '',
					imgList: []
				},
			],
			jszImg:[
				{
					title: '拍摄驾驶证照',
					img: '../../static/images/jsz.png',
					sId: '',
					imgList: []
				},
				{
					title: '拍摄行驶证照',
					img: '../../static/images/xsz.png',
					sId: '',
					imgList: []
				}
			],
			switchValue1: false,
			switchValue2: false,
			showTo: '',
			info:{},
			copIdImg: [],
			// j_username: "apptest",
			// j_password: "apptest1",
			
		};
	},
	onLoad(e) {
		this.showTo = e.showTo;
		uni.$on('addImg', () => {
			this.getInfo()
		})
		uni.$on('deleteImg', () => {
			// this.getInfo()
		})
		
		// uni.getStorage({
		// 	key: 'j_username',
		// 	success: (res) => {
		// 		this.j_username = res.data
		// 		// this.j_password = res.data === 'admin' ? 'e7wZ%S%2!J' : ''
		// 	}
		// })
		uni.$on('setInfo', () => {
			this.getInfo()
		})
	},
	mounted() {
		// this.formSubmit()
		// this.getInfo()
		
	},
	onShow(){
		this.getInfo()
	},
	methods: {
		
		// 提交身份证
		async saveID(){
			if(this.formImg[0].imgList.length == 0){
				// uni.showToast({
				// 	title: '请上传身份证正面照！',
				// 	icon: 'none',
				// 	success: () => {}
				// });
				this.$refs.mpopup.open({
					type:'err',
					content:'请上传身份证正面照！',
					timeout:2000,
					isClick:false
				});
				return
			}
			if(this.formImg[1].imgList.length == 0){
				// uni.showToast({
				// 	title: '请上传身份证反面照！',
				// 	icon: 'none',
				// 	success: () => {}
				// });
				this.$refs.mpopup.open({
					type:'err',
					content:'请上传身份证反面照！',
					timeout:2000,
					isClick:false
				});
				return
			}
			// uni.showToast({
			// 	title: '操作成功',
			// 	icon: 'none',
			// 	success: () => {
			// 		setTimeout(() => {
			// 			let iIndex = getCurrentPages().findIndex(ele => ele.route === 'pages/user/index')
			// 			let iPage = getCurrentPages()[iIndex]
			// 			iPage.$vm.isReload = true
			// 			uni.navigateBack({
			// 				delta: iIndex === -1 ? 1 : getCurrentPages().length - iIndex - 1
			// 			})
			// 		}, 500)
			// 	}
			// });
			this.$refs.mpopup.open({
				type:'success',
				content:'操作成功',
				timeout:2000,
			});
			setTimeout(() => {
				let iIndex = getCurrentPages().findIndex(ele => ele.route === 'pages/user/index')
				let iPage = getCurrentPages()[iIndex]
				iPage.$vm.isReload = true
				uni.navigateBack({
					delta: iIndex === -1 ? 1 : getCurrentPages().length - iIndex - 1
				})
			}, 500)
		},
		// 提交驾驶证
		async saveJsz(){
			if(this.jszImg[0].imgList.length == 0){
				// uni.showToast({
				// 	title: '请上传驾驶证照！',
				// 	icon: 'none',
				// 	success: () => {}
				// });
				this.$refs.mpopup.open({
					type:'err',
					content:'请上传驾驶证照！',
					timeout:2000,
					isClick:false
				});
				return
			}
			if(this.jszImg[1].imgList.length == 0){
				// uni.showToast({
				// 	title: '请上传行驶证照！',
				// 	icon: 'none',
				// 	success: () => {}
				// });
				this.$refs.mpopup.open({
					type:'err',
					content:'请上传行驶证照！',
					timeout:2000,
					isClick:false
				});
				return
			}
			// uni.showToast({
			// 	title: '操作成功',
			// 	icon: 'none',
			// 	duration:3000,
			// 	success: () => {
			// 		setTimeout(() => {
			// 			let iIndex = getCurrentPages().findIndex(ele => ele.route === 'pages/user/index')
			// 			let iPage = getCurrentPages()[iIndex]
			// 			iPage.$vm.isReload = true
			// 			uni.navigateBack({
			// 				delta: iIndex === -1 ? 1 : getCurrentPages().length - iIndex - 1
			// 			})
			// 		}, 500)
			// 	}
			// });
			this.$refs.mpopup.open({
				type:'success',
				content:'操作成功',
				timeout:2000,
			});
			setTimeout(() => {
				let iIndex = getCurrentPages().findIndex(ele => ele.route === 'pages/user/index')
				let iPage = getCurrentPages()[iIndex]
				iPage.$vm.isReload = true
				uni.navigateBack({
					delta: iIndex === -1 ? 1 : getCurrentPages().length - iIndex - 1
				})
			}, 500)
		},
        async getInfo() {
			uni.showLoading({
				title: '请稍等...',
				mask: true
			})
			let userName = uni.getStorageSync('userName')
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				dataStores: {},
				parameters: {
					"account": userName,
					"_parameters": "account",
					"_parameterTypes": "string",
					"dcID": "baseis",
					"_boId": "baseis_ifsLogginEnableBO_bo",
					"_methodName": "queryAdminRoleUser",
					"_methodParameterTypes": "String"
				}
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				let info = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
				console.log('明细查询数据', info);
				this.info = info;
				this.formImg[0].sId = this.info.role[0].userId + '_01'
				this.formImg[1].sId = this.info.role[0].userId + '_02'
				this.jszImg[0].sId = this.info.role[0].userId + '_03'
				this.jszImg[1].sId = this.info.role[0].userId + '_04'
				// console.log('打印上传图片id',this.formImg[0].sId,this.formImg[1].sId,this.jszImg[0].sId,this.jszImg[1].sId)
				this.getImgList()
				this.getImgList2()
				this.getImgList3()
				this.getImgList4()
				uni.hideLoading()
				// this.getImgListNum(this.info.role[0].userId)
			} else {
				// uni.showToast({
				// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
				// 	icon: 'none',
				// 	mask: true
				// });
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});	
			}
		},
		async getImgList() {
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				dataStores: {},
				parameters: {
					sId: this.info.role[0].userId + '_01',
					_parameters: 'sId',
					_parameterTypes: 'string',
					dcID: 'fs',
					_boId: 'fs_bsbFilesBO_bo',
					_methodName: 'getBsbFilesByBusId',
					_methodParameterTypes: 'String'
				}
			});
			let infos = res.dataStores.result.rowSet.primary || [];
			this.$set(this.info, 'imgList', infos)
			this.formImg[0].imgList = this.info.imgList
		},
		async getImgList2() {
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				dataStores: {},
				parameters: {
					sId: this.info.role[0].userId + '_02',
					_parameters: 'sId',
					_parameterTypes: 'string',
					dcID: 'fs',
					_boId: 'fs_bsbFilesBO_bo',
					_methodName: 'getBsbFilesByBusId',
					_methodParameterTypes: 'String'
				}
			});
			let infos = res.dataStores.result.rowSet.primary || [];
			this.$set(this.info, 'imgList2', infos)
			this.formImg[1].imgList = this.info.imgList2
		},
		async getImgList3() {
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				dataStores: {},
				parameters: {
					sId: this.info.role[0].userId + '_03',
					_parameters: 'sId',
					_parameterTypes: 'string',
					dcID: 'fs',
					_boId: 'fs_bsbFilesBO_bo',
					_methodName: 'getBsbFilesByBusId',
					_methodParameterTypes: 'String'
				}
			});
			let infos = res.dataStores.result.rowSet.primary || [];
			this.$set(this.info, 'imgList3', infos)
			this.jszImg[0].imgList = this.info.imgList3
		},
		async getImgList4() {
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				dataStores: {},
				parameters: {
					sId: this.info.role[0].userId + '_04',
					_parameters: 'sId',
					_parameterTypes: 'string',
					dcID: 'fs',
					_boId: 'fs_bsbFilesBO_bo',
					_methodName: 'getBsbFilesByBusId',
					_methodParameterTypes: 'String'
				}
			});
			let infos = res.dataStores.result.rowSet.primary || [];
			this.$set(this.info, 'imgList4', infos)
			this.jszImg[1].imgList = this.info.imgList4
		},
	},
	watch: {
	}
};
</script>

<style lang="scss" scoped>
@import '@/components/upload/styleImg.scss';
	.headstock{
		margin-top: 8upx;
	}
	
</style>
