<template>
	<view>
		<view class="header">
			<view class="bg">
				<view class="box">
					<view class="box-hd">
						<view class="avator">
							<image src="../../static/images/user/users.png" />
						</view>
                        <!-- <view class="phone-number">昵称</view> -->
						<view class="phone-number">{{ userPho }}</view>
					</view>
					
				</view>
			</view>
		</view>
		<view class="list-content">
			<view class="list">
				<view class="li noborder" @click="toID">
					<view class="icon">
						<image src="../../static/images/user/ID.png" />
					</view>
					<view class="text">身份认证</view>
                    <text class="to">〉</text>
					<!-- <image class="to" src="../../static/image/user2/to.png"></image> -->
				</view>
                <view class="li noborder" @click="toJsz">
					<view class="icon">
						<image src="../../static/images/user/driver.png" />
					</view>
					<view class="text">驾驶证管理</view>
                    <text class="to">〉</text>
					<!-- <image class="to" src="../../static/image/user2/to.png"></image> -->
				</view>
				<view class="li noborder" @click="showTextmsg = true">
					<view class="icon">
						<image src="../../static/images/user/name.png" />
					</view>
					<view class="text">{{ userName }}</view>
                    <text class="to">〉</text>
				</view>
				<!-- <view class="btn-row">
					
				</view> -->
			</view>
			<view class="new-page logout">
				<button type="primary" class="primary" @click="quit()">退出登录</button>
				<view class="body">
					<navigator url="/pages/user/agreement" class="navigator" hover-class="none">
						<text class="app-text">《服务协议》</text>
					</navigator>
					和
					<navigator url="/pages/user/Privacy" class="navigator" hover-class="none">
						<text class="app-text">《隐私政策》</text>
					</navigator>
				</view>
			</view>
			
		</view>
		<!-- <cnd-dialog v-model="isShow2" @confirm="confirm" :cancelButton="true" :title="'姓名'">
			<input v-model="setName" v-show="isShow2" class="engInput" placeholder="请输入姓名"/>
		</cnd-dialog> -->
		<cnd-dialog :textmsg="textmsg" @cancel='operation(1)' @confirm='operation(2)' v-show="showTextmsg">
			<input v-model="setName" class="engInput" placeholder="请输入姓名"/>
		</cnd-dialog>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>
<script>
	import cndDialog from './components/cnd-dialog.vue'
	// import { baseUrl, getReqTime } from '@/common/utils/index.js'
	export default {
		data() {
			return {
				info: {},
				userName: '',
				userPho: '',
				// isShow2: false,
				setName: '',
				userInfo: {},
				showTextmsg:false,
				textmsg:{
					title:'姓名',
					content:'',
					contentTwo :'',
					cancel:'取消',
					confirm:'保存'
				}
			};
		},
		components: { 
			cndDialog 
		},
		onLoad() {
			this.userPho = uni.getStorageSync('userName')
			this.userInfo = uni.getStorageSync('userInfo')
			this.userName = this.userInfo.user.name
		},
		methods: {
			
			async clickCavas() {
				let res = await this.$http("techcomp/ria/commonProcessor!commonMethod.action", {
						"dataStores": {},
						"parameters": {
							"mapParams": {
								"userId": this.userInfo.user.id,
								"userName": this.setName
						
							},
							"_parameters": "mapParams",
							"_parameterTypes": "string",
							"dcID": "wmsdeliveryis",
							"_boId": "wmsdeliveryis_ifsWmsMiniAppBO_bo",
							"_methodName": "updateUsername",
							"_methodParameterTypes": "String"
						}
					}
				);
				if (res.dataStores.result.rowSet.primary[0].resultCode == '0') {
					// uni.showToast({
					// 	title: "操作成功",
					// 	icon: "none",
					// 	success: () => {
							
					// 	},
					// });
					this.$refs.mpopup.open({
						type:'success',
						content:'操作成功',
						timeout:2000,
					});
					this.userName = this.setName
				} else {
					// uni.showToast({
					// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					// 	icon: "none",
					// 	mask: true,
					// });
					this.$refs.mpopup.open({
						type:'warn',
						content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
						timeout:2500,
						isClick:false
					});	
				}
				
			},
			operation(e) {
                let that = this
                let type  = e
                console.log(type)
                if(type == 1){
                     //取消操作
                    that.showTextmsg = false
                }else{
                  //确定操作
                    this.clickCavas()
                    that.showTextmsg = false
                }
            },
			// confirm() {
			// 	this.clickCavas()
			// },
			toID(){
				uni.navigateTo({
					url: `/pages/user/idPhoto?showTo=1`
				})
			},
			toJsz(){
				uni.navigateTo({
					url: `/pages/user/idPhoto?showTo=2`
				})
			},
			changeSkin() {
				uni.navigateTo({
					url: '../skin-change/skin-change'
				});
			},
			quit() {
				uni.removeStorageSync('Cookie')
				uni.reLaunch({
					url: '/pages/login/login'
				})
			}
		}
	}
</script>
<style lang="scss">
	page {
		background-color: #f1f1f1;
		font-size: 30upx;
	}

	.header {
		background: #fff;
		height: 290upx;
		padding-bottom: 110upx;

		.bg {
			width: 100%;
			height: 200upx;
			padding-top: 100upx;
			background-color: #4191ea;
		}
	}

	.box {
		width: 650upx;
		height: 200upx;
		border-radius: 20upx;
		margin: 0 auto;
		background: #fff;
		box-shadow: 0 5upx 20upx 0upx rgba(0, 0, 150, .2);
        margin-top: 66upx;

		.box-hd {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: center;

			.avator {
				width: 130upx;
				height: 130upx;
				background: #fff;
				border: 5upx solid #fff;
				border-radius: 50%;
				margin-top: -80upx;
				overflow: hidden;
                padding: 16upx;
                border: 4upx solid #dedede;

				image {
					width: 130upx;
					height: 130upx;
				}
			}

			.phone-number {
				width: 100%;
				text-align: center;
                padding-top: 12upx;
			}
		}

		.box-bd {
			display: flex;
			flex-wrap: nowrap;
			flex-direction: row;
			justify-content: center;

			.item {
				flex: 1 1 auto;
				display: flex;
				flex-wrap: wrap;
				flex-direction: row;
				justify-content: center;
				border-right: 1px solid #f1f1f1;
				margin: 15upx 0;

				&:last-child {
					border: none;
				}

				.icon {
					width: 60upx;
					height: 60upx;

					img {
						width: 100%;
						height: 100%;
					}
				}

				.text {
					width: 100%;
					text-align: center;
					margin-top: 10upx;
				}
			}
		}
	}

	.list-content {
		background: #fff;
	}

	.list {
		width: 100%;
		border-bottom: 15upx solid #f1f1f1;
		background: #fff;

		&:last-child {
			border: none;
		}

		.li {
			width: 92%;
			height: 100upx;
			padding: 0 4%;
			border-bottom: 1px solid rgb(243, 243, 243);
			display: flex;
			align-items: center;

			&.noborder {
				border-bottom: 0
			}

			.icon {
				flex-shrink: 0;
				width: 50upx;
				height: 50upx;

				image {
					width: 50upx;
					height: 50upx;
				}
			}

			.text {
				padding-left: 20upx;
				width: 100%;
				color: #666;
			}

			.to {
				flex-shrink: 0;
				width: 40upx;
				height: 40upx;
                font-size: 32upx;
                color: #999;
			}
		}
	}
	.btn-row {
		margin-top: 70upx;
		padding: 20upx;
	}
	
	button.primary {
		background-color: #408cda;
	}
	.body{
		
		font-size: 32rpx;
		text-align: center;
		padding: 32rpx 0 0 0;
	}
	.body .navigator{
		display: contents;
		color: #4191ea;
	}
	.engInput{
		border:1px solid #dedede;
		// text-align: left;
		padding: 20rpx 0 ;
		margin: 16rpx 0;
		border-radius: 8upx;
	}
</style>