@function alphaCompositingFormula($bgColor,$fgColor,$fgAlpha){
    @return floor($fgColor * $fgAlpha + $bgColor * (1 - $fgAlpha));
}

@function alphaCompositingOver($bgRgba,$fgRgba,$alpha){
    $red : alphaCompositingFormula(red($bgRgba),red($fgRgba),$alpha);
    $green : alphaCompositingFormula(green($bgRgba),green($fgRgba),$alpha);
    $blue : alphaCompositingFormula(blue($bgRgba),blue($fgRgba),$alpha);

    @return rgb($red,$green,$blue);
}

@function colorActived($normalColor){
    $fgColor : rgba(#000000,.15);
    @return alphaCompositingOver($normalColor, $fgColor, 0.15);
}

@function colorDisable($normalColor){
    $bgColor : #ffffff;
    @return alphaCompositingOver($bgColor, $normalColor, 0.3);
}