<template>
	<view class="modal" :class="value ? 'show' : ''" @touchmove="no">
		<view class="container">
			<view class="dialogHeader" v-if="title">
				{{title}}
			</view>
			<view class="dialogContent">
				<slot></slot>
			</view>
			<view class="dialogBottom">
				<text class="cancel" @click="toCancel" v-if="cancelButton">{{cancelButtonName}}</text>
				<text class="confirm" @click="toConfirm">{{confirmButtonName}}</text>
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		name: 'cnd-dialog',
		props: {
			value: {
				type: Boolean,
				default() {
					return false
				}
			},
			title: {
				type: String,
				default() {
					return '提示'
				}	
			},
			cancelButton: {
				type: Boolean,
				default() {
					return true
				}
			},
			cancelButtonName: {
				type: String,
				default() {
					return '取消'
				}	
			},
			confirmButtonName: {
				type: String,
				default() {
					return '确认'
				}	
			},
			autoClose: {
				type: Boolean,
				default() {
					return true
				}
			}
		},
		data() {
			return {
				
			}
		},
		methods: {
			toCancel() {
				this.$emit('cancel');
				this.$emit('input', false )
			},
			toConfirm() {
				setTimeout(() => {
					this.$emit('confirm');
				}, 200);
				if(this.autoClose) {
					this.$emit('input', false )
				}
			},
			no() {}
		}
	}
</script>

<style lang="scss" scoped>
	
	.modal {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1110;
		opacity: 0;
		outline: 0;
		visibility: hidden;
		text-align: center;
		-ms-transform: scale(1.185);
		transform: scale(1.185);
		backface-visibility: hidden;
		perspective: 2000upx;
		background: rgba(0, 0, 0, 0.6);
		transition: all 0.3s ease-in-out 0s;
		pointer-events: none;
		&::before {
			content: "\200B";
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}
		&.show {
			opacity: 1;
			visibility: visible;
			transition-duration: 0.3s;
			-ms-transform: scale(1);
			transform: scale(1);
			overflow: hidden;
			pointer-events: auto;
		}
		.container {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			margin-left: auto;
			margin-right: auto;
			width: 66%;
			max-width: 100%;
			// height: 224upx;
			background-color: $gray-0;
			border-radius: 10upx;
			overflow: hidden;
			.dialogHeader {
				font-size: $font-size-subhead;
				// height: 64rpx;
				color: #262626;
				padding: 32upx;
				// line-height: 16px;
				font-weight: 700;
			}
			.dialogContent {
				font-size: $font-size-body;
				border-bottom: 2upx solid $gray-3;
				color: $gray-7;
				padding: 0 28rpx 32rpx;
			}
			.dialogBottom {
				height: 82upx;
				line-height: 82upx;
				font-size: $font-size-body;
				display: flex;
				text {
					font-weight: 700;
					flex: 1;
					&.cancel {
						color: $gray-6;
						border-right: 2upx solid $gray-3;
						&:hover {
							background: $gray-3;
						}
					}
					&.confirm {
						color: $cnd-blue-5;
						&:hover {
							background: $gray-3;
						}
					}
				}
			}
		}
	}
</style>
