<template>
	
	<view>
		<cnd-form>
			<cnd-form-item label="加工作业单号">{{ formDatas.sCode }}</cnd-form-item>
			<block v-for="(item, index) in dataeatList" :key="index">
				<cnd-form-item label="垛项目号">{{ item.sProjectNo || '无' }}</cnd-form-item>
				<cnd-form-item label="加工类型">{{ item.sMachiningType == 10 ? '分拣' : item.sMachiningType == 20 ? '破碎' : item.sMachiningType == 30 ? '打包' : item.sMachiningType == 40 ? '压块' : '无' }}</cnd-form-item>
				<cnd-form-item label="料型">{{ item.sArtName || '无' }}</cnd-form-item>
				<cnd-form-item label="领料重量">{{ item.sQty }}</cnd-form-item>
				<cnd-form-item label="领料库区">{{ item.sWarehouseAreaName }}</cnd-form-item>
				<cnd-form-item label="领料库位">{{ item.sWarehouseLocationName }}</cnd-form-item>
				<cnd-form-item label="领料单保管员">{{ item.sPickCustodian }}</cnd-form-item>
				<view class="detail-item">
					<cnd-form-item label="图片"></cnd-form-item>
					<view style="margin-left: 40rpx;">
						<img-upload v-if="eatList" :busId="item.sId" :imgList="item.imgList"></img-upload>
					</view>
				</view>
			</block>
		</cnd-form>
	</view>
</template>

<script>
// import CndUploadCell from 'cndapp-ui/components/upload/upload';
import CndForm from '../../components/form/cnd-form.vue';
import CndFormItem from '../../components/form-item/cnd-form-item.vue';
// import CndInput from 'cndapp-ui/components/input/cnd-input';
// import CndTextarea from '@/components/textarea/cnd-textarea';
import imgUpload from '../../components/upload/img-upload.vue'
import CndButton from '../../components/button/button.vue';
export default {
	components: { 
		// CndUploadCell, 
		CndForm, 
		CndFormItem, 
		// CndInput, 
		// CndTextarea, 
		imgUpload, 
		CndButton 
	},
	props: {
		eatList: Array,
		sIsFinish: [Number, String, Boolean],
		formDatas: Object
	},
	data() {
		return {
			dataeatList: this.eatList,
			dialogValue: '',
			index: undefined,
			clickItem: undefined,
			parameters: {
				sCode: '',
				sProjectNo: '',
				sMachiningType: '',
				sMaterialType: '',
				sQty: '',
				sWarehouseAreaName: '',
				sWarehouseLocationName: '',
				sPickCustodian: ''
			},
			parWeight: 0
		};
	},
	async mounted() {
		console.log('品級2', this.material)
		// }
	},
	methods: {
	},
	watch: {
		eatList(newVal) {
			this.dataeatList = newVal
		}
	}
};
</script>

<style lang="scss" scoped>
	/deep/ .iconfont {
		font-size: 40rpx;
		&.right-icon2 {
			margin-right: 20rpx;
		}
	}
	.rk {
		margin: 40rpx;
		display: inline-block;
		cursor: pointer;
		color: red;
		font-size: 14px;
		text-decoration: underline;
	}
	.detail-item {
		border-bottom: 6rpx solid #F5F5F5;
	}
	.parti-form-dialog {
		// height: 600rpx;
		// background: #FFFFFF;
		// width: 100%;
		.header {
			height: 100rpx;
			position: relative;
			padding-left: 20rpx;
			display: flex;
			align-items: center;
			color: #333;
			font-weight: 700;
			font-size: 28rpx;
		}
		.content {
			height: calc(600rpx - 200rpx);
			padding: 20rpx;
			background: #ffffff;
		}
		.footer {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			background: #ffffff;
			height: 100rpx;
			display: flex;
			border-top: 2rpx solid #f5f5f5;
			.item {
				flex: 1;
				height: auto;
				border-radius: 0;
			}
		}
	}
</style>
