<template>
	<view>
		<view>
			<view class="custom">
				<view class="navbar fixed white">
					<view class="icon-back between">
						<view class="left-text" @tap="toBack">
							<text class="iconfont icon-cnd-arrow-short-back" style="font-size: 40rpx;"></text>
							<text>返回</text>
						</view>
					</view>

					<view class="content"><view style="color: #000;">入库信息</view></view>
					<view class="action between" @click="submit">
						<view class="filter-txt-icon"><text>完成</text></view>
					</view>
				</view>
			</view>
		</view>
		<!-- <store-com v-if="$store.state.page == 1"></store-com>
		<store-loc v-if="$store.state.page == 2" :info="info" ref="storeForm"></store-loc> -->
		<store-loc :info="info" :sIsFinish="sIsFinish" ref="storeForm" @change="bindParChange" @refresh="getInfo"></store-loc>
		<!-- <text class="rk" @click="goStore">点击选择入库库位</text> -->
		<view style="height: 136rpx;"></view>
		<view class="function-box new-page">
			<view class="block"><cnd-button color="primary" size="block" icon="no" type="outlined" @clickEvent="prev">上一条</cnd-button></view>
			<view class="block"><cnd-button color="primary" size="block" icon="no" @clickEvent="save">保存</cnd-button></view>
			<view class="block"><cnd-button color="primary" size="block" icon="no" type="outlined" @clickEvent="next">下一条</cnd-button></view>
		</view>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
// import CndNavbar from '@/components/navbar/cnd-navbar';
// import CndUploadCell from 'cndapp-ui/components/upload/upload';
import CndButton from '../components/button/button';
import StoreLoc from './components/store-loc.vue';
export default {
	components: { 
		// CndNavbar, 
		// CndUploadCell, 
		StoreLoc, 
		CndButton 
	},
	data() {
		return {
			formData: {
				// 筛选条件
				sId: '',
				parameter: '',
				index: 0
			},
			sIsFinish: undefined,
			list: [],
			info: [],
			initForm: true,
			isUpdate: false,
			saveing: false
		};
	},
	async onLoad(e) {
		let { id, index, sIsFinish } = e;
		this.formData.index = ~~index;
		this.formData.sId = id;
		this.sIsFinish = ~~sIsFinish
		uni.$on('goStore', () => {
			this.goStore()
		})
		uni.$on('uploadBefore',  async () => {
			if (this.saveing) {
				return
			} 
			this.saveing = true
			await this.save(false)
			this.saveing = false
		})
		uni.$on('addImg', () => {
			this.getInfo()
		})
		uni.$on('deleteImg', () => {
			this.getInfo()
		})
		await this.getList();
		await this.getInfo();
	},
	async onShow() {
		if (this.isUpdate) {
			await this.getInfo();
		}
		this.isUpdate = true;
	},
	methods: {
		toBack() {
			this.$util.pageBack();
		},
		async getInfo() {
			uni.showLoading({
				title: '请稍候',
				mask: true
			});
			console.log(this.formData.index, this.list[this.formData.index].sId)
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				
				"dataStores": {},
				"parameters": {
				  "sId": this.list[this.formData.index].sId,
				  "_parameters": "sId",
				  "_parameterTypes": "string",
				  "dcID": "wmsjccwis",
				  "_boId": "wmsjccwis_ifsJcwmsInBillDetailBO_bo",
				  "_methodName": "queryJcwmsInBillDetailById",
				  "_methodParameterTypes": "String"
				},
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				let info = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
				console.log('待拣货明细', info);
				this.info = info;
				// await this.getImgList()
			} else {
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
			uni.hideLoading();
		},
		async getList() {
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				dataStores: {},
				parameters: {
					sId: this.formData.sId,
					parameter: this.formData.parameter,
					_parameters: 'sId,parameter',
					_parameterTypes: 'string,string',
					dcID: 'wmsjccwis',
					_boId: 'wmsjccwis_ifsJcwmsInBillDetailBO_bo',
					_methodName: 'queryJcwmsInBillDetails',
					_methodParameterTypes: 'String,String'
				}
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				let list = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
				console.log('待拣货明细列表', list);
				this.list = list;
			} else {
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
		},
		async getImgList() {
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				dataStores: {},
				parameters: {
					sId: this.info.sId,
					_parameters: 'sId',
					_parameterTypes: 'string',
					dcID: 'fs',
					_boId: 'fs_bsbFilesBO_bo',
					_methodName: 'getBsbFilesByBusId',
					_methodParameterTypes: 'String'
				}
			});
			console.log(2323, res)
			let list = res.dataStores.result.rowSet.primary || [];
			console.log('待拣货明细图片', list);
			this.$set(this.info, 'imgList', list)
		},
		async bindParChange() {
			await this.getList()
			await this.getInfo()
		},
		prev() {
			let { formData } = this;
			if (formData.index > 0) {
				let index = formData.index - 1;
				this.formData.index = index;
				this.getInfo();
			}
		},
		next() {
			let { formData, list } = this;
			if (formData.index < list.length - 1) {
				let index = formData.index + 1;
				this.formData.index = index;
				this.getInfo();
			}
		},

		async submit() {
			const dataList = this.$refs.storeForm.dataList
			const fIndex = dataList.findIndex(item => !item.sWarehouseAreaId || !item.sWarehouseLocationId)
			if(fIndex !== -1) return this.$refs.mpopup.open({
					type:'warn',
					content:`第${parseInt(fIndex + 1)}条数据请选择入库库位!`,
					timeout:2500,
					isClick:false
				});	
				// uni.showToast({
				// 	title: `第${parseInt(fIndex + 1)}条数据请选择入库库位!`,
				// 	icon: 'none'
				// })

			const primay = dataList.map(item => {
				return {
					"sId": item.sId,
					"sWarehouseAreaId": item.sWarehouseAreaId,
					"sWarehouseLocationId": item.sWarehouseLocationId,
					"sQtx": item.sRealQtx,
					"sQty": item.sRealQty
				}
			})
			// return console.log('primary', primay)
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				"dataStores": {
					"mapParams": {
						"rowSet": {
							"primary": primay,
							"filter": [],
							"delete": []
						},
						"name": "mapParams",
						"pageNumber": 1,
						"pageSize": 2147483647,
						"recordCount": 0,
						"rowSetName": "com.cnd.intfservice.wmsjccwis.inbill.pojo.JcwmsInBillDetailPojo"
					}
				},
				"parameters": {
					"_parameters": "mapParams",
					"_parameterTypes": "pojoList",
					"dcID": "wmsjccwis",
					"_boId": "wmsjccwis_ifsJcwmsInBillDetailBO_bo",
					"_methodName": "updateFinishStatus",
					"_methodParameterTypes": "java.util.List"
				}
			});
			console.log(1001, res)
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				// uni.showToast({
				// 	title: '提交成功',
				// 	icon: 'none'
				// });
				this.$refs.mpopup.open({
					type:'success',
					content:'提交成功',
					timeout:2000,
				});
				this.list[this.formData.index].sIsFinish = 1
				console.log(this.list)
				setTimeout(() => {
					this.nextNoFinish()
				}, 2000)
			} else {
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
		},
		nextNoFinish() {
			let {list} = this
			let {index} = this.formData
			let len = list.length
			for(let i = index + 1; i < len; i++) {
				if (list[i].sIsFinish == 0) {
					this.formData.index = i
					this.getInfo()
					return
				}
			}
			if (index > 0) {
				for(let i = 0; i < index; i++) {
					if (list[i].sIsFinish == 0) {
						this.formData.index = i
						this.getInfo()
						return
					}
				}
			}
			this.$util.pageBack()
		},
		goStore() {
			let { info } = this;
			this.save(false)
			uni.navigateTo({
				url: `/pagesB/stores/house-prev?page=${this.$store.state.page}&id=${info.sId}&parentId=${info.sWarehouseId}`
			});
		},
		async save(showResult = true) {
			const dataList = this.$refs.storeForm.dataList.map(item => {
				return {
					"sId": item.sId,
					"sWarehouseAreaId": item.sWarehouseAreaId,
					"sWarehouseLocationId": item.sWarehouseLocationId,
					"sRemark": item.sRemark,
					"sQtx": item.sRealQtx,
					"sQty": item.sRealQty
				}
			})
			console.log('dataList', dataList)
			let { info } = this;
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				dataStores: {
					"mapParams": {
						"rowSet": {
							"primary": dataList,
							"filter": [],
							"delete": []
						},
						"name": "mapParams",
						"pageNumber": 1,
						"pageSize": 2147483647,
						"recordCount": 0,
						"rowSetName": "com.cnd.intfservice.wmsjccwis.inbill.pojo.JcwmsInBillDetailPojo"
					}
				},
				"parameters": {
					"_parameters": "mapParams",
					"_parameterTypes": "pojoList",
					"dcID": "wmsjccwis",
					"_boId": "wmsjccwis_ifsJcwmsInBillDetailBO_bo",
					"_methodName": "saveOrUpdateJcwmsInBillDetail",
					"_methodParameterTypes": "java.util.List"
				}
				// parameters: {
				// 	sId: info.sId,
				// 	warehouseAreaId: info.sWarehouseAreaId,
				// 	warehouseLocationId: info.sWarehouseLocationId,
				// 	remark: info.sRemark,
				// 	qtx: info.sRealQtx,
				// 	qty: info.sRealQty,
				// 	_parameters: 'sId,warehouseAreaId,warehouseLocationId,remark,qtx,qty',
				// 	_parameterTypes: 'string,string,string,string,string,string',
				// 	dcID: 'wmsjccwis',
				// 	_boId: 'wmsjccwis_ifsJcwmsInBillDetailBO_bo',
				// 	_methodName: 'saveOrUpdateJcwmsInBillDetail',
				// 	_methodParameterTypes: 'String,String,String,String,String,String'
				// }
			});
			if (showResult) {
				if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
					// uni.showToast({
					// 	title: '保存成功',
					// 	icon: 'none'
					// });
					this.$refs.mpopup.open({
						type:'success',
						content:'保存成功',
						timeout:2000,
					});
				} else {
					this.$refs.mpopup.open({
						type:'warn',
						content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
						timeout:2500,
						isClick:false
					});
				}
			}
		}
	}
};
</script>
<style>
page {
	background-color: #f1f5f7;
}
</style>
<style lang="scss">
@import '../../common/style/nav.scss';
</style>
<style lang="scss" scoped>
.bottom-btn {
	width: 90%;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}
.new-page {
	.block {
		margin: 0 10rpx;
		width: 33% !important;
		.cnd-button {
			width: 100% !important;
		}
	}
}
</style>
