<template>
	<view>
		<textarea :maxlength="-1" :value="value" :disabled="disabled"
		 :placeholder="placeholder" placeholder-class="textareaPlaceholder" :class="{'focus': focus, 'disabled': disabled, 'error': error, 'outlined': type === 'outlined'}"
		 @input="handleInput" @focus="handleFocus" @blur="handleBlur" :adjust-position="adjustPosition"></textarea>
		<text class="iconfont icon-cnd-close reset form-item-right-icon" @click="toReset" v-show="clearable && value"></text>
		<!-- <err-message :text="ErrText" v-if="error" /> -->
	</view>
</template>

<script>
	// import errMessage from './components/errMessage'
	export default {
		name: 'cnd-textarea',
		components: {
			// errMessage
		},
		props: {
			value: {
				type: String,
				default () {
					return ''
				}
			},
			type: {
				type: String,
				default () {
					return 'flat' //outlined: 边框，单独使用, flat: 无边框，配合单元格使用
				}
			},
			name: {
				type: String,
				default () {
					return ''
				}
			},
			disabled: {
				type: Boolean,
				default () {
					return false
				}
			},
			clearable: {
				type: Boolean,
				default () {
					return false
				}
			},
			placeholder: {
				type: String,
				default () {
					return ''
				}
			},
			adjustPosition: {
				type: Boolean,
				default() {
					return false
				}
			}
		},
		data() {
			return {
				focus: false,
				error: false,
				ErrText: ''
			}
		},
		methods: {
			handleInput(e) {
				this.$emit('input', e.detail.value)
				// 
				// 				if (e.detail.value.length <= 3) {
				// 					console.log(2)
				// 					this.error = true
				// 					this.ErrText = '内容长度应大于3个字符'
				// 				} else {
				// 					this.error = false
				// 				}
			},
			handleFocus() {
				this.focus = true
			},
			handleBlur() {
				this.focus = false
			},
			toReset() {
				this.$emit('input', '')
			}
		}
	}
</script>

<style lang="scss" scoped>

	textarea {
		width: 100%;
		border-radius: 8rpx;
		transition: border .3s;
		flex: 0 0 90%;

		&.outlined {
			border: 2rpx solid $gray-5;

			&.focus {
				border-color: $cnd-blue-5
			}

			&.disabled {
				border-color: colorDisable($gray-5)
			}

			&.error {
				border-color: colorDisable($red-5)
			}
		}
	}

	.reset {
		position: absolute;
		right: 0;
		top: 0;
		font-size: 40rpx;
	}

	.textareaPlaceholder {
		color: $gray-5;
		font-size: 28rpx;
	}
</style>
