<template>
	
	<view>
		<view @click="goDetails(item)" v-for="(item, index) in dataInfo" :key="index">
			<cnd-form>
				<cnd-form-item label="料型">{{ item.sArtName }}</cnd-form-item>
				<cnd-form-item label="品級">{{ item.sGrade }}</cnd-form-item>
				<cnd-form-item label="重量">{{ item.sQty }}</cnd-form-item>
				<cnd-form-item label="入库库位">{{ item.sWarehouseLocationName }}</cnd-form-item>
			</cnd-form>
		</view>
	</view>
</template>

<script>
// import CndUploadCell from 'cndapp-ui/components/upload/upload';
import CndForm from '../../components/form/cnd-form.vue';
import CndFormItem from '../../components/form-item/cnd-form-item.vue';
// import CndInput from 'cndapp-ui/components/input/cnd-input';
// import CndTextarea from '@/components/textarea/cnd-textarea';
import imgUpload from '../../components/upload/img-upload.vue'
import CndButton from '../../components/button/button.vue';
export default {
	components: { 
		// CndUploadCell, 
		CndForm, 
		CndFormItem, 
		// CndInput, 
		// CndTextarea, 
		imgUpload, 
		CndButton 
	},
	props: {
		cpinfo: Array,
		formData: Object
	},
	data() {
		return {
			dataInfo: this.cpinfo,
			dialogValue: '',
			index: undefined,
			clickItem: undefined,
			parameters: {
				// "sInBillId": '',  // 入库单ID
				// "sQualityInspector": '',  // 质检员
				// "sMaterialType": '',  //料型
				// "sGrade": '',  // 品级
				// "sMaterialIdentification": '',  //物料鉴定情况
				// "sBuckleWeight": '',  // 扣杂重量
				// "sClosedMaterialNumber": '',  //封闭物料数量
				// "sSuperScaleNumber": '',  // 超尺数量
				// "sOthers": '',  //其他
				// "sRemark": ''  // 备注
			},
			parWeight: 0
		};
	},
	async mounted() {
		// console.log('品級2', this.material)
		// }
	},
	methods: {
		goDetails(item) {
			uni.navigateTo({
				url: `/pagesB/finished-product/stores?page=${this.$store.state.page}&id=${item.sId}&sId=${this.formData.sId}&sCode=${this.formData.sCode}`
			});
			uni.removeStorageSync('parentId')
			uni.removeStorageSync('kuweiId')
			uni.removeStorageSync('kuquName')
			uni.removeStorageSync('kuweiName')
		},
		// goStore() {
		// 	return
		// 	uni.$emit('goStore');
		// },
		// goStore(item) {
		// 	// this.save(false)
		// 	uni.navigateTo({
		// 		url: `/pagesB/warehousing-list/house-prev?page=${this.$store.state.page}&id=${item.sId}&parentId=${item.sWarehouseId}`
		// 	});
		// },
	},
	watch: {
		cpinfo(newVal) {
			this.dataInfo = newVal
		}
	}
};
</script>

<style lang="scss" scoped>
	/deep/ .iconfont {
		font-size: 40rpx;
		&.right-icon2 {
			margin-right: 20rpx;
		}
	}
	/deep/ .rks .cnd-field-label{
		color: red;
	}
	.rk {
		margin: 40rpx;
		display: inline-block;
		cursor: pointer;
		color: red;
		font-size: 14px;
		text-decoration: underline;
	}
	.detail-item {
		border-bottom: 6rpx solid #F5F5F5;
	}
	.parti-form-dialog {
		// height: 600rpx;
		// background: #FFFFFF;
		// width: 100%;
		.header {
			height: 100rpx;
			position: relative;
			padding-left: 20rpx;
			display: flex;
			align-items: center;
			color: #333;
			font-weight: 700;
			font-size: 28rpx;
		}
		.content {
			height: calc(600rpx - 200rpx);
			padding: 20rpx;
			background: #ffffff;
		}
		.footer {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			background: #ffffff;
			height: 100rpx;
			display: flex;
			border-top: 2rpx solid #f5f5f5;
			.item {
				flex: 1;
				height: auto;
				border-radius: 0;
			}
		}
	}
</style>
