<template>
	<view>
		<view class="list-box" :class="['list-box', { 'mark': item.sSign === '1' }]" @click="goDetail(item)" v-for="(item, index) in list" :key="index">
			<cnd-list-group>
				<cnd-list-content title="加工作业单号" :value="item.sCode || '无'" type="alignLeft"></cnd-list-content>
				<cnd-list-content title="垛项目号" :value="item.sProjectNo || '无'" type="alignLeft"></cnd-list-content>
				<cnd-list-content title="加工类型" :value="item.sMachiningType == 10 ? '分拣' : item.sMachiningType == 20 ? '破碎' : item.sMachiningType == 30 ? '打包' : item.sMachiningType == 40 ? '压块' : '无'" type="alignLeft"></cnd-list-content>
			</cnd-list-group>
		</view>
	</view>
</template>

<script>
import CndListGroup from '@/components/list-group/list-group.vue';
// import CndListTitle from 'cndapp-ui/components/list-group/list-title.vue';
import CndListContent from '@/components/list-group/list-content.vue';
export default {
	name: 'pd-list',
	components: {
		CndListGroup,
		// CndListTitle,
		CndListContent
	},
	props: {
		list: {
			// 数据列表
			type: Array,
			default() {
				return [];
			}
		}
	},
	methods: {
		goDetail(item) {
			uni.navigateTo({
				url: `/pagesB/finished-product/detail?page=${this.$store.state.page}&id=${item.sId}&sCode=${item.sCode}`
			});
		}
	}
};
</script>

<style lang="scss" scoped>
.list-box {
	margin-left: 16rpx;
	margin-right: 16rpx;
	/deep/ &.mark {
		.container {
			background: pink;
		}
	} 
}
</style>
