<template>
	
	<view>
		<cnd-form>
			<cnd-form-item label="加工作业单号">{{ formData.sCode || '无' }}</cnd-form-item>
			<block v-for="(item, index) in datacplist" :key="index">
				<cnd-form-item label="垛项目号">{{ item.sProjectNo || '无' }}</cnd-form-item>
				<cnd-form-item label="加工类型">{{ item.sMachiningType == 10 ? '分拣' : item.sMachiningType == 20 ? '破碎' : item.sMachiningType == 30 ? '打包' : item.sMachiningType == 40 ? '压块' : '无' }}</cnd-form-item>
				<cnd-form-item label="料型">{{ item.sMaterialType || '无' }}</cnd-form-item>
				<cnd-form-item label="领用重量">{{ item.sQty || '无' }}</cnd-form-item>
			</block>
			<view style="border-top: 1px solid #dedede;margin: 18upx 0;"></view>
			<cnd-form-item label="料型" class="rks">
				<input v-model="addmaterialTypeData.codeName" @click="materialTypePicker" placeholder="--请选择料型--" disabled />
			</cnd-form-item>
			<cnd-form-item label="品级" class="rks">
				<input v-model="addressData.codeName" @click="ressPicker" placeholder="--请选择品级--" disabled />
			</cnd-form-item>
			<cnd-form-item label="重量" class="rks">
				<input v-model="dataList.sQty" :disabled="inputDisabled" />
			</cnd-form-item>
			<!-- <cnd-form-item label="入库库区" solid>
				<view @tap="goStore()">{{ dataList.vSubWarehouseAreaName || '请选择库区' }}</view>
			</cnd-form-item> -->
			<cnd-form-item label="入库库区">{{ addObjs.vSubWarehouseAreaName || '无' }}</cnd-form-item>
			<cnd-form-item label="入库库位" solid class="rks" v-show="listsId ? false : true">
				<view @tap="goStore()">{{ addObjs.sName || '请选择库位' }}</view>
			</cnd-form-item>
			<cnd-form-item v-show="!listsId ? false : true" label="入库库位">{{ dataList.sWarehouseLocationName || '无' }}</cnd-form-item>
			<cnd-form-item label="成品单保管员" solid>{{ dataList.sFinishCustodian || '无' }}</cnd-form-item>
		</cnd-form>
		<!-- 品级选择 -->
		<custom-picker
			ref="ress"
			title="--请选择品级--"
			titleColor="#808080"
			titleFontSize="26rpx"
			cancelType='icon'
			cancelColor="#999999"
			cancleFontSize="28rpx"
			confirmColor="#4cd964"
			confirmFontSize="34rpx"
			confirmFontWeight="500"
			itemFontSize="32rpx"
			@onConfirm="ressChange"
			@on_close="closePicker"
			:pickerList="ressList">
		</custom-picker>
		<!-- 料型选择 -->
		<custom-picker
			ref="material"
			title="--请选择料型--"
			titleColor="#808080"
			titleFontSize="26rpx"
			cancelType='icon'
			cancelColor="#999999"
			cancleFontSize="28rpx"
			confirmColor="#4cd964"
			confirmFontSize="34rpx"
			confirmFontWeight="500"
			itemFontSize="32rpx"
			@onConfirm="materialTypeChange"
			@on_close="closePicker"
			:pickerList="materialTypeList">
		</custom-picker>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
// import CndUploadCell from 'cndapp-ui/components/upload/upload';
import CndForm from '../../components/form/cnd-form.vue';
import CndFormItem from '../../components/form-item/cnd-form-item.vue';
// import CndInput from 'cndapp-ui/components/input/cnd-input';
// import CndTextarea from '@/components/textarea/cnd-textarea';
import imgUpload from '../../components/upload/img-upload.vue'
import CndButton from '../../components/button/button.vue';
import customPicker from '@/components/picjerDiy.vue';
export default {
	components: { 
		// CndUploadCell, 
		CndForm, 
		CndFormItem, 
		// CndInput, 
		// CndTextarea, 
		imgUpload, 
		CndButton,
		customPicker 
	},
	props: {
		list: Object,
		sIsFinish: [Number, String, Boolean],
		cplist: Array,
		formData: Object,
		// 传入的库区库位
		addObj: Object,
	},
	data() {
		return {
			inputDisabled: false,
			dataList: {},
			datacplist: this.cplist,
			listsId: '',
			// 品级
			ressList: [],
			addressData: {
				jobId: '',
				codeName: "",
			},
			// 料型
			materialTypeList: [],
			addmaterialTypeData: {
				jobId: '',
				codeName: "",
			},
			dialogValue: '',
			index: undefined,
			clickItem: undefined,
            vSubWarehouseAreaName: '',
            vSubWarehouseLocationName: '',
			parameters: {
				// "sInBillId": '',  // 入库单ID
				// "sQualityInspector": '',  // 质检员
				// "sMaterialType": '',  //料型
				// "sGrade": '',  // 品级
				// "sMaterialIdentification": '',  //物料鉴定情况
				// "sBuckleWeight": '',  // 扣杂重量
				// "sClosedMaterialNumber": '',  //封闭物料数量
				// "sSuperScaleNumber": '',  // 超尺数量
				// "sOthers": '',  //其他
				// "sRemark": ''  // 备注
			},
			parWeight: 0,
			addObjs: {}
		};
	},
	async mounted() {
		// 品级
		this.sMaterial()
		// 料型
		this.sMaterialType()
		// console.log('品級2', this.material)
		// this.dataList.sWarehouseAreaName = uni.getStorageSync('kuquName')
		// this.dataList.sWarehouseLocationName = uni.getStorageSync('kuweiName')
	},
	methods: {
		goStore() {
			return
			uni.$emit('goStore');
		},
		
		//关闭上浮窗
		closePicker(){
			this.inputDisabled = false
		},
		// **料型**
		//打开
		materialTypePicker(){
			this.inputDisabled = true
			this.$refs.material._open()
		},
		//确定：接收子组件传来的参数
		materialTypeChange(checked){
			this.addmaterialTypeData.jobId = checked.value
			this.addmaterialTypeData.codeName = checked.label
			this.dataList.sArtId = this.addmaterialTypeData.jobId
			this.inputDisabled = false
		},
		async sMaterialType() {
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				
				"dataStores": {},
				"parameters": {
					"sSheetCode": "", // 单据权限编码
					"sWarehouseId": "ff8080816f897a41016f8d32a4b800cd", 
					"_parameters": "sSheetCode,sWarehouseId", 
					"_parameterTypes": "string,string", 
					"dcID": "wmsmetalis", 
					"_boId": "wmsmetalis_ifsFgBdaArtBO_bo", 
					"_methodName": "queryFgBdaArts", 
					"_methodParameterTypes": "String,String"
				}
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				let materialType = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
				console.log('料型', materialType);
				this.materialTypeList = materialType.map(ele => {
					return{
						value: ele.id,
						label: ele.name
					}
				})
				if (this.dataList.sArtId) {
					this.addmaterialTypeData.jobId = this.dataList.sArtId
					this.addmaterialTypeData.codeName = this.materialTypeList.filter(a => a.value == this.addmaterialTypeData.jobId)[0].label
				}
			} else {
				// uni.showToast({
				// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
				// 	icon: 'none',
				// 	mask: true
				// });
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
			uni.hideLoading();
		},
		// **品级**
		//打开
		ressPicker(){
			this.inputDisabled = true
			this.$refs.ress._open()
		},
		//确定：接收子组件传来的参数
		ressChange(checked){
			this.addressData.jobId = checked.value
			this.addressData.codeName = checked.label
			this.dataList.sGrade = this.addressData.jobId
			this.inputDisabled = false
		},
		async sMaterial() {
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				
				"dataStores": {},
				"parameters": {
				    "type": "dev.fgwms.grade.type",
					"_parameters": "type",
					"_parameterTypes": "string",
					"dcID": "wmsmetalis",
					"_boId": "wmsmetalis_ifsFgwmsCurrencyBO_bo",
					"_methodName": "queryCodeList",
					"_methodParameterTypes": "String"
				},
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				let ress = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
				console.log('品級', ress);
				this.ressList = ress.map(ele => {
					return{
						value: ele.codeValue,
						label: ele.codeName
					}
				})
				if (this.dataList.sGrade) {
					this.addressData.jobId = this.dataList.sGrade
					this.addressData.codeName = this.ressList.filter(a => a.value == this.addressData.jobId)[
						0].label
				}
			} else {
				// uni.showToast({
				// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
				// 	icon: 'none',
				// 	mask: true
				// });
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
			uni.hideLoading();
		},
		goStore() {
			// this.save(false)
			uni.navigateTo({
				url: `/pagesB/finished-product/house-prev?page=${this.$store.state.page}&id=${this.dataList.sId}&parentId=${this.dataList.sWarehouseId}`
			});
		},
	},
	watch: {
		// 传入的库区库位
		addObj(newVal) {
			this.addObjs = newVal
			if (newVal) {
				this.dataList.sWarehouseAreaId = this.addObjs.sWarehouseAreaId
				this.dataList.sWarehouseLocationId = this.addObjs.sId
				this.dataList.sWarehouseAreaName = this.addObjs.vSubWarehouseAreaName
				this.dataList.sWarehouseLocationName = this.addObjs.sName
			}
		},
		list(newVal) {
			this.dataList = newVal
			// if(uni.getStorageSync('kuquName') != ''){
			// 	this.dataList.sWarehouseAreaName = uni.getStorageSync('kuquName')
			// 	this.dataList.sWarehouseLocationName = uni.getStorageSync('kuweiName')
			// }
			if (newVal) {
				this.listsId = uni.getStorageSync('listsId')
			}
			if(this.dataList.sWarehouseAreaId){
				 this.addObjs.sWarehouseAreaId = this.dataList.sWarehouseAreaId
				 this.addObjs.sId = this.dataList.sWarehouseLocationId
				 this.addObjs.vSubWarehouseAreaName = this.dataList.sWarehouseAreaName
				 this.addObjs.sName = this.dataList.sWarehouseLocationName
			}
		},
		cplist(newVal) {
			this.datacplist = newVal
		}
	}
};
</script>

<style lang="scss" scoped>
	/deep/ .iconfont {
		font-size: 40rpx;
		&.right-icon2 {
			margin-right: 20rpx;
		}
	}
	/deep/ .rks .cnd-field-label{
		color: red;
	}
	.rk {
		margin: 40rpx;
		display: inline-block;
		cursor: pointer;
		color: red;
		font-size: 14px;
		text-decoration: underline;
	}
	.detail-item {
		border-bottom: 6rpx solid #F5F5F5;
	}
	.parti-form-dialog {
		// height: 600rpx;
		// background: #FFFFFF;
		// width: 100%;
		.header {
			height: 100rpx;
			position: relative;
			padding-left: 20rpx;
			display: flex;
			align-items: center;
			color: #333;
			font-weight: 700;
			font-size: 28rpx;
		}
		.content {
			height: calc(600rpx - 200rpx);
			padding: 20rpx;
			background: #ffffff;
		}
		.footer {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			background: #ffffff;
			height: 100rpx;
			display: flex;
			border-top: 2rpx solid #f5f5f5;
			.item {
				flex: 1;
				height: auto;
				border-radius: 0;
			}
		}
	}
</style>
