<template>
	<view class="container" id="listCardGroup" :class="layoutSize">
		<slot></slot>
	</view>
</template>

<script>
	export default {
		name: 'cnd-list-group',
		data() {
			return {
				
			}
		},
		methods: {

		},
		props: {
			// 布局尺寸
			layoutSize: {
				type: String,
				default: 'default'
			}
		}
	}
</script>

<style lang="scss" scoped>
	
	// 正常尺寸
	$list-group-border-radius: 16rpx;
	$list-group-padding-bottom: 10rpx;
	
	// 小尺寸
	$small-list-group-border-radius: 12rpx;
	$small-list-group-padding-bottom: 6rpx;
	
	.container{
		width: 100%;
		border-radius: $list-group-border-radius;
		background-color: $gray-0;
		
		box-sizing: border-box;
		display: block;
		padding: 0 0 $list-group-padding-bottom 0;
		margin: 0;
		
		&.small {
			border-radius: $small-list-group-border-radius;
			padding: 0 0 $small-list-group-padding-bottom 0;
		}
	}
</style>
