<template>
	<view class="footer-container" :class="{'button-right':!value}">
		<view class="value-wrapper" v-if="value">
			<text>{{value}}</text>
		</view>
		<view class="button-wrapper" v-if="button">
			<view class="button-box" v-for="(item,index) in button" :key="index">
				<cnd-button :color="item.color"
							:icon="item.icon"
							:size="item.size ? item.size : 'small'"
							:type="item.type"
							@clickEvent="clickEvent(item)">
				{{item.name}}
				</cnd-button>
			</view>
		</view>
	</view>
</template>

<script>
	import cndButton from "../button/button.vue"
	export default {
		name: 'cnd-list-footer',
		data() {
			return {

			}
		},
		components: {
			cndButton
		},
		props: {
			value: {
				type: String || Number,
				default: ''
			},
			button: {
				type: Array,
				default: null
			}
		},
		methods: {
			clickEvent(item){
				// console.log("click-list-footer")
				this.$emit('clickEvent',item)
			}
		}
	}
</script>

<style lang="scss">
	
	$list-footer-padding-h: 24rpx;
	$list-footer-padding-top: 20rpx;
	$list-footer-padding-bottom: $list-footer-padding-top - 10rpx;
	$list-footer-margin-top: 16rpx;

	.footer-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: $list-footer-padding-top $list-footer-padding-h $list-footer-padding-bottom $list-footer-padding-h;
		box-sizing: border-box;
		margin-top: $list-footer-margin-top;

		width: 100%;
		border-top: 2rpx solid $gray-2;

		.value-wrapper {
			display: flex;
			align-items: center;
			justify-content: center;
			color: $cnd-blue-5;
			font-size: $font-size-subhead;
			flex-grow: 1;
		}

		.button-wrapper {
			display: flex;
			flex-direction: row-reverse;
			align-items: center;
			justify-content: flex-end;
			
			.button-box{
				margin-left: 16rpx;
				align-items: center;
				justify-content: center;
			}
		}
		
		&.button-right{
			justify-content: flex-end;
		}
	}
</style>
