<template>
	<view class="container" :style="{background: background}">
		<view class="input-area">
			<text class="iconfont icon-cnd-search c-gray-8"></text>
			<input type="text" v-model="value" :adjust-position="false" confirm-type="search" @confirm="bindConfirm" :placeholder="placeholder" placeholder-style="color: #8C8C8C; font-size: 28rpx" />
		</view>
		<view class="search-btn" @click="bindClick">搜索</view>
	</view>
</template>

<script>
	export default {
		name: 'index',
		props: {
			background: {
				type: String,
				default() {
					return '#F1F5F7'
				}
			},
			placeholder: String
		},
		data() {
			return {
				value: ''
			}
		},
		methods: {
			bindClick() {
				uni.hideLoading()
				this.$emit('confirm', this.value)
			},
			bindConfirm() {
				this.$emit('confirm', this.value)
			}
		}
	}
</script>

<style lang="scss" scoped>
	.container {
		display: flex;
		height: 72rpx;
		z-index: 9998;
		padding: 16rpx;
		.input-area {
			border-radius: 8rpx 0 0 8rpx;
			flex: 1;
			padding: 16rpx;
			display: flex;
			background: $gray-0;
			display: flex;
			align-items: center;
			.iconfont {
				font-size: 40rpx;
				margin-right: 16rpx;
				font-weight: 700;
			}
		}
		.search-btn {
			width: 140rpx;
			border-radius: 0 8rpx 8rpx 0;
			flex-shrink: 0;
			line-height: 72rpx;
			font-size: 28rpx;
			background: $cnd-blue-5;
			color: $gray-0;
			text-align: center;
			&:active {
				background: colorActived($cnd-blue-5);
			}
		}
	}
</style>
