<template>
	<view class="cnd-tabs-demo">
		<cnd-navbar color="white" :isBack="false">
			<block slot='content'>查询进度</block>
			<block slot='right'>
				<text v-if="Quality"></text>
				<text @click="viewAll" style="margin-right: 16upx" v-else>查看全部</text>
				<block v-for="(coms,index) in userInfo.role" :key="index">
					<text @click="batchApproval" v-if="currentIndex5 == '10' && coms.roleName == roleNameStatus.salesman">批量审批</text>
					<text
						@click="complete_ask"
						v-if="currentIndex5 == '80' && coms.roleName == roleNameStatus.deliveryMan ||
						currentIndex5 == '80' && coms.roleName == roleNameStatus.salesman ||
						currentIndex5 == '80' && coms.roleName == roleNameStatus.deliveryMan_driver ||
						currentIndex5 == '80' && coms.roleName == roleNameStatus.approvalSign">
						结算单
					</text>
				</block>
			</block>
		</cnd-navbar>
		<view class="demo-box">
			<view class="demo-wrapper block">
				<scroll-view scroll-x="true">
					<cnd-tabs :length="state.length">
						<cnd-tab v-for="(item,index) in state" :key="item.codeValue"
							class="contentsTab"
							v-model="currentIndex5"
							:index="item.codeValue"
							:title="item.codeName"
							:badge="badge"
							@getActive="changeTab(index, item.codeValue)">
						</cnd-tab>
					</cnd-tabs>
				</scroll-view>
			</view>
            <view class="list-container">
                <mescroll-item ref="me" :formData="formData" :i="currentIndex5" :index="currentIndex5"></mescroll-item>
                <!-- <mescroll-item ref="me1" :formData="formData" :i="1" :index="currentIndex5"></mescroll-item> -->
            </view>
		</view>
		<!-- 审批窗口 -->
		<cnd-pop-content v-model="show">
			<approval :sWarehouseId="sWarehouseId" @change="bindParClose" @clickEvent="bindParConfirm"></approval>
		</cnd-pop-content>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
	import CndNavbar from '@/components/navbar/cnd-navbar.vue'
	import cndTabs from "@/components/tabs/tabs.vue"
	import cndTab from "@/components/tabs/tab.vue"
    import MescrollItem from './components/mescroll-item.vue'
	import cndPopContent from "@/components/pop-content/pop-content.vue"
	import approval from './components/approval.vue';
	export default {
		name: 'cnd-tabs-demo',
		data() {
			return {
				currentIndex5: null,
				state:[],
				badge:'no',
				dataList5: [ //受理中、可送货、待进场、已进场、送货完成、已出场、取消预约、预约驳回
					{
						title:'受理中',
						badge:'no'
					},
					{
						title:'可送货',
						badge:'no'
					},
					{
						title:'待进场',
						badge:'no'
					},
					{
						title:'已进场',
						badge:'no'
					},
					{
						title:'送货完成',
						badge:'no'
					},
					{
						title:'已出场',
						badge:'no'
					},
					{
						title:'取消预约',
						badge:'no'
					},
                    {
						title:'预约驳回',
						badge:'no'
					},
				],
                formData: {
					parameter: '',
					status: '',
				},
				sId: [],
				sGoodsOwnerId:'',
				sGoodsOwnerName:'',
				show: false,
				userInfo: {},
				roleNameStatus: {},
				sWarehouseId: '',
				isReload: false,
				Quality: null,
				Storekeeper: null
			}
		},
		components: {
			CndNavbar,
			cndTab,
			cndTabs,
            MescrollItem,
			cndPopContent,
			approval
		},
		onShow(){
			// this.$nextTick(() => {
			// 	this.$refs.me.mescroll.triggerDownScroll()
			// 	this.$refs.me.mescroll.scrollTo(0, 300)
			// })
			if (!this.isReload) {
				this.$nextTick(() => {
					this.$refs.me.mescroll.triggerDownScroll()
					this.$refs.me.mescroll.scrollTo(0, 300)
				})
			}
			
			this.isReload = true;
		},
		mounted() {
			this.userInfo = uni.getStorageSync('userInfo')
			this.roleNameStatus = uni.getStorageSync('roleNameStatus')
			this.sState()
			// for(let i in this.userInfo.role){
			// 	if (
			// 		this.userInfo.role[i].roleName == this.roleNameStatus.Quality && this.userInfo.role.length <= 1 ||
			// 		this.userInfo.role[i].roleName == this.roleNameStatus.Storekeeper && this.userInfo.role.length <= 1
			// 		// || this.userInfo.role[i].roleName == this.roleNameStatus.Storekeeper && this.userInfo.role[i].roleName == this.roleNameStatus.Quality
			// 	) {
			// 		this.Quality = true
			// 	}else{
			// 		this.Quality = false
			// 	}
				
			// 	// this.Quality = this.userInfo.role[i].roleName == this.roleNameStatus.Quality;
			// 	// this.Storekeeper = this.userInfo.role[i].roleName == this.roleNameStatus.Storekeeper;
			// }
		},
		methods: {
			complete_ask(){
				let pdfFildId = ''
				let signImgId = '';
				let projectId = '';
				uni.navigateTo({
					url: `/pagesA/autograph/index?pdfFildId=${pdfFildId}&signImgId=${signImgId}`
				});
			},
			bindParClose(){
				this.show = false
			},
			batchApproval(){
				this.show = true
				this.sWarehouseId = uni.getStorageSync('sWarehouseIds')
				// this.$refs.approv.materialTypeChange()
				// this.$refs.approv.getList()
				
			},
			viewAll(){
				uni.navigateTo({
					url: `/pagesA/viewAll/index`
				});
			},
			// 批量审批
			async bindParConfirm(v){
				this.sId = uni.getStorageSync('sId')
				// this.sGoodsOwnerId = uni.getStorageSync('jobId')
				// this.sGoodsOwnerName = uni.getStorageSync('codeName')
				
				let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
					
					"dataStores": {},
					"parameters": {
						"mapParams": {
							"sIdList": this.sId,
							"sGoodsOwnerId": v.value,
							"sGoodsOwnerName": v.label
						},
						"_parameters": "mapParams",
						"_parameterTypes": "string",
						"dcID": "wmsdeliveryis",
						"_boId": "wmsdeliveryis_ifsWmsDeliveryDetailsBO_bo",
						"_methodName": "approveWmsAppointmentDeliveryDetailsBatch",
						"_methodParameterTypes": "String"
					}
				});
				if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
					// uni.showToast({
					// 	title: '操作成功！',
					// 	icon: 'none',
					// 	success: () => {
					// 		this.$nextTick(() => {
					// 			this.$refs.me.mescroll.triggerDownScroll()
					// 			this.$refs.me.mescroll.scrollTo(0, 300)
					// 		})
					// 		this.show = false
					// 		uni.removeStorageSync('sId')
					// 		// uni.removeStorageSync('jobId')
					// 		// uni.removeStorageSync('codeName')
					// 	}
					// });
					this.$refs.mpopup.open({
						type:'success',
						content:'操作成功！',
						timeout:2000,
					});
					this.$nextTick(() => {
						this.$refs.me.mescroll.triggerDownScroll()
						this.$refs.me.mescroll.scrollTo(0, 300)
					})
					this.show = false
					uni.removeStorageSync('sId')
				} else {
					// uni.showToast({
					// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					// 	icon: 'none',
					// 	mask: true
					// });
					this.$refs.mpopup.open({
						type:'warn',
						content: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
						timeout:2500,
						isClick:false
					});	
				}
			},
			// batchApproval(){

			// },
			async sState() {
				let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
					
					"dataStores": {},
					"parameters": {
						"type": "dev.common.sheet.status.wx.delivery",
						"_parameters": "type",
						"_parameterTypes": "string",
						"dcID": "wmsmetalis",
						"_boId": "wmsmetalis_ifsFgwmsCurrencyBO_bo",
						"_methodName": "queryCodeList",
						"_methodParameterTypes": "String"
					},
				});
				if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
					let list = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
					this.state = list;
					let userInfo = uni.getStorageSync('userInfo')
					let infoList = []
					for(let i in userInfo.role){
						if(userInfo.role[i].roleName == this.roleNameStatus.Quality){
							// let driverSecurity = []
							// this.state = driverSecurity
							infoList = infoList.concat()
						}
						
						if(userInfo.role[i].roleName == this.roleNameStatus.Storekeeper){
							infoList = infoList.concat()
						}
						if(userInfo.role[i].roleName == this.roleNameStatus.driver){
							infoList = infoList.concat([list[1], list[2], list[6]])
							// this.state = driverSecurity.concat([list[1], list[2], list[6]])
						}
						if(userInfo.role[i].roleName == this.roleNameStatus.securityStaff){
							infoList = infoList.concat([list[2], list[3], list[6]])
							// this.state = driverSecurity.concat([list[2], list[3], list[6]])
						}
						if(userInfo.role[i].roleName == this.roleNameStatus.salesman){
							// let driverSecurity = driverSecurity.concat([list])
							// this.state = list
							// break
							infoList = infoList.concat(list)
						}
						if(userInfo.role[i].roleName == this.roleNameStatus.deliveryMan){
							infoList = infoList.concat(list)
						}
						if(userInfo.role[i].roleName == this.roleNameStatus.deliveryMan_driver){
							infoList = infoList.concat(list)
						}
						if(userInfo.role[i].roleName == this.roleNameStatus.deliveryMan_driver){
							infoList = infoList.concat(list)
						}
						if(userInfo.role[i].roleName == this.roleNameStatus.approvalSign){
							infoList = infoList.concat(list)
						}

					}
					let temp = [];//这个是代表新的数组容器  最后想要得到的数组
					let index = 0;
					for(let j=0;j<infoList.length;j++){
						if(temp.indexOf(infoList[j]) == -1){
							temp[index] = infoList[j];
							index++;
						}
					}
					this.state = temp.map(ele =>{
						return {
							...ele,
							codeValue: parseFloat(ele.codeValue)
						}
					})
					this.state.sort(function(a,b){return a.codeValue-b.codeValue});
					if (this.state.length == 0) {
						this.formData.status = 1
						this.currentIndex5 = 1
					}
					if (this.state.length != 0) {
						this.formData.status = this.state[0].codeValue
						this.currentIndex5 = this.state[0].codeValue
					}
					// 质检员和保管员状态标签为空时查看全部按钮不显示
					if (this.state.length == 0) {
						this.Quality = true
					}
					console.log('状态', this.state);
					this.$nextTick(() => {
						this.$refs.me.mescroll.triggerDownScroll()
						this.$refs.me.mescroll.scrollTo(0, 300)
					})
				} else {
					this.$refs.mpopup.open({
						type:'warn',
						content: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
						timeout:2500,
						isClick:false
					});	
				}
				uni.hideLoading();
			},
            // tab切换
			changeTab(event, value) {
				this.formData.status = value
				this.currentIndex5 = value
				this.$nextTick(() => {
					this.$refs.me.mescroll.triggerDownScroll()
					this.$refs.me.mescroll.scrollTo(0, 300)
				})
			}
		}
	}
</script>

<style>
	page {
		background-color: #F1F5F7;
	}
</style>

<style lang="scss" scoped>
	$cnd-demo-margin-h: 32rpx;
	$cnd-demo-margin-v: 20rpx;
	$cnd-demo-wrapper-padding: 20rpx;
	$cnd-demo-border-radius: 16rpx;
	
	.cnd-tabs-demo {
		.demo-box {
			display: flex;
			box-sizing: border-box;
			flex-direction: column;
			margin: auto;
			// background-color: $gray-0;
			border-radius: 0;
		
			
			.demo-wrapper {
				width: 100%;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				box-sizing: border-box;
				padding: $cnd-demo-wrapper-padding 0 $cnd-demo-wrapper-padding 0;
				
				&.block {
					display: block;
				}
			}
		}
	}
	.demo-wrapper  .scroll-container.scrollable {
		overflow: initial;
	}
	// #ifdef MP-WEIXIN
		.contentsTab{
			display: contents !important;
		}
	// #endif
	/deep/.custom .navbar .action {
		width: 33%;
		justify-content: space-between;
		margin-left: 24upx;
	}
	/deep/.custom .navbar .content{
		    width: calc(100% - 574upx)
	}
	/deep/.rks .cnd-field-value{
		// padding: 16upx 8upx!important;
		border-bottom: 1px solid #ececec!important;
		// border-radius: 6rpx;
	}
</style>
