<template>
	<view class="">
		<view class="tab">
			<cnd-tabs :length="tabList.length">
				<cnd-tab class="contentsTab" v-for="(item, index) in tabList" :key="index" v-model="curIndex" :index="item.status" :title="item.title"
				 @getActive="changeTab(item.status)"></cnd-tab>
			</cnd-tabs>
		</view>
		<view class="list-container">
			<mescroll-item ref="me" :formData="formData" :i="curIndex" :index="curIndex"></mescroll-item>
		</view>
		<!-- <view style="margin: 20px;">
			<button type="primary" @click="signPdf" class="sign-btn">pdf签字</button>
		</view>
		<view style="margin: 20px;">
			<button type="primary" @click="sign" class="sign-btn">明细</button>
		</view> -->
	</view>
</template>

<script>
	import CndTab from '@/components/tabs/tab.vue';
	import CndTabs from '@/components/tabs/tabs.vue';
	import MescrollItem from './components/mescroll-item.vue'
	export default {
		components: {
			CndTab,
			CndTabs,
			MescrollItem
		},
		data() {
			return {
				curIndex: 10,
				isReload: true,
				tabList: [],
				formData: {
					parameter: '',
					status:10,
				},
				addressObj:{}
			}
		},
		onShow(){
			this.$nextTick(() => {
				this.$refs.me.mescroll.triggerDownScroll()
				this.$refs.me.mescroll.scrollTo(0, 300)
			})
		},
		mounted() {
			let pages = getCurrentPages();
			let currPage = pages[pages.length - 1]; // 当前页的实例
			this.addressObj = currPage.$vm.addressObj
			if (this.addressObj.status) {
				this.formData.status =  this.addressObj.status
				this.curIndex = this.addressObj.status
			}
			this.status()
		},
		methods: {
			// async signPdf() {
			// 	let pdfFildId = ''
			// 	let signImgId = '';
			// 	let projectId = '';
			// 	uni.navigateTo({
			// 		url: `./SignPdf?pdfFildId=${pdfFildId}&signImgId=${signImgId}`
			// 	});
			// },
			async status() {
				let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
					
					"dataStores": {},
					"parameters": {
						"type": "dev.settlement.signature.status",
						"_parameters": "type",
						"_parameterTypes": "string",
						"dcID": "wmsmetalis",
						"_boId": "wmsmetalis_ifsFgwmsCurrencyBO_bo",
						"_methodName": "queryCodeList",
						"_methodParameterTypes": "String"
					},
				});
				if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
					let list = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
					this.tabList = this.tabList.concat([list[0], list[1], list[3]])
					this.tabList = this.tabList.map(ele => {
						return{
							title: ele.codeName,
							status: +ele.codeValue
						}
					})
					console.log('签字状态', this.tabList)
				}
			},
			// tab切换
			changeTab(event) {
				this.formData.status = event
				this.curIndex = event
				this.$nextTick(() => {
					this.$refs.me.mescroll.triggerDownScroll()
					this.$refs.me.mescroll.scrollTo(0, 300)
				})
			}
		}
	}
</script>
<style>
	page {
		background-color: #F1F5F7;
	}
</style>
<style lang="scss" scoped>
	.tab{
		margin: 16rpx 0;
	}
	// #ifdef MP-WEIXIN
		.contentsTab{
			display: contents !important;
		}
	// #endif
	/deep/.custom .navbar .action {
		width: 33%;
		justify-content: space-between;
		margin-left: 24upx;
	}
	/deep/.custom .navbar .content{
		    width: calc(100% - 574upx)
	}
	/deep/.list-content-container {
		width: 50%;
	}
</style>
