<template>
	<view>
		<store-loc :list="pdList" class="show-more"></store-loc>
		<view v-if="sSignatureStatus == '20'">
			<view class="function-box new-page" v-if="approvalSign">
				<view class="block">
					<cnd-button type="outlined" color="danger" size="block" icon="no" @clickEvent="refuse">驳回重签</cnd-button>
				</view>
				<view class="block">
					<cnd-button type="outlined" size="block" color="info" icon="no" @clickEvent="submit">审批通过</cnd-button>
				</view>
				<view class="block">
					<cnd-button type="outlined" color="primary" size="block" icon="no" @clickEvent="linktap">查看附件
					</cnd-button>
				</view>
			</view>
			<view class="function-box new-page" v-else>
				<view class="block">
					<cnd-button type="outlined" color="primary" size="block" icon="no" @clickEvent="linktap">查看附件
					</cnd-button>
				</view>
			</view>
		</view>
		<view v-else>
			<view class="function-box new-page" v-if="sSignatureStatus == '70' || userRoleName || approvalSign && sSignatureStatus == '10'">
				<view class="block">
					<cnd-button type="outlined" color="primary" size="block" icon="no" @clickEvent="linktap">查看附件
					</cnd-button>
				</view>
			</view>
			<view class="function-box new-page" v-else>
				<view class="block">
					<cnd-button type="outlined" color="primary" size="block" icon="no" @clickEvent="linktap">查看附件
					</cnd-button>
				</view>
				<view class="block">
					<cnd-button color="primary" size="block" icon="no" @clickEvent="show = true">签名</cnd-button>
				</view>
			</view>
		</view>
		
		<pop-content v-model="show">
			<sign ref="me" :sId="sId" :imgSid="imgSid" @addCavas="clickCavas"></sign>
		</pop-content>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
	import popContent from "@/components/pop-content/pop-content";
	import storeLoc from "./components/store-loc.vue";
	import CndButton from "@/components/button/button";
	import sign from "./sign.vue";
	import {
		formatTime
	} from "@/common/utils/index.js";
	export default {
		data() {
			return {
				graph: {},
				canvasBg: "",
				hasSingle: 0,
				canvas: "",
				rpx: "",
				// tupian: "",
				heit: 1028,
				widt: 750,
				list: [],
				addressObj: {},
				isReload: true,
				fileSS: "",
				show: false,
				pdList: [],
				sId: "",
				sSignatureStatus: "",
				userInfo: {},
				roleNameStatus: {},
				userRoleName: "",
				imgList: [],
				imgSid: '',
				approvalSign: ''
			};
		},

		components: {
			popContent,
			storeLoc,
			CndButton,
			sign,
		},
		props: {},
		onLoad(options) {
			// this.imgList = options.imgList;
			this.sId = options.sId;
			this.sSignatureStatus = options.sSignatureStatus;
			// this.list = JSON.parse(decodeURIComponent(options.list));
			this.px();
		},
		onShow() {
			this.$nextTick(() => {
				this.$refs.me.initCanvas();
			});
		},
		async mounted() {
			this.userInfo = uni.getStorageSync("userInfo");
			this.roleNameStatus = uni.getStorageSync("roleNameStatus");
			if (this.pdList.imgList) {
				this.imgSid = this.pdList.imgList[0].sId
			}
			await this.getList();
			// this.userRoleName = this.userInfo.role[0].roleName;
			for (let i in this.userInfo.role) {
				this.userRoleName = this.userInfo.role[i].roleName == this.roleNameStatus.salesman;
				if (this.userRoleName == true) break
			}
			for (let i in this.userInfo.role) {
				this.approvalSign = this.userInfo.role[i].roleName == this.roleNameStatus.approvalSign;
				if (this.approvalSign == true) break
			}
			
		},
		methods: {
			async clickCavas() {
				this.beforeClose();
				uni.showLoading({
					title: '上传中...',
					mask: true
				})
				let res = await this.$http("techcomp/ria/commonProcessor!commonMethod.action", {
						"dataStores": {},
						"parameters": {
							"mapParams": {
								"sId": this.sId
							},
							"_parameters": "mapParams",
							"_parameterTypes": "string",
							"dcID": "wmsdeliveryis",
							"_boId": "wmsdeliveryis_ifsWmsSettlementBillBO_bo",
							"_methodName": "doConfirmSettlementBillSignature",
							"_methodParameterTypes": "String"
						}
					}
				);
				if (res.dataStores.result.rowSet.primary[0].resultCode == '0') {
					uni.hideLoading()
					// uni.showToast({
					// 	title: "操作成功",
					// 	icon: "none",
					// 	success: () => {
							
					// 	},
					// });
					this.$refs.mpopup.open({
						type:'success',
						content:'操作成功',
						timeout:2000,
					});
					let addStatus = {
						status: 20,
					};
					let pages = getCurrentPages(); // 获取所有的页面栈
					let prevPage = pages[pages.length - 2]; // 找到上一个页面，注意是页面，如果是页面中有组件，则需要通过页面接受到数据后，再次往组件中传递
					// prevPage.$vm.addressObj(add)
					prevPage.$vm.addressObj = addStatus;

					uni.navigateBack();
				} else {
					// uni.showToast({
					// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					// 	icon: "none",
					// 	mask: true,
					// });
					this.$refs.mpopup.open({
						type:'warn',
						content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
						timeout:2500,
						isClick:false
					});	
				}
				
			},
			beforeClose() {
				this.show = false;
			},
			linktap() {
				uni.showLoading({title: '加载中...',mask:true});
				// console.log("打开文档ok",this.pdList.imgList[0].staticPath);
				uni.downloadFile({
					url: this.pdList.imgList[0].staticPath, //这个url我采用的是后端的接口路径返回的是pdf流
					success: (res) => {
						let filePath = res.tempFilePath;
						this.fileSS = filePath;
						console.log("打开文档成功",res,"文档",this.fileSS,this.pdList.imgList[0].staticPath);
						uni.openDocument({
							filePath: filePath,
							fileType: "pdf",
							success: function(res) {
								setTimeout(function () {uni.hideLoading();}, 100);
								console.log("打开文档成功2");
								// uni.hideLoading();
							},
						});
					},
				});
			},
			async refuse(){
				let res = await this.$http("techcomp/ria/commonProcessor!commonMethod.action", {
						"dataStores": {},
						"parameters": {
							"mapParams": {
								"sId": this.sId
							},
							"_parameters": "mapParams",
							"_parameterTypes": "string",
							"dcID": "wmsdeliveryis",
							"_boId": "wmsdeliveryis_ifsWmsSettlementBillBO_bo",
							"_methodName": "doRefuseWmsSettlementBillForMiniApp",
							"_methodParameterTypes": "String"
						}
					}
				);
				if (res.dataStores.result.rowSet.primary[0].resultCode == '0') {
					uni.hideLoading()
					// uni.showToast({
					// 	title: "操作成功",
					// 	icon: "none",
					// 	success: () => {
							
					// 	},
					// });
					this.$refs.mpopup.open({
						type:'success',
						content:'操作成功',
						timeout:2000,
					});
					let addStatus = {
						status: 10,
					};
					let pages = getCurrentPages(); // 获取所有的页面栈
					let prevPage = pages[pages.length - 2]; // 找到上一个页面，注意是页面，如果是页面中有组件，则需要通过页面接受到数据后，再次往组件中传递
					// prevPage.$vm.addressObj(add)
					prevPage.$vm.addressObj = addStatus;

					uni.navigateBack();
				} else {
					// uni.showToast({
					// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					// 	icon: "none",
					// 	mask: true,
					// });
					this.$refs.mpopup.open({
						type:'warn',
						content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
						timeout:2500,
						isClick:false
					});	
				}
			},
			async submit(){
				let res = await this.$http("techcomp/ria/commonProcessor!commonMethod.action", {
						"dataStores": {},
						"parameters": {
							"mapParams": {
								"sId": this.sId
							},
							"_parameters": "mapParams",
							"_parameterTypes": "string",
							"dcID": "wmsdeliveryis",
							"_boId": "wmsdeliveryis_ifsWmsSettlementBillBO_bo",
							"_methodName": "doSubmitWmsSettlementBillForMiniApp",
							"_methodParameterTypes": "String"
						}
					}
				);
				if (res.dataStores.result.rowSet.primary[0].resultCode == '0') {
					uni.hideLoading()
					// uni.showToast({
					// 	title: "操作成功",
					// 	icon: "none",
					// 	success: () => {
							
					// 	},
					// });
					this.$refs.mpopup.open({
						type:'success',
						content:'操作成功',
						timeout:2000,
					});
					let addStatus = {
						status: 70,
					};
					let pages = getCurrentPages(); // 获取所有的页面栈
					let prevPage = pages[pages.length - 2]; // 找到上一个页面，注意是页面，如果是页面中有组件，则需要通过页面接受到数据后，再次往组件中传递
					// prevPage.$vm.addressObj(add)
					prevPage.$vm.addressObj = addStatus;

					uni.navigateBack();
				} else {
					// uni.showToast({
					// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					// 	icon: "none",
					// 	mask: true,
					// });
					this.$refs.mpopup.open({
						type:'warn',
						content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
						timeout:2500,
						isClick:false
					});	
				}
			},
			px() {
				const {	windowWidth } = wx.getSystemInfoSync();
				this.rpx = windowWidth / 320;
				//获取屏幕宽度，获取自适应单位
				console.log("rpx", this.rpx);
			},
			toPx(rpx) {
				return rpx * this.rpx;
			},
			// 签名
			// autograph() {
			// 	uni.navigateTo({
			// 		url: `/pagesA/autograph/sign`,
			// 	});
			// },
			// 明细接口
			async getList() {
				let that = this;
				let res = await that.$http(	"techcomp/ria/commonProcessor!commonMethod.action", {
						dataStores: {},
						parameters: {
							mapParams: {
								sId: this.sId,
								pageNumber: 1,
								pageSize: 99999,
							},
							_parameters: "mapParams",
							_parameterTypes: "string",
							dcID: "wmsdeliveryis",
							_boId: "wmsdeliveryis_ifsWmsSettlementBillBO_bo",
							_methodName: "queryWmsSettlementBillDetailsBySettlementBillId",
							_methodParameterTypes: "String",
						},
					}
				);
				// uni.hideKeyboard();
				if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
					let list = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
					// list = list.concat(this.list);
					that.pdList = list.map((ele) => {
						return {
							...ele,
							sReceiptTime: ele.sReceiptTime ? formatTime(ele.sReceiptTime, "Y-M-D") : "无",
						};
					});
					
					let imgId = this.sId
					if (this.sSignatureStatus == '70' || this.sSignatureStatus == '20') {
						imgId = this.sId + '-signed'
					}
					this.getImgList(imgId)
				
					console.log("结算单明细列表", that.pdList);
				} else {
					// uni.showToast({
					// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					// 	icon: "none",
					// 	mask: true,
					// });
					this.$refs.mpopup.open({
						type:'warn',
						content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
						timeout:2500,
						isClick:false
					});	
				}
			},
			async getImgList(imgId) {
				console.log('打印文件id', imgId)
				let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
					dataStores: {},
					parameters: {
						sId: imgId,
						_parameters: 'sId',
						_parameterTypes: 'string',
						dcID: 'fs',
						_boId: 'fs_bsbFilesBO_bo',
						_methodName: 'getBsbFilesByBusId',
						_methodParameterTypes: 'String'
					}
				});
				let infos = res.dataStores.result.rowSet.primary || [];
				this.$set(this.pdList, 'imgList', infos)
				console.log('打印文件图', this.pdList.imgList)
			},
		},
	};
</script>
<style>
	page {
		background-color: #f1f5f7;
	}
</style>
<style lang="scss">
	.new-page {
		.block {
			margin: 0 10rpx;
			width: 100% !important;

			.cnd-button {
				width: 100% !important;
			}
		}
	}

	.show-more {
		margin-top: 16upx;
		padding-bottom: 140rpx;
	}
</style>
