<template>
	<view>

	</view>


</template>

<script>
	// import CndListGroup from '@/components/list-group/list-group.vue'
	// import CndListTitle from 'cndapp-ui/components/list-group/list-title.vue'
	// import CndListContent from '@/components/list-group/list-content.vue'
	// import CndListFooter from 'cndapp-ui/components/list-group/list-footer.vue'
	export default {
		name: 'pd-list',
		components: {
			// CndListGroup,
			// CndListTitle,
			// CndListContent,
			// CndListFooter
		},
		props: {
			list: {
				// 数据列表
				type: Array,
				default () {
					return [];
				}
			}
		},
		filters: {
			isEmptyFilter: function(value){
				return value ? value : ''
			}
		},
		methods: {
			goDetail(item) {
				uni.navigateTo({
					url: `./save-or-update?erpaficode=${item.erpaficode}`
				})
			}
		}
	}
</script>

<style>
</style>
