<template>
	
	<view v-if="dataList.length">
		<cnd-form>
			<cnd-form-item label="通知件数">{{ dataList[0].sQtx }}</cnd-form-item>
			<cnd-form-item label="通知重量">{{ dataList[0].sQty }}</cnd-form-item>
			<cnd-form-item label="商品">{{ dataList[0].sArtName }}</cnd-form-item>
		</cnd-form>
		<cnd-form>
			<block v-for="(item, index) in dataList" :key="index">
				<view class="detail-item">
					<cnd-form-item label="收货件数" solid 
						:right_icon="sIsFinish ? '' :  'icon-cnd-metal-edit-1'"
						:right_icon2="sIsFinish ? '' :  'icon-cnd-cut'" 
						@iconClick="showEditQtxDialog($event, item.sRealQtx, index)"
						@iconClick_c="showEditParDialog($event, item, index)"
						>
						{{ item.sRealQtx }}
					</cnd-form-item>
					<cnd-form-item label="收货重量" solid>{{ item.sRealQty }}</cnd-form-item>
					<cnd-form-item label="图片"></cnd-form-item>
					<view style="margin-left: 40rpx;">
						<img-upload v-if="info" :busId="item.sId" :imgList="item.imgList"></img-upload>
					</view>
					<cnd-form-item label="备注" solid isTextarea><cnd-textarea v-model="item.sRemark" placeholder="请输入备注"></cnd-textarea></cnd-form-item>
					<cnd-form-item label="入库库区" solid>
						<view @tap="goStore(item)">{{ item.vSubWarehouseAreaName || '请选择库区' }}</view>
					</cnd-form-item>
					<cnd-form-item label="入库库位" solid>
						<view @tap="goStore(item)">{{ item.vSubWarehouseLocationName || '请选择库位' }}</view>
					</cnd-form-item>
					<text class="rk" @click="goStore(item)">点击选择入库库位</text>
				</view>

			</block>
		</cnd-form>
		<!-- 组件区 -->
		<uni-popup id="dialogInput" ref="dialogInput" type="dialog" :maskClick="false">
			<uni-popup-dialog mode="input" title="收货件数修改" :value="dialogValue" inputType="number" placeholder="修改件数" @confirm="dialogInputConfirm"></uni-popup-dialog>
		</uni-popup>
		<parti-dialog ref="par">
			<view class="parti-form-dialog">
				<x-loading ref="loading"></x-loading>
				<view class="header">入库分拆</view>
				<view class="content">
					<cnd-form-item label="分拆件数" solid>
						<input placeholder="请输入分拆件数" @input="bindSqtxInput" @blur="bindSqtxBlur" />
					</cnd-form-item>
					<cnd-form-item label="分拆重量">
						<input disabled v-model="parWeight" />
					</cnd-form-item>
					<cnd-form-item label="当前件数">
						{{ clickItem && clickItem.sRealQtx || 0 }}
					</cnd-form-item>
					<cnd-form-item label="当前重量">
						{{ clickItem && clickItem.sRealQty || 0 }}
					</cnd-form-item>
				</view>
				<view class="footer">
					<cnd-button class="item" color="primary" @clickEvent="bindParConfirm">确定</cnd-button>
					<cnd-button class="item" color="default" @clickEvent="bindParClose">取消</cnd-button>
				</view>
			</view>
		</parti-dialog>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
	
<!-- 	<view>
		<cnd-form title="">
			<cnd-form-item label="通知件数">{{ info.sQtx }}</cnd-form-item>
			<cnd-form-item label="通知重量">{{ info.sQty }}</cnd-form-item>
			<cnd-form-item label="商品" solid>{{ info.sArtName }}</cnd-form-item>
			<cnd-form-item label="收货件数" solid right_icon="icon-cnd-metal-edit-1" right_icon2="icon-cnd-cut" @iconClick="showEditQtxDialog">{{ info.sRealQtx }}</cnd-form-item>
			<cnd-form-item label="收货重量" solid><input v-model="info.sRealQty" @blur="sRealQtyBlur" /></cnd-form-item>
			<cnd-form-item label="图片"></cnd-form-item>
			<img-upload v-if="info" :busId="info.sId" :imgList="info.imgList"></img-upload>
			<cnd-form-item label="备注" solid isTextarea><cnd-textarea v-model="info.sRemark" placeholder="请输入备注"></cnd-textarea></cnd-form-item>
			<cnd-form-item label="入库库区" solid>
				<view @tap="goStore">{{ info.vSubWarehouseAreaName || '请选择库区' }}</view>
			</cnd-form-item>
			<cnd-form-item label="入库库位" solid>
				<view @tap="goStore">{{ info.vSubWarehouseLocationName || '请选择库位' }}</view>
			</cnd-form-item>
		</cnd-form>
	</view> -->
</template>

<script>
// import CndUploadCell from 'cndapp-ui/components/upload/upload';
import CndForm from '../../components/form/cnd-form.vue';
import CndFormItem from '../../components/form-item/cnd-form-item.vue';
// import CndInput from 'cndapp-ui/components/input/cnd-input';
import CndTextarea from '@/components/textarea/cnd-textarea';
import imgUpload from '../../components/upload/img-upload.vue'
import PartiDialog from './parti-dialog.vue'
import CndButton from '../../components/button/button';
export default {
	components: { 
		// CndUploadCell, 
		CndForm, 
		CndFormItem, 
		// CndInput, 
		CndTextarea, 
		imgUpload, 
		PartiDialog, 
		CndButton 
	},
	props: {
		info: Array,
		sIsFinish: [Number, String, Boolean]
	},
	data() {
		return {
			dataList: this.info,
			dialogValue: '',
			index: undefined,
			clickItem: undefined,
			parameters: {
				"sId":"",
				"sQtx": "",
				"_parameters": "sId,sQtx",
				"_parameterTypes": "string,string",
				"dcID": "wmsjccwis",
				"_boId": "wmsjccwis_ifsJcwmsInBillDetailBO_bo",
				"_methodName": "splitWmsInBillDetail",
				"_methodParameterTypes": "String,String"
			},
			parWeight: 0
		};
	},
	methods: {
		goStore() {
			console.log(this.info)
			return
			uni.$emit('goStore');
		},
		showEditQtxDialog(e, sRealQtx, index) {
			this.dialogValue = sRealQtx
			this.index =  index
			this.$refs.dialogInput.open()
		},
		showEditParDialog(e, item, index) {
			this.clickItem = item
			this.$refs.par.open()
			
			
		},
		async dialogInputConfirm(done, val) {
			if(val < 0) return this.$refs.mpopup.open({
				type:'warn',
				content:'请输入合法件数',
				timeout:2500,
				isClick:false
			});	
			// uni.showToast({
			// 	title: '请输入合法件数!',
			// 	icon: 'none'
			// })
			let item = this.dataList[this.index]
			console.log('inputItem =>', item)
			await this.singleSqtxUpdate(item, val)
			done()
		},
		async singleSqtxUpdate(item, val) {
			console.log('item', item)
			const item_c = item
			uni.showLoading({
				title: '请稍后...'
			})
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				"dataStores": {},
				"parameters": {
				  "sId": item_c.sId,
				  "sQtx": val,
				  "_parameters": "sId,sQtx",
				  "_parameterTypes": "string,string",
				  "dcID": "wmsjccwis",
				  "_boId": "wmsjccwis_ifsJcwmsInBillDetailBO_bo",
				  "_methodName": "updateWmsInBillDetail",
				  "_methodParameterTypes": "String,String"
				}
			})
			uni.hideLoading()
			console.log(res)
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				// item_c.sRealQtx = val
				// item_c.sRealQty = val * (item_c.sQty / item_c.sQtx)
				// this.$set(this.dataList, this.index, item_c)
				this.$emit('refresh')
			} else {
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
		},
		bindSqtxInput(e) {
			console.log(e)
			const value = e.detail.value
			if(value !== '' && (!(/(^[1-9]\d*$)/.test(value))) || value.indexOf('.') !== -1) return uni.showToast({
				title: '分拆件数录入有误!',
				icon: 'none',
				success: () => {
					this.parameters['sQtx'] = ''
					this.parWeight = 0
				}
			})
			else if(Number(value > Number(this.clickItem.sRealQtx))) return uni.showToast({
				title: '分拆件数超出!',
				icon: 'none'
			})
			// this.clickItem.sQtx = '1.789'
			// this.clickItem.sQty = '1.679'
			this.parameters.sQtx = value
			this.parWeight = (Number(this.clickItem.sQtx) === 0 || Number(this.clickItem.sQty === 0)) ? 0 :  Number(this.parameters.sQtx) * (Number(this.clickItem.sQty) / Number(this.clickItem.sQtx))			
		},
		bindSqtxBlur(e) {
			const value = e.detail.value
			if(!(/(^[1-9]\d*$)/.test(value))) {
				this.parameters['sQtx'] = ''
				this.parWeight = 0
			}
		},
		async bindParConfirm() {
			const value = this.parameters['sQtx']
			if((!(/(^[1-9]\d*$)/.test(value))) || value.indexOf('.') !== -1) return uni.showToast({
				title: '分拆件数录入有误!',
				icon: 'none'
			})
			else if(Number(value > Number(this.clickItem.sRealQtx))) return uni.showToast({
				title: '分拆件数超出!',
				icon: 'none'
			})
			uni.showLoading({
				title: '请稍后...'
			})
			console.log('分拆参数 =>', Object.assign({}, this.parameters, { sId: this.clickItem.sId }), this.dataList)
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				dataStores: {},
				parameters: Object.assign({}, this.parameters, { sId: this.clickItem.sId })
			})
			uni.hideLoading()
			console.log(res)
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				// uni.showToast({
				// 	title: '拆分操作成功!',
				// 	icon: 'none',
				// 	success: () => {
				// 		setTimeout(() => {
				// 			this.$refs.par.close()
				// 			this.$emit('change')
				// 		})
				// 	}
				// })
				this.$refs.mpopup.open({
					type:'success',
					content:'拆分操作成功',
					timeout:2000,
				});
				setTimeout(() => {
					this.$refs.par.close()
					this.$emit('change')
				})
			} else {
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
		},
		bindParClose() {
			this.$refs.par.close()
		},
		goStore(item) {
			// this.save(false)
			uni.navigateTo({
				url: `/pagesB/stores/house-prev?page=${this.$store.state.page}&id=${item.sId}&parentId=${item.sWarehouseId}`
			});
		},
	},
	watch: {
		info(newVal) {
			this.dataList = newVal
		}
	}
};
</script>

<style lang="scss" scoped>
	/deep/ .iconfont {
		font-size: 40rpx;
		&.right-icon2 {
			margin-right: 20rpx;
		}
	}
	.rk {
		margin: 40rpx;
		display: inline-block;
		cursor: pointer;
		color: red;
		font-size: 14px;
		text-decoration: underline;
	}
	.detail-item {
		border-bottom: 6rpx solid #F5F5F5;
	}
	.parti-form-dialog {
		// height: 600rpx;
		// background: #FFFFFF;
		// width: 100%;
		.header {
			height: 100rpx;
			position: relative;
			padding-left: 20rpx;
			display: flex;
			align-items: center;
			color: #333;
			font-weight: 700;
			font-size: 28rpx;
		}
		.content {
			height: calc(600rpx - 200rpx);
			padding: 20rpx;
			background: #ffffff;
		}
		.footer {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			background: #ffffff;
			height: 100rpx;
			display: flex;
			border-top: 2rpx solid #f5f5f5;
			.item {
				flex: 1;
				height: auto;
				border-radius: 0;
			}
		}
	}
</style>
