//引入colors色盘配置
@import "../style/color/_colors.scss";
//引入colors状态颜色改变
@import "../style/color/statusColors.scss";
//引入fonts字阶行高配置
@import "../style/font/_font.scss";

$contract-process-query-detail-margin-v: 10px;

// 列表间距（正常尺寸）
$list-box-padding-v: 20rpx;
$list-box-padding-h: 20rpx;

// 列表间距（小尺寸）
$small-list-box-padding-v: 12rpx;
$small-list-box-padding-h: 12rpx;

$search-wrapper-width: 355rpx * 2;
$search-wrapper-padding-h: 20rpx;
$search-wrapper-radius-curve: 6rpx;
	
$detail-box-padding-v: 10rpx;
$detail-box-margin: $detail-box-padding-v * 2;
$detail-box-padding-h: 20rpx;
	
$function-box-height: 100rpx;
$blank-box-height: 136rpx;
	
	// 提交到页面
	.options-wrap {
		padding: 40rpx;
		background-color: $gray-0;
		.options-wrap-title {
			font-size: 36rpx;
			font-weight: 700;
		}
		.textarea-wrap {
			margin-top: 40rpx;
			.textarea {
				background-color: #F3F3F3;
				width: 100%;
				box-sizing: border-box;
				min-height: 200rpx;
				border-radius: 10rpx;
				padding: 20rpx;
				font-size: 28rpx;
			}
		}
	}
	
	// input & textarea 样式统一
	input {
		font-size: $font-size-body;
		placeholder-color: $gray-6;
		color: $gray-8;
	}
	
	textarea {
		font-size: $font-size-body;
		placeholder-color: $gray-6;
		color: $gray-8;
		width: 450rpx;
		width: 100%;
		line-height:1.6;
		height: 150rpx;
	}
	
	.uni-input {
		font-size: $font-size-body;
		line-height: $line-height-body;
	}
	
	// 页面按钮设置
	.function-box {
		&.index-page {
			position: fixed;
			bottom: 0;
			left: 0;
			display: flex;
			box-sizing: border-box;
			padding: 20rpx $list-box-padding-h;
			width: 100%;
			min-height: $function-box-height;
			flex-direction: row;
			justify-content: space-between;
			background-color: $background-color;
			z-index: 99;
			
			.block {
				display: block;
				width: 100%;
			}
		}
		
		&.new-page {
			width: 750rpx;
			z-index: 990;
			bottom: 0;
			left: 0;
			position: fixed;
			padding: 20rpx $list-box-padding-h;
			box-sizing: border-box;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			background-color: #F1F5F7;
			z-index: 99;
			
			.block {
				width: 348rpx;
				box-sizing: border-box;
			}
		}
	}
	
	// detail-box 统一样式
	.detail-box {
		// width: 100%;
		box-sizing: border-box;
		margin: 0 $detail-box-padding-h $detail-box-padding-h;
		// margin-top: $detail-box-padding-h;
			
		&.first-detail-box {
			margin-top: $detail-box-margin;
		}
			
		.detail-cell-box {
			.detail-cell-box-border {
				width: 100%;
				height: 2rpx;
				background-color: $gray-2;
			}
		}
	}
	
	// 手机适应（底部顶上）
	.detail-box-blank {
		width: 100%;
		min-height: 2rpx;
		background-color: $background-color;
	}
	
	// index页面list间距调整
	.list-box {
		display: block;
		box-sizing: border-box;
		margin: 0 $list-box-padding-h $list-box-padding-v $list-box-padding-h;
		
		&.first-list-box {
			padding-top: $list-box-padding-v;
		}
		
		// 小尺寸 
		&.small {
			margin: 0 $small-list-box-padding-h $small-list-box-padding-v $small-list-box-padding-h;
			
			&.first-list-box {
				padding-top: $small-list-box-padding-v;
			}
		}
	}
	
	// 配合按钮使用的空白层
	.blank-box {
		width: 100%;
		min-height: $blank-box-height;
		background-color: $background-color;
	}
	
	// 弹出页面背景
	.pop-background {
		width: 100%;
		min-height: 100vh;
		box-sizing: border-box;
		padding-top: $detail-box-padding-v;
		margin-top: -$detail-box-padding-v;
		background-color: $background-color;
	}
	
	// <--- 下拉刷新专用 --->
	.empty {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: 300rpx;
	
		image {
			width: 300rpx;
			height: 300rpx;
		}
		
		.empty-tip {
			margin-top: 20rpx;
			font-size: $font-size-body;
			color: $gray-5;
		}
	}
	
	.loadmore {
		font-size: $font-size-caption;
		color: $gray-5;
		text-align: center;
		position: relative;
		padding: 10rpx 0;
		margin-bottom: 140rpx;
	
		text:after {
			position: absolute;
			top: 50%;
			background: $gray-4;
			content: "";
			height: 2rpx;
			width: 200rpx;
			right: 520rpx;
		}
	
		text:before {
			position: absolute;
			top: 50%;
			background: $gray-4;
			content: "";
			height: 2rpx;
			width: 200rpx;
			left: 520rpx;
		}
	}
	// --- 下拉刷新专用 ---

	// 搜索框
	.search-wrapper {
		position: fixed;
		left: 0;
		// top: 90rpx;
		z-index: 10;
		
		width: $search-wrapper-width;
		height: 72rpx;
		min-height: 72rpx;
		margin: 20rpx $search-wrapper-padding-h 18rpx;
		padding-left: 24rpx;
		box-sizing: border-box;
		background-color: $gray-0;
		border-color: $gray-2;
		color: $gray-6;
		border-radius: $search-wrapper-radius-curve;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	
		.iconfont {
			font-size: 36rpx;
			color: $gray-6;
		}
	
		.icon {
			margin-right: 20rpx;
			padding-bottom: 4rpx;
		}
	
		.text {
			flex-grow: 1;
			font-size: $font-size-subhead;
			color: $gray-7;
		}
	
		.button {
			display: flex;
			align-items: center;
			justify-content: center;
	
			border-radius: 0 $search-wrapper-radius-curve $search-wrapper-radius-curve 0;
	
			height: 72rpx;
			min-height: 72rpx;
			width: 140rpx;
	
			background-color: $cnd-blue-5;
			color: $gray-0;
			font-size: $font-size-body;
	
			&:active {
				background-color: colorActived($cnd-blue-5);
			}
		}
	}

	.shadow-warp {
		position: relative;
		box-shadow: 0 0 12upx rgba(0, 0, 0, 0.1);
		border-radius: 16rpx;
	}
	
	.shadow-warp:before,
	.shadow-warp:after {
		position: absolute;
		content: "";
		top: 20upx;
		bottom: 30upx;
		left: 20upx;
		width: 50%;
		box-shadow: 0 30upx 20upx rgba(0, 0, 0, 0.2);
		transform: rotate(-3deg);
		z-index: -1;
	}
	
	.shadow-warp:after {
		right: 20upx;
		left: auto;
		transform: rotate(3deg);
	}
	
	.flex {
		display: flex;
	}
	.flex-center {
		display: flex;
		align-items: center;
		justify-content: center
	}
	.flex-between {
		display: flex;
		justify-content: space-between;
		align-items: center
	}
	.text-hidden {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.w100 {
		width: 100%
	}
	.h100 {
		height: 100%
	}
	.mgr6 {
		margin-right: 12rpx;
	}
	.form-item-right-icon {
		color: $gray-5;
	}
	picker {
		font-size: $font-size-body;
		width: 100%;
	}
	radio.checked .uni-radio-input {
		background-color: $cnd-blue-5!important;
		border-color: $cnd-blue-5!important;
		transition: transform .15s ease-in .05s;
	}
	// picker start
	uni-picker-view .uni-picker-header, uni-picker-view .uni-picker-content, uni-picker-view .uni-picker  {
		background-color: $gray-0;
	}
	.uni-picker .uni-picker-header {
		height: 72rpx;
		position: relative;
		&:after {
			border-bottom: 2rpx solid $gray-4;
			color: $gray-4;
			position: absolute;
			left: 20rpx;
			right: 20rpx;
		}
		.uni-picker-action {
			font-size: 32rpx;
			padding: 0 20rpx;
			line-height: 72rpx;
			&.uni-picker-action-confirm {
				color: $cnd-blue-5
			}
		}
	}
	.uni-picker-view-indicator {
		height: 60rpx;
	}
	uni-picker-view .uni-picker-item {
		color: $gray-8;
		height: 60rpx;
		line-height: 60rpx;
		font-size: 28rpx;
	}
	// picker end
	.arrow {
		color: $gray-5;
	}
	.commit-btn {
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		height: 94rpx;
		color: $gray-0;
		text-align: center;
		line-height: 94rpx;
		background: $cnd-blue-5;
		font-size: 28rpx;
		font-weight: 700;
		&:hover {
			background: $cnd-blue-6;
		}
	}
	.prompt-btn {
		background-color: $cnd-blue-5;
		border: none;
		color: #FFFFFF;
		&:active {
			background-color: colorActived($cnd-blue-5);
		}
	}
	.empty-txt {
		font-size: 32rpx;
		color: $gray-6;
	}
	.upload-cell-wrapper {
		position: relative;
		padding: 0 24rpx;
		&:after {
			position: absolute;
			box-sizing: border-box;
			content: ' ';
			pointer-events: none;
			right: 26rpx;
			bottom: 0;
			left: 26rpx;
			border-bottom: 2rpx solid $gray-2;
			-webkit-transform: scaleY(0.8);
			transform: scaleY(0.8);
		}
	}
	.c-gray-6 {
		color: $gray-6;
	}
	.c-gray-7 {
		color: $gray-7;
	}
	.c-gray-8 {
		color: $gray-8;
	}