// @import "./common.scss";
.text-hidden {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.filter-txt-icon { display: flex; align-items: center; color: #408CDA; image { width: 32rpx; height: 32rpx; margin-right: 10rpx; }}
