<template>
	<view class="demo-out">
		<view class="demo-box">
			<view class="header-wrapper">
				<view class="title-wrapper">
					<text>单独使用</text>
				</view>
			</view>
			<view class="demo-wrapper">
				<view>
					<cnd-checkbox v-model="checked" @change="bindCheckboxSingleChange">选项一</cnd-checkbox>
					<view style="padding-top: 20rpx;">是否选中:{{checked}}</view>
				</view>	
			</view>
		</view>
		<view class="demo-box">
			<view class="header-wrapper">
				<view class="title-wrapper">
					<text>组合使用</text>
				</view>
			</view>
			<view class="demo-wrapper">
				<view>
					<cnd-checkbox-group v-model="multiple" @change="bindCheckboxGroupChange">
						<block v-for="(item, index) in testOptions" :key="index">
							<view class="mgb24">
								<cnd-checkbox :label="item.sValue">{{item.sName}}</cnd-checkbox>
							</view>
						</block>
					</cnd-checkbox-group>
					<view>选中项: {{multiple}}</view>
				</view>
			</view>
		</view>
		<view class="demo-box">
			<view class="footer-wrapper">
				<view class="describe-wrapper">
					<view class="describe-wrapper">
						<view>【CndCheckbox】Attributes</view>
						<view>【 value / v-model - String / Number / Boolean 】绑定值</view>
						<view>【 label - String / Number / Boolean 】选中状态的值（只有在cnd-checkbox-group或者绑定对象类型为array时有效）</view>
						<view>【 disabled - Boolean 】是否禁用</view>
						<view>【 checked - Boolean 】当前是否勾选</view>
						<view style="height: 20rpx;"></view>
						<view>【CndCheckbox】Events</view>
						<view>【change】/ 回调参数：更新后的值 / 绑定值变化时触发</view>
						<view style="height: 20rpx;"></view>
						<view>【CndCheckboxGroup】Attributes</view>
						<view>【 value / v-model - Array 】绑定值</view>
						<view style="height: 20rpx;"></view>
						<view>【CndCheckboxGroup】Events</view>
						<view>【change】/ 回调参数：更新后的值 / 绑定值变化时触发</view>
					</view>
				</view>
			</view>
		</view>

	</view>
</template>

<script>
	import CndCheckboxGroup from '../cnd-checkbox-group.vue'
	import CndCheckbox from '../cnd-checkbox.vue'
	export default {
		name: 'cnd-checkbox-demo',
		components: {
			CndCheckbox,
			CndCheckboxGroup
		},
		data() {
			return {
				checked: true,
				multiple: ['option1', 'option3'],
				testOptions: [{
					sName: 'aaa',
					sValue: 'option1'
				}, {
					sName: 'bbb',
					sValue: 'option2'
				},{
					sName: 'ccc',
					sValue: 'option3'
				},{
					sName: 'ddd',
					sValue: 'option4'
				},{
					sName: 'eee',
					sValue: 'option5'
				}]
			}
		},
		methods: {
			bindCheckboxSingleChange(data) {
				console.log(data)
			},
			bindCheckboxGroupChange(data) {
				console.log(data)
			}
		}
	}
</script>

<style>
	page {
		background-color: #F1F5F7;
	}
</style>

<style lang="scss" scoped>
	$cnd-demo-margin-h: 32rpx;
	$cnd-demo-margin-v: 20rpx;
	$cnd-demo-wrapper-padding: 20rpx;
	$cnd-demo-border-radius: 16rpx;
	.mgb24 {
		margin-bottom: 24rpx;
	}
	.demo-out {
		.demo-box {
			display: flex;
			box-sizing: border-box;
			flex-direction: column;
			margin: $cnd-demo-margin-v $cnd-demo-margin-h 0 $cnd-demo-margin-h;
			background-color: $gray-0;
			border-radius: $cnd-demo-border-radius;

			.header-wrapper {
				display: flex;
				flex-direction: row;
				box-sizing: border-box;
				justify-content: space-between;
				align-items: center;
				padding: 24rpx 24rpx;
				width: 100%;
				flex-wrap: nowrap;

				border-bottom: 2rpx solid $gray-2;

				.title-wrapper {
					font-size: $font-size-headline;
					color: $gray-9;
				}

				.describe-wrapper {
					font-size: $font-size-footnote;
					color: $gray-6;
				}
			}

			.demo-wrapper {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				box-sizing: border-box;
				padding: $cnd-demo-wrapper-padding;

				.unshow {
					visibility: hidden;
				}
			}

			.footer-wrapper {
				display: flex;
				flex-direction: row;
				box-sizing: border-box;
				justify-content: space-between;
				align-items: center;
				padding: 24rpx 24rpx;
				width: 100%;
				flex-wrap: nowrap;

				border-top: 2rpx solid $gray-2;

				.describe-wrapper {
					font-size: $font-size-footnote;
					color: $gray-6;
				}
			}
		}
	}
</style>
