<template>
	<view>
		<view class="list-box" @click="goDetail(item)" v-for="(item, index) in list" :key="index">
			<cnd-list-group>
				<view class="text">
					<text>{{ item.vSubWarehouseName }}</text>
					<text>{{ item.sGenerationDate }}</text>
				</view>
				<view class="boys">
					<view class="boysTb">
						<view class="boyText">
							<view class="titles">{{ item.sForecastSummary }}</view>
							<view class="texts">预报汇总</view>
						</view>
					
						<view class="boyText">
							<view class="titles">{{ item.sReceiptSummary }}</view>
							<view class="texts">入库汇总</view>
						</view>
						<view class="boyText">
							<view class="titles">{{ item.sDeductionWeight }}</view>
							<view class="texts">扣杂汇总</view>
						</view>
					</view>
					<view class="boysTb">
						<view class="boyText">
							<view class="titles">{{ item.sUndelGoodsSummary }}</view>
							<view class="texts">未到货汇总</view>
						</view>
						<view class="boyText">
							<view class="titleRed" v-if="item.sForecastProportion > 100">{{ item.sForecastProportion }}%</view>
							<view class="titles" v-else>{{ item.sForecastProportion }}%</view>
							<view class="texts">预报/{{item.sUpperTonnage}}</view>
						</view>
						<view class="boyText">
							<view class="titleRed" v-if="item.sDeductionRatio>item.sDeducRatioMax || item.sDeductionRatio<item.sDeducRatio && item.sDeductionRatio !=0 ">{{ item.sDeductionRatio }}%</view>
							<view class="titles" v-else>{{ item.sDeductionRatio }}%</view>
							<view class="texts">扣杂/入库</view>
						</view>
					</view>
				</view>
			</cnd-list-group>
		</view>
	</view>
</template>

<script>
import CndListGroup from '@/components/list-group/list-group.vue';
// import CndListTitle from 'cndapp-ui/components/list-group/list-title.vue';
// import CndListContent from '@/components/list-group/list-content.vue';
export default {
	name: 'pd-list',
	components: {
		CndListGroup,
		// CndListTitle,
		// CndListContent
	},
	props: {
		list: {
			// 数据列表
			type: Array,
			default() {
				return [];
			}
		}
	},
	methods: {
		goDetail() {
			
		}
	}
};
</script>

<style lang="scss" scoped>
.boys{
	border: 0.5px solid #dcf0f8;
	.boysTb{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-around;
		
		.boyText{
			border: 0.5px solid #dcf0f8;
			text-align: center;
			width: 100%;
			padding: 10rpx 0;
			.titles{
				color: cornflowerblue;
				font-size: 44rpx;
				padding: 6rpx 0
			}
			.titleGreen{
				color: rgb(100, 237, 162);
				font-size: 44rpx;
				padding: 6rpx 0;
			}
			.titleRed{
				color: rgb(237, 100, 100);
				font-size: 44rpx;
				padding: 6rpx 0;
			}
			.texts{
				color: #666;
				font-size: 30rpx;
				padding: 6rpx 0;
			}
		}
	}
}
.list-box {
	margin-left: 16rpx;
	margin-right: 16rpx;
	/deep/ &.mark {
		.container {
			background: pink;
		}
	} 
}
.text{
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    // border-bottom: 1px solid #dedede;
    padding: 20rpx 24rpx;
    font-size: 30rpx;
	// border-left:8rpx solid #3c96ea;
}
</style>
