<template>
	
	<view class="padding_input ">
		<cnd-form>
			<cnd-form-item label="仓库" class="rks">
				<!-- <view class="uni-list">
					<view class="uni-list-cell">
						<view class="uni-list-cell-db">
							<picker @change="bindPickerChange" :value="addressData.jobId" :range="materialList">
								<view class="picker">
									{{ addressData.codeName != '' ? addressData.codeName : '--请选择--' }}
								</view>
							</picker>
						</view>
					</view>
				</view> -->
				<input v-model="addressData.codeName" v-show="statusEdit == true" placeholder="--请选择仓库--" disabled />
				<input v-model="addressData.codeName" v-show="statusEdit == false" @click="bindPickerPicker" placeholder="--请选择仓库--" disabled />
			</cnd-form-item>
			<cnd-form-item label="仓库地址" class="textareas" isTextarea>
				<cnd-textarea disabled="disabled" placeholder="请先选择仓库..." v-model="formList.sWarehouseAddress"></cnd-textarea>
			</cnd-form-item>
			<view class="demo-wrapper">
				<cnd-form-item label="送货日期"  class="rks">
					<input v-model="timeRes" v-show="statusEdit == true" placeholder="--请选择日期--" disabled />
					<cnd-datepicker :level="3" v-show="statusEdit == false" :format="'yyyy-MM-dd HH:mm'" @change="bindChange">{{timeRes ? timeRes : datej}}</cnd-datepicker>
				</cnd-form-item>
			</view>
		</cnd-form>
		<cnd-form>
			
			<view class="detail-item">
				<cnd-form-item label="送货方" class="rks">
					<input v-model="formList.sDeliveryParty" :disabled="statusEdit" />
				</cnd-form-item>
				<cnd-form-item label="联系方式" class="rks">
					<input type="number" v-model="formList.sDeliveryPartyPhoneNumber" :disabled="statusEdit"  />
				</cnd-form-item>
				<cnd-form-item label="料型" class="rks">
					<!-- <view class="uni-list">
						<view class="uni-list-cell">
							<view class="uni-list-cell-db">
								<picker @change="materialTypeChange" :value="addmaterialTypeData.jobId" :range="materialTypeList">
									<view class="picker">
										{{ addmaterialTypeData.codeName !== '' ? addmaterialTypeData.codeName : '--请选择--' }}
									</view>
								</picker>
							</view>
						</view>
					</view> -->
					<input v-model="addmaterialTypeData.codeName" @click="materialTypePicker" placeholder="--请选择料型--" disabled />
				</cnd-form-item>
				<cnd-form-item label="厚度范围" class="rks">
					<input v-model="addsThicknessRangeData.codeName" v-show="statusEdit == false" @click="sThicknessRangePicker" placeholder="--请选择厚度范围--" disabled />
					<input v-model="addsThicknessRangeData.codeName" v-show="statusEdit == true" placeholder="--请选择厚度范围--" disabled />
				</cnd-form-item>
				<cnd-form-item label="吨数" class="rks">
					<input type="digit" v-model="formList.sWeight" :disabled="statusEdit"  />
				</cnd-form-item>
				<cnd-form-item label="车牌号" class="rks">
					<input v-model="formList.sCarNo" :disabled="inputDisabled"  />
				</cnd-form-item>
				<cnd-form-item label="司机电话" class="rks">
					<input type="number" v-model="formList.sDriverPhoneNumber" :disabled="inputDisabled"  />
				</cnd-form-item>
			</view>
		</cnd-form>
		<!-- 料型选择 -->
		<custom-picker
			ref="material"
			title="--请选择料型--"
			titleColor="#808080"
			titleFontSize="26rpx"
			cancelType='icon'
			cancelColor="#999999"
			cancleFontSize="28rpx"
			confirmColor="#4cd964"
			confirmFontSize="34rpx"
			confirmFontWeight="500"
			itemFontSize="32rpx"
			@onConfirm="materialTypeChange"
			@on_close="closePicker"
			:pickerList="materialTypeId">
		</custom-picker>
		<!-- 厚度范围 -->
		<custom-picker
			ref="sThickness"
			title="--请选择厚度范围--"
			titleColor="#808080"
			titleFontSize="26rpx"
			cancelType='icon'
			cancelColor="#999999"
			cancleFontSize="28rpx"
			confirmColor="#4cd964"
			confirmFontSize="34rpx"
			confirmFontWeight="500"
			itemFontSize="32rpx"
			@onConfirm="sThicknessRangeChange"
			@on_close="closePicker"
			:pickerList="sThicknessRangeList"
			:addmaterialTypeData="addsThicknessRangeData.jobId">
		</custom-picker>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
// import CndUploadCell from 'cndapp-ui/components/upload/upload';
import CndForm from '@/components/form/cnd-form';
import CndFormItem from '@/components/form-item/cnd-form-item';
import CndTextarea from '@/components/textarea/cnd-textarea';
import imgUpload from '@/components/upload/img-upload.vue'
import CndButton from '@/components/button/button';
import CndDatepicker from '@/components/datepicker/cnd-datepicker.vue'
import { uniToRpx, formatTime } from '@/common/utils/index.js'
import customPicker from '@/components/picjerDiy.vue';
export default {
	components: { 
		// CndUploadCell,
	 	CndForm, 
		CndFormItem, 
		CndTextarea, 
		imgUpload, 
		CndButton, 
		CndDatepicker, 
		customPicker 
	},
	props: {
		list: Object,
		formData: Object,
		sIsFinish: [Number, String, Boolean],
		statusEdits: Boolean
	},
	data() {
		return {
			statusEdit: true,
			inputDisabled: false,
			options: { styleIsolation: 'shared' },
			datej: new Date().format('yyyy-MM-dd'),
			value: '123',
			disabled: false,
			timeRes: '',
			formList: {
				sId: "", //主id
                sWarehouseId: "", //仓库id
                sWarehouseName: "", //仓库名称
            	sWarehouseAddress: "", //仓库地址
                sDeliveryDate: "", //送货日期
                sArtId: "", //料型id
                sArtName: "", //料型名称
                sWeight: null, //吨数/重量
                sDeliveryParty: "", //送货方
                sDeliveryPartyPhoneNumber: "", //送货联系方式
                sCarNo: "", //车牌号
                sDriverPhoneNumber: "", //司机电话
                sUserPhoneNumber: "", //创建预约单用户电话号码（预留）
                sRemark: "", //备注
				sThicknessRange: '', // 厚度范围
			},
			dataList:{
				
			},
			// 仓库
			materialList: [],
			materialId: [],
			material: [],
			map: '',
			codeValue: [],
			addressData: {
				jobId: '',
				codeName: "",
			},
			// 料型
			materialTypeList: [],
			materialTypeId: [],
			materialTypeValue: [],
			addmaterialTypeData: {
				jobId: '',
				codeName: "",
			},
			dialogValue: '',
			index: undefined,
			clickItem: undefined,
			parWeight: 0,
			info: {},
			// 厚度范围
			// 品级
			sThicknessRangeList: [],
			addsThicknessRangeData: {
				jobId: '',
				codeName: "",
			},
		};
	},
	async mounted() {
		// 仓库
		this.sMaterial()
		this.sThickness()
		// this.datasId()
		
	},
	methods: {
		
		bindChange(e) {
			this.timeRes = e.format('yyyy-MM-dd')
			this.formList.sDeliveryDate = this.timeRes
			console.log('时间时间', this.formList.sDeliveryDate)
		},
		//关闭上浮窗
		closePicker(){
			this.inputDisabled = false
			this.statusEdit = this.statusEdits
		},
		// 仓库
		
		//打开地图选择
		addressObj2() {
			let pages = getCurrentPages();
			let currPage = pages[pages.length - 1]; // 当前页的实例
			this.addressObj = currPage.$vm.addressObj
			if (this.addressObj) {
				console.log('当前页的实例', this.addressObj)
				this.addressData.jobId = this.addressObj.sId
				this.addressData.codeName = this.addressObj.sName
				this.formList.sWarehouseName = this.addressData.codeName
				this.map = this.addressObj.mapDesc
				this.formList.sWarehouseAddress = this.map
				this.formList.sWarehouseId = this.addressData.jobId
				this.addmaterialTypeData.jobId = ''
            	this.addmaterialTypeData.codeName = ''
				this.sMaterialType(this.formList.sWarehouseId)
			}
		},
		async bindPickerPicker(){
			uni.navigateTo({
				url: '/pagesA/bookingDelivery/map?items='+encodeURIComponent(JSON.stringify(this.material))
			})
		},
		async sMaterial() {
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				
				"dataStores": {},
				"parameters": {
				    "mapParams": {
					},
					"_parameters": "mapParams",
					"_parameterTypes": "string",
					"dcID": "wmsdeliveryis",
					"_boId": "wmsdeliveryis_ifsWmsDeliveryDetailsBO_bo",
					"_methodName": "getAllWareHouseListForMiniApp",
					"_methodParameterTypes": "String"
				},
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				let material = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
				this.material = material
				console.log('仓库', this.material)
			} else {
				// uni.showToast({
				// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
				// 	icon: 'none',
				// 	mask: true
				// });
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
		},
		
		// 料型
		//打开
		materialTypePicker(){
			if (!this.formList.sWarehouseName) {
				// uni.showToast({
				// 	title: '请先选择仓库！',
				// 	icon: "none"
				// })
				this.$refs.mpopup.open({
					type:'warn',
					content:`请先选择仓库！`,
					timeout:2500,
					isClick:false
				});
				return
			}
			this.inputDisabled = true
			this.statusEdit = true
			this.$refs.material._open()
		},
		//确定：接收子组件传来的参数
		materialTypeChange(checked){
			this.addmaterialTypeData.jobId = checked.value
			this.addmaterialTypeData.codeName = checked.label
			this.formList.sArtName = this.addmaterialTypeData.codeName
			this.formList.sArtId = this.addmaterialTypeData.jobId
			this.inputDisabled = false
			this.statusEdit = this.statusEdits
			console.log('料型id', this.formList.sArtId)
		},
		async sMaterialType(sGrade) {
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				
				"dataStores": {},
				"parameters": {
					"mapParams": {
						"sWarehouseId": sGrade
					},
					"_parameters": "mapParams",
					"_parameterTypes": "string",
					"dcID": "wmsdeliveryis",
					"_boId": "wmsdeliveryis_ifsWmsDeliveryDetailsBO_bo",
					"_methodName": "getArtInfoList",
					"_methodParameterTypes": "String"
				}
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				let materialType = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
				// console.log('料型', materialType);
				this.materialTypeId = materialType.map(ele => {
					return{
						value: ele.sId,
						label: ele.sCnName
					}
				})
				
                // this.materialTypeList = materialType.map(a => a.sCnName)
				// this.materialTypeValue = materialType.map(b => b.sId)
				
			} else {
				// uni.showToast({
				// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
				// 	icon: 'none',
				// 	mask: true
				// });
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
		},
		// 厚度
		//打开
		sThicknessRangePicker(){
			this.inputDisabled = true
			this.statusEdit = true
			this.$refs.sThickness._open()
		},
		//确定：接收子组件传来的参数
		sThicknessRangeChange(checked){
			this.addsThicknessRangeData.jobId = checked.value
			this.addsThicknessRangeData.codeName = checked.label
			this.formList.sThicknessRange = this.addsThicknessRangeData.jobId
			this.inputDisabled = false
			this.statusEdit = this.statusEdits
		},
		async sThickness() {
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {

				"dataStores": {},
				"parameters": {
					"type": "dev.fg.thickness.range",
					"_parameters": "type",
					"_parameterTypes": "string",
					"dcID": "wmsmetalis",
					"_boId": "wmsmetalis_ifsFgwmsCurrencyBO_bo",
					"_methodName": "queryCodeList",
					"_methodParameterTypes": "String"
				},
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				let sThickness = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
				console.log('厚度', sThickness);
				this.sThicknessRangeList = sThickness.map(ele => {
					return{
						value: ele.codeValue,
						label: ele.codeName
					}
				})
				if (this.formList.sThicknessRange) {
					this.addsThicknessRangeData.jobId = this.formList.sThicknessRange
					this.addsThicknessRangeData.codeName = sThickness.filter(a => a.codeValue == this.addsThicknessRangeData.jobId)[
						0].codeName
				}
			} else {
				// uni.showToast({
				// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
				// 	icon: 'none',
				// 	mask: true
				// });
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
			uni.hideLoading();
		},
		
	},
	watch: {
		statusEdits: {
			handler(newval){
				this.statusEdit = newval
			},
			deep: true,
			immediate: true 
		},
		list: {
			handler(newval) {
				if(newval) {
					if(this.formData.sId){
						this.formList = newval
					}
					// this.dataList = newval
					if(this.formList.sDeliveryDate) {
						this.timeRes = formatTime(this.formList.sDeliveryDate, 'Y-M-D')
					} else if(!this.timeRes) {
						// this.timeRes = this.datej
						this.formList.sDeliveryDate = this.datej
					}
					if (this.formList.sArtId) {
						this.addmaterialTypeData.codeName = this.formList.sArtName
						this.addmaterialTypeData.jobId = this.formList.sArtId
						// this.addmaterialTypeData.codeName = this.materialTypeId.filter(a => a.sId == this.addmaterialTypeData.jobId)[0].sCnName
					}
					if (this.formList.sWarehouseId) {
						// this.addressData.codeName = this.formList.sWarehouseName
						this.addressData.jobId = this.formList.sWarehouseId
						this.sMaterialType(this.formList.sWarehouseId)
						this.addressData.codeName = this.formList.sWarehouseName
						this.map = this.formList.sWarehouseAddress
					}
				}
			},
			deep: true,
			immediate: true 
		},
	}
};
</script>
<style lang="scss" scoped>
	.iconfont {
		font-size: 40rpx!important;
		&.right-icon2 {
			margin-right: 20rpx!important;
		}
	}
	
	.rks .cnd-field-label{
		color: red!important;
		padding: 16upx 8upx!important;
	}
	/deep/.rk {
		margin: 40rpx;
		display: inline-block;
		cursor: pointer;
		color: red;
		font-size: 14px;
		text-decoration: underline;
	}
	.detail-item {
		border-bottom: 6rpx solid #F5F5F5;
	}
	.parti-form-dialog {
		// height: 600rpx;
		// background: #FFFFFF;
		// width: 100%;
		.header {
			height: 100rpx;
			position: relative;
			padding-left: 20rpx;
			display: flex;
			align-items: center;
			color: #333;
			font-weight: 700;
			font-size: 28rpx;
		}
		.content {
			height: calc(600rpx - 200rpx);
			padding: 20rpx;
			background: #ffffff;
		}
		.footer {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			background: #ffffff;
			height: 100rpx;
			display: flex;
			border-top: 2rpx solid #f5f5f5;
			.item {
				flex: 1;
				height: auto;
				border-radius: 0;
			}
		}
	}
</style>

